[Desktop Entry]
Icon=lancelot

Name=Lancelot Launcher
Name[ar]=مطلق لانسلوت
Name[ca]=Engegador Lancelot
Name[cs]=Spouštěč Lancelot
Name[csb]=Zrëszôcz Lancelot
Name[da]=Startmenuen Lancelot
Name[de]=Lancelot-Programmstarter
Name[el]=Εκτελεστής του Lancelot
Name[en_GB]=Lancelot Launcher
Name[es]=Lanzadera Lancelot
Name[et]=Lanceloti käivitaja
Name[eu]=Lancelot jaurtitzailea
Name[fi]=Lancelot-käynnistin
Name[fr]=Lanceur Lancelot
Name[ga]=Tosaitheoir Lancelot
Name[gl]=Lanzador Lancelot
Name[he]=תפריט משגר Lancelot
Name[hu]=Lancelot
Name[is]=Lancelot ræsing
Name[it]=Menu di avvio applicazioni Lancelot
Name[ja]=Lancelot アプリケーションランチャー
Name[km]=កម្មវិធី​ចាប់ផ្ដើម Lancelot
Name[ko]=Lancelot 실행기
Name[ku]=Destpêkerê Lancelot
Name[lt]=Lancelot paleidiklis
Name[lv]=Lancelot palaidējs
Name[nb]=Lancelot-starter
Name[nds]=Lancelot
Name[nl]=Lancelot-starter
Name[nn]=Lancelot programstartar
Name[pa]=ਲਾਂਸੀਕੋਤ ਲਾਂਚਰ
Name[pl]=Lancelot (program uruchamiający)
Name[pt]=Lançador do Lancelot
Name[pt_BR]=Lançador do Lancelot
Name[ro]=Lansatorul Lancelot
Name[ru]=Меню Lancelot
Name[sk]=Spúšťač Lancelot
Name[sl]=Zaganjalnik Lancelot
Name[sr]=Ланселот покретач
Name[sr@latin]=Lancelot pokretač
Name[sv]=Lancelot-startprogram
Name[th]=ลานเซล็อต - เรียกใช้งานโปรแกรม
Name[tr]=Lancelot Uygulama Çağrıcı
Name[uk]=Засіб для запуску Lancelot
Name[wa]=Enondeu Lancelot
Name[x-test]=xxLancelot Launcherxx
Name[zh_CN]=Lancelot 启动器
Name[zh_TW]=Lancelot 應用程式啟動器

Comment=Launcher to start applications
Comment[ar]=قائمة بدء التطبيقات
Comment[ca]=Engegador per a iniciar aplicacions
Comment[cs]=Spouštěč aplikací
Comment[csb]=Zrëszocz programów
Comment[da]=Menu til at starte programmer.
Comment[de]=Programme starten
Comment[el]=Εκτελεστής για την εκκίνηση εφαρμογών
Comment[en_GB]=Launcher to start applications
Comment[es]=Lanzadera para iniciar aplicaciones
Comment[et]=Rakenduste käivitaja
Comment[eu]=Aplikazioak abiarazteko jaurtitzailea
Comment[fi]=Käynnistää sovelluksia
Comment[fr]=Lanceur permettant de démarrer des applications
Comment[ga]=Ríomhchlár a thosaíonn feidhmchláir
Comment[gl]=Lanzador para iniciar programas
Comment[he]=משגר יישומים חדשני
Comment[hu]=Alkalmazásindító
Comment[is]=Flýtiræsing forrita
Comment[it]=Menu per avviare applicazioni
Comment[ja]=アプリケーションを起動します
Comment[km]=កម្មវិធី​ចាប់ផ្ដើម ដើម្បី​ចាប់ផ្ដើម​កម្មវិធី
Comment[ko]=프로그램을 실행하는 실행기
Comment[ku]=Destpêker ji bo destpêkirina sepanan
Comment[lt]=Programų paleidiklis
Comment[lv]=Lietotņu palaidējs
Comment[nb]=Programstarter
Comment[nds]=Röppt Programmen op
Comment[nl]=Applet voor het starten van programma's
Comment[nn]=Meny for programstarting
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨ ਸਟਾਰਟ ਕਰਨ ਲਈ ਲਾਂਚਰ
Comment[pl]=Program uruchamiający
Comment[pt]=Lançador para iniciar aplicações
Comment[pt_BR]=Lançador para iniciar aplicativos
Comment[ro]=Lansator de aplicații
Comment[ru]=Альтернативное меню для запуска приложений
Comment[sk]=Spúšťač aplikácií
Comment[sl]=Zaganjalnik programov
Comment[sr]=Покретач инсталираних програма
Comment[sr@latin]=Pokretač instaliranih programa
Comment[sv]=Startprogram för att köra program
Comment[th]=เครื่องมือเรียกใช้งานโปรแกรมต่าง ๆ
Comment[tr]=Uygulamalara hızlıca ulaşıp çalıştırmak için
Comment[uk]=Програма для запуску програм
Comment[wa]=Enondeu d' programes
Comment[x-test]=xxLauncher to start applicationsxx
Comment[zh_CN]=Launcher 可以启动应用程序
Comment[zh_TW]=啟動應用程式
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_lancelot_launcher
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic+kde@gmail.com
X-KDE-PluginInfo-Name=lancelot_launcher
X-KDE-PluginInfo-Version=1.7
X-KDE-PluginInfo-Website=http://lancelot.fomentgroup.org/
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
