[Desktop Entry]
Name=TechBase
Name[bs]=TechBase
Name[ca]=TechBase
Name[ca@valencia]=TechBase
Name[cs]=TechBase
Name[da]=TechBase
Name[de]=TechBase
Name[el]=Τεχνική βάση
Name[en_GB]=TechBase
Name[es]=TechBase
Name[et]=TechBase
Name[fi]=TechBase
Name[fr]=TechBase
Name[gl]=TechBase
Name[hr]=TechBase
Name[hu]=TechBase
Name[it]=TechBase
Name[ja]=TechBase
Name[kk]=TechBase
Name[km]=TechBase
Name[ko]=TechBase
Name[lt]=TechBase
Name[lv]=TechBase
Name[mr]=टेकबेस
Name[nb]=TechBase
Name[nds]=TechBase
Name[nl]=TechBase
Name[nn]=TechBase
Name[pa]=ਟੈਕਬੇਸ
Name[pl]=TechBase
Name[pt]=TechBase
Name[pt_BR]=TechBase
Name[ru]=TechBase
Name[sk]=TechBase
Name[sl]=TechBase
Name[sr]=Техбаза
Name[sr@ijekavian]=Техбаза
Name[sr@ijekavianlatin]=Techbase
Name[sr@latin]=Techbase
Name[sv]=Teknikbas
Name[tr]=TechBase
Name[uk]=TechBase
Name[wa]=TechBase
Name[x-test]=xxTechBasexx
Name[zh_CN]=TechBase
Name[zh_TW]=TechBase
Comment=Search on KDE's TechBase
Comment[bs]=Pretraži na KDE tehničkoj bazi
Comment[ca]=Cerca en la TechBase del KDE
Comment[ca@valencia]=Cerca en la TechBase del KDE
Comment[cs]=Vyhledávat v KDE TechBase
Comment[da]=Søg på KDE's TechBase
Comment[de]=Auf KDE-TechBase suchen
Comment[el]=Αναζήτηση στην τεχνική βάση του KDE
Comment[en_GB]=Search on KDE's TechBase
Comment[es]=Buscar en la TechBase de KDE
Comment[et]=Otsing KDE TechBase'is
Comment[fi]=Etsi KDE:n TechBasesta
Comment[fr]=Chercher dans le site « TechBase » de KDE
Comment[gl]=Buscar no wiki técnico de KDE, TechBase.
Comment[hr]=Traži na KDE-ovom TechBaseu
Comment[hu]=Keresés a KDE TechBase-en
Comment[it]=Cerca nella TechBase di KDE
Comment[ja]=KDE の TechBase で検索
Comment[kk]=KDE TechBase қорында іздеу
Comment[km]=ស្វែងរក​​នៅ​លើ TechBase របស់ KDE
Comment[ko]=KDE TechBase 검색
Comment[lv]=Meklēt KDE TechBase
Comment[mr]=केडीई टेकबेस वर शोधा
Comment[nb]=Søk på KDEs TechBase
Comment[nds]=Söök op "KDE-TechBase"
Comment[nl]=In TechBase van KDE zoeken
Comment[nn]=Søk i KDE TechBase
Comment[pa]=ਕੇਡੀਈ ਦੇ ਟੈਕਬੇਸ 'ਚ ਲੱਭੋ
Comment[pl]=Szukaj w bazie TechBase KDE
Comment[pt]=Procurar na TechBase do KDE
Comment[pt_BR]=Pesquisa na TechBase do KDE
Comment[ru]=Поиск в KDE TechBase
Comment[sk]=Vyhľadávanie v KDE TechBase
Comment[sl]=Iskanje po KDE-jevem TechBase-u
Comment[sr]=Претрага по Техбази КДЕ‑а
Comment[sr@ijekavian]=Претрага по Техбази КДЕ‑а
Comment[sr@ijekavianlatin]=Pretraga po Techbasi KDE‑a
Comment[sr@latin]=Pretraga po Techbasi KDE‑a
Comment[sv]=Sök på KDE:s teknikbas
Comment[tr]=KDE TechBase'de ara
Comment[uk]=Пошук у TechBase KDE
Comment[x-test]=xxSearch on KDE's TechBasexx
Comment[zh_CN]=搜索 KDE 的技术文档库
Comment[zh_TW]=搜尋 KDE TechBase
Icon=kde

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_mediawiki
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=techbase
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false

X-Plasma-Args=http://techbase.kde.org/api.php
