[Desktop Entry]
Name=Wikitravel
Name[ca]=Viquitrabel
Name[ca@valencia]=Viquitrabel
Name[cs]=Wikitravel
Name[da]=Wikitravel
Name[de]=Wikitravel
Name[en_GB]=Wikitravel
Name[es]=Wikitravel
Name[et]=Wikitravel
Name[fr]=Wikitravel
Name[it]=Wikitravel
Name[ja]=Wikitravel
Name[nb]=Wikitravel
Name[pt]=Wikitravel
Name[pt_BR]=Wikitravel
Name[sr]=Викитравел
Name[sr@ijekavian]=Викитравел
Name[sr@ijekavianlatin]=Wikitravel
Name[sr@latin]=Wikitravel
Name[sv]=Wikitravel
Name[uk]=Wikitravel
Name[x-test]=xxWikitravelxx
Name[zh_CN]=维基旅行
Name[zh_TW]=Wikitravel
Comment=Search on Wikitravel
Comment[ca]=Cerca en Viquitravel
Comment[ca@valencia]=Cerca en Viquitravel
Comment[da]=Søg på Wikitravel
Comment[de]=Auf Wikitravel suchen
Comment[en_GB]=Search on Wikitravel
Comment[es]=Buscar en Wikitravel
Comment[et]=Otsing Wikitravelis
Comment[fr]=Chercher dans Wikitravel
Comment[it]=Cerca su Wikitravel
Comment[ja]=Wikitravel で検索
Comment[nb]=Søk på Wikitravel
Comment[pt]=Procurar no Wikitravel
Comment[pt_BR]=Pesquisa na Wikitravel
Comment[sr]=Претрага по Викитравелу
Comment[sr@ijekavian]=Претрага по Викитравелу
Comment[sr@ijekavianlatin]=Pretraga po Wikitravelu
Comment[sr@latin]=Pretraga po Wikitravelu
Comment[sv]=Sök på Wikitravel
Comment[uk]=Пошук у Wikitravel
Comment[x-test]=xxSearch on Wikitravelxx
Comment[zh_CN]=搜索维基旅行
Comment[zh_TW]=搜尋 Wikitravel
Icon=applications-internet

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_mediawiki
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=wikitravel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false

X-Plasma-Args=http://wikitravel.org/wiki/en/api.php
