[Desktop Entry]
Name=Wikipedia
Name[ast]=Wikipedia
Name[bs]=Wikipedia
Name[ca]=Viquipèdia
Name[ca@valencia]=Viquipèdia
Name[cs]=Wikipedia
Name[da]=Wikipedia
Name[de]=Wikipedia
Name[el]=Wikipedia
Name[en_GB]=Wikipedia
Name[es]=Wikipedia
Name[et]=Wikipedia
Name[fi]=Wikipedia
Name[fr]=Wikipédia
Name[ga]=Vicipéid
Name[gl]=Wikipedia
Name[hr]=Wikipedija
Name[hu]=Wikipédia
Name[it]=Wikipedia
Name[ja]=Wikipedia
Name[kk]=Уикипедия
Name[km]=វីគីភីឌៀ
Name[ko]=위키백과
Name[lt]=Vikipedija
Name[lv]=Wikipedia
Name[mr]=विकिपेडिया
Name[nb]=Wikipedia
Name[nds]=Wikipedia
Name[nl]=Wikipedia
Name[nn]=Wikipedia
Name[pa]=ਵਿਕਿਪੀਡਿਆ
Name[pl]=Wikipedia
Name[pt]=Wikipédia
Name[pt_BR]=Wikipédia
Name[ro]=Wikipedia
Name[ru]=Википедия
Name[sk]=Wikipedia
Name[sl]=Wikipedija
Name[sr]=Википедија
Name[sr@ijekavian]=Википедија
Name[sr@ijekavianlatin]=Wikipedia
Name[sr@latin]=Wikipedia
Name[sv]=Wikipedia
Name[th]=วิกิพีเดีย
Name[tr]=Wikipedia
Name[ug]=ۋىكىپېدىيە
Name[uk]=Вікіпедія
Name[wa]=Wikipedia
Name[x-test]=xxWikipediaxx
Name[zh_CN]=维基百科
Name[zh_TW]=維基百科
Comment=Search on Wikipedia
Comment[ast]=Guetar en Wikipedia
Comment[bs]=Pretraži na Wikipediji
Comment[ca]=Cerca en la Viquipèdia
Comment[ca@valencia]=Cerca en la Viquipèdia
Comment[cs]=Hledat na Wikipedii
Comment[da]=Søg på Wikipedia
Comment[de]=Auf Wikipedia suchen
Comment[el]=Αναζήτηση στην Wikipedia
Comment[en_GB]=Search on Wikipedia
Comment[es]=Buscar en Wikipedia
Comment[et]=Otsing Wikipedias
Comment[fi]=Etsi Wikipediasta
Comment[fr]=Chercher dans Wikipédia
Comment[gl]=Buscar na Wikipedia.
Comment[hr]=Traži na Wikipediji
Comment[hu]=Keresés a Wikipédián
Comment[it]=Cerca su Wikipedia
Comment[ja]=Wikipedia で検索
Comment[kk]=Уикипедияда іздеу
Comment[km]=ស្វែងរក​នៅ​លើ​វីគីភីឌៀ
Comment[ko]=위키백과 검색
Comment[lt]=Ieškoti Vikipedijoje
Comment[lv]=Meklēt Vikipēdijā
Comment[mr]=विकिपेडिया वर शोधा
Comment[nb]=Søk på Wikipedia
Comment[nds]=Söök op "Wikipedia"
Comment[nl]=In Wikipedia zoeken
Comment[nn]=Søk på Wikipedia
Comment[pa]=ਵਿਕਿਪੀਡਿਆ 'ਚ ਖੋਜ
Comment[pl]=Szukaj w Wikipedii
Comment[pt]=Procurar na Wikipédia
Comment[pt_BR]=Pesquisa na Wikipédia
Comment[ro]=Căutare în Wikipedia
Comment[ru]=Поиск в Википедии
Comment[sk]=Vyhľadávanie vo Wikipedii
Comment[sl]=Iskanje po Wikipediji
Comment[sr]=Претрага по Википедији
Comment[sr@ijekavian]=Претрага по Википедији
Comment[sr@ijekavianlatin]=Pretraga po Wikipediji
Comment[sr@latin]=Pretraga po Wikipediji
Comment[sv]=Sök på Wikipedia
Comment[th]=ค้นหาข้อมูลบนวิกิพีเดีย
Comment[tr]=Wikipedia'da ara
Comment[uk]=Пошук у Вікіпедії
Comment[x-test]=xxSearch on Wikipediaxx
Comment[zh_CN]=搜索维基百科
Comment[zh_TW]=搜尋 Wikipedia
Icon=applications-internet

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_mediawiki
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=wikipedia
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
X-Plasma-AdvertiseSingleRunnerQueryMode=true

X-Plasma-Args=http://en.wikipedia.org/w/api.php
