[Desktop Entry]
Name=KDE Documentation
Name[ast]=Documentación de KDE
Name[bs]=KDE-ova dokumentacija
Name[ca]=Documentació del KDE
Name[ca@valencia]=Documentació del KDE
Name[cs]=Dokumentace KDE
Name[da]=KDE-dokumentation
Name[de]=KDE-Dokumentation
Name[el]=Τεκμηρίωση KDE
Name[en_GB]=KDE Documentation
Name[es]=Documentación de KDE
Name[et]=KDE dokumentatsioon
Name[fi]=KDE:n ohjeet
Name[fr]=Documentation de KDE
Name[gl]=Documentación de KDE
Name[hr]=Dokumentacija KDE-a
Name[hu]=A KDE dokumentációja
Name[it]=Documentazione di KDE
Name[ja]=KDE ドキュメンテーション
Name[kk]=KDE құжаттамасы
Name[km]=ឯកសារ​របស់ KDE
Name[ko]=KDE 문서
Name[lt]=KDE dokumentacija
Name[lv]=KDE dokumentācija
Name[mr]=केडीई दस्तऐवजीकरण
Name[nb]=KDE-dokumentasjon
Name[nds]=KDE-Dokmentatschoon
Name[nl]=KDE-documentatie
Name[nn]=KDE-hjelpetekst
Name[pa]=KDE ਡੌਕੂਮੈਂਟੇਸ਼ਨ
Name[pl]=Dokumentacja KDE
Name[pt]=Documentação do KDE
Name[pt_BR]=Documentação do KDE
Name[ro]=Documentația KDE
Name[ru]=Документация по KDE
Name[sk]=Dokumentácia KDE
Name[sl]=Dokumentacija KDE
Name[sr]=документација КДЕ‑а
Name[sr@ijekavian]=документација КДЕ‑а
Name[sr@ijekavianlatin]=dokumentacija KDE‑a
Name[sr@latin]=dokumentacija KDE‑a
Name[sv]=KDE-dokumentation
Name[th]=เอกสารคู่มือของระบบ KDE
Name[tr]=KDE Belgelendirmesi
Name[ug]=KDE پۈتۈكى
Name[uk]=Документація KDE
Name[wa]=Documintåcion di KDE
Name[x-test]=xxKDE Documentationxx
Name[zh_CN]=KDE 文档
Name[zh_TW]=KDE 文件
Comment=Search on KDE's Userbase
Comment[bs]=Pretraži na KDE-ovoj korisničkoj bazi
Comment[ca]=Cerca en la Userbase del KDE
Comment[ca@valencia]=Cerca en la Userbase del KDE
Comment[cs]=Vyhledávání v KDE Userbase
Comment[da]=Søg på KDE's Userbase
Comment[de]=Auf KDE-UserBase suchen
Comment[el]=Αναζήτηση στην βάση χρηστών του KDE
Comment[en_GB]=Search on KDE's Userbase
Comment[es]=Buscar en la Userbase de KDE
Comment[et]=Otsing KDE Userbase'is
Comment[fi]=Etsi KDE:n Userbasesta
Comment[fr]=Chercher dans le site « User-Base » de KDE
Comment[gl]=Buscar no wiki de documentación de KDE, Userbase.
Comment[hr]=Traži na KDE-ovom Userbaseu
Comment[hu]=Keresés a KDE UserBase-en
Comment[it]=Cerca nella Userbase di KDE
Comment[ja]=KDE のユーザベースで検索
Comment[kk]=KDE Userbase қорында іздеу
Comment[km]=ស្វែង​រក​​នៅ​លើ Userbase របស់ KDE
Comment[ko]=KDE UserBase 검색
Comment[lv]=Meklēt KDE Userbase
Comment[mr]=केडीई युजरबेस वर शोधा
Comment[nb]=Søk på KDEs Userbase
Comment[nds]=Söök op "KDE-Userbase"
Comment[nl]=In de gebruikersbase van KDE zoeken
Comment[nn]=Søk etter KDE UserBase
Comment[pa]=ਕੇਡੀਈ ਦੇ ਯੂਜ਼ਰਬੇਸ 'ਚੋਂ ਲੱਭੋ
Comment[pl]=Szukaj w bazie użytkowników KDE
Comment[pt]=Procurar na Base de Utilizadores do KDE
Comment[pt_BR]=Pesquisa na base de usuários do KDE
Comment[ru]=Поиск в KDE UserBase
Comment[sk]=Vyhľadávanie v KDE Userbase
Comment[sl]=Iskanje po KDE-jevem Userbase-u
Comment[sr]=Претрага по Корисничкој бази КДЕ‑а
Comment[sr@ijekavian]=Претрага по Корисничкој бази КДЕ‑а
Comment[sr@ijekavianlatin]=Pretraga po Korisničkoj bazi KDE‑a
Comment[sr@latin]=Pretraga po Korisničkoj bazi KDE‑a
Comment[sv]=Sök på KDE:s användarbas
Comment[tr]=KDE Userbase'de ara
Comment[uk]=Пошук у Userbase KDE
Comment[x-test]=xxSearch on KDE's Userbasexx
Comment[zh_CN]=搜索 KDE 的用户文档库
Comment[zh_TW]=搜尋 KDE 的 Userbase
Icon=kde

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_mediawiki
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=userbase
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Args=http://userbase.kde.org/api.php
