[Desktop Entry]
Name=Wikipedia
Name[ca]=Viquipèdia
Name[ca@valencia]=Viquipèdia
Name[cs]=Wikipedia
Name[da]=Wikipedia
Name[de]=Wikipedia
Name[en_GB]=Wikipedia
Name[es]=Wikipedia
Name[et]=Wikipedia
Name[fr]=Wikipédia
Name[it]=Wikipedia
Name[nb]=Wikipedia
Name[nn]=Wikipedia
Name[pt]=Wikipédia
Name[pt_BR]=Wikipédia
Name[ru]=Википедия
Name[sl]=Wikipedija
Name[sr]=Википедија
Name[sr@ijekavian]=Википедија
Name[sr@ijekavianlatin]=Wikipedia
Name[sr@latin]=Wikipedia
Name[sv]=Wikipedia
Name[uk]=Вікіпедія
Name[x-test]=xxWikipediaxx
Name[zh_CN]=维基百科
Name[zh_TW]=維基百科
Comment=Search on Wikipedia
Comment[ca]=Cerca en la Viquipèdia
Comment[ca@valencia]=Cerca en la Viquipèdia
Comment[da]=Søg på Wikipedia
Comment[de]=Auf Wikipedia suchen
Comment[en_GB]=Search on Wikipedia
Comment[es]=Buscar en Wikipedia
Comment[et]=Otsing Wikipedias
Comment[fr]=Chercher dans Wikipédia
Comment[it]=Cerca su Wikipedia
Comment[nb]=Søk på Wikipedia
Comment[pt]=Procurar na Wikipédia
Comment[pt_BR]=Pesquisa na Wikipédia
Comment[ru]=Поиск в Википедии
Comment[sr]=Претрага по Википедији
Comment[sr@ijekavian]=Претрага по Википедији
Comment[sr@ijekavianlatin]=Pretraga po Wikipediji
Comment[sr@latin]=Pretraga po Wikipediji
Comment[sv]=Sök på Wikipedia
Comment[uk]=Пошук у Вікіпедії
Comment[x-test]=xxSearch on Wikipediaxx
Comment[zh_CN]=搜索维基百科
Comment[zh_TW]=搜尋 Wikipedia
Icon=applications-internet

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_mediawiki
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=wikipedia
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false

X-Plasma-Args=http://en.wikipedia.org/w/api.php
