[Desktop Entry]
Name=Wikitravel
Comment=Search on Wikitravel
Icon=applications-internet

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_mediawiki
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=wikitravel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false

X-Plasma-Args=http://wikitravel.org/wiki/en/api.php
