[Desktop Entry]
Name=TechBase
Name[de]=TechBase
Name[en_GB]=TechBase
Name[et]=TechBase
Name[fr]=Tech-Base
Name[nb]=TechBase
Name[pt]=TechBase
Name[sv]=Techbase
Name[uk]=TechBase
Name[x-test]=xxTechBasexx
Name[zh_TW]=TechBase
Comment=Search on KDE's TechBase
Comment[de]=Auf KDE-TechBase suchen
Comment[en_GB]=Search on KDE's TechBase
Comment[et]=Otsing KDE TechBase'is
Comment[fr]=Chercher dans le site Tech-Base de KDE
Comment[nb]=Søk på KDEs TechBase
Comment[pt]=Procurar na TechBase do KDE
Comment[sv]=Sök på KDE:s Techbase
Comment[uk]=Пошук у TechBase KDE
Comment[x-test]=xxSearch on KDE's TechBasexx
Comment[zh_TW]=搜尋 KDE TechBase
Icon=kde

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_mediawiki
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=techbase
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false

X-Plasma-Args=http://techbase.kde.org/api.php
