[Desktop Entry]
Name=Wikitravel
Name[cs]=Wikitravel
Name[en_GB]=Wikitravel
Name[eo]=Wikitravel
Name[et]=Wikitravel
Name[pt]=Wikitravel
Name[sv]=Wikitravel
Name[tr]=Wikitravel
Name[uk]=Wikitravel
Name[x-test]=xxWikitravelxx
Comment=Search on Wikitravel
Comment[en_GB]=Search on Wikitravel
Comment[et]=Otsing Wikitravelis
Comment[pt]=Procurar no Wikitravel
Comment[sv]=Sök på Wikitravel
Comment[tr]=Wikitravel Sitesinde Ara
Comment[uk]=Пошук у Wikitravel
Comment[x-test]=xxSearch on Wikitravelxx
Icon=applications-internet

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_mediawiki
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=wikitravel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false

X-Plasma-Args=http://wikitravel.org/wiki/en/api.php
