[Desktop Entry]
Name=Large Icons
Name[ar]=أيقونات كبيرة
Name[ca]=Icones grans
Name[ca@valencia]=Icones grans
Name[cs]=Velké ikony
Name[da]=Store ikoner
Name[de]=Große Symbole
Name[el]=Μεγάλα εικονίδια
Name[en_GB]=Large Icons
Name[es]=Iconos grandes
Name[et]=Suured ikoonid
Name[eu]=Ikono handia
Name[fi]=Suuret kuvakkeet
Name[fr]=Grandes icônes
Name[gl]=Iconas grandes
Name[he]=סמלים גדולים
Name[hu]=Nagy ikonok
Name[ia]=Icones grande
Name[it]=Icone grandi
Name[ko]=큰 아이콘
Name[lt]=Dideli ženkliukai
Name[nb]=Vis &store ikoner
Name[nl]=Grote pictogrammen
Name[nn]=Store ikon
Name[pl]=Duże ikony
Name[pt]=Ícones Grandes
Name[pt_BR]=Ícones grandes
Name[ru]=Крупные значки
Name[sk]=Veľké ikony
Name[sl]=Velike ikone
Name[sr]=Велике иконице
Name[sr@ijekavian]=Велике иконице
Name[sr@ijekavianlatin]=Velike ikonice
Name[sr@latin]=Velike ikonice
Name[sv]=Stora ikoner
Name[tr]=Büyük Simgeler
Name[uk]=Великі піктограми
Name[x-test]=xxLarge Iconsxx
Name[zh_CN]=大图标
Name[zh_TW]=大圖示
Comment=A window switcher layout using large icons to represent the window
Comment[ca]=Una disposició del commutador de finestres que utilitza icones grans per representar la finestra
Comment[ca@valencia]=Una disposició del commutador de finestres que utilitza icones grans per representar la finestra
Comment[cs]=Rozvržení přepínače oken používající velké ikony
Comment[da]=Et vinduesskifter-layout som bruger store ikoner til at repræsentere vinduet
Comment[de]=Ein Fensterwechsler-Layout, das große Symbole zur Darstellung der Fenster verwendet
Comment[el]=Μια διάταξη εναλλαγής παραθύρων που χρησιμοποιεί μεγάλα εικονίδια για να αναπαραστήσει το παράθυρο
Comment[en_GB]=A window switcher layout using large icons to represent the window
Comment[es]=Un esquema de selector de ventanas que usa iconos grandes para representar las ventanas
Comment[et]=Aknavahetaja paigutus suurte, aknaid tähistavate ikoonidega
Comment[eu]=Leihoak irudikatzeko ikono handiak erabiltzen dituen leiho-aldatzaile diseinu bat
Comment[fi]=Ikkunanvalitsimen asettelu, jossa ikkunat esitetään suurilla kuvakkeilla
Comment[fr]=Une disposition du sélecteur de fenêtres utilisant de grandes icônes pour représenter les fenêtres
Comment[gl]=Unha disposición do selector de xanelas que usa iconas grandes para representar a xanela
Comment[he]=מחליף חלונות בעזרת סמלים גדולים המייצגים את החלונות
Comment[hu]=Az ablakokat nagy ikonokkal reprezentáló ablakváltó
Comment[ia]=Un disposition de commutator de fenestra usante icones grande pro representar le fenestra
Comment[it]=Uno scambiafinestre che utilizza icone grandi per rappresentare la finestra
Comment[ko]=큰 아이콘으로 창을 나타내는 창 전환기 레이아웃
Comment[lt]=Langų perjungimo išdėstymas naudojantis dideles ženkliukus langų pristatymui
Comment[nb]=En vindusbytterutforming som bruker store ikoner for å representere vinduer
Comment[nl]=Een indeling van de vensterwisselaar die grote pictogrammen gebruikt om vensters te representeren
Comment[nn]=Vindaugsbytar med store ikon for å representera vindauge
Comment[pl]=Przełącznik okien z dużymi ikonami
Comment[pt]=Uma disposição de selecção de janelas com ícones grandes para representar a janela
Comment[pt_BR]=Um layout do seletor de janelas que usa ícones grandes para representá-las
Comment[ru]=Переключатель окон, показывающий большие значки окон
Comment[sk]=Rozloženie prepínača okien používajúce veľké ikony na reprezentáciu okna
Comment[sl]=Razpored preklapljanja, ki za predstavitev oken uporablja velike ikone
Comment[sr]=Распоред мењача прозора у којем су прозори представљени великим иконицама
Comment[sr@ijekavian]=Распоред мењача прозора у којем су прозори представљени великим иконицама
Comment[sr@ijekavianlatin]=Raspored menjača prozora u kojem su prozori predstavljeni velikim ikonicama
Comment[sr@latin]=Raspored menjača prozora u kojem su prozori predstavljeni velikim ikonicama
Comment[sv]=En layout för fönsterbyte som använder stora ikoner för att representera fönstret
Comment[tr]=Pencereleri gösteren büyük simgeleri kullanan bir pencere değiştirme yerleşimi
Comment[uk]=Компонування засобу перемикання вікон з великими піктограмами вікон
Comment[x-test]=xxA window switcher layout using large icons to represent the windowxx
Comment[zh_CN]=一个用大图标表示窗口的窗口切换器布局
Comment[zh_TW]=使用大圖示來表示視窗的視窗切換器佈局
Icon=preferences-system-windows-switcher-big-icons

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=big_icons
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
