[Desktop Entry]
Name=Large Icons
Name[ca]=Icones grans
Name[cs]=Velké ikony
Name[de]=Große Symbole
Name[el]=Μεγάλα εικονίδια
Name[en_GB]=Large Icons
Name[es]=Iconos grandes
Name[fi]=Suuret kuvakkeet
Name[lt]=Dideli ženkliukai
Name[nl]=Grote pictogrammen
Name[pl]=Duże ikony
Name[pt]=Ícones Grandes
Name[pt_BR]=Ícones grandes
Name[sk]=Veľké ikony
Name[sl]=Velike ikone
Name[sr]=Велике иконе
Name[sr@ijekavian]=Велике иконе
Name[sr@ijekavianlatin]=Velike ikone
Name[sr@latin]=Velike ikone
Name[tr]=Büyük Simgeler
Name[uk]=Великі піктограми
Name[x-test]=xxLarge Iconsxx
Comment=A window switcher layout using large icons to represent the window
Comment[ca]=Una disposició del commutador de finestres que utilitza icones grans per representar la finestra
Comment[cs]=Rozvržení přepínače oken používající velké ikony
Comment[de]=Ein Fensterwechsler-Layout, das große Symbole zur Darstellung der Fenster verwendet
Comment[el]=Μια διάταξη εναλλαγής παραθύρων που χρησιμοποιεί μεγάλα εικονίδια για να αναπαραστήσει το παράθυρο
Comment[en_GB]=A window switcher layout using large icons to represent the window
Comment[es]=Un esquema de selector de ventanas que usa iconos grandes para representar las ventanas
Comment[fi]=Ikkunanvalitsimen asettelu, jossa ikkunat esitetään suurilla kuvakkeilla
Comment[lt]=Langų perjungimo išdėstymas naudojantis dideles piktogramas langų pristatymui
Comment[nl]=Een indeling van de vensterwisselaar die grote pictogrammen gebruikt om vensters te representeren
Comment[pl]=Układ przełączania okien używający dużych ikon do prezentowania okien
Comment[pt]=Uma disposição de selecção de janelas com ícones grandes para representar a janela
Comment[pt_BR]=Um leiaute do seletor de janelas que usa ícones grandes para representá-las
Comment[sk]=Rozloženie prepínača okien používajúce veľké ikony na reprezentáciu okna
Comment[sl]=Razpored preklapljanja, ki za predstavitev oken uporablja velike ikone
Comment[sr]=Распоред мењача прозора у којем су прозори представљени великим иконама
Comment[sr@ijekavian]=Распоред мењача прозора у којем су прозори представљени великим иконама
Comment[sr@ijekavianlatin]=Raspored menjača prozora u kojem su prozori predstavljeni velikim ikonama
Comment[sr@latin]=Raspored menjača prozora u kojem su prozori predstavljeni velikim ikonama
Comment[tr]=Pencereleri gösteren büyük simgeleri kullanan bir pencere değiştirme yerleşimi
Comment[uk]=Компонування засобу перемикання вікон з великими піктограмами вікон
Comment[x-test]=xxA window switcher layout using large icons to represent the windowxx
Icon=preferences-system-windows-switcher-big-icons

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=big_icons
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
