[Desktop Entry]
Encoding=UTF-8
Name=System Load Viewer
Name[de]=Systemlast-Anzeige
Name[el]=Προβολέας φορτίου συστήματος
Name[et]=Süsteemi koormuse näitaja
Name[ga]=Amharcán Lód an Chórais
Name[ja]=システム負荷ビューア
Name[nds]=Systeemlastkieker
Name[pt]=Visualizador da Carga do Sistema
Name[pt_BR]=Visualizador da Carga do Sistema
Name[sv]=Visning av systemlast
Name[tr]=Sistem Yükü İzleyici
Name[uk]=Перегляд навантаження на систему
Name[x-test]=xxSystem Load Viewerxx
Name[zh_TW]=系統負載檢視器
Comment=Tiny CPU/RAM/Swap monitor
Comment[de]=Kleine CPU/RAM/Swap-Anzeige
Comment[el]=Μικροσκοπική εποπτεία ΚΜΕ/RAM/Swap
Comment[et]=Tilluke CPU/RAM-i/saaleala jälgija
Comment[ga]=Monatóir Beag LAP/RAM/Babhtáil
Comment[ja]=CPU/RAM/スワップの使用率を表示するミニシステムモニタ
Comment[nds]=Lierlütt CPU-, RAM- un Utlagerspieker-Kieker
Comment[pt]=Monitor minúsculo de CPU/RAM/Memória Virtual
Comment[pt_BR]=Monitor minúsculo de CPU/RAM/Memória Virtual
Comment[sv]=Mycket liten övervakning av processor, minne och växlingsutrymme
Comment[tr]=Basit bir İşlemci/Bellek/Takas Alanı izleyici
Comment[uk]=Маленький переглядач навантаження Процесора/RAM/Swap
Comment[x-test]=xxTiny CPU/RAM/Swap monitorxx
Comment[zh_TW]=迷你 CPU/記憶體/置換空間監視器
Icon=view-statistics
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma-applet_systemloadviewer
X-KDE-PluginInfo-Author=Matthew Dawson
X-KDE-PluginInfo-Email=matthewjd@gmail.com
X-KDE-PluginInfo-Name=systemloadviewer
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
