[Desktop Entry]
Encoding=UTF-8
Name=System Load Viewer
Name[ar]=عارض حمل النظام
Name[ca]=Visor de la càrrega del sistema
Name[cs]=Prohlížeč zátěže systému
Name[da]=Systembelastningsviser
Name[de]=Systemlast-Anzeige
Name[el]=Προβολέας φορτίου συστήματος
Name[en_GB]=System Load Viewer
Name[es]=Visor de la carga del sistema
Name[et]=Süsteemi koormuse näitaja
Name[fr]=Afficheur de charge système
Name[ga]=Amharcán Lód an Chórais
Name[gl]=Visor da carga do sistema
Name[hu]=Rendszerterhelés
Name[is]=Kerfisálagsbirtir
Name[it]=Visualizzatore del carico di sistema
Name[ja]=システム負荷ビューア
Name[km]=កម្មវិធី​មើល​ការ​ផ្ទុក​របស់​ប្រព័ន្ធ
Name[lt]=Sistemos apkrovos žiūriklis
Name[lv]=Sistēmas slodzes rādītājs
Name[nb]=Systemlast-viser
Name[nds]=Systeemlastkieker
Name[nl]=Systeembelastingweergave
Name[nn]=Systemlast-oversikt
Name[pa]=ਸਿਸਟਮ ਲੋਡ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obciążenia systemu
Name[pt]=Visualizador da Carga do Sistema
Name[pt_BR]=Visualizador de carga do sistema
Name[ro]=Vizualizator încărcare sistem
Name[sk]=Prehliadač záťaže systému
Name[sl]=Prikazovalnik obremenitve sistema
Name[sr]=приказивач оптерећења система
Name[sr@latin]=prikazivač opterećenja sistema
Name[sv]=Visning av systemlast
Name[tr]=Sistem Yükü İzleyici
Name[uk]=Перегляд навантаження на систему
Name[wa]=Håyneu del tchedje do sistinme
Name[x-test]=xxSystem Load Viewerxx
Name[zh_CN]=系统负荷查看器
Name[zh_TW]=系統負載檢視器
Comment=Tiny CPU/RAM/Swap monitor
Comment[ar]=مراقب المعالج/الذاكرة/التبديل
Comment[ca]=Monitor petit de CPU/RAM/Memòria d'intercanvi
Comment[cs]=Malý monitor CPU/RAM/Swap
Comment[da]=Lillebitte CPU/RAM/swap-overvåger.
Comment[de]=Kleine CPU/RAM/Swap-Anzeige
Comment[el]=Μικροσκοπική εποπτεία ΚΜΕ/RAM/Swap
Comment[en_GB]=Tiny CPU/RAM/Swap monitor
Comment[es]=Diminuto monitor de CPU/RAM/memoria de intercambio
Comment[et]=Tilluke CPU/RAM-i/saaleala jälgija
Comment[fr]=Petit moniteur de RAM, processeur et espace d'échange
Comment[ga]=Monatóir Beag LAP/RAM/Babhtáil
Comment[gl]=Pequeno vixilante da CPU/RAM/Swap
Comment[hu]=Mini monitor a processzor, a memória és a lapozási terület jellemzőinek kijelzéséhez
Comment[is]=Örsmár CPU/RAM/Swap mælir
Comment[it]=Piccolo monitor per CPU/RAM/Swap
Comment[ja]=CPU/RAM/スワップの使用率を表示するミニシステムモニタ
Comment[km]=កម្មវិធី​ត្រួតពិនិត្យ CPU/RAM/Swap តូច
Comment[lt]=Smulkus CPU/RAM/Swap stebiklis
Comment[lv]=Maziņš CPU/RAM/Swap novērotājs
Comment[nb]=Liten overvåker for CPU/RAM/veksleminne
Comment[nds]=Lierlütt CPU-, RAM- un Utlagerspieker-Kieker
Comment[nl]=Kleine CPU/RAM/Swap-monitor
Comment[nn]=Overvak prosessor, minne og veksleminne
Comment[pa]=ਨਿੰਮਾ CPU/RAM/ਸਵੈਪ ਮਾਨੀਟਰ
Comment[pl]=Mały monitor procesora/pamięci
Comment[pt]=Monitor minúsculo de CPU/RAM/Memória Virtual
Comment[pt_BR]=Pequeno monitor do CPU/RAM/Swap
Comment[ro]=Monitor minuscul pentru procesor/memorie/swap
Comment[sk]=Malý monitor CPU/RAM/Swap
Comment[sl]=Majhen nadzorovalnik procesorja in pomnilnika
Comment[sr]=Сићушни монитор ЦПУ‑а/РАМ‑а/размене
Comment[sr@latin]=Sićušni monitor CPU‑a/RAM‑a/razmene
Comment[sv]=Mycket liten övervakning av processor, minne och växlingsutrymme
Comment[tr]=Basit bir İşlemci/Bellek/Takas Alanı izleyici
Comment[uk]=Маленький переглядач навантаження Процесора/RAM/Swap
Comment[wa]=Tot ptit corwaitoe des CPU/RAM/Swap
Comment[x-test]=xxTiny CPU/RAM/Swap monitorxx
Comment[zh_CN]=微型 CPU/RAM/Swap 监视器
Comment[zh_TW]=迷你 CPU/記憶體/置換空間監視器
Icon=view-statistics
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma-applet_systemloadviewer
X-KDE-PluginInfo-Author=Matthew Dawson
X-KDE-PluginInfo-Email=matthewjd@gmail.com
X-KDE-PluginInfo-Name=systemloadviewer
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
