[Desktop Entry]
Name=JK Bridge at Night
Name[pt]=Ponte JK à Noite
Name[pt_BR]=Ponte JK à Noite
Name[sv]=JK-bron på natten
Name[uk]=Міст Кеннеді вночі
Name[x-test]=xxJK Bridge at Nightxx

X-KDE-PluginInfo-Name=JK_Bridge_at_Night
X-KDE-PluginInfo-Author=Davi Lima
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
