[Desktop Entry]
Name=GroupingDesktop
Name[de]=Arbeitsflächengruppierung
Name[en_GB]=GroupingDesktop
Name[es]=Escritorio de agrupamiento
Name[pt]=GroupingDesktop
Name[pt_BR]=GroupingDesktop
Name[sv]=Gruppera skrivbord
Name[uk]=Впорядкування стільниці
Name[x-test]=xxGroupingDesktopxx
Name[zh_TW]=群組桌面
Icon=
Type=Service
X-KDE-ServiceTypes=Plasma/Containment
X-Plasma-ContainmentCategories=desktop

X-KDE-Library=plasma_containment_groupingdesktop
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=giuliocamuffo@gmail.com
X-KDE-PluginInfo-Name=org.kde.groupingdesktop
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
