[Desktop Entry]
Name=Grouping Desktop
Name[bs]=Grupirajuća radna površina
Name[ca]=Escriptori agrupat
Name[ca@valencia]=Escriptori agrupat
Name[cs]=Seskupovací pracovní plocha
Name[da]=Grupperingsskrivebord
Name[de]=Arbeitsflächengruppierung
Name[el]=Grouping Desktop
Name[en_GB]=Grouping Desktop
Name[es]=Escritorio de agrupamiento
Name[et]=Rühmitav töölaud
Name[fi]=Ryhmitelty työpöytä
Name[fr]=Regroupement de bureaux
Name[gl]=Escritorio de agrupamento
Name[hr]=Grupirajuća radna površina
Name[hu]=Munkaasztal-csoportosítás
Name[it]=Desktop raggruppato
Name[kk]=Топтастыру үстелі
Name[km]=ដាក់​ផ្ទៃតុ​ជា​ក្រុម​
Name[ko]=데스크톱 그룹
Name[lt]=Darbastalių grupavimas
Name[lv]=Darbvirsmu grupēšana
Name[mr]=डेस्कटॉप समूह
Name[nb]=GroupingDesktop
Name[nds]=Schriefdisch-Tosamenkoppeln
Name[nl]=Bureaublad groeperen
Name[pa]=ਡੈਸਕਟਾਪ ਗਰਿੱਪ ਬਣਾਉ
Name[pl]=Grupowanie pulpitu
Name[pt]=Ecrã Agrupado
Name[pt_BR]=Área de trabalho agrupada
Name[ru]=Группирующая комната
Name[sk]=Plocha so skupinami
Name[sl]=Namizje za združevanje
Name[sr]=Групишућа површ
Name[sr@ijekavian]=Групишућа површ
Name[sr@ijekavianlatin]=Grupišuća površ
Name[sr@latin]=Grupišuća površ
Name[sv]=Skrivbord med gruppering
Name[tr]=Grup Masaüstü
Name[uk]=Впорядкована стільниця
Name[x-test]=xxGrouping Desktopxx
Name[zh_CN]=分组桌面
Name[zh_TW]=群組桌面
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Containment
X-Plasma-ContainmentCategories=desktop

X-KDE-Library=plasma_containment_groupingdesktop
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=giuliocamuffo@gmail.com
X-KDE-PluginInfo-Name=org.kde.groupingdesktop
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/GroupingDesktop
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
