[Desktop Entry]
Type=Service
Icon=lancelot
X-KDE-ServiceTypes=
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Exec=lancelot

Name=Lancelot Launcher

Comment=Launcher to start applications

