[Desktop Entry]
Name=Dictionary
Comment=Look up the meaning of words
Type=Service
Icon=accessories-dictionary

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_dict
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=dict
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
