[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Group
Name=Plasma group
Name[en_GB]=Plasma group
Name[pt]=Grupo do Plasma
Name[sv]=Plasma-grupp
Name[tr]=Plasma grubu
Name[uk]=Групування у Плазмі
Name[x-test]=xxPlasma groupxx
