[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Group
Name=Plasma group
Name[da]=Plasma-gruppe
Name[en_GB]=Plasma group
Name[et]=Plasma rühmitamine
Name[fr]=Groupe Plasma
Name[km]=ក្រុម​ប្លាស្មា 
Name[nl]=Plasma-groep
Name[pa]=ਪਲਾਜ਼ਮਾ ਗਰੁੱਪ
Name[pt]=Grupo do Plasma
Name[pt_BR]=Grupo do Plasma
Name[sv]=Plasma-grupp
Name[tr]=Plasma grubu
Name[uk]=Групування у Плазмі
Name[x-test]=xxPlasma groupxx
