[Desktop Entry]
Encoding=UTF-8
Name=Ascii Animals
Comment=Unsure if cute or just nerdy

Type=Service
ServiceTypes=Plasma/DeclarativeWallpaper
Icon=applications-toys
X-Plasma-MainScript=qml/animals.qml
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kde.animals
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
