[Desktop Entry]
Name=Show Desktop
Name[el]=Εμφάνιση επιφάνειας εργασίας
Name[es]=Mostrar escritorio
Name[et]=Töölaua näitamine
Name[fr]=Voir le bureau
Name[ga]=Taispeáin an Deasc
Name[gl]=Mostrar o escritorio
Name[ja]=デスクトップを表示
Name[km]=បង្ហាញ​ផ្ទៃតុ
Name[ko]=데스크톱 보이기
Name[lv]=Parādīt darbvirsmu
Name[nds]=Schriefdisch wiesen
Name[pt]=Mostrar o Ecrã
Name[pt_BR]=Mostrar o Ecrã
Name[sl]=Prikaži namizje
Name[sv]=Visa skrivbord
Name[tr]=Masaüstünü Göster
Name[uk]=Показати стільницю
Name[x-test]=xxShow Desktopxx
Name[zh_CN]=显示桌面
Name[zh_TW]=顯示桌面
Comment=Lets you show the desktop
Comment[el]=Επιτρέπει την εμφάνιση της επιφάνειας εργασίας
Comment[es]=Le permite mostrar el escritorio
Comment[et]=Võimaldab näidata töölauda
Comment[fr]=Vous permet de voir le bureau
Comment[ga]=Ligeann sé seo duit an Deasc a fheiceáil
Comment[gl]=Permítelle ver o escritorio
Comment[ja]=デスクトップを表示します
Comment[km]=អនុញ្ញាត​ឲ្យ​អ្នក​បង្ហាញ​ផ្ទៃតុ
Comment[ko]=데스크톱을 보여줍니다
Comment[lv]=Ļauj parādīt darbvirsmu
Comment[nds]=Wiest den Schriefdisch
Comment[pt]=Permite-lhe mostrar o conteúdo do ecrã
Comment[pt_BR]=Permite-lhe mostrar o conteúdo do ecrã
Comment[sl]=Vam omogoča prikaz namizja
Comment[sv]=Låter dig visa skrivbordet
Comment[tr]=Masaüstünü göstermenizi sağlar
Comment[uk]=Дає змогу побачити стільницю
Comment[x-test]=xxLets you show the desktopxx
Comment[zh_CN]=显示桌面
Comment[zh_TW]=顯示出您的桌面
Type=Service
Icon=user-desktop
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_showdesktop
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=showdesktop
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
