[Desktop Entry]
Name=DuckDuckGo
Name[cs]=DuckDuckGo
Name[de]=DuckDuckGo
Name[el]=DuckDuckGo
Name[et]=DuckDuckGo
Name[hu]=DuckDuckGo
Name[lt]=DuckDuckGo
Name[nb]=DuckDuckGo
Name[nl]=DuckDuckGo
Name[pl]=DuckDuckGo
Name[pt]=DuckDuckGo
Name[pt_BR]=DuckDuckGo
Name[sv]=DuckDuckGo
Name[uk]=DuckDuckGo
Name[x-test]=xxDuckDuckGoxx
Name[zh_CN]=DuckDuckGo
Name[zh_TW]=DuckDuckGo

Comment=Matches DuckDuckGo queries
Comment[cs]=Vyhledávání dotazů DuckDuckGo
Comment[de]=Entspricht Duckduckgo-Abfragen
Comment[el]=Εύρεση αναζητήσεων με το DuckDuckGo
Comment[et]=DuckDuckGo päringud
Comment[hu]=DuckDuckGo keresés
Comment[nb]=Treffer DuckDuckGo-søk
Comment[nl]=Komt overeen met DuckDuckGo-queries
Comment[pl]=Dopasowanie zapytań DuckDuckGo
Comment[pt]=Corresponde às pesquisas do DuckDuckGo
Comment[pt_BR]=Corresponde às pesquisas no DuckDuckGo
Comment[sv]=Matchar sökningar på DuckDuckGo
Comment[uk]=Відповідники запиту за даними DuckDuckGo
Comment[x-test]=xxMatches DuckDuckGo queriesxx
Comment[zh_CN]=匹配 DuckDuckGo 查询
Comment[zh_TW]=符合 DuckDuckGo 查詢

Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_duckduckgo
X-KDE-PluginInfo-Author=Shaun M. Reich
X-KDE-PluginInfo-Email=sreich@kde.org
X-KDE-PluginInfo-Name=duckduckgo
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
