[Desktop Entry]
Name=Bing
Name[cs]=Bing
Name[de]=Bing
Name[el]=Bing
Name[et]=Bing
Name[lt]=Bing
Name[nb]=Bing
Name[nl]=Bing
Name[nn]=Bing
Name[pa]=ਬਿੰਗ
Name[pl]=Bing
Name[pt]=Bing
Name[pt_BR]=Bing
Name[sv]=Bing
Name[uk]=Bing
Name[x-test]=xxBingxx
Name[zh_TW]=Bing

Comment=Matches Bing queries
Comment[cs]=Vyhledávání dotazů Bing
Comment[el]=Εύρεση αναζητήσεων με το Bing
Comment[et]=Bingi päringud
Comment[nb]=Treffer Bing-søk
Comment[nl]=Komt overeen met Bing-queries
Comment[pl]=Dopasowanie zapytań Binga
Comment[pt]=Corresponde às pesquisas no Bing
Comment[pt_BR]=Corresponde às pesquisas no Bing
Comment[sv]=Matchar sökningar på Bing
Comment[uk]=Відповідники запиту за даними Bing
Comment[x-test]=xxMatches Bing queriesxx
Comment[zh_TW]=符合 Bing 查詢

Icon=bing

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_bing
X-KDE-PluginInfo-Author=Shaun M. Reich
X-KDE-PluginInfo-Email=sreich@kde.org
X-KDE-PluginInfo-Name=bing
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
