[Desktop Entry]
Name=Notes
Comment=Postit-like Notes
Icon=knotes
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_notes
X-KDE-PluginInfo-Author=Lukas Kropatschek
X-KDE-PluginInfo-Email=lukas.krop@gmail.com
X-KDE-PluginInfo-Name=plasma_applet_notes
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
