[Desktop Entry]
Name=Notes
Comment=Desktop sticky notes
Icon=knotes
Type=Service

X-Plasma-DropMimeTypes=text/plain,text/richtext
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_notes
X-KDE-PluginInfo-Author=Lukas Kropatschek
X-KDE-PluginInfo-Email=lukas.krop@gmail.com
X-KDE-PluginInfo-Name=plasma_applet_notes
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
