[Desktop Entry]
Encoding=UTF-8
Name=Notes
Name[bg]=Бележки
Name[de]=Notizen
Name[es]=Notas
Name[ja]=メモ
Name[nl]=Notities
Name[pt]=Notas
Name[pt_BR]=Notas
Name[sv]=Anteckningar
Comment=Postit-like Notes
Comment[bg]=Бележки в стил Postit
Comment[es]=Notas al estilo de las notas adhesivas
Comment[ja]=Postit 風のメモ
Comment[nl]=Post-it-achtige notities
Comment[pt]=Notas Autocolantes
Comment[pt_BR]=Notas Autocolantes
Comment[sv]=Postit-liknande anteckningar
Icon=knotes
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_notes
X-KDE-PluginInfo-Author=Lukas Kropatschek
X-KDE-PluginInfo-Email=lukas.krop@gmail.com
X-KDE-PluginInfo-Name=plasma_applet_notes
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
