[Desktop Entry]
Name=Mandelbrot
Name[ar]=Mandelbrot
Name[ast]=Mandelbrot
Name[bs]=Mandelbrot
Name[ca]=Mandelbrot
Name[ca@valencia]=Mandelbrot
Name[cs]=Mandelbrot
Name[da]=Mandelbrot
Name[de]=Mandelbrot
Name[el]=Mandelbrot
Name[en_GB]=Mandelbrot
Name[eo]=Mandelbrot
Name[es]=Mandelbrot
Name[et]=Mandelbrot
Name[fi]=Mandelbrot
Name[fr]=Mandelbrot
Name[ga]=Mandelbrot
Name[gl]=Compoñente Lancelot
Name[hr]=Mandelbrot
Name[hu]=Mandelbrot
Name[is]=Mandelbrot
Name[it]=Mandelbrot
Name[ja]=マンデルブロ
Name[kk]=Мандельброт
Name[km]=Mandelbrot
Name[ko]=만델브로
Name[lt]=Mandelbrotas
Name[lv]=Mandelbrot
Name[mr]=मेन्डलब्रोट
Name[nb]=Mandelbrot
Name[nds]=Appelmanntje
Name[nl]=Mandelbrot
Name[nn]=Mandelbrot
Name[pa]=ਮੈਨਡਲਬਰਾਟ
Name[pl]=Mandelbrot
Name[pt]=Mandelbrot
Name[pt_BR]=Mandelbrot
Name[ro]=Mandelbrot
Name[ru]=Множество Мандельброта
Name[sk]=Mandelbrot
Name[sl]=Mandelbrot
Name[sq]=Mandelbrot
Name[sr]=Манделброт
Name[sr@ijekavian]=Манделброт
Name[sr@ijekavianlatin]=Mandelbrot
Name[sr@latin]=Mandelbrot
Name[sv]=Mandelbrot
Name[tr]=Mandelbrot
Name[uk]=Мандельброт
Name[wa]=Mandelbrot
Name[x-test]=xxMandelbrotxx
Name[zh_CN]=Mandelbrot
Name[zh_TW]=Mandelbrot
Type=Service
Icon=preferences-desktop-mandelbrot
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_mandelbrot
X-KDE-PluginInfo-Author=Benoît Jacob
X-KDE-PluginInfo-Email=jacob.benoit.1@gmail.com
X-KDE-PluginInfo-Name=mandelbrot
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

