[Desktop Entry]
Name=Mandelbrot
Name[ar]=Mandelbrot
Name[ca]=Mandelbrot
Name[cs]=Mandelbrot
Name[da]=Mandelbrot
Name[de]=Mandelbrot
Name[el]=Mandelbrot
Name[en_GB]=Mandelbrot
Name[es]=Mandelbrot
Name[et]=Mandelbrot
Name[fr]=Mandelbrot
Name[gl]=Compoñente Lancelot
Name[hu]=Fraktál
Name[is]=Mandelbrot
Name[it]=Mandelbrot
Name[ja]=マンデルブロ
Name[km]=Mandelbrot
Name[lv]=Mandelbrot
Name[mai]=मैंडलब्रॉट
Name[nb]=Mandelbrot
Name[nds]=Appelmanntje
Name[nl]=Mandelbrot
Name[nn]=Mandelbrot
Name[pl]=Mandelbrot
Name[pt]=Mandelbrot
Name[pt_BR]=Mandelbrot
Name[ro]=Mandelbrot
Name[sk]=Mandelbrot
Name[sl]=Mandelbrot
Name[sr]=Манделброт
Name[sr@latin]=Mandelbrot
Name[sv]=Mandelbrot
Name[tr]=Mandelbrot
Name[uk]=Мандельброт
Name[wa]=Mandelbrot
Name[x-test]=xxMandelbrotxx
Name[zh_CN]=Mandelbrot
Name[zh_TW]=Mandelbrot
Type=Service
Icon=preferences-desktop-mandelbrot
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_mandelbrot
X-KDE-PluginInfo-Author=Benoît Jacob
X-KDE-PluginInfo-Email=jacob.benoit.1@gmail.com
X-KDE-PluginInfo-Name=mandelbrot
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

