[Desktop Entry]
Name=Calendar
Name[et]=Kalender
Name[ga]=Féilire
Name[gl]=Calendario
Name[ja]=カレンダー
Name[km]=ប្រតិទិន
Name[nds]=Kalenner
Name[nn]=Kalender
Name[oc]=Calendièr
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[sv]=Kalender
Name[tr]=Takvim
Name[uk]=Календар
Name[zh_TW]=日曆
Comment=A calendar
Comment[et]=Kalender
Comment[ga]=Féilire
Comment[gl]=Un calendario
Comment[ja]=カレンダー
Comment[km]=ប្រតិទិន
Comment[nds]=En Kalenner
Comment[nn]=Ein kalender
Comment[pt]=Um calendário
Comment[pt_BR]=Um calendário
Comment[sv]=En kalender
Comment[tr]=Bir takvim
Comment[uk]=Календар
Comment[zh_TW]=日曆
Type=Service
Icon=view-pim-calendar
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_calendar
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=martkive@gmail.com
X-KDE-PluginInfo-Name=calendar
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

