[Desktop Entry]
Name=Calendar
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[uk]=Календар
Comment=A calendar
Comment[pt_BR]=Um calendário
Comment[uk]=Календар
Type=Service
Icon=view-pim-calendar
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_calendar
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=martkive@gmail.com
X-KDE-PluginInfo-Name=calendar
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

