[Desktop Entry]
Name=Calendar
Name[cs]=Kalendář
Name[el]=Ημερολόγιο
Name[es]=Calendario
Name[et]=Kalender
Name[ga]=Féilire
Name[gl]=Calendario
Name[ja]=カレンダー
Name[km]=ប្រតិទិន
Name[nds]=Kalenner
Name[nn]=Kalender
Name[oc]=Calendièr
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[sv]=Kalender
Name[tr]=Takvim
Name[uk]=Календар
Name[zh_CN]=日历
Name[zh_TW]=行事曆
Comment=View and pick dates from the calendar
Comment[cs]=Zobrazení a výběr dat z kalendáře
Comment[el]=Προβολή και επιλογή ημερομηνιών από το ημερολόγιο
Comment[et]=Kalendri näitamine ja kuupäevade valimine
Comment[ga]=Amharc ar agus roghnaigh dátaí ón fhéilire
Comment[gl]=Ve e escolle datas do calendario
Comment[nds]=Daten binnen den Kalenner ankieken un utsöken
Comment[pt]=Ver e escolher datas do calendário
Comment[pt_BR]=Exibir e selecionar datas do calendário
Comment[sv]=Visa och hämta datum från kalendern
Comment[uk]=Перегляньте і оберіть дати з календаря
Comment[zh_CN]=查看并从日历中拾取日期
Comment[zh_TW]=檢視並從行事曆中挑選日期
Type=Service
Icon=view-pim-calendar
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_calendar
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=martkive@gmail.com
X-KDE-PluginInfo-Name=calendar
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

