[Desktop Entry]
Name=Blue Marble
Name[ar]=ماربال أزرق
Name[ca]=Esfera blava
Name[de]=Mutter Erde
Name[el]=Γαλάζιο μάρμαρο
Name[es]=Planeta azul
Name[et]=Sinine Marble
Name[eu]=Puxtarri urdina
Name[fr]=La bille bleue
Name[he]=הגולה הכחולה
Name[it]=Marble blu
Name[km]=ម៉ាប​ពណ៌​ខៀវ
Name[ko]=푸른 지구
Name[lv]=Zilā bumba
Name[nds]=Blaag Planet
Name[nn]=Blå kule
Name[pa]=ਨੀਲਾ ਸੰਗਮਰਮਰ
Name[pl]=Niebieskie Marble
Name[pt]=Esfera Azul
Name[pt_BR]=Globo azul
Name[ro]=Marmură albastră
Name[sr]=плави кликер
Name[sr@latin]=plavi kliker
Name[th]=ดาวเคราะห์ฟ้า
Name[wa]=Bleu Mârbre
Name[x-test]=xxBlue Marblexx
Name[zh_CN]=蓝色桌面地球仪
Comment=3D model of the Earth
Comment[ar]=نموذج ثلاثي الأبعاد للأرض
Comment[ca]=Model 3D de la Terra
Comment[cs]=3D model Země
Comment[da]=3D-model af Jorden
Comment[de]=3D-Modell der Erde
Comment[el]=3Δ μοντέλο της Γης
Comment[es]=Modelo en 3D de la Tierra
Comment[et]=Maa ruumiline mudel
Comment[eu]=Lurraren 3D eredua
Comment[fi]=3D-malli maapallosta
Comment[fr]=Globe terrestre en 3D
Comment[ga]=Samhail 3T den Domhan
Comment[gl]=Modelo da Terra en 3D
Comment[he]=מודל תלת מימדי של כדור הארץ
Comment[it]=Modello 3D della Terra
Comment[ja]=地球の三次元モデル
Comment[km]=គំរូ​ត្រីមាត្រ​របស់​ផែនដី
Comment[ko]=3차원 지구 모형
Comment[ku]=Modela Gerdûnê yê 3-Zerengî
Comment[lt]=Trimatis Žemės modelis
Comment[lv]=Zemes 3D modelis
Comment[nds]=3D-Modell vun de Eer
Comment[nl]=3D-model van de Aarde
Comment[nn]=3D-globus
Comment[pa]=ਧਰਤੀ ਦਾ 3D ਮਾਡਲ
Comment[pl]=Trójwymiarowy model Ziemi
Comment[pt]=Modelo 3D da Terra
Comment[pt_BR]=Modelo 3D da Terra
Comment[ro]=Modelul 3D al Pămîntului
Comment[ru]=Объёмная модель Земли
Comment[sl]=3D model Zemlje
Comment[sr]=3Д модел Земље
Comment[sr@latin]=3D model Zemlje
Comment[sv]=Tredimensionell modell av Jorden
Comment[th]=โมเดลลูกโลก 3 มิติ
Comment[tr]=Dünya'nın Üç Boyutlu modeli
Comment[uk]=Просторова модель Землі
Comment[wa]=Modele e 3D del Daegne
Comment[x-test]=xx3D model of the Earthxx
Comment[zh_CN]=三维地球模型
Comment[zh_TW]=地球的立體模型
Icon=applications-internet
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_bluemarble
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=bluemarble
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Mapping
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
