[Desktop Entry]
Name=3D Earth Model
Name[ca]=Model terraqui 3D
Name[cs]=3D model Země
Name[csb]=Mòdel Zemi w 3D
Name[da]=3D-model af Jorden
Name[de]=3D-Globus
Name[el]=3Δ μοντέλο Γης
Name[es]=Modelo tridimensional de la Tierra
Name[et]=Ruumiline Maa mudel
Name[fi]=3D-maapallo
Name[fr]=Modèle 3D de la Terre
Name[ga]=Samhail 3T an Domhain
Name[gl]=Globo terráqueo 3D
Name[hu]=3D-s Föld
Name[it]=Modello della Terra 3D
Name[ja]=3D 地球モデル
Name[km]=គំរូ​ផែនដី​ត្រីមាត្រ
Name[ko]=3차원 지구 모델
Name[lv]=3D zemes modelis
Name[ms]=Model Bumi 3D
Name[nds]=3D-Globus
Name[nl]=3D-model van Aarde
Name[nn]=3D-globus
Name[pa]=3D ਧਰਤੀ ਮਾਡਲ
Name[pl]=Model Ziemi 3D
Name[pt]=Modelo da Terra a 3D
Name[pt_BR]=Modelo da Terra em 3D
Name[ro]=Model 3D al Pămîntului
Name[sl]=3D model Zemlje
Name[sr]=3Д‑модел Земље
Name[sr@latin]=3D‑model Zemlje
Name[sv]=Tredimensionell modell av jorden
Name[th]=แบบจำลองลูกโลก 3 มิติ
Name[tr]=3B Dünya Modeli
Name[uk]=Просторова модель Землі
Name[x-test]=xx3D Earth Modelxx
Name[zh_CN]=三维地球模型
Name[zh_TW]=立體地球模型
Comment=Shows Earth on your desktop
Comment[ca]=Mostra la terra a l'escriptori
Comment[cs]=Ukáže Zemi na vaší pracovní ploše
Comment[csb]=Pòkażë Zemiã na twòjim pùlce
Comment[da]=Viser Jorden på din desktop
Comment[de]=Bringt die Erde auf Ihre Arbeitsfläche
Comment[el]=Εμφάνιση της Γης στην επιφάνεια εργασίας σας
Comment[es]=Muestra la Tierra en su escritorio
Comment[et]=Maa näitamine töölaual
Comment[fi]=Näyttää maapallon työpöydälläsi
Comment[fr]=Affiche la Terre sur votre bureau
Comment[ga]=Taispeáin an Domhan ar do dheasc
Comment[gl]=Mostra a Terra no seu escritorio
Comment[hu]=A Föld megjelenítése az asztalon
Comment[it]=Mostra la Terra sul tuo desktop
Comment[ja]=あなたのデスクトップに地球を表示します
Comment[km]=បង្ហាញ​ផែនទី​នៅ​លើ​ផ្ទៃតុ
Comment[ko]=데스크톱에 지구를 보여줍니다
Comment[lv]=Rāda zemi uz jūsu darbvirsmas
Comment[ms]=Papar Bumi pada desktop anda
Comment[nds]=Wiest de Eer op Dien Schriefdisch
Comment[nl]=Toont de aarde op uw bureaublad
Comment[nn]=Viser jordkloden på skrivebordet
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾਪ ਉੱਤੇ ਧਰਤੀ ਵੇਖੋ
Comment[pl]=Pokazuje Ziemię na pulpicie
Comment[pt]=Mostra a Terra no seu ambiente de trabalho
Comment[pt_BR]=Mostra a Terra na sua área de trabalho
Comment[ro]=Afișează Pămîntul pe biroul dumneavoastră
Comment[sl]=Prikazuje Zemljo na namizju
Comment[sr]=Планета Земља на вашој површи
Comment[sr@latin]=Planeta Zemlja na vašoj površi
Comment[sv]=Visar jorden på skrivbordet
Comment[th]=แสดงลูกโลกบนพื้นที่ทำงานของคุณ
Comment[tr]=Masaüstünde Dünya görüntüler
Comment[uk]=Показує Землю на вашій стільниці
Comment[x-test]=xxShows Earth on your desktopxx
Comment[zh_CN]=在您的桌面上显示地球
Comment[zh_TW]=在您的桌面上顯示地球
Icon=world
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_bluemarble
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=bluemarble
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Mapping
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
