[Desktop Entry]
Encoding=UTF-8
Name=Character Selector
Name[pt_BR]=Seletor de caracteres
Name[uk]=Таблиця символів
Comment=Character selector applet
Comment[pt_BR]=Miniaplicativo seletor de caracteres
Comment[uk]=Аплет для вибору символів
Type=Service
Icon=accessories-character-map
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_charselect
X-KDE-PluginInfo-Author=Laurent Montel
X-KDE-PluginInfo-Email=montel@kde.org
X-KDE-PluginInfo-Name=charselect
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
