[Desktop Entry]
Encoding=UTF-8
Name=Character Selector
Comment=View, select, and copy characters from a font collection
Type=Service
Icon=accessories-character-map
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_charselect
X-KDE-PluginInfo-Author=Laurent Montel
X-KDE-PluginInfo-Email=montel@kde.org
X-KDE-PluginInfo-Name=charselect
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
