[Desktop Entry]
Name=Konqueror Profiles
Name[ar]=تشكيلة كنيكر
Name[ast]=Perfiles de Konqueror
Name[bs]=Konqueror profili
Name[ca]=Perfils del Konqueror
Name[ca@valencia]=Perfils del Konqueror
Name[cs]=Profily Konqueroru
Name[da]=Konqueror-profiler
Name[de]=Konqueror-Profile
Name[el]=Προφίλ Konqueror
Name[en_GB]=Konqueror Profiles
Name[es]=Perfiles de Konqueror
Name[et]=Konquerori profiilid
Name[eu]=Konquerorren profilak
Name[fi]=Konqueror-profiilit
Name[fr]=Profils de Konqueror
Name[ga]=Próifílí Konqueror
Name[gl]=Perfís de Konqueror
Name[he]=הפרופילים של Konqueror
Name[hr]=Profili u Konqueroru
Name[hu]=Konqueror profilok
Name[is]=Konqueror snið
Name[it]=Profili di Konqueror
Name[ja]=Konqueror プロファイル
Name[kk]=Konqueror профильдері
Name[km]=ទម្រង់​របស់ Konqueror
Name[ko]=Konqueror 프로필
Name[ku]=Profîlên Komqueror
Name[lt]=Konqueror profiliai
Name[lv]=Konqueror profili
Name[mr]=कॉन्करर रूपरेषा
Name[nb]=Konqueror-profiler
Name[nds]=Konqueror-Profilen
Name[nl]=Konqueror-profielen
Name[nn]=Konqueror-profilar
Name[pa]=ਕੋਨਕਿਊਰੋਰ ਪਰੋਫਾਇਲ
Name[pl]=Profile Konquerora
Name[pt]=Perfis do Konqueror
Name[pt_BR]=Perfis do Konqueror
Name[ro]=Profiluri Konqueror
Name[ru]=Konqueror: профили
Name[sk]=Profily Konquerora
Name[sl]=Profili za Konqueror
Name[sr]=К‑освајачеви профили
Name[sr@ijekavian]=К‑освајачеви профили
Name[sr@ijekavianlatin]=K‑osvajačevi profili
Name[sr@latin]=K‑osvajačevi profili
Name[sv]=Konquerorprofiler
Name[th]=โพรไฟล์ต่าง ๆ ของคอนเควอร์เรอร์
Name[tr]=Konqueror Profilleri
Name[uk]=Профілі Konqueror
Name[wa]=Profils di Konqueror
Name[x-test]=xxKonqueror Profilesxx
Name[zh_CN]=Konqueror 配置集
Name[zh_TW]=Konqueror 設定檔
Comment=List and launch Konqueror profiles
Comment[ar]=تعرض و تطلق تشكيلات كنكير
Comment[ast]=Amuesa y anicia perfiles de Konqueror
Comment[bs]=Nabraja i pokreće profile Konquerora
Comment[ca]=Llista i executa els perfils del Konqueror
Comment[ca@valencia]=Llista i executa els perfils del Konqueror
Comment[cs]=Seznam a spouštění profilů Konqueroru
Comment[da]=Vis og start Konqueror-profiler.
Comment[de]=Konqueror-Profile anzeigen und starten
Comment[el]=Εμφάνιση και εκτέλεση προφίλ του Konqueror
Comment[en_GB]=List and launch Konqueror profiles
Comment[es]=Muestra e inicia perfiles de Konqueror
Comment[et]=Konquerori profiilide näitamine ja käivitamine
Comment[eu]=Zerrendatu eta jaurti Konquerorren profilak
Comment[fi]=Luettelee ja käynnistää Konqueror-profiileja
Comment[fr]=Permet d'afficher et de lancer des profils de Konqueror
Comment[ga]=Liostaigh agus tosaigh próifílí Konqueror
Comment[gl]=Enumera e inicia perfís de Konqueror
Comment[he]=הצג והפעל פרופילים של Konqueror
Comment[hr]=Navedi i pokreni profile u Konqueroru
Comment[hu]=Konqueror profilok listázása és indítása
Comment[is]=Listar upp og ræsir Konqueror snið
Comment[it]=Elenca ed esegue i profili di Konqueror
Comment[ja]=Konqueror のプロファイルを起動します
Comment[kk]=Konqueror профильдерін таңдап жегу
Comment[km]=រាយ និង​ចាប់ផ្ដើម​ទម្រង់​របស់ Konqueror
Comment[ko]=Konqueror 프로필을 보고 실행하기
Comment[ku]=Profîlên Konqueror lîste bike û bide destpêkirin
Comment[lt]=Rikiuoti ir įkelti Konqueror profilius
Comment[lv]=Parāda un atver Konqueror profilus
Comment[mr]=कॉन्करर रूपरेषांची यादी व प्रक्षेपण करा
Comment[nb]=List opp og start Konqueror-profiler
Comment[nds]=Konqueror-Profilen oplisten un opropen
Comment[nl]=Toon en start Konqueror-profielen
Comment[nn]=Vis og start Konqueror-profilar
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਪਰੋਫਾਇਲ ਵੇਖੋ ਅਤੇ ਚਲਾਓ
Comment[pl]=Pokazanie i uruchomienie profili Konquerora
Comment[pt]=Listar e invocar os perfis do Konqueror
Comment[pt_BR]=Lista e carrega os perfis do Konqueror
Comment[ro]=Enumeră și lansează profiluri Konqueror
Comment[ru]=Запуск Konqueror для разных задач
Comment[sk]=Zobrazenie a spustenie profilov Konquerora
Comment[sl]=Prikažite in poženite profile Konquerorja
Comment[sr]=Набраја и покреће профиле К‑освајача
Comment[sr@ijekavian]=Набраја и покреће профиле К‑освајача
Comment[sr@ijekavianlatin]=Nabraja i pokreće profile K‑osvajača
Comment[sr@latin]=Nabraja i pokreće profile K‑osvajača
Comment[sv]=Lista och starta Konquerorprofiler
Comment[th]=เรียกรายการและเรียกใช้โพรไฟล์ต่าง ๆ ของคอนเควอร์เรอร์
Comment[tr]=Konqueror profillerini listeleyin ve çalıştırın
Comment[uk]=Перегляньте список і запустіть профілі Konqueror
Comment[wa]=Fé l' djivêye des profils di Konqueror eyet ls enonder
Comment[x-test]=xxList and launch Konqueror profilesxx
Comment[zh_CN]=罗列和启动 Konqueror 配置集
Comment[zh_TW]=列出並啟動 Konqueror 設定檔

Type=Service
Icon=konqueror

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_konqprofiles

X-KDE-PluginInfo-Author=Shaun Reich
X-KDE-PluginInfo-Email=shaun.reich@kdemail.net
X-KDE-PluginInfo-Name=org.kde.konqprofiles
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utiltities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
