[Desktop Entry]
Encoding=UTF-8
Name=Ugly Wallpaper
Comment=Tries to burn your retina

Type=Service
ServiceTypes=Plasma/Generic
Icon=applications-toys
X-Plasma-API=declarativewallpaper
X-Plasma-MainScript=qml/wp.qml
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kde.uglywallpaper
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
