[Desktop Entry]
Name=Twitter Microblogging
Name[ca]=Twitter microblogging
Name[cs]=Twitter mikroblogování
Name[csb]=Mikrobloggòwanié Twitter
Name[da]=Twitter mikroblogging
Name[el]=Μικροϊστολόγιο Twitter
Name[es]=Uso del microblog Twitter
Name[et]=Twitteri mikroblogimine
Name[fi]=Twitter-mikrobloggaus
Name[fr]=Microblogging Twitter
Name[ga]=Micreabhlagadóireacht Twitter
Name[gl]=Microblogue Twitter
Name[hu]=Twitter blogkijelző
Name[ja]=Twitter ミニブログ
Name[ko]=Twitter 마이크로블로깅
Name[lv]=Twitter mikroblogs
Name[nds]=Twitter-Hölper
Name[nn]=Twitter mikroblogging
Name[pt]=Micro-blog do Twitter
Name[pt_BR]=Micro-blog do Twitter
Name[sl]=Mikrobloganje Twitter
Name[sr]=микроблогови са Твитера
Name[sr@latin]=mikroblogovi sa Twittera
Name[sv]=Twitter-mikrowebbjournal
Name[th]=เครื่องมือเขียนบล็อกสำหรับ Twitter
Name[tr]=Twitter mikro günlük
Name[uk]=Міні-журнал Twitter
Name[x-test]=xxTwitter Microbloggingxx
Name[zh_CN]=Twitter 微博客
Comment=Update your Twitter status and display your timeline.
Comment[cs]=Umožní aktualizaci stavu v síti Twitter a zobrazí historii.
Comment[et]=Võimaldab uuendada oma Twitteri olekut ja vaadata ajatelge.
Comment[ga]=Nuashonrú do stádas Twitter agus taispeáin do líne ama.
Comment[nds]=Den Twitter-Status opfrischen un de Tietlien wiesen.
Comment[uk]=Оновіть ваш стан Twitter і перегляньте ваш графік.
Comment[zh_TW]=讓您更新您的 Twitter 狀態與顯示您的時間線。
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_twitter
X-KDE-PluginInfo-Author=André Duffeck
X-KDE-PluginInfo-Email=andre@duffeck.de
X-KDE-PluginInfo-Name=twitter
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

