[Desktop Entry]
Name=Twitter Microblogging
Comment=Lets you update your Twitter status and display your timeline. See http://www.twitter.com for more information.
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_twitter
X-KDE-PluginInfo-Author=André Duffeck
X-KDE-PluginInfo-Email=andre@duffeck.de
X-KDE-PluginInfo-Name=twitter
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

