[Desktop Entry]
Name=Places
Name[el]=Τοποθεσίες
Name[es]=Lugares
Name[gl]=Lugares
Name[ja]=場所
Name[nds]=Steden
Name[pt]=Locais
Name[pt_BR]=Locais
Name[ru]=Точки входа
Name[sv]=Platser
Name[uk]=Місця
Name[x-test]=xxPlacesxx
Name[zh_CN]=位置
Name[zh_TW]=地方
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=user-home
Comment=Open Devices and Folder Bookmarks
Comment[el]=Άνοιγμα σελιδοδεικτών συσκευών και φακέλων
Comment[es]=Abrir dispositivos y carpetas de marcadores
Comment[gl]=Abre os marcadores de dispositivos e cartafoles
Comment[ja]=デバイスやブックマークされたフォルダを開きます
Comment[nds]=Reedschappen un Leestekenornern opmaken
Comment[pt]=Abrir os Dispositivos e Favoritos das Pastas
Comment[pt_BR]=Abrir os dispositivos e os favoritos das pastas
Comment[sv]=Öppna enheter och katalogbokmärken
Comment[uk]=Відкрийте закладки пристроїв і тек
Comment[x-test]=xxOpen Devices and Folder Bookmarksxx
Comment[zh_CN]=打开设备和文件夹书签
Comment[zh_TW]=開啟裝置與資料夾書籤
X-KDE-Library=krunner_placesrunner
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=kde@davidedmundson.co.uk
X-KDE-PluginInfo-Name=places
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
