[Desktop Entry]
Name=Konqueror Profiles
Name[cs]=Profily Konqueroru
Name[et]=Konquerori profiilid
Name[ga]=Próifílí Konqueror
Name[nds]=Konqueror-Profilen
Name[pt]=Perfis do Konqueror
Name[pt_BR]=Perfis do Konqueror
Name[uk]=Профілі Konqueror
Name[zh_TW]=Konqueror 設定檔
Comment=List and launch Konqueror profiles
Comment[cs]=Seznam a spouštění profilů Konqueroru
Comment[et]=Konquerori profiilide näitamine ja käivitamine
Comment[nds]=Konqueror-Profilen oplisten un opropen
Comment[pt]=Listar e invocar os perfis do Konqueror
Comment[pt_BR]=Listar e invocar os perfis do Konqueror
Comment[uk]=Перегляньте список і запустіть профілі Konqueror
Comment[zh_TW]=列出並啟動 Konqueror 設定檔
Type=Service
Icon=konqueror
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_konqprofiles
X-KDE-PluginInfo-Author=Montel Laurent
X-KDE-PluginInfo-Email=montel@kde.org
X-KDE-PluginInfo-Name=konqprofiles
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

