[Desktop Entry]
Name=Konq Profiles Applet
Name[es]=Aplicación de perfiles de Konqueror
Name[ga]=Feidhmchláirín Próifílí Konq
Name[gl]=Applet de perfís de Konq
Name[ja]=Konq プロファイルアプレット
Name[km]=អាប់ភ្លេត​ទម្រង់​របស់ Konq
Name[lv]=Konq profilu sīkrīks
Name[nds]=Konqueror-Profilen
Name[pt]='Applet' de Perfis do Konqueror
Name[pt_BR]='Applet' de Perfis do Konqueror
Name[sl]=Profili za Konqueror
Name[sv]=Miniprogram för Konquerorprofiler
Name[tr]=Konqueror Profilleri Programcığı
Name[uk]=Аплет профілів Konq
Name[zh_TW]=Konq 設定檔小程式
Comment=Konq Profiles Launcher
Comment[es]=Iniciador de perfiles de Konqueror
Comment[ga]=Tosaitheoir Próifílí Konq
Comment[gl]=Lanzador de perfís de Konq
Comment[km]=កម្មវិធី​ចាប់ផ្ដើម​ទម្រង់​របស់ Konq
Comment[lv]=Konq profilu palaidējs
Comment[nds]=Konqueror-Profilen opropen
Comment[pt]=Lançamento dos Perfis do Konqueror
Comment[pt_BR]=Lançamento dos Perfis do Konqueror
Comment[sl]=Zaganjalnik profilov za Konqueror
Comment[sv]=Start av Konquerorprofiler
Comment[tr]=Konqueror Profil Başlatıcı
Comment[uk]=Засіб запуску профілів Konq
Comment[zh_TW]=Konq 設定檔啟動器
Type=Service
Icon=konqueror
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_konqprofiles
X-KDE-PluginInfo-Author=Montel Laurent
X-KDE-PluginInfo-Email=montel@kde.org
X-KDE-PluginInfo-Name=konqprofiles
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Version=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

