[Desktop Entry]
Encoding=UTF-8
Name=Open Collaboration Services
Name[ar]=خدمات التعاون المفتوحة
Name[ast]=Servicios abiertos de collaboración
Name[bs]=Otvoreni servisi za saradnju
Name[ca]=Serveis «Open Collaboration»
Name[ca@valencia]=Serveis «Open Collaboration»
Name[cs]=Služby otevřené spolupráce
Name[da]=Open Collaboration-tjenester
Name[de]=Open-Collaboration-Dienste
Name[el]=Υπηρεσίες ανοιχτής συνεργασίας
Name[en_GB]=Open Collaboration Services
Name[es]=Servicios abiertos de colaboración
Name[et]=Avatud koostööteenused
Name[fi]=Open Collaboration Services
Name[fr]=Services « Open Collaboration »
Name[ga]=Seirbhísí Comhoibrithe Oscailte
Name[gl]=Servizos abertos de colaboración
Name[hr]=Open Collaboration Services
Name[hu]=Nyílt közösségi szolgáltatások
Name[is]=Open Collaboration þjónustur
Name[it]=Servizi di collaborazione aperta
Name[ja]=オープンコラボレーションサービス
Name[kk]=Open Collaboration қызметтері
Name[km]=បើក​សេវា​សហការណ៍
Name[ko]=열린 협업 서비스
Name[lv]=Open Collaboration pakalpojumi
Name[mr]=खुले सहयोग सेवा
Name[nb]=Åpne samarbeidstjenester
Name[nds]=»Open-Collaboration«-Deensten
Name[nl]=Open Collaboration Services
Name[nn]=Opne samarbeidtenester
Name[pa]=ਖੁੱਲ੍ਹੀਆਂ ਸਾਂਝੀਆਂ ਸਰਵਿਸਾਂ
Name[pl]=Usługi do współpracy (Open Collaboration)
Name[pt]=Serviços Abertos de Colaboração
Name[pt_BR]=Serviços de Colaboração Abertos
Name[ro]=Servicii de Colaborare Deschisă
Name[ru]=Службы Open Collaboration
Name[sk]=Služby otvorenej spolupráce
Name[sl]=Odprte storitve za sodelovanje
Name[sr]=Сервиси отворене сарадње
Name[sr@ijekavian]=Сервиси отворене сарадње
Name[sr@ijekavianlatin]=Servisi otvorene saradnje
Name[sr@latin]=Servisi otvorene saradnje
Name[sv]=Öppna samarbetstjänster
Name[tr]=Açık İşbirliği Servisleri
Name[ug]=ئوچۇق ھەمكارلىق  مۇلازىمەتلىرى
Name[uk]=Служби Open Collaboration
Name[wa]=Siervices Open Collaboration
Name[x-test]=xxOpen Collaboration Servicesxx
Name[zh_CN]=开发式合作服务
Name[zh_TW]=開放協同服務

ServiceTypes=Plasma/DataEngine
Type=Service
# FIXME: find a better icon...
Icon=ocs_microblog
X-KDE-Library=plasma_engine_ocs
X-Plasma-EngineName=ocs

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=ocs
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=http://www.opendesktop.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=


