[Desktop Entry]
Encoding=UTF-8
Name=Open Collaboration Services
Name[ca]=Serveis «Open Collaboration»
Name[es]=Servicios abiertos de colaboración
Name[et]=Avatud koostööteenused
Name[nds]=Open-Collaboration-Deensten
Name[pt]=Serviços Abertos de Colaboração
Name[pt_BR]=Serviços Abertos de Colaboração
Name[sv]=Öppna sammarbetstjänster
Name[uk]=Служби Open Collaboration
Name[zh_CN]=开发式合作服务
Name[zh_TW]=開放協同服務

ServiceTypes=Plasma/DataEngine
Type=Service
X-KDE-Library=plasma_engine_ocs
X-Plasma-EngineName=ocs

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=ocs
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=http://www.opendesktop.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=


