[Desktop Entry]
Name=Dictionary
Name[ar]=قاموس
Name[ast]=Diccionariu
Name[az]=Lüğət
Name[bs]=Rječnik
Name[ca]=Diccionari
Name[ca@valencia]=Diccionari
Name[cs]=Slovník
Name[csb]=Slowôrz
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[en_GB]=Dictionary
Name[eo]=Vortaro
Name[es]=Diccionario
Name[et]=Sõnaraamat
Name[eu]=Hiztegia
Name[fi]=Sanakirja
Name[fr]=Dictionnaire
Name[ga]=Foclóir
Name[gl]=Dicionario
Name[he]=מילון
Name[hr]=Rječnik
Name[hu]=Hunspell szótárfájl
Name[ia]=Dictionario
Name[id]=Kamus
Name[is]=Orðabók
Name[it]=Dizionario
Name[ja]=辞書
Name[kk]=Сөздік
Name[km]=វចនានុក្រម
Name[ko]=사전
Name[ku]=Ferheng
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[mr]=शब्दकोश
Name[ms]=Kamus
Name[nb]=Ordbok
Name[nds]=Wöörbook
Name[nl]=Woordenboek
Name[nn]=Ordbok
Name[pa]=ਡਿਕਸ਼ਨਰੀ
Name[pl]=Słownik
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[ro]=Dicționar
Name[ru]=Словарь
Name[sk]=Slovník
Name[sl]=Slovar
Name[sq]=Fjalori
Name[sr]=речник
Name[sr@ijekavian]=рјечник
Name[sr@ijekavianlatin]=rječnik
Name[sr@latin]=rečnik
Name[sv]=Ordlista
Name[tg]=Луғат
Name[th]=พจนานุกรม
Name[tr]=Sözlük
Name[ug]=لۇغەت
Name[uk]=Словник
Name[vi]=Từ điển
Name[wa]=Motî
Name[x-test]=xxDictionaryxx
Name[zh_CN]=词典
Name[zh_TW]=字典
Comment=Look up the meaning of words and their translation into different languages
Comment[ar]=انظر معاني الكلمات و ترجمتها بلغات مختلفة
Comment[ast]=Busca'l significáu de pallabres y la so traducción en llingües diferentes
Comment[az]=Müxtəlif dillərdə sözlərin izahına və tərcüməsinə baxın
Comment[bs]=Potražite značenja riječi i njihove prevode na različite jezike
Comment[ca]=Cerca el significat de paraules i la seva traducció en diferents idiomes
Comment[ca@valencia]=Busca el significat de paraules i la seua traducció en diferents idiomes
Comment[cs]=Vyhledat význam slov a jejich překlad do různých jazyků
Comment[da]=Slå ords betydning op samt deres oversættelse til forskellige sprog.
Comment[de]=Die Bedeutung von Wörtern und ihre Übersetzung in verschiedene Sprachen nachschlagen
Comment[el]=Αναζήτηση σημασίας λέξεων και της μετάφρασης τους σε διάφορες γλώσσες
Comment[en_GB]=Look up the meaning of words and their translation into different languages
Comment[es]=Busca el significado de palabras y su traducción a varios idiomas
Comment[et]=Sõnade tähenduse ja nende tõlgete otsimine
Comment[eu]=Bilatu hitzen esanahia eta beraien itzulpena hizkuntza ezberdinetan
Comment[fi]=Etsi sanojen merkityksiä ja vastineita eri kielillä
Comment[fr]=Cherche la définition de mots et leur traduction dans différentes langues
Comment[ga]=Aimsigh sainmhíniú ar fhocail nó a n-aistriúcháin go teangacha eile
Comment[gl]=Busca o significado das palabras e a tradución a distintos idiomas
Comment[he]=מאפשר לחפש פירוש של מילים ואת התרגום שלהם בשפות שונות
Comment[hr]=Potraži značenje riječi i njihov prijevod na razne jezike
Comment[hu]=Szavak és jelentésük keresése különböző nyelveken
Comment[id]=Mencari dalam kamus apa arti dari kata dan terjemahannya ke dalam bahasa yang berbeda
Comment[is]=Fletta upp skilgreiningum orða og þýðingum þeirra á ýmsar tungur
Comment[it]=Cerca il significato delle parole e la loro traduzione in diverse lingue
Comment[ja]=単語の意味や他の言語の訳語を調べます
Comment[kk]=Түрлі тілдердегі сөздерінің мәнін я аудармасын қарау
Comment[km]=រកមើល​អត្ថន័យ​របស់​ពាក្យ និង​ការ​បកប្រែ​របស់​ពួកគេ​ក្នុង​ភាសា​ផ្សេង
Comment[ko]=단어의 뜻을 찾고 다른 언어로 표시하기
Comment[ku]=Wateya peyvan û wergerandina wan jê zimanên din re binihêre
Comment[lt]=Žodžių reikšmių paieška ir jų vertimas į skirtingas kalbas
Comment[lv]=Uzmeklē vārdu nozīmes un to tulkojumus dažādās valodās
Comment[mr]=शब्दांचे अर्थ व त्याचे वेगवेगळ्या भाषांमध्ये भाषांतर बघा
Comment[nb]=Slå opp betydningen av ord og deres oversettelse til forskjellige språk
Comment[nds]=De Verkloren vun Wöör un ehr Översetten na verscheden Spraken naslaan
Comment[nl]=Zoek de betekenis van woorden en hun vertaling in verschillende talen op
Comment[nn]=Slå opp ordtydingar og omsetjingar
Comment[pl]=Wyszukuje znaczeń wyrazów i ich tłumaczeń na inne języki
Comment[pt]=Procurar o significado das palavras e das suas traduções em várias línguas
Comment[pt_BR]=Procura o significado de palavras e a tradução para vários idiomas
Comment[ro]=Caută semnificația cuvintelor și traducerea acestora în diferite limbi
Comment[ru]=Поиск значений слов и их перевод на другие языки
Comment[sk]=Vyhľadanie významu slov a ich preklad do rôznych jazykov
Comment[sl]=Poiščite pomen besed in njihov prevod v druge jezike
Comment[sr]=Потражите значења речи и њихове преводе на различите језике
Comment[sr@ijekavian]=Потражите значења ријечи и њихове преводе на различите језике
Comment[sr@ijekavianlatin]=Potražite značenja riječi i njihove prevode na različite jezike
Comment[sr@latin]=Potražite značenja reči i njihove prevode na različite jezike
Comment[sv]=Slå upp betydelsen hos ord och deras översättning till olika språk
Comment[th]=ค้นหาความหมายของคำและการแปลความหมายในภาษาต่าง ๆ
Comment[tr]=Sözcüklerin farklı dillerdeki anlamına bakın
Comment[uk]=Погляньте на значення слів та на їхній переклад іншими мовами
Comment[vi]=Tra nghĩa của các từ và phần dịch của chúng sang các ngôn ngữ khác nhau
Comment[wa]=Cachîz après çou k' volexhe dire les mots eyet leu ratournaedje dins sacwants lingaedjes
Comment[x-test]=xxLook up the meaning of words and their translation into different languagesxx
Comment[zh_CN]=查阅单词词义以及其不同语言的翻译
Comment[zh_TW]=查看單字的意義與不同語言的翻譯
Type=Service
Icon=accessories-dictionary

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma_applet_dict
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
