[Desktop Entry]
Encoding=UTF-8
Name=Ascii Animals
Name[es]=Animales Ascii
Name[fi]=ASCII-eläimet
Name[hu]=Ascii állatok
Name[nl]=Ascii dieren
Name[pt]=Animais em ASCII
Name[pt_BR]=Animais em ASCII
Name[sk]=Ascii zvieratá
Name[sr]=Аски животиње
Name[sr@ijekavian]=Аски животиње
Name[sr@ijekavianlatin]=ASCII životinje
Name[sr@latin]=ASCII životinje
Name[sv]=ASCII-djur
Name[uk]=ASCII-тварини
Name[x-test]=xxAscii Animalsxx
Comment=Unsure if cute or just nerdy
Comment[es]=No es seguro si lindo o solo friki
Comment[hu]=Bizonytalan, ha csinos vagy csak stréber
Comment[nl]=Onzeker of het leuk is of gewoon nerdachtig
Comment[pt]=Não sabemos se é bonito ou apenas 'cromo'
Comment[pt_BR]=Não sabemos se é bonito ou apenas nerd
Comment[sk]=Neviem, či milý, alebo len hlúpy
Comment[sr]=Љупко, или просто штреберски?
Comment[sr@ijekavian]=Љупко, или просто штреберски?
Comment[sr@ijekavianlatin]=Ljupko, ili prosto štreberski?
Comment[sr@latin]=Ljupko, ili prosto štreberski?
Comment[sv]=Osäker om gulliga eller bara nördiga
Comment[uk]=Не знаємо, чи це мило, чи просто дивакувато
Comment[x-test]=xxUnsure if cute or just nerdyxx

Type=Service
ServiceTypes=Plasma/DeclarativeWallpaper
Icon=applications-toys
X-Plasma-MainScript=ui/animals.qml
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kde.animals
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
