[Desktop Entry]
Name=Thumbnail Grid
Name[ca]=Quadrícula de miniatures
Name[es]=Cuadrícula de miniaturas
Name[et]=Pisipildivõrgustik
Name[eu]=Koadro txikien sareta
Name[lt]=Miniatiūrų tinklelis
Name[nl]=Raster voor miniaturen
Name[pt]=Grelha de Miniaturas
Name[pt_BR]=Grade de miniaturas
Name[sv]=Miniatyrbildsrutnät
Name[uk]=Таблиця мініатюр
Name[x-test]=xxThumbnail Gridxx
Name[zh_TW]=縮圖格線
Comment=A window switcher layout using a small grid of thumbnails
Comment[ca]=Una disposició del commutador de finestres que utilitza una quadrícula petita de miniatures
Comment[es]=Un esquema de selector de ventanas que usa una pequeña cuadrícula de miniaturas
Comment[et]=Aknavahetaja paigutus väikese pisipiltide võrgustikuga
Comment[eu]=Leiho-aldatzaile antolaera bat koadro txikien sareta txiki bat erabiltzen duena
Comment[lt]=Langų perjungiklio išdėstymas naudojantis mažą miniatiūrų tinklelį
Comment[nl]=Een indeling van de vensterwisselaar met een klein raster van miniaturen
Comment[pt]=Uma disposição de selecção de janelas que usa uma pequena grelha de miniaturas
Comment[pt_BR]=Um layout do seletor de janelas que usa uma pequena grade de miniaturas
Comment[sv]=En layout för fönsterbyte som använder ett litet miniatyrbildsrutnät
Comment[uk]=Компонування засобу перемикання вікон з малою таблицею мініатюр поточного стану вікон
Comment[x-test]=xxA window switcher layout using a small grid of thumbnailsxx
Comment[zh_TW]=使用小格線縮圖的視窗切換器佈局

Type=Service
X-KDE-ServiceTypes=KWin/WindowSwitcher

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

Icon=preferences-system-windows-switcher-thumbnail-grid
X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=thumbnail_grid
X-KDE-PluginInfo-Version=6
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
