[Desktop Entry]
Name=At Night
Name[pt]=À Noite
Name[pt_BR]=À Noite
Name[sv]=På natten
Name[uk]=Вночі
Name[x-test]=xxAt Nightxx

X-KDE-PluginInfo-Name=At_Night
X-KDE-PluginInfo-Author=Javier Llorente
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
