[Desktop Entry]
Encoding=UTF-8
Name=EBN Data Engine
Name[bg]=EBN ядро
Name[es]=Motor de datos EBN
Name[et]=EBN-i andmete mootor
Name[ja]=EBN データエンジン
Name[nl]=EBN-gegevensengine
Name[pt]=Motor de Dados do EBN
Name[pt_BR]=Motor de Dados do EBN
Name[sv]=Datagränssnitt för EBN
Comment=KDE automated qualtiy testing data engine
Comment[bg]=Ядро за тестване на KDE
Comment[es]=Motor de datos de prueba de calidad automatizada de KDE
Comment[et]=KDE automaatse kvaliteedi testimise andmete mootor
Comment[nl]=Gegevensengine voor automatische KDE Quality-testing
Comment[pt]=Motor de dados dos testes automáticos de qualidade do KDE
Comment[pt_BR]=Motor de dados dos testes automáticos de qualidade do KDE
Comment[sv]=KDE:s datagränssnitt för automatiserad kvalitetstest
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=kteatime
X-KDE-Library=plasma_engine_ebn
X-EngineName=ebn
