[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_apodprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=apod
Icon=

Name=Apod Provider
Name[ca]=Proveïdor Apod
Name[da]=Apod-udbyder
Name[de]=Apod-Anbieter
Name[es]=Proveedor de Apod
Name[et]=Apodi pakkuja
Name[fr]=Fournisseur apod
Name[is]=Apod þjónusta
Name[it]=Fornitore Apod
Name[km]=ក្រុមហ៊ុន​ផ្ដល់ Apod
Name[lv]=Apod piegādātājs
Name[nb]=Apod-leverandør
Name[nds]=ABiV-Anbeder
Name[nl]=Apod-provider
Name[pt]=Fornecedor do Apod
Name[pt_BR]=Fornecedor Apod
Name[sv]=Tillhandahåll från Apod
Name[tr]=Apod Sağlayıcı
Name[uk]=Постачальник Apod
Name[x-test]=xxApod Providerxx
Name[zh_CN]=Apod 提供方
Name[zh_TW]=Apod 提供者
Comment=Apod Provider
Comment[ca]=Proveïdor Apod
Comment[da]=Apod-udbyder.
Comment[de]=Apod-Anbieter
Comment[es]=Proveedor de Apod
Comment[et]=Apodi pakkuja
Comment[fr]=Fournisseur apod
Comment[is]=Apod þjónusta
Comment[it]=Fornitore Apod
Comment[km]=ក្រុមហ៊ុន​ផ្ដល់ Apod
Comment[lv]=Apod piegādātājs
Comment[nb]=Apod-leverandør
Comment[nds]=ABiV-Anbeder
Comment[nl]=Apod-provider
Comment[pt]=Fornecedor do Apod
Comment[pt_BR]=Fornecedor Apod
Comment[sv]=Tillhandahåll från Apod
Comment[tr]=Apod Sağlayıcı
Comment[uk]=Постачальник даних Apod
Comment[x-test]=xxApod Providerxx
Comment[zh_CN]=Apod 提供方
Comment[zh_TW]=Apod 提供者
