[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_apodprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=apod
Icon=

Name=Apod Provider
Name[uk]=Постачальник Apod
Comment=Apod Provider
Comment[uk]=Постачальник даних Apod
