[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_apodprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=apod
Icon=

Name=Apod Provider
Name[ar]=المزود Apod
Name[ca]=Proveïdor Apod
Name[cs]=Poskytovatel Apodu
Name[da]=Apod-udbyder
Name[de]=Apod-Anbieter
Name[el]=Πάροχος Apod
Name[en_GB]=Apod Provider
Name[es]=Proveedor de Apod
Name[et]=Apodi pakkuja
Name[fr]=Fournisseur apod
Name[gl]=Fornecedor de Apod
Name[hu]=Apod-csatoló
Name[is]=Apod þjónusta
Name[it]=Fornitore Apod
Name[km]=ក្រុមហ៊ុន​ផ្ដល់ Apod
Name[lt]=Apod tiekiklis
Name[lv]=Apod piegādātājs
Name[nb]=Apod-leverandør
Name[nds]=ABiV-Anbeder
Name[nl]=Apod-provider
Name[nn]=Apod-tilbydar
Name[pl]=Usługodawca Apod
Name[pt]=Fornecedor do Apod
Name[pt_BR]=Fornecedor Apod
Name[ro]=Furnizor Apod
Name[sk]=Poskytovateľ Apod
Name[sl]=Ponudnik Apod
Name[sr]=Добављач АПОД‑а
Name[sr@latin]=Dobavljač APOD‑a
Name[sv]=Tillhandahåll från Apod
Name[tr]=Apod Sağlayıcı
Name[uk]=Постачальник Apod
Name[wa]=Ahesseu d' Apod
Name[x-test]=xxApod Providerxx
Name[zh_CN]=Apod 提供方
Name[zh_TW]=Apod 提供者
Comment=Apod Provider
Comment[ar]=المزود Apod
Comment[ca]=Proveïdor Apod
Comment[cs]=Poskytovatel Apodu
Comment[da]=Apod-udbyder.
Comment[de]=Apod-Anbieter
Comment[el]=Πάροχος Apod 
Comment[en_GB]=Apod Provider
Comment[es]=Proveedor de Apod
Comment[et]=Apodi pakkuja
Comment[fr]=Fournisseur apod
Comment[gl]=Fornecedor de Apod
Comment[hu]=Apod-csatoló
Comment[is]=Apod þjónusta
Comment[it]=Fornitore Apod
Comment[km]=ក្រុមហ៊ុន​ផ្ដល់ Apod
Comment[lt]=Apod tiekiklis
Comment[lv]=Apod piegādātājs
Comment[nb]=Apod-leverandør
Comment[nds]=ABiV-Anbeder
Comment[nl]=Apod-provider
Comment[nn]=Apod-tilbydar
Comment[pl]=Usługodawca Apod
Comment[pt]=Fornecedor do Apod
Comment[pt_BR]=Fornecedor Apod
Comment[ro]=Furnizor Apod
Comment[sk]=Poskytovateľ Apod
Comment[sl]=Ponudnik Apod
Comment[sr]=Добављач АПОД‑а
Comment[sr@latin]=Dobavljač APOD‑a
Comment[sv]=Tillhandahåll från Apod
Comment[tr]=Apod Sağlayıcı
Comment[uk]=Постачальник даних Apod
Comment[wa]=Ahesseu d' Apod
Comment[x-test]=xxApod Providerxx
Comment[zh_CN]=Apod 提供方
Comment[zh_TW]=Apod 提供者
