[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_bingprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=bing
Icon=

Name=Bing's Picture of the Day
Name[ca]=Imatge del dia del Bing
Name[ca@valencia]=Imatge del dia del Bing
Name[cs]=Obrázek dne na Bing
Name[de]=Bings Bild des Tages
Name[el]=Φωτογραφία της ημέρας από το BIng
Name[en_GB]=Bing's Picture of the Day
Name[es]=Imagen del día de Bing
Name[eu]=Bing: eguneko argazkia
Name[he]=תמונת היום של Bing
Name[hu]=A nap képe a Bingen
Name[it]=Immagine del giorno di Bing
Name[nl]=Afbeelding van de dag van Bing
Name[pl]=Obraz dnia Binga
Name[pt]=Imagem do Dia do Bing
Name[sk]=Obrázok dňa Bing
Name[sl]=Slika dneva iz Binga
Name[sr]=Бингова слика дана
Name[sr@ijekavian]=Бингова слика дана
Name[sr@ijekavianlatin]=Bingova slika dana
Name[sr@latin]=Bingova slika dana
Name[sv]=Dagens bild på Bing
Name[tr]=Bing Günün Resmi
Name[uk]=Картинка дня Bing
Name[x-test]=xxBing's Picture of the Dayxx
Name[zh_CN]=必应每日图片
Name[zh_TW]=Bing 本日圖片
Comment=Bing Provider
Comment[ca]=Proveïdor Bing
Comment[ca@valencia]=Proveïdor Bing
Comment[cs]=Poskytovatel Bing
Comment[de]=Bing-Anbieter
Comment[el]=Πάροχος Bing
Comment[en_GB]=Bing Provider
Comment[es]=Proveedor de Bing
Comment[eu]=Bing hornitzailea
Comment[he]=Bing Provider
Comment[hu]=Bing szolgáltató
Comment[it]=Fornitore Bing
Comment[nl]=Bing-provider
Comment[pl]=Dostawca Bing
Comment[pt]=Fornecedor do Bing
Comment[sk]=Poskytovateľ Bing
Comment[sl]=Ponudnik Bing
Comment[sr]=Добављач са Бинга
Comment[sr@ijekavian]=Добављач са Бинга
Comment[sr@ijekavianlatin]=Dobavljač sa Binga
Comment[sr@latin]=Dobavljač sa Binga
Comment[sv]=Tillhandahåll från Bing
Comment[tr]=Bing Sağlayıcı
Comment[uk]=Постачальник даних Bing
Comment[x-test]=xxBing Providerxx
Comment[zh_CN]=必应提供方
Comment[zh_TW]=Bing 提供者
