[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_bingprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=bing
Icon=

Name=Bing's Picture of the Day
Name[ca]=Imatge del dia del Bing
Name[ca@valencia]=Imatge del dia del Bing
Name[cs]=Obrázek dne na Bing
Name[es]=Imagen del día de Bing
Name[hu]=A nap képe a Bingen
Name[nl]=Afbeelding van de dag van Bing
Name[pt]=Imagem do Dia do Bing
Name[sv]=Dagens bild på Bing
Name[uk]=Картинка дня Bing
Name[x-test]=xxBing's Picture of the Dayxx
Name[zh_CN]=必应每日图片
Comment=Bing Provider
Comment[ca]=Proveïdor Bing
Comment[ca@valencia]=Proveïdor Bing
Comment[cs]=Poskytovatel Bing
Comment[es]=Proveedor de Bing
Comment[hu]=Bing szolgáltató
Comment[nl]=Bing-provider
Comment[pt]=Fornecedor do Bing
Comment[sv]=Tillhandahåll från Bing
Comment[uk]=Постачальник даних Bing
Comment[x-test]=xxBing Providerxx
Comment[zh_CN]=必应提供方
