[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_epodprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=epod
Icon=

Name=Epod Provider
Name[uk]=Постачальник Epod
Comment=Epod Provider
Comment[uk]=Постачальник даних Epod
