[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_epodprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=epod
Icon=

Name=Epod Provider
Name[ca]=Proveïdor Epod
Name[es]=Proveedor de Epod
Name[et]=Epodi pakkuja
Name[pt]=Fornecedor do Epod
Name[pt_BR]=Fornecedor Epod
Name[sv]=Tillhandahåll från Epod
Name[tr]=Epod Sağlayıcı
Name[uk]=Постачальник Epod
Name[zh_CN]=Epod 提供方
Name[zh_TW]=Epod 提供者
Comment=Epod Provider
Comment[ca]=Proveïdor Epod
Comment[es]=Proveedor de Epod
Comment[et]=Epodi pakkuja
Comment[pt]=Fornecedor do Epod
Comment[pt_BR]=Fornecedor Epod
Comment[sv]=Tillhandahåll från Epod
Comment[tr]=Epod Sağlayıcı
Comment[uk]=Постачальник даних Epod
Comment[zh_CN]=Epod 提供方
Comment[zh_TW]=Epod 提供者
