[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_flickrprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=flickr
Icon=

Name=Flickr Picture of the Day
Name[cs]=Obrázek dne z Flickru
Name[de]=Flickr Bild des Tages
Name[en_GB]=Flickr Picture of the Day
Name[es]=Imagen de Flickr del día
Name[et]=Flickri päevapilt
Name[fr]=Flickr Picture of the Day
Name[it]=Immagine del giorno di Flickr
Name[nb]=Dagens Flickr-bilde
Name[nds]=Flickr-Bild för Vundaag
Name[pt]=Imagem do Dia no Flickr
Name[pt_BR]=Imagem do dia do Flickr
Name[sv]=Dagens bild från Flickr
Name[tr]=Günün Flicker Resmi
Name[uk]=Зображення дня Flickr
Name[x-test]=xxFlickr Picture of the Dayxx
Name[zh_TW]=本日 Flickr 圖片
Comment=Flickr Provider
Comment[ca]=Proveïdor Flickr
Comment[cs]=Poskytovatel Flickru
Comment[da]=Flickr-udbyder.
Comment[de]=Flickr-Anbieter
Comment[en_GB]=Flickr Provider
Comment[es]=Proveedor de Flickr
Comment[et]=Flickri pakkuja
Comment[fr]=Fournisseur flickr
Comment[gl]=Fornecedor de Flickr
Comment[is]=Flickr þjónusta
Comment[it]=Fornitore Flickr
Comment[km]=ក្រុមហ៊ុន​ផ្ដល់ Flickr
Comment[lv]=Flickr piegādātājs
Comment[nb]=Flickr-leverandør
Comment[nds]=Flickr-Anbeder
Comment[nl]=Flickr-provider
Comment[nn]=Flickr-tilbydar
Comment[pl]=Usługodawca Flickr
Comment[pt]=Fornecedor do Flickr
Comment[pt_BR]=Fornecedor Flickr
Comment[ro]=Furnizor Flickr
Comment[sk]=Poskytovateľ Flickr
Comment[sl]=Ponudnik Flicker
Comment[sr]=Добављач Фликра
Comment[sr@latin]=Dobavljač Flickra
Comment[sv]=Tillhandahåll från Flickr
Comment[tr]=Flickr Sağlayıcı
Comment[uk]=Постачальник даних Flickr
Comment[x-test]=xxFlickr Providerxx
Comment[zh_CN]=Flickr 提供方
Comment[zh_TW]=Flickr 提供者
