[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_flickrprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=flickr
Icon=

Name=Flickr Provider
Name[ca]=Proveïdor Flickr
Name[es]=Proveedor de Flickr
Name[et]=Flickri pakkuja
Name[km]=ក្រុមហ៊ុន​ផ្ដល់ Flickr
Name[nb]=Flickr-leverandør
Name[nds]=Flickr-Anbeder
Name[pt]=Fornecedor do Flickr
Name[pt_BR]=Fornecedor Flickr
Name[sv]=Tillhandahåll från Flickr
Name[tr]=Flickr Sağlayıcı
Name[uk]=Постачальник Flickr
Name[zh_CN]=Flickr 提供方
Name[zh_TW]=Flickr 提供者
Comment=Flickr Provider
Comment[ca]=Proveïdor Flickr
Comment[es]=Proveedor de Flickr
Comment[et]=Flickri pakkuja
Comment[km]=ក្រុមហ៊ុន​ផ្ដល់ Flickr
Comment[nb]=Flickr-leverandør
Comment[nds]=Flickr-Anbeder
Comment[pt]=Fornecedor do Flickr
Comment[pt_BR]=Fornecedor Flickr
Comment[sv]=Tillhandahåll från Flickr
Comment[tr]=Flickr Sağlayıcı
Comment[uk]=Постачальник даних Flickr
Comment[zh_CN]=Flickr 提供方
Comment[zh_TW]=Flickr 提供者
