[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_flickrprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=flickr
Icon=

Name=Flickr Provider
Name[ar]=الموزد Flickr
Name[ca]=Proveïdor Flickr
Name[cs]=Poskytovatel Flickru
Name[da]=Flickr-udbyder
Name[de]=Flickr-Anbieter
Name[el]=Πάροχος Flickr
Name[en_GB]=Flickr Provider
Name[es]=Proveedor de Flickr
Name[et]=Flickri pakkuja
Name[fr]=Fournisseur flickr
Name[gl]=Fornecedor de Flickr
Name[hu]=Flickr-csatoló
Name[is]=Flickr þjónusta
Name[it]=Fornitore Flickr
Name[km]=ក្រុមហ៊ុន​ផ្ដល់ Flickr
Name[lt]=Flickr tiekiklis
Name[lv]=Flickr piegādātājs
Name[nb]=Flickr-leverandør
Name[nds]=Flickr-Anbeder
Name[nl]=Flickr-provider
Name[nn]=Flickr-tilbydar
Name[pa]=ਫਲਿੱਕਰ ਪਰੋਵਾਇਡਰ
Name[pl]=Usługodawca Flickr
Name[pt]=Fornecedor do Flickr
Name[pt_BR]=Fornecedor Flickr
Name[ro]=Furnizor Flickr
Name[sk]=Poskytovateľ Flickr
Name[sl]=Ponudnik Flicker
Name[sr]=Добављач Фликра
Name[sr@latin]=Dobavljač Flickra
Name[sv]=Tillhandahåll från Flickr
Name[tr]=Flickr Sağlayıcı
Name[uk]=Постачальник Flickr
Name[wa]=Ahesseu d' Flickr
Name[x-test]=xxFlickr Providerxx
Name[zh_CN]=Flickr 提供方
Name[zh_TW]=Flickr 提供者
Comment=Flickr Provider
Comment[ar]=الموزد Flickr
Comment[ca]=Proveïdor Flickr
Comment[cs]=Poskytovatel Flickru
Comment[da]=Flickr-udbyder.
Comment[de]=Flickr-Anbieter
Comment[el]=Πάροχος Flickr
Comment[en_GB]=Flickr Provider
Comment[es]=Proveedor de Flickr
Comment[et]=Flickri pakkuja
Comment[fr]=Fournisseur flickr
Comment[gl]=Fornecedor de Flickr
Comment[hu]=Flickr-csatoló
Comment[is]=Flickr þjónusta
Comment[it]=Fornitore Flickr
Comment[km]=ក្រុមហ៊ុន​ផ្ដល់ Flickr
Comment[lt]=Flickr tiekiklis
Comment[lv]=Flickr piegādātājs
Comment[nb]=Flickr-leverandør
Comment[nds]=Flickr-Anbeder
Comment[nl]=Flickr-provider
Comment[nn]=Flickr-tilbydar
Comment[pa]=ਫਲਿੱਕਰ ਪਰੋਵਾਇਡਰ
Comment[pl]=Usługodawca Flickr
Comment[pt]=Fornecedor do Flickr
Comment[pt_BR]=Fornecedor Flickr
Comment[ro]=Furnizor Flickr
Comment[sk]=Poskytovateľ Flickr
Comment[sl]=Ponudnik Flicker
Comment[sr]=Добављач Фликра
Comment[sr@latin]=Dobavljač Flickra
Comment[sv]=Tillhandahåll från Flickr
Comment[tr]=Flickr Sağlayıcı
Comment[uk]=Постачальник даних Flickr
Comment[wa]=Ahesseu d' Flickr
Comment[x-test]=xxFlickr Providerxx
Comment[zh_CN]=Flickr 提供方
Comment[zh_TW]=Flickr 提供者
