[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_natgeoprovider
X-KDE-PlasmaPoTDProvider-Identifier=natgeo
Icon=

Name=National Geographic
Name[ar]=ناشنال جيوغرافيك
Name[bs]=National Geographic
Name[ca]=National Geographic
Name[ca@valencia]=National Geographic
Name[cs]=National Geographic
Name[da]=National Geographic
Name[de]=National Geographic
Name[el]=National Geographic
Name[en_GB]=National Geographic
Name[es]=National Geographic
Name[et]=National Geographic
Name[eu]=National Geographic
Name[fi]=National Geographic
Name[fr]=National Geographic
Name[gl]=National Geographic
Name[hu]=National Geographic
Name[id]=National Geographic
Name[it]=National Geographic
Name[kk]=National Geographic
Name[ko]=내셔널 지오그래픽
Name[lt]=Nacionalinė geografija
Name[mr]=नेशनल जिओग्राफिक
Name[nb]=National Geographic
Name[nds]=National Geographic
Name[nl]=National Geographic
Name[nn]=National Geographic
Name[pl]=National Geographic
Name[pt]=National Geographic
Name[pt_BR]=National Geographic
Name[ro]=National Geographic
Name[ru]=National Geographic
Name[sk]=National Geographic
Name[sl]=National Geographic
Name[sr]=Нешонал џиографик
Name[sr@ijekavian]=Нешонал џиографик
Name[sr@ijekavianlatin]=National Geographic
Name[sr@latin]=National Geographic
Name[sv]=National Geographic
Name[tr]=National Geographic
Name[uk]=National Geographic
Name[x-test]=xxNational Geographicxx
Name[zh_CN]=国家地理
Name[zh_TW]=國家地理頻道
