[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_noaaprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=noaa
Icon=

Name=NOAA Environmental Visualization Laboratory Picture of the Day
Name[ca]=Imatge del dia del NOAA Environmental Visualization Laboratory
Name[ca@valencia]=Imatge del dia del NOAA Environmental Visualization Laboratory
Name[da]=Dagens billede fra NOAA Environmental Visualization Laboratory
Name[de]=Bild des Tages des Labors für Umweltvisualisierung der Nationalen Ozean- und Atmosphärenbehörde (NOAA)
Name[el]=NOAA Environmental Visualization Laboratory Φωτογραφία της ημέρας
Name[en_GB]=NOAA Environmental Visualisation Laboratory Picture of the Day
Name[es]=Imagen del día del Laboratorio de Visualización Ambiental del NOAA
Name[eu]=NOAA Ingurugiro Bistaratze Laborategiaren eguneko irudia
Name[fi]=NOAA Environmental Visualization Laboratoryn päivän kuva
Name[fr]=Image du jour du laboratoire de visualisation environnementale NOAA
Name[it]=Immagine del giorno del laboratorio di visualizzazione ambientale NOAA
Name[ko]=NOAA 환경 시각화 연구소 오늘의 그림
Name[nl]=NOAA afbeelding-van-de-dag van het Laboratorium voor visualisatie van het milieu
Name[nn]=Dagens bilete frå NOAA Environmental Visualization Laboratory
Name[pl]=NOAA Environmental Visualization Laboratory Picture of the Day
Name[pt]=Imagem do Dia do Laboratório de Visualização Ambiental do NOAA
Name[pt_BR]=NOAA Environmental Visualization Laboratory Picture of the Day
Name[sk]=Obrázok dňa NOAA, environmentálneho vizualizačného laboratória
Name[sl]=Slika dneva s strani NOAA Environmental Visualization Laboratory
Name[sr]=Слика дана из НОАА‑ове лабораторије за визуелизацију природне средине
Name[sr@ijekavian]=Слика дана из НОАА‑ове лабораторије за визуелизацију природне средине
Name[sr@ijekavianlatin]=Slika dana iz NOAA‑ove laboratorije za vizuelizaciju prirodne sredine
Name[sr@latin]=Slika dana iz NOAA‑ove laboratorije za vizuelizaciju prirodne sredine
Name[sv]=Dagens bild från NOAA:s miljövisualiseringslaboratorium
Name[tr]=NOAA Doğa Görselleme Laboratuvarı Günün Resmi
Name[uk]=Зображення дня від Лабораторії візуалізації середовища NOAA
Name[x-test]=xxNOAA Environmental Visualization Laboratory Picture of the Dayxx
Name[zh_CN]=NOAA 环境可视化实验室每日一图
Name[zh_TW]=美國國家海洋暨大氣總署環境視覺化實驗室每日圖片
Comment=NOAA Provider
Comment[ca]=Proveïdor NOAA
Comment[ca@valencia]=Proveïdor NOAA
Comment[cs]=Přidat NOAA
Comment[da]=NOAA-udbyder
Comment[de]=NOAA-Anbieter
Comment[el]=Πάροχος NOAA 
Comment[en_GB]=NOAA Provider
Comment[es]=Proveedor del NOAA
Comment[eu]=NOAA hornitzailea
Comment[fi]=NOAA-tarjoaja
Comment[fr]=Fournisseur « NOAA »
Comment[it]=Fornitore NOAA
Comment[ko]=NOAA 공급자
Comment[nl]=NOAA-provider
Comment[nn]=NOAA-tilbydar
Comment[pl]=Usługodawca NOAA
Comment[pt]=Fornecedor do NOAA
Comment[pt_BR]=Fornecedor NOAA
Comment[sk]=Poskytovateľ NOAA
Comment[sl]=Ponudnik NOAA
Comment[sr]=Добављач НОАА‑а
Comment[sr@ijekavian]=Добављач НОАА‑а
Comment[sr@ijekavianlatin]=Dobavljač NOAA‑a
Comment[sr@latin]=Dobavljač NOAA‑a
Comment[sv]=Tillhandahåll från NOAA
Comment[tr]=NOAA Sağlayıcı
Comment[uk]=Постачальник даних NOAA
Comment[x-test]=xxNOAA Providerxx
Comment[zh_CN]=NOAA 提供方
Comment[zh_TW]=NOAA 提供者
