[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_noaaprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=noaa
Icon=

Name=NOAA Environmental Visualization Laboratory Picture of the Day
Name[ca]=Imatge del dia del NOAA Environmental Visualization Laboratory
Name[ca@valencia]=Imatge del dia del NOAA Environmental Visualization Laboratory
Name[es]=Imagen del día del Laboratorio de Visualización Ambiental del NOAA
Name[it]=Immagine del giorno del laboratorio di visualizzazione ambientale NOAA
Name[nl]=NOAA afbeelding-van-de-dag van het Laboratorium voor visualisatie van het milieu
Name[nn]=Dagens bilete frå NOAA Environmental Visualization Laboratory
Name[pl]=NOAA Environmental Visualization Laboratory Picture of the Day
Name[pt]=Imagem do Dia do Laboratório de Visualização Ambiental do NOAA
Name[sk]=Obrázok dňa NOAA, environmentálneho vizualizačného laboratória
Name[sl]=Slika dneva s strani NOAA Environmental Visualization Laboratory
Name[sv]=Dagens bild från NOAA:s miljövisualiseringslaboratorium
Name[uk]=Зображення дня від Лабораторії візуалізації середовища NOAA
Name[x-test]=xxNOAA Environmental Visualization Laboratory Picture of the Dayxx
Name[zh_TW]=美國國家海洋暨大氣總署環境視覺化實驗室每日圖片
Comment=NOAA Provider
Comment[ca]=Proveïdor NOAA
Comment[ca@valencia]=Proveïdor NOAA
Comment[es]=Proveedor del NOAA
Comment[it]=Fornitore NOAA
Comment[nl]=NOAA-provider
Comment[nn]=NOAA-tilbydar
Comment[pl]=Usługodawca NOAA
Comment[pt]=Fornecedor do NOAA
Comment[sk]=Poskytovateľ NOAA
Comment[sl]=Ponudnik NOAA
Comment[sv]=Tillhandahåll från NOAA
Comment[uk]=Постачальник даних NOAA
Comment[x-test]=xxNOAA Providerxx
Comment[zh_TW]=NOAA 提供者
