[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_noaaprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=noaa
Icon=

Name=NOAA Environmental Visualization Laboratory Picture of the Day
Name[ca]=Imatge del dia del NOAA Environmental Visualization Laboratory
Name[nl]=NOAA afbeelding-van-de-dag van het Laboratorium voor visualisatie van het milieu
Name[pt]=Imagem do Dia do Laboratório de Visualização Ambiental do NOAA
Name[sk]=Obrázok dňa NOAA, environmentálneho vizualizačného laboratória
Name[sv]=Dagens bild från NOAA:s miljövisualiseringslaboratorium
Name[uk]=Зображення дня від Лабораторії візуалізації середовища NOAA
Name[x-test]=xxNOAA Environmental Visualization Laboratory Picture of the Dayxx
Name[zh_TW]=美國國家海洋暨大氣總署環境視覺化實驗室每日圖片
Comment=NOAA Provider
Comment[ca]=Proveïdor NOAA
Comment[nl]=NOAA-provider
Comment[pt]=Fornecedor do NOAA
Comment[sk]=Poskytovateľ NOAA
Comment[sv]=Tillhandahåll från NOAA
Comment[uk]=Постачальник даних NOAA
Comment[x-test]=xxNOAA Providerxx
Comment[zh_TW]=NOAA 提供者
