[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_oseiprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=osei
Icon=

Name=Osei Provider
Name[es]=Proveedor Osei
Name[et]=Osei pakkuja
Name[fr]=Fournisseur Osei
Name[pt]=Fornecedor do Osei
Name[pt_BR]=Fornecedor do Osei
Name[sv]=OSEI-leverantör
Name[tr]=Osei Sağlayıcı
Name[uk]=Постачальник Osei
Name[x-test]=xxOsei Providerxx
Name[zh_TW]=Osei 提供者
Comment=Osei Provider
Comment[es]=Proveedor Osei
Comment[et]=Osei pakkuja
Comment[fr]=Fournisseur Osei
Comment[pt]=Fornecedor do Osei
Comment[pt_BR]=Fornecedor do Osei
Comment[sv]=OSEI-leverantör
Comment[tr]=Osei Sağlayıcı
Comment[uk]=Постачальник даних Osei
Comment[x-test]=xxOsei Providerxx
Comment[zh_TW]=Osei 提供者
