[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_oseiprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=osei
Icon=

Name=Osei Provider
Name[ar]=المزود Osei
Name[ca]=Proveïdor Osei
Name[cs]=Poskytovatel Osei
Name[da]=Osei-udbyder
Name[de]=Osei-Anbieter
Name[el]=Πάροχος Osei
Name[en_GB]=Osei Provider
Name[es]=Proveedor de Osei
Name[et]=Osei pakkuja
Name[fr]=Fournisseur osei
Name[gl]=Fornecedor de Osei
Name[hu]=Osei-csatoló
Name[is]=Osei þjónusta
Name[it]=Fornitore Osei
Name[km]=ក្រុមហ៊ុន​ផ្ដល់ Osei
Name[lt]=Osei tiekiklis
Name[lv]=Osei piegādātājs
Name[nb]=Osei-leverandør
Name[nds]=Osei-Anbeder
Name[nl]=Osei-provider
Name[nn]=Osei-tilbydar
Name[pl]=Usługodawca Osei
Name[pt]=Fornecedor do Osei
Name[pt_BR]=Fornecedor Osei
Name[ro]=Furnizor Osei
Name[sk]=Poskytovateľ Osei
Name[sl]=Ponudnik Osei
Name[sr]=Добављач ОСЕИ‑ја
Name[sr@latin]=Dobavljač OSEI‑ja
Name[sv]=Tillhandahåll från Osei
Name[tr]=Osei Sağlayıcı
Name[uk]=Постачальник Osei
Name[wa]=Ahesseu d' Osei
Name[x-test]=xxOsei Providerxx
Name[zh_CN]=Osei 提供方
Name[zh_TW]=Osei 提供者
Comment=Osei Provider
Comment[ar]=المزود Osei
Comment[ca]=Proveïdor Osei
Comment[cs]=Poskytovatel Osei
Comment[da]=Osei-udbyder.
Comment[de]=Osei-Anbieter
Comment[el]=Πάροχος Osei
Comment[en_GB]=Osei Provider
Comment[es]=Proveedor de Osei
Comment[et]=Osei pakkuja
Comment[fr]=Fournisseur osei
Comment[gl]=Fornecedor de Osei
Comment[hu]=Osei-csatoló
Comment[is]=Osei þjónusta
Comment[it]=Fornitore Osei
Comment[km]=ក្រុមហ៊ុន​ផ្ដល់ Osei
Comment[lt]=Osei tiekiklis
Comment[lv]=Osei piegādātājs
Comment[nb]=Osei-leverandør
Comment[nds]=Osei-Anbeder
Comment[nl]=Osei-provider
Comment[nn]=Osei-tilbydar
Comment[pl]=Usługodawca Osei
Comment[pt]=Fornecedor do Osei
Comment[pt_BR]=Fornecedor Osei
Comment[ro]=Furnizor Osei
Comment[sk]=Poskytovateľ Osei
Comment[sl]=Ponudnik Osei
Comment[sr]=Добављач ОСЕИ‑ја
Comment[sr@latin]=Dobavljač OSEI‑ja
Comment[sv]=Tillhandahåll från Osei
Comment[tr]=Osei Sağlayıcı
Comment[uk]=Постачальник даних Osei
Comment[wa]=Ahesseu d' Osei
Comment[x-test]=xxOsei Providerxx
Comment[zh_CN]=Osei 提供方
Comment[zh_TW]=Osei 提供者
