[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_oseiprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=osei
Icon=

Name=Osei Provider
Name[ca]=Proveïdor Osei
Name[da]=Osei-udbyder
Name[de]=Osei-Anbieter
Name[es]=Proveedor de Osei
Name[et]=Osei pakkuja
Name[fr]=Fournisseur osei
Name[gl]=Fornecedor de Osei
Name[is]=Osei þjónusta
Name[it]=Fornitore Osei
Name[km]=ក្រុមហ៊ុន​ផ្ដល់ Osei
Name[lv]=Osei piegādātājs
Name[nb]=Osei-leverandør
Name[nds]=Osei-Anbeder
Name[nl]=Osei-provider
Name[nn]=Osei-tilbydar
Name[pt]=Fornecedor do Osei
Name[pt_BR]=Fornecedor Osei
Name[ro]=Furnizor Osei
Name[sk]=Poskytovateľ Osei
Name[sr]=Добављач ОСЕИ‑ја
Name[sr@latin]=Dobavljač OSEI‑ja
Name[sv]=Tillhandahåll från Osei
Name[tr]=Osei Sağlayıcı
Name[uk]=Постачальник Osei
Name[x-test]=xxOsei Providerxx
Name[zh_CN]=Osei 提供方
Name[zh_TW]=Osei 提供者
Comment=Osei Provider
Comment[ca]=Proveïdor Osei
Comment[da]=Osei-udbyder.
Comment[de]=Osei-Anbieter
Comment[es]=Proveedor de Osei
Comment[et]=Osei pakkuja
Comment[fr]=Fournisseur osei
Comment[gl]=Fornecedor de Osei
Comment[is]=Osei þjónusta
Comment[it]=Fornitore Osei
Comment[km]=ក្រុមហ៊ុន​ផ្ដល់ Osei
Comment[lv]=Osei piegādātājs
Comment[nb]=Osei-leverandør
Comment[nds]=Osei-Anbeder
Comment[nl]=Osei-provider
Comment[nn]=Osei-tilbydar
Comment[pt]=Fornecedor do Osei
Comment[pt_BR]=Fornecedor Osei
Comment[ro]=Furnizor Osei
Comment[sk]=Poskytovateľ Osei
Comment[sr]=Добављач ОСЕИ‑ја
Comment[sr@latin]=Dobavljač OSEI‑ja
Comment[sv]=Tillhandahåll från Osei
Comment[tr]=Osei Sağlayıcı
Comment[uk]=Постачальник даних Osei
Comment[x-test]=xxOsei Providerxx
Comment[zh_CN]=Osei 提供方
Comment[zh_TW]=Osei 提供者
