[Desktop Entry]
Encoding=UTF-8
Name=Picture of the Day
Name[ca]=Imatge del dia
Name[da]=Dagens billede
Name[de]=Bild des Tages
Name[es]=Imagen del día
Name[et]=Päevapilt
Name[km]=រូបភាព​ប្រចាំ​ថ្ងៃ
Name[nb]=Dagens bilde
Name[nds]=Bild för Vundaag
Name[pt]=Imagem do Dia
Name[pt_BR]=Imagem do dia
Name[sv]=Dagens bild
Name[tr]=Günün Resmi
Name[uk]=Картинка дня
Name[zh_CN]=每日一图
Name[zh_TW]=本日圖片
Comment=Data Engine for getting various online Pictures of The Day.
Comment[ca]=Motor de dades per accedir a varies "imagtes del dia" en línia.
Comment[da]=Datamotor der henter diverse online dagens billede.
Comment[es]=Motor de datos para obtener diversas imágenes del día de la red.
Comment[et]=Andmete mootor internetis leiduvate päevapiltide hankimiseks.
Comment[km]=ម៉ាស៊ីន​​ទិន្នន័យ​សម្រាប់​ទទួល​យក​រូបភាព​ប្រចាំ​ថ្ងៃ​លើ​បណ្ដាញ​ផ្សេងៗ ។
Comment[nb]=Datamotor for å hente forskjellige Dagens Bilder
Comment[nds]=Datenkarn för't Halen vun verscheden Biller för Vundaag ut't Internet.
Comment[pt]=Motor de dados para obter diversas Imagens do Dia a nível 'online'.
Comment[pt_BR]=Mecanismo de dados para obter várias imagens do dia online.
Comment[sv]=Datagränssnitt för att hämta diverse dagens bilder från nätet.
Comment[tr]=Çeşitli çevirmiçi Günün Resimleri için veri motoru.
Comment[uk]=Рушій даних для отримання різноманітних мережевих «Зображень дня»
Comment[zh_CN]=获得各种在线每日一图的数据引擎。
Comment[zh_TW]=取得多種線上本日圖片的資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=image-jpeg2000
X-KDE-Library=plasma_engine_potd

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=potd
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
