[Desktop Entry]
Name=Picture of the Day
Name[ar]=صورة اليوم
Name[ast]=Semeya del día
Name[az]=Günün şəkli
Name[bs]=Slika dana
Name[ca]=Imatge del dia
Name[ca@valencia]=Imatge del dia
Name[cs]=Obrázek dne
Name[da]=Dagens billede
Name[de]=Bild des Tages
Name[el]=Φωτογραφία της ημέρας
Name[en_GB]=Picture of the Day
Name[es]=Imagen del día
Name[et]=Päevapilt
Name[eu]=Eguneko irudia
Name[fi]=Päivän kuva
Name[fr]=Image du jour
Name[ga]=Grianghraf an Lae
Name[gl]=Imaxe do día
Name[he]=תמונת היום
Name[hr]=Slika dana
Name[hu]=A nap képe a Flickr-ön
Name[id]=Gambar Harian
Name[is]=Myndir dagsins
Name[it]=Immagine del giorno
Name[ja]=今日の写真
Name[kk]=Тәулік суреті
Name[km]=រូបភាព​ប្រចាំ​ថ្ងៃ
Name[ko]=오늘의 그림
Name[lt]=Dienos paveikslas
Name[lv]=Dienas attēls
Name[mr]=दिवसाचे चित्र
Name[nb]=Dagens bilde
Name[nds]=Bild för Vundaag
Name[nl]=Afbeelding van de dag
Name[nn]=Dagens bilete
Name[pa]=ਅੱਜ ਦੀ ਤਸਵੀਰ
Name[pl]=Obraz dnia
Name[pt]=Imagem do Dia
Name[pt_BR]=Imagem do dia
Name[ro]=Imaginea zilei
Name[ru]=Изображение дня
Name[sk]=Obrázok dňa
Name[sl]=Slika dneva
Name[sr]=слика дана
Name[sr@ijekavian]=слика дана
Name[sr@ijekavianlatin]=slika dana
Name[sr@latin]=slika dana
Name[sv]=Dagens bild
Name[tr]=Günün Resmi
Name[uk]=Картинка дня
Name[vi]=Ảnh của ngày
Name[wa]=Imådje do djoû
Name[x-test]=xxPicture of the Dayxx
Name[zh_CN]=每日一图
Name[zh_TW]=本日圖片
Comment=Data Engine for getting various online Pictures of The Day.
Comment[ar]=محرك بيانات للحصول على مختلف صور هذا اليوم من الإنترنت.
Comment[az]=İnternetdən günün müxtəlif şəkillərini almaq üçün vasitə
Comment[bs]=Pogon podataka za dobivanje različitih slika dana sa veze.
Comment[ca]=Motor de dades per a accedir a diverses «imatges del dia» en línia.
Comment[ca@valencia]=Motor de dades per a accedir a diverses «imatges del dia» en línia.
Comment[cs]=Mechanismus pro získávání různých obrázků dne ze sítě.
Comment[da]=Datamotor der henter diverse online dagens billede.
Comment[de]=Daten-Treiber zum Holen verschiedener Bilder des Tages.
Comment[el]=Μηχανή δεδομένων για ανάκτηση διαφόρων διαδικτυακών φωτογραφιών της ημέρας.
Comment[en_GB]=Data Engine for getting various online Pictures of The Day.
Comment[es]=Motor de datos para obtener diversas imágenes del día de la red.
Comment[et]=Andmete mootor internetis leiduvate päevapiltide hankimiseks.
Comment[eu]=Lerroan hainbat eguneko irudi eskuratzeko datu motorra.
Comment[fi]=Tietomoottori erilaisten päivän kuvien noutamiseksi verkosta
Comment[fr]=Moteur de données permettant l'accès à divers sites d'images du jour.
Comment[gl]=Motor de datos para obter varias Imaxes do día de Internet.
Comment[hr]=Podatkovni mehanizam za dohvaćanje raznih Slika dana na Internetu
Comment[hu]=Adatmotor különböző online „A nap képe” szolgáltatásokhoz.
Comment[id]=Mesin Data untuk mendapatkan berbagai Gambar Harian online.
Comment[is]=Gagnavél til að ná í ýmsar 'Myndir dagsins' á netinu.
Comment[it]=Motore dati per ottenere numerose immagini del giorno dalla rete.
Comment[ja]=インターネット上のさまざまな今日の写真を取得するデータエンジン
Comment[kk]=Түрлі онлайн Күнделікті суреттерді қабылдайтын тетігі
Comment[km]=ម៉ាស៊ីន​​ទិន្នន័យ​សម្រាប់​ទទួល​យក​រូបភាព​ប្រចាំ​ថ្ងៃ​លើ​បណ្ដាញ​ផ្សេងៗ ។
Comment[ko]=다양한 오늘의 그림 데이터 엔진입니다.
Comment[lt]=Duomenų modulis, skirtas įvairių saityno dienos nuotraukų gavimui.
Comment[lv]=Datu dzinējs, kas ielādē dažādus dienas attēlus.
Comment[mr]=विविध दिवसाचे चित्र प्राप्त करण्याकरिता डेटा इंजिन
Comment[nb]=Datamotor for å hente forskjellige Dagens Bilder fra nettverket.
Comment[nds]=Datenkarn för't Halen vun verscheden Biller för Vundaag ut't Internet.
Comment[nl]=Gegevensengine voor het verkrijgen van online afbeeldingen-van-de-dag.
Comment[nn]=Datamotor for henting av dagens bilete
Comment[pl]=Silnik danych do pobierania różnych "obrazów dnia".
Comment[pt]=Motor de dados para obter diversas Imagens do Dia a nível 'online'.
Comment[pt_BR]=Mecanismo de dados para obter várias imagens do dia online.
Comment[ro]=Motor de date pentru obținerea Imaginii zilei din diverse locuri.
Comment[ru]=Источник различных «изображений дня» из сети
Comment[sk]=Nástroj na získavanie rôznych online obrázkov dňa.
Comment[sl]=Podatkovni pogon za pridobivanje raznih slik dneva s spleta.
Comment[sr]=Датомотор за добављање разних слика дана на вези.
Comment[sr@ijekavian]=Датомотор за добављање разних слика дана на вези.
Comment[sr@ijekavianlatin]=Datomotor za dobavljanje raznih slika dana na vezi.
Comment[sr@latin]=Datomotor za dobavljanje raznih slika dana na vezi.
Comment[sv]=Datagränssnitt för att hämta diverse dagens bilder från nätet.
Comment[tr]=Çeşitli çevrim içi Günün Resimleri için veri motoru.
Comment[uk]=Рушій даних для отримання різноманітних мережевих «Зображень дня»
Comment[vi]=Dụng cụ dữ liệu để lấy các "Ảnh của ngày" trực tuyến.
Comment[wa]=Éndjin di dnêyes pos awè sacwantès Imådjes do djoû so fyis.
Comment[x-test]=xxData Engine for getting various online Pictures of The Day.xx
Comment[zh_CN]=获得各种在线每日一图的数据引擎。
Comment[zh_TW]=取得多種線上本日圖片的資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=image-jpeg2000
X-KDE-Library=plasma_engine_potd

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=potd
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
