[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_wcpotdprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=wcpotd
Icon=

Name=Wikimedia Picture of the Day
Name[ca]=Imatge Wikimedia del dia
Name[fr]=Image du jour de Wikimedia
Name[hu]=A nap képe a Wikimedián
Name[nl]=Wikimedia afbeelding van de dag
Name[pl]=Obraz dnia Wikimedia
Name[sv]=Dagens bild från Wikimedia
Name[uk]=Зображення дня Wikimedia
Name[x-test]=xxWikimedia Picture of the Dayxx
Name[zh_TW]=本日維基百科圖片
Comment=Wcpotd Provider
Comment[ca]=Proveïdor Wcpotd
Comment[fr]=Fournisseur « WCPOTD »
Comment[hu]=Wcpotd-szolgáltató
Comment[nl]=Wcpotd-provider
Comment[pl]=Usługodawca Wcpotd
Comment[sv]=Tillhandahåll från Wcpotd
Comment[uk]=Постачальник даних Wcpotd
Comment[x-test]=xxWcpotd Providerxx
Comment[zh_TW]=Wcpotd 提供者
