[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaPoTD/Plugin
X-KDE-Library=plasma_potd_wcpotdprovider
X-KDE-PlasmaPoTDProvider-SuffixType=Date
X-KDE-PlasmaPoTDProvider-Identifier=wcpotd
Icon=

Name=Wikimedia Picture of the Day
Name[bs]=Wikimedijina slika dana
Name[ca]=Imatge Wikimedia del dia
Name[ca@valencia]=Imatge Wikimedia del dia
Name[cs]=Obrázek dne z Wikimedie
Name[da]=Dagens Wikimedia-billede
Name[de]=Bild des Tages von Wikimedia
Name[el]=Wikimedia φωτογραφία της ημέρας
Name[en_GB]=Wikimedia Picture of the Day
Name[es]=Imagen de Wikimedia del día
Name[et]=Wikimedia päevapilt
Name[fi]=Päivän Wikimedia-kuva
Name[fr]=Image du jour de Wikimedia
Name[ga]=Grianghraf Wikimedia an Lae
Name[gl]=Imaxe do día da Wikipedia
Name[hr]=Slika dana na Wikimediji
Name[hu]=A nap képe a Wikimedián
Name[it]=Immagine del giorno di Wikimedia
Name[ja]=Wikimedia 今日の写真
Name[kk]=Уикипедия "Тәулік суреті" (Wcpotd)
Name[km]=រូប​ភាព​​ប្រចាំ​ថ្ងៃ Wikimedia 
Name[ko]=오늘의 위키미디어 그림
Name[lv]=Wikimedia dienas attēls
Name[mr]=विकिमेडिया दिवसाचे चित्र
Name[nb]=Dagens Wikimedia-bilde
Name[nds]=Wikimedia-Bild för Vundaag
Name[nl]=Wikimedia afbeelding van de dag
Name[nn]=Dagens bilete frå Wikimedia
Name[pa]=ਵਿਕਿਮੀਡਿਆ ਅੱਜ ਦੀ ਤਸਵੀਰ
Name[pl]=Obraz dnia Wikimedia
Name[pt]=Imagem do Dia no Wikimedia
Name[pt_BR]=Imagem do dia da Wikimedia
Name[ro]=Imaginea zilei de pe Wikimedia
Name[ru]=Изображение дня Wikimedia
Name[sk]=Obrázok dňa z Wikimedie
Name[sl]=Wikimedijina slika dneva
Name[sr]=Викимедијина слика дана
Name[sr@ijekavian]=Викимедијина слика дана
Name[sr@ijekavianlatin]=Wikimedijina slika dana
Name[sr@latin]=Wikimedijina slika dana
Name[sv]=Dagens bild från Wikimedia
Name[tr]=Günün Wikimedia Resmi
Name[uk]=Зображення дня Wikimedia
Name[x-test]=xxWikimedia Picture of the Dayxx
Name[zh_CN]=每日一图(维基百科)
Name[zh_TW]=本日維基百科圖片
Comment=Wcpotd Provider
Comment[ar]=المزود Wcpotd
Comment[ast]=Fornidor de Wcpotd
Comment[bs]=Wcpotd dobavljač
Comment[ca]=Proveïdor Wcpotd
Comment[ca@valencia]=Proveïdor Wcpotd
Comment[cs]=Poskytovatel Wcpotd
Comment[da]=Wcpotd-udbyder.
Comment[de]=Wcpotd-Anbieter
Comment[el]=Πάροχος Wcpotd
Comment[en_GB]=Wcpotd Provider
Comment[es]=Proveedor de Wcpotd
Comment[et]=Wcpotdi pakkuja
Comment[fi]=Wcpotd-tarjoaja
Comment[fr]=Fournisseur « WCPOTD »
Comment[ga]=Soláthraí Wcpotd
Comment[gl]=Fornecedor de Wcpotd
Comment[hr]=Pružatelj Wcpotda
Comment[hu]=Wcpotd-szolgáltató
Comment[is]=Wcpotd þjónusta
Comment[it]=Fornitore Wcpotd
Comment[ja]=Wcpotd プロバイダ
Comment[kk]=Wcpotd таратушысы
Comment[km]=ក្រុមហ៊ុន​ផ្ដល់ Wcpotd
Comment[ko]=오늘의 위키미디어 그림 공급자
Comment[lt]=Wcpotd tiekėjas
Comment[lv]=Wcpotd piegādātājs
Comment[mr]=Wcpotd पुरवठाकर्ता
Comment[nb]=Wcpotd-leverandør
Comment[nds]=Wc-BiV-Anbeder
Comment[nl]=Wcpotd-provider
Comment[nn]=Wcpotd-tilbydar
Comment[pa]=Wcpotd ਦੇਣ ਵਾਲੇ
Comment[pl]=Usługodawca Wcpotd
Comment[pt]=Fornecedor do Wcpotd
Comment[pt_BR]=Fornecedor Wcpotd
Comment[ro]=Furnizor Wcpotd
Comment[ru]=Источник данных Wcpotd
Comment[sk]=Poskytovateľ Wcpotd
Comment[sl]=Ponudnik Wcpotd
Comment[sr]=Добављач ВпПОД
Comment[sr@ijekavian]=Добављач ВпПОД
Comment[sr@ijekavianlatin]=Dobavljač WpPOD
Comment[sr@latin]=Dobavljač WpPOD
Comment[sv]=Tillhandahåll från Wcpotd
Comment[tr]=Wcpotd Sağlayıcı
Comment[uk]=Постачальник даних Wcpotd
Comment[wa]=Ahesseu Wcpotd
Comment[x-test]=xxWcpotd Providerxx
Comment[zh_CN]=Wcpotd 提供方
Comment[zh_TW]=Wcpotd 提供者
