[Desktop Entry]
Encoding=UTF-8
Name=Fuzzy Clock
Name[ar]=ساعة تقريبية
Name[bs]=Neprecizni sat
Name[ca]=Rellotge aproximat
Name[ca@valencia]=Rellotge aproximat
Name[cs]=Nejasné hodiny
Name[da]=Unøjagtigt ur
Name[de]=Umgangssprachliche Uhr
Name[el]=Ασαφές ρολόι
Name[en_GB]=Fuzzy Clock
Name[es]=Reloj difuso
Name[et]=Segane kell
Name[eu]=Ordulari lausoa
Name[fi]=Epätarkka kello
Name[fr]=Horloge floue
Name[ga]=Clog Doiléir
Name[gl]=Reloxo impreciso
Name[he]=שעון לא מדויק
Name[hr]=Neizrazit sat
Name[hu]=Fuzzy óra
Name[is]=Ónákvæm klukka
Name[it]=Orologio confuso
Name[ja]=あいまい時計
Name[kk]=Жазбаша сағат
Name[km]=នាឡិកា​ស្រពិចស្រពិល
Name[ko]=퍼지 시계
Name[ku]=Demjimêra Şêlû
Name[lt]=Netikslus laikrodis
Name[lv]=Aptuvens pulkstenis
Name[mr]=फझी घड्याळ
Name[nb]=Muntlig klokke
Name[nds]=Bummelig-Klock
Name[nl]=Vage klok
Name[nn]=Uklar klokke
Name[pa]=ਫਜ਼ੀ ਘੜੀ
Name[pl]=Rozmyty zegar
Name[pt]=Relógio Difuso
Name[pt_BR]=Relógio aproximado
Name[ro]=Ceas evaziv
Name[ru]=Неточное время
Name[sk]=Približné hodiny
Name[sl]=Zgovorna ura
Name[sq]=Orë e Mjegullt
Name[sr]=одокативни сат
Name[sr@ijekavian]=одокативни сат
Name[sr@ijekavianlatin]=odokativni sat
Name[sr@latin]=odokativni sat
Name[sv]=Inexakt klocka
Name[th]=นาฬิกาแบบตรรกะพื้นฐาน
Name[tr]=Bulanık Saat
Name[uk]=Нечіткий годинник
Name[wa]=Ôrlodje a l' avirance
Name[x-test]=xxFuzzy Clockxx
Name[zh_CN]=模糊时钟
Name[zh_TW]=模糊時鐘
Comment=Time displayed in a less precise format
Comment[ar]=الوقت يظهر بتنسيق أقل دقة
Comment[bs]=Vrijeme prikazano na manje precizan način
Comment[ca]=Mostra l'hora en un format aproximat
Comment[ca@valencia]=Mostra l'hora en un format aproximat
Comment[cs]=Zobrazení času v nejasném formátu
Comment[da]=Tiden vist i et mindre præcist format.
Comment[de]=Zeigt die Zeit weniger genau an
Comment[el]=Εμφάνιση ώρας σε μια λιγότερο ακριβή μορφή
Comment[en_GB]=Time displayed in a less precise format
Comment[es]=Mostrar la hora en un formato menos preciso
Comment[et]=Aja näitamine mitte nii täpsel kujul
Comment[eu]=Ordua era lausoan bistaratua
Comment[fi]=Aika näytettynä epätarkassa muodossa
Comment[fr]=Heure affichée avec un format peu précis
Comment[ga]=Taispeáin an t-am i bhformáid níos lú beaichte
Comment[gl]=Mostra a hora nun formato impreciso
Comment[he]=השעה מוצגת בפורמט פחות מדייק
Comment[hr]=Vrijeme prikazano u manje preciznim oblicima
Comment[hu]=Kevésbé precíz formátumban megjelenített idő
Comment[is]=Birtir tímann á minna nákvæmu sniði
Comment[it]=Ora mostrata in modo meno preciso
Comment[ja]=時間をあいまいな形式で表示します
Comment[kk]=Уақытты жазу түрде көрсететін сағат
Comment[km]=បាន​បង្ហាញ​ពេលវេលា​នៅក្នុងទ្រង់ទ្រាយជាក់លាក់
Comment[ko]=개략적인 형태로 시간 보여주기
Comment[ku]=Dem di teşeya xuyakirina kêmtir de tê nîşandan
Comment[lt]=Laikas rodomas mažesnio tikslumo formatu
Comment[lv]=Rāda laiku mazāk precīzā formātā
Comment[mr]=कमी अचूकतेने वेळ दर्शविली जाते
Comment[nb]=Viser tiden i et mindre presist format
Comment[nds]=Tiet, wiest in en nich so akraat Formaat
Comment[nl]=De tijd in iets minder nauwkeurig formaat
Comment[nn]=Klokka – meir eller mindre nøyaktig
Comment[pl]=Wyświetla czas w mniej precyzyjnym formacie
Comment[pt]=Hora mostrada num formato menos exacto
Comment[pt_BR]=Hora exibida em formato menos preciso
Comment[ro]=Ora afișată într-un format mai puțin exact
Comment[ru]=Время в словесной записи
Comment[sk]=Čas zobrazený v menej presnom formáte
Comment[sl]=Čas je prikazan v ne preveč natančni obliki
Comment[sr]=Време приказано на мање прецизан начин
Comment[sr@ijekavian]=Вријеме приказано на мање прецизан начин
Comment[sr@ijekavianlatin]=Vrijeme prikazano na manje precizan način
Comment[sr@latin]=Vreme prikazano na manje precizan način
Comment[sv]=Tidvisning med ett mindre exakt format
Comment[th]=แสดงเวลาในรูปแบบที่มีความแม่นยำน้อย
Comment[tr]=Saati daha az belirli bir şekilde göster
Comment[uk]=Час, показаний у менш точному форматі
Comment[wa]=L' eure håynêye dins ene cogne moens precise
Comment[x-test]=xxTime displayed in a less precise formatxx
Comment[zh_CN]=以不精确格式显示的时间
Comment[zh_TW]=以較不精確的方式顯示時間

Icon=preferences-system-time
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.fuzzyclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Date and Time
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
