[Desktop Entry]
Name=Heron
Name[es]=Garza
Name[fr]=Héron
Name[km]=ក្រសារ
Name[sv]=Häger
Name[uk]=Герон
Name[x-test]=xxHeronxx
Name[zh_CN]=鹭
Comment=Simple, smooth theme
Comment[el]=Απλό, ομαλό θέμα
Comment[es]=Un tema suave y simple
Comment[et]=Lihtne mahe teema
Comment[fr]=Thème simple et lisse
Comment[gl]=Un tema simples
Comment[km]=ស្បែក​ធម្មតា រលោង
Comment[lv]=Vienkārša, gluda tēma
Comment[nds]=Eenfach un week Muster
Comment[pt]=Tema simples e suave
Comment[pt_BR]=Tema simples e suave
Comment[sl]=Preprosta in uglajena tema
Comment[sv]=Enkelt, jämnt tema
Comment[tr]=Basit, düz tema
Comment[uk]=Проста, гладенька тема
Comment[x-test]=xxSimple, smooth themexx
Comment[zh_CN]=简单、流畅的主题
Comment[zh_TW]=簡單，平順的主題

X-KDE-PluginInfo-Author=Lukas Gianinazzi
X-KDE-PluginInfo-Email=redict-dot-info(at)gmx.com
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=pre0.32
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
