[Desktop Entry]
Icon=plasmaapplet-shelf

Name=Shelf
Name[bs]=Shelf
Name[ca]=Shelf
Name[ca@valencia]=Shelf
Name[cs]=Polička
Name[da]=Hylde
Name[de]=Regal
Name[el]=Ράφι
Name[en_GB]=Shelf
Name[es]=Estante
Name[et]=Sahtel
Name[fi]=Hylly
Name[fr]=Présentoir
Name[ga]=Seilf
Name[gl]=Estante
Name[hr]=Polica
Name[hu]=Fiók
Name[it]=Mensola
Name[kk]=Сөре
Name[km]=ធ្នើរ
Name[ko]=선반
Name[lt]=Lentyna
Name[lv]=Plaukts
Name[mr]=कप्पा
Name[nb]=Hylle
Name[nds]=Boord
Name[nl]=Rek
Name[pa]=ਸੈਲਫ਼
Name[pl]=Półka
Name[pt]=Concha
Name[pt_BR]=Estante
Name[ro]=Poliță
Name[ru]=Полка
Name[sk]=Polica
Name[sl]=Polica
Name[sr]=полица
Name[sr@ijekavian]=полица
Name[sr@ijekavianlatin]=polica
Name[sr@latin]=polica
Name[sv]=Lägg undan
Name[tr]=Raf
Name[ug]=كىتاب تەكچىسى
Name[uk]=Полиця
Name[x-test]=xxShelfxx
Name[zh_CN]=书架
Name[zh_TW]=書架

Comment=

Type=Service

X-Plasma-DropMimeTypes=text/x-lancelotpart,inode/directory

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_lancelot_part
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic(at)kde.org
X-KDE-PluginInfo-Name=lancelot_part
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=http://lancelot.fomentgroup.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
