[Desktop Entry]
Name=Disk Quota
Name[ca]=Quota de disc
Name[nl]=Schijfquota
Name[pt_BR]=Quota de disco
Name[sv]=Diskkvot
Name[uk]=Квота на диску
Name[x-test]=xxDisk Quotaxx
Comment=Shows details about disk quota
Comment[ca]=Mostra els detalls de la quota de disc
Comment[nl]=Toont details van schijfquota
Comment[pt_BR]=Mostra detalhes sobre a quota do disco
Comment[sv]=Visar information om diskkvot
Comment[uk]=Показати дані щодо квот на диску
Comment[x-test]=xxShows details about disk quotaxx
Icon=quota
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Dominik Haumann
X-KDE-PluginInfo-Email=dhaumann@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.diskquota
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
X-Plasma-StandAloneApp=true
