[Desktop Entry]
Name=Color Picker
Name[ar]=منتق الألوان
Name[ast]=Seleutor de colores
Name[az]=Rəng seçici
Name[bs]=Birač boja
Name[ca]=Selector de color
Name[ca@valencia]=Selector de color
Name[cs]=Kapátko
Name[csb]=Wrbiérk farwë
Name[da]=Farvevælger
Name[de]=Farbauswahl
Name[el]=Επιλογέας χρωμάτων
Name[en_GB]=Colour Picker
Name[es]=Selector de color
Name[et]=Värvivalija
Name[eu]=Kolore hautatzailea
Name[fi]=Värivalitsin
Name[fr]=Sélecteur de couleurs
Name[ga]=Roghnóir Dathanna
Name[gl]=Selector de cores
Name[he]=בוחור הצבעים
Name[hr]=Obirač boja
Name[hu]=Színválasztó
Name[ia]=Selectionator de color
Name[id]=Penukil Warna
Name[is]=Litatína
Name[it]=Acchiappa colore
Name[ja]=カラーピッカー
Name[kk]=Түс тергіші
Name[km]=ឧបករណ៍​ជ្រើស​ពណ៌
Name[ko]=색상 선택기
Name[ku]=Bijarkerê Rengê
Name[lt]=Spalvų parinkiklis
Name[lv]=Krāsu izvēlētājs
Name[mr]=रंग निर्वाचक
Name[ms]=Pemungut Warna
Name[nb]=Fargevelger
Name[nds]=Klöörköör
Name[nl]=Kleurenkiezer
Name[nn]=Fargeveljar
Name[pa]=ਰੰਗ ਚੋਣਕਾਰ
Name[pl]=Wybór koloru
Name[pt]=Extracção de Cores
Name[pt_BR]=Seletor de cores
Name[ro]=Selector de culori
Name[ru]=Выбор цвета
Name[sk]=Výber farby
Name[sl]=Izbirnik barv
Name[sq]=Zgjedhës i ngjyrës
Name[sr]=бирач боја
Name[sr@ijekavian]=бирач боја
Name[sr@ijekavianlatin]=birač boja
Name[sr@latin]=birač boja
Name[sv]=Färghämtare
Name[tg]=Чинандаи ранг
Name[th]=เครื่องมือเลือกสี
Name[tr]=Renk Seçici
Name[ug]=رەڭ ئالغۇچ
Name[uk]=Піпетка
Name[vi]=Trình chọn màu
Name[wa]=Apiceu d' coleur
Name[x-test]=xxColor Pickerxx
Name[zh_CN]=颜色提取器
Name[zh_TW]=顏色挑選器
Comment=Pick a color from the desktop
Comment[ar]=اختر لونا من سطح المكتب
Comment[ast]=Escueye un color del escritoriu
Comment[az]=Rəngi İş Masasından seçin
Comment[bs]=Izaberite boju sa površi
Comment[ca]=Selecciona un color de l'escriptori
Comment[ca@valencia]=Selecciona un color de l'escriptori
Comment[cs]=Vzít barvu z plochy
Comment[csb]=Wëbiérzë farwã z pùltu
Comment[da]=Pluk en farve fra skrivebordet.
Comment[de]=Farbwerte von einer Stelle auf der Arbeitsfläche auswählen
Comment[el]=Επιλογή ενός χρώματος από την επιφάνεια εργασίας
Comment[en_GB]=Pick a colour from the desktop
Comment[es]=Seleccionar un color del escritorio
Comment[et]=Värvi valimine otse töölaualt
Comment[eu]=Hartu kolore bat mahaigainetik
Comment[fi]=Poimi väri työpöydältä
Comment[fr]=Permet de sélectionner une couleur depuis votre bureau
Comment[ga]=Roghnaigh dath ón deasc
Comment[gl]=Escolle unha cor do escritorio
Comment[he]=בחר צבע משולחן העבודה
Comment[hr]=Birajte boju s radne površine
Comment[hu]=Színválasztás az asztalról
Comment[id]=Nukil sebuah warna dari desktop
Comment[is]=Plokkar lit af skjáborði
Comment[it]=Ottieni un colore dal desktop
Comment[ja]=デスクトップから色を採取します
Comment[kk]=Түсті үстелден шұқып теру құралы
Comment[km]=រក​ពណ៌​ពី​ផ្ទៃតុ
Comment[ko]=바탕 화면의 색상 가져오기
Comment[ku]=Jê sermasê rengekî hilbijêre
Comment[lt]=Pasirinkti spalvą iš darbalaukio
Comment[lv]=Ļauj izvēlēties krāsu no darbvirsmas
Comment[mr]=डेस्कटॉप वरील रंग निवडा
Comment[nb]=Plukk en farge fra skrivebordet
Comment[nds]=En Klöör vun den Schriefdisch insammeln
Comment[nl]=Kies een kleur van het bureaublad
Comment[nn]=Hent fargar frå skrivebordet
Comment[pa]=ਡੈਸਕਟਾਪ ਤੋਂ ਰੰਗ ਚੁਣੋ
Comment[pl]=Wybiera kolory z pulpitu
Comment[pt]=Escolha uma cor no ambiente de trabalho
Comment[pt_BR]=Escolha uma cor na área de trabalho
Comment[ro]=Alegeți o culoare de pe birou
Comment[ru]=Выбор цвета из точки рабочего стола
Comment[sk]=Výber farby z plochy
Comment[sl]=Izberite barvo z namizja
Comment[sr]=Изаберите боју са површи
Comment[sr@ijekavian]=Изаберите боју са површи
Comment[sr@ijekavianlatin]=Izaberite boju sa površi
Comment[sr@latin]=Izaberite boju sa površi
Comment[sv]=Hämta en färg från skrivbordet
Comment[tg]=Рангеро аз мизи корӣ мечинад
Comment[th]=เลือกสีได้ง่าย ๆ ผ่านทางพื้นที่ทำงาน
Comment[tr]=Ekranda gördüğünüz herhangi bir rengi seçmek için
Comment[uk]=Вибір кольору зі стільниці
Comment[vi]=Chọn một màu trên bàn làm việc
Comment[wa]=Apice ene coleur do scribanne
Comment[x-test]=xxPick a color from the desktopxx
Comment[zh_CN]=从桌面拾取颜色
Comment[zh_TW]=從桌面上挑選顏色
Icon=color-picker
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-StandAloneApp=true

X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-Name=org.kde.plasma.colorpicker
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://userbase.kde.org/Plasma/ColorPicker
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-FormFactors=desktop
