[Desktop Entry]
Name=Silicon
Name[es]=Silicio
Name[fr]=Silicone
Name[gl]=Silicio
Name[km]=ស៊ីលីខូន
Name[nds]=Silizium
Name[pt]=Silicone
Name[pt_BR]=Silicone
Name[sv]=Kisel
Name[uk]=Силікон
Comment=Transparent slim theme
Comment[es]=Tema delgado transparente
Comment[fr]=Thème transparent et fin
Comment[gl]=Un tema transparente
Comment[km]=ស្បែក​ស្លីម​ថ្លា
Comment[lv]=Caurspīdīga slaida tēma
Comment[nds]=Dörschienen gau Muster
Comment[pt]=Tema leve e transparente
Comment[pt_BR]=Tema leve e transparente
Comment[sv]=Genomskinligt smalt tema
Comment[tr]=Şeffaf ince tema
Comment[uk]=Прозора струнка тема
Comment[zh_TW]=透明的主題

X-KDE-PluginInfo-Author=Lukas Gianinazzi
X-KDE-PluginInfo-Email=redict-dot-info(at)gmx.com
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=pre0.32
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
