[Desktop Entry]
Encoding=UTF-8
Name=LCD Weather Station (QML)
Name[bs]=LCD Meteroloska stanica (QML)
Name[ca]=Estació meteorològica LCD (QML)
Name[ca@valencia]=Estació meteorològica LCD (QML)
Name[cs]=LCD meteostanice (QML)
Name[da]=LCD-vejrstation (QML)
Name[de]=LCD-Wetterstation (QML)
Name[el]=Μετεωρολογικός σταθμός LCD (QML)
Name[es]=Estación meteorológica LCD (QML)
Name[et]=LCD ilmateade (QML)
Name[fi]=LCD-sääasema (QML)
Name[fr]=Station météo LCD (QML)
Name[ga]=Stáisiún Aimsire LCD (QML)
Name[gl]=Estación meteorolóxica LCD (QML)
Name[hu]=LCD időjárásjelző állomás (QML)
Name[it]=Stazione meteorologica LCD (QML)
Name[kk]=СК-дисплейдегі ауа райы (QML)
Name[lt]=LCD orų stotelė (QML)
Name[mr]=LCD हवामान स्थानक (QML)
Name[nb]=LCD værstasjon (QML)
Name[nl]=LCD weerstation (QML)
Name[pa]=LCD ਮੌਸਮ ਸਟੇਸ਼ਨ (QML)
Name[pl]=Stacja pogodowa LCD (QML)
Name[pt]=Estação Meteorológica LCD (QML)
Name[pt_BR]=Estação meteorológica LCD (QML)
Name[ro]=Stație meteo ECL (QML)
Name[ru]=ЖКД-гидрометеостанция (порт на QML)
Name[sk]=LCD meteorologická stanica (QML)
Name[sl]=LCD vremenska postaja (QML)
Name[sr]=ЛЦД метеостаница (КуМЛ)
Name[sr@ijekavian]=ЛЦД метеостаница (КуМЛ)
Name[sr@ijekavianlatin]=LCD meteostanica (QML)
Name[sr@latin]=LCD meteostanica (QML)
Name[sv]=LCD-väderstation (QML)
Name[tr]=LCD Hava Durumu İstasyonu (QML)
Name[uk]=Метеорологічна станція на дисплеї (QML)
Name[x-test]=xxLCD Weather Station (QML)xx
Name[zh_CN]=液晶气象站 (QML)
Name[zh_TW]=LCD 氣象站 (QML)
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=accessories-dictionary
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=250,350
X-KDE-PluginInfo-Author=Luís Gabriel Lima
X-KDE-PluginInfo-Email=lampih@gmail.com
X-KDE-PluginInfo-Name=org.kde.lcdweather
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
