[Desktop Entry]
Encoding=UTF-8
Name=LCD Weather Station (QML)
Name[ca]=Estació meteorològica LCD (QML)
Name[fr]=Station météo LCD (QML)
Name[hu]=LCD időjárásjelző állomás (QML)
Name[nl]=LCD weerstation (QML)
Name[pl]=Stacja pogodowa LCD (QML)
Name[sv]=LCD-väderstation (QML)
Name[uk]=Метеорологічна станція на дисплеї (QML)
Name[x-test]=xxLCD Weather Station (QML)xx
Name[zh_TW]=LCD 氣象站 (QML)
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=accessories-dictionary
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Luís Gabriel Lima
X-KDE-PluginInfo-Email=lampih@gmail.com
X-KDE-PluginInfo-Name=org.kde.lcdweather
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
