[Desktop Entry]
Name=Calculator
Name[ar]=آلة حاسبة
Name[ast]=Calculadora
Name[bs]=Kalkulator
Name[ca]=Calculadora
Name[ca@valencia]=Calculadora
Name[cs]=Kalkulačka
Name[da]=Lommeregner
Name[de]=Rechner
Name[el]=Αριθμομηχανή
Name[en_GB]=Calculator
Name[eo]=Kalkulilo
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[eu]=Kalkulagailua
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[ga]=Áireamhán
Name[gl]=Calculadora
Name[he]=מחשבון
Name[hr]=Kalkulator
Name[hu]=Grafikus számológép
Name[is]=Reiknivél
Name[it]=Calcolatrice
Name[ja]=計算機
Name[kk]=Калькулятор
Name[km]=ម៉ាស៊ីន​គិតលេខ
Name[ko]=계산기
Name[ku]=Makîneya Hesaban
Name[lt]=Skaičiuoklis
Name[lv]=Kalkulators
Name[mr]=गणकयंत्र
Name[nb]=Kalkulator
Name[nds]=Taschenreekner
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[pa]=ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ro]=Calculator
Name[ru]=Калькулятор
Name[sk]=Kalkulačka
Name[sl]=Računalo
Name[sq]=Makina Llogaritëse
Name[sr]=калкулатор
Name[sr@ijekavian]=калкулатор
Name[sr@ijekavianlatin]=kalkulator
Name[sr@latin]=kalkulator
Name[sv]=Miniräknare
Name[th]=เครื่องคิดเลข
Name[tr]=Hesap Makinesi
Name[ug]=ھېسابلىغۇچ
Name[uk]=Калькулятор
Name[wa]=Carculete
Name[x-test]=xxCalculatorxx
Name[zh_CN]=计算器
Name[zh_TW]=計算機
Comment=Calculate simple sums
Comment[ar]=احسب عمليات جمع بسيطة
Comment[ast]=Calcula sumes cencielles
Comment[bs]=Izračunajte jednostavne izraze
Comment[ca]=Calcula sumes senzilles
Comment[ca@valencia]=Calcula sumes senzilles
Comment[cs]=Jednoduché sčítání
Comment[da]=Beregn simple summer.
Comment[de]=Für kleine Rechenaufgaben
Comment[el]=Υπολογισμός απλών πράξεων
Comment[en_GB]=Calculate simple sums
Comment[es]=Calcular sumas sencillas
Comment[et]=Lihtne kalkulaator
Comment[eu]=Gehiketa errazak kalkulatu
Comment[fi]=Laske yksinkertaisia laskuja
Comment[fr]=Calcule des sommes simples
Comment[ga]=Áirigh suimeanna simplí
Comment[gl]=Calcula sumas simples
Comment[he]=מחשב סכומים פשוטים
Comment[hr]=Izračunaj jednostavne sume
Comment[hu]=Egyszerű számológép
Comment[is]=Reiknar einfaldar aðgerðir
Comment[it]=Calcola semplici somme
Comment[ja]=簡単な合計計算ができます
Comment[kk]=Қарапайым есептерді шығару
Comment[km]=គណនា​ផល​បូក​ធម្មតា
Comment[ko]=간단한 계산기
Comment[ku]=Berhevkirinên hêsan hesab bike
Comment[lt]=Paprasti skaičiavimai
Comment[lv]=Aprēķina vienkāršas summas
Comment[mr]=सोपी गणना करतो
Comment[nb]=Regn ut enkle regnestykker
Comment[nds]=Eenfache Saken utreken
Comment[nl]=Eenvoudige berekeningen
Comment[nn]=Grafisk kalkulator
Comment[pa]=ਸਧਾਰਨ ਜੋੜ ਕੱਢੋ
Comment[pl]=Oblicza proste sumy
Comment[pt]=Calcular somas simples
Comment[pt_BR]=Calcula funções matemáticas básicas
Comment[ro]=Calculează sume simple
Comment[ru]=Вычисление простых выражений
Comment[sk]=Výpočet jednoduchých súm
Comment[sl]=Izračuna preproste vsote
Comment[sr]=Израчунајте једноставне изразе
Comment[sr@ijekavian]=Израчунајте једноставне изразе
Comment[sr@ijekavianlatin]=Izračunajte jednostavne izraze
Comment[sr@latin]=Izračunajte jednostavne izraze
Comment[sv]=Beräkna enkla summor
Comment[th]=คำนวณหาค่าที่ง่าย ๆ
Comment[tr]=Basit hesaplamalar yapın
Comment[uk]=Обчисліть прості суми
Comment[wa]=Cårculez des ptits carculs
Comment[x-test]=xxCalculate simple sumsxx
Comment[zh_CN]=计算简单的求和
Comment[zh_TW]=計算簡單的算式
Icon=accessories-calculator
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-PluginInfo-Author=Henry Stanaland, Davide Bettio
X-KDE-PluginInfo-Email=stanaland@gmail.com, bettio@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.calculator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/calculator.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
