[Desktop Entry]
Name=Calculator
Comment=Calculate simple sums
Icon=accessories-calculator
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-Library=plasma_applet_calculator
X-KDE-PluginInfo-Author=Henry Stanaland
X-KDE-PluginInfo-Email=stanaland@gmail.com
X-KDE-PluginInfo-Name=calculator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,250
X-Plasma-MainScript=ui/calculator.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
