[Desktop Entry]
Name=Remember The Milk
Name[ar]=Remember The Milk
Name[ca]=Remember The Milk
Name[cs]=Remember The Milk
Name[da]=Remember The Milk
Name[de]=Remember The Milk
Name[en_GB]=Remember The Milk
Name[es]=Remember The Milk
Name[et]=Remember The Milk
Name[fr]=Remember The Milk
Name[gl]=Acórdate do leite
Name[hu]=Remember the Milk
Name[is]=Muna eftir mjólkinni
Name[it]=Ricorda il latte
Name[ja]=Remember The Milk
Name[km]=ចងចាំ Milk
Name[lt]=Nepamiršk pieno
Name[lv]=Remember The Milk
Name[nb]=Husk melk
Name[nds]=Dor-An-Denken
Name[nl]=Remember The Milk
Name[nn]=Remember The Milk
Name[pl]=Remember The Milk
Name[pt]=Recordar as Tarefas
Name[pt_BR]=Remember The Milk
Name[ro]=Nu uita laptele
Name[sk]=Remember The Milk
Name[sl]=Remember The Milk
Name[sr]=Не заборави млеко
Name[sr@latin]=Ne zaboravi mleko
Name[sv]=Remember The Milk
Name[tr]=Remember The Milk
Name[uk]=Remember The Milk
Name[wa]=Si sovni do laecea
Name[x-test]=xxRemember The Milkxx
Name[zh_CN]=Remember The Milk
Name[zh_TW]=Remember The Milk
Comment=Remember The Milk Todo list applet
Comment[ar]=بريمج قائمة المهام Remember The Milk 
Comment[ca]=Miniaplicació per la llista de coses pendents de «Remember The Milk»
Comment[cs]=Applet úkolů Remember The Milk
Comment[da]=Remember The Milk er en opgaveliste-applet.
Comment[de]=Todo-Listen-Miniprogramm für Remember the Milk
Comment[en_GB]=Remember The Milk Todo list applet
Comment[es]=Miniaplicación de tareas pendientes Remember The Milk
Comment[et]=Remember The Milk ülesannete nimekirja aplett
Comment[fr]=Pense-bête pour une liste de tâches
Comment[gl]=Applet de lista de tarefas pendentes «Acórdate do leite»
Comment[hu]=Remember the Milk feladatlista
Comment[is]=Smáforritið 'Muna eftir mjólkinni' geralisti
Comment[it]=Applet delle cose da fare Ricorda il latte
Comment[ja]=Remember The Milk の To-Do リストアプレット
Comment[km]=ចងចាំអាប់ភ្លេត​បញ្ជី​ការងារ​ត្រូវ​ធ្វើ Milk
Comment[lt]=Užduočių sąrašo valdiklis „Nepamiršk pieno“
Comment[lv]=Remember The Milk darāmo darbu saraksta sīkrīks
Comment[nb]=Husk melk – miniprogram for gjøreliste
Comment[nds]=Opgavenlist-Lüttprogramm "Dor An Denken"
Comment[nl]=Applet voor takenlijst van Remember The Milk
Comment[nn]=Hugselista Remember The Milk
Comment[pl]=Lista rzeczy do zrobienia Remember The Milk
Comment[pt]='Applet' de lista de tarefas e itens por-fazer
Comment[pt_BR]=Miniaplicativo de lista de tarefas do Remember The Milk
Comment[ro]=Miniaplicație cu listă de sarcini Nu uita laptele
Comment[sk]=Zoznam úloh z Remember The Milk
Comment[sl]=Gradnik za opravila na Remember The Milk
Comment[sr]=Аплет списка обавеза на Не заборави млеку
Comment[sr@latin]=Aplet spiska obaveza na Ne zaboravi mleku
Comment[sv]=Miniprogram med lista över Remember The Milk-aktiviteter
Comment[tr]=Remember The Milk Yapılacaklar listesi programcığı
Comment[uk]=Аплет списку завдань Remember The Milk
Comment[wa]=Aplikete des afés Si sovni do laecea
Comment[x-test]=xxRemember The Milk Todo list appletxx
Comment[zh_CN]=Remember The Milk 待办清单小程序
Comment[zh_TW]=Remember The Milk 待辦清單小程式
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
Icon=basket

X-KDE-Library=plasma_applet_rtm
X-KDE-PluginInfo-Author=Andrew Stromme
X-KDE-PluginInfo-Email=astromme@chatonka.com
X-KDE-PluginInfo-Name=plasma_applet_rtm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://blog.chatonka.com
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
