[Desktop Entry]
Name=Remember The Milk
Name[pt]=Recordar as Tarefas
Comment=Remember The Milk Todo list applet
Comment[pt]='Applet' de lista de tarefas e itens por-fazer
Comment[pt_BR]=Miniaplicativo de lista de tarefas do Remember The Milk
Comment[sv]=Miniprogram med lista över Remember The Milk-aktiviteter
Comment[uk]=Аплет списку завдань Remember The Milk
Comment[zh_CN]=Remember The Milk 待办清单小程序
Comment[zh_TW]=Remember The Milk 待辦清單小程式
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
Icon=basket

X-KDE-Library=plasma_applet_rtm
X-KDE-PluginInfo-Author=Andrew Stromme
X-KDE-PluginInfo-Email=astromme@chatonka.com
X-KDE-PluginInfo-Name=plasma_applet_rtm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://blog.chatonka.com
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
