[Desktop Entry]
Encoding=UTF-8
Name=Eyes
Name[de]=Augen
Name[el]=Μάτια
Name[gl]=Ollos
Name[nds]=Ogen
Name[nl]=Ogen
Name[pt]=Olhos
Name[pt_BR]=Olhos
Name[ru]=Глазки
Name[sv]=Ögon
Name[uk]=Очі
Name[zh_CN]=眼睛
Comment=XEyes clone
Comment[de]=XEyes-Klon
Comment[el]=Κλώνος του XEyes
Comment[gl]=Clone do XEyes
Comment[nds]=XEyes-Kloon
Comment[nl]=Kloon van XEyes
Comment[pt]=Clone do XEyes
Comment[pt_BR]=Clone do XEyes
Comment[ru]=Аналог программы XEyes
Comment[sv]=Klon av Xeyes
Comment[tr]=XEyes Kopyası
Comment[uk]=Клон XEyes
Comment[zh_CN]=XEyes 克隆
Comment[zh_TW]=XEyes 的複製品
Icon=xeyes
Type=Service
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_eyes
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@kde.org
X-KDE-PluginInfo-Name=eyes
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPL
