[Desktop Entry]
Encoding=UTF-8
Name=Eyes
Comment=XEyes clone
Icon=xeyes
Type=Service
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_eyes
X-KDE-PluginInfo-Author=Olivier Goffart
X-KDE-PluginInfo-Email=ogoffart@kde.org
X-KDE-PluginInfo-Name=eyes
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPL
