[Desktop Entry]
Encoding=UTF-8
Name=Grouping Plasmoid
Name[ca]=Plasmoide d'agrupació
Name[ca@valencia]=Plasmoide d'agrupació
Name[de]=Gruppierung von Miniprogrammen
Name[el]=Πλασμοειδές ομαδοποίησης
Name[en_GB]=Grouping Plasmoid
Name[es]=Plasmoide de agrupamiento
Name[eu]=Taldekatzeko plasmoidea
Name[it]=Plasmoide di raggruppamento
Name[nl]=Plasmoid-groepering
Name[pl]=Plazmoid grupujący
Name[pt]=Plasmóide de Agrupamento
Name[sk]=Zoskupovací plazmoid
Name[sr]=групишући плазмоид
Name[sr@ijekavian]=групишући плазмоид
Name[sr@ijekavianlatin]=grupišući plazmoid
Name[sr@latin]=grupišući plazmoid
Name[sv]=Grupperingsplasmoid
Name[uk]=Плазмоїд групування
Name[x-test]=xxGrouping Plasmoidxx
Name[zh_CN]=分组小部件
Icon=preferences-desktop-notification
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=davidedmundsonkde.org
X-KDE-PluginInfo-Name=org.kde.plasma.private.grouping
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-ContainmentType=Panel
#this is the internal implementation: can't be loaded directly
NoDisplay=true
