[Desktop Entry]
Name=Quicklaunch
Name[ar]=إطلاق سريع
Name[ca]=Quicklaunch
Name[ca@valencia]=Quicklaunch
Name[cs]=Rychlé spuštění
Name[da]=Kvikstart
Name[de]=Schnellstarter
Name[el]=Γρήγορη εκτέλεση
Name[en_GB]=Quicklaunch
Name[es]=Lanzamiento rápido
Name[et]=Kiirkäivitaja
Name[eu]=Quicklaunch
Name[fi]=Pikakäynnistin
Name[fr]=Lancement rapide
Name[gl]=Quicklaunch
Name[he]=הפעלה מהירה
Name[hu]=Gyorsindító
Name[ia]=Quicklaunch (lancea rapidemente)
Name[it]=Avvio rapido
Name[ko]=빠른 실행
Name[lt]=Greitas paleidimas
Name[nl]=Snelstarten
Name[nn]=Snøggstartar
Name[pl]=Szybkie uruchamianie
Name[pt]=Lançamento Rápido
Name[pt_BR]=Lançamento rápido
Name[ru]=Панель запуска
Name[sk]=Rýchle spustenie
Name[sl]=Hitri zagon
Name[sr]=брзокрет
Name[sr@ijekavian]=брзокрет
Name[sr@ijekavianlatin]=brzokret
Name[sr@latin]=brzokret
Name[sv]=Snabbstart
Name[tr]=Hızlı başlat
Name[uk]=Швидкий запуск
Name[x-test]=xxQuicklaunchxx
Name[zh_CN]=快速启动
Name[zh_TW]=快速啟動

Comment=Launch your favourite Applications
Comment[ar]=أطلِق تطبيقاتك المفضّلة
Comment[ca]=Llança les vostres aplicacions preferides
Comment[ca@valencia]=Llança les vostres aplicacions preferides
Comment[cs]=Spouštějte své oblíbené aplikace
Comment[da]=Start dine favoritprogrammer
Comment[de]=Ermöglicht den Aufruf Ihrer Lieblingsprogramme
Comment[el]=Εκτελέστε τις αγαπημένες σας εφαρμογές
Comment[en_GB]=Launch your favourite Applications
Comment[es]=Lanzador para sus aplicaciones favoritas
Comment[et]=Lemmikrakenduste käivitaja
Comment[eu]=Abiarazi zure gogoko aplikazioak
Comment[fi]=Käynnistä suosikkisovelluksiasi
Comment[fr]=Lanceur permettant de démarrer vos applications préférées
Comment[gl]=Inicia os seus aplicativos favoritos
Comment[he]=פתח את היישומים המעודפים עלך
Comment[hu]=Kedvenc alkalmazásainak indítása
Comment[ia]=Lancea tu applicationes favorite
Comment[it]=Avvia le tue applicazioni preferite
Comment[ko]=즐겨 찾는 프로그램 실행
Comment[lt]=Paleisti mėgstamiausias programas
Comment[nl]=Uw favoriete programma's starten
Comment[nn]=Start favorittprogramma dine
Comment[pl]=Uruchamia ulubione programy
Comment[pt]=Lança as suas aplicações favoritas
Comment[pt_BR]=Executa seus aplicativos favoritos
Comment[ru]=Быстрый запуск избранных приложений
Comment[sk]=Rýchle spustenie obľúbených aplikácií
Comment[sl]=Hitri zagon priljubljenih programov
Comment[sr]=Покрећите омиљене програме
Comment[sr@ijekavian]=Покрећите омиљене програме
Comment[sr@ijekavianlatin]=Pokrećite omiljene programe
Comment[sr@latin]=Pokrećite omiljene programe
Comment[sv]=Start dina favoritprogram
Comment[tr]=Favori uygulamalarınızı çalıştırın
Comment[uk]=Запуск ваших улюблених програм
Comment[x-test]=xxLaunch your favourite Applicationsxx
Comment[zh_CN]=启动您最常用的程序
Comment[zh_TW]=啟動您最愛的應用程式

Icon=fork
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Name=org.kde.plasma.quicklaunch
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Author=David Rosca
X-KDE-PluginInfo-Email=nowrep@gmail.com
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=desktop
