[Desktop Entry]
Name=Quicklaunch
Name[nl]=Snelstarten
Name[pt]=Lançamento Rápido
Name[pt_BR]=Lançamento rápido
Name[sv]=Snabbstart
Name[uk]=Швидкий запуск
Name[x-test]=xxQuicklaunchxx

Comment=Launch your favourite Applications
Comment[nl]=Uw favoriete programma's starten
Comment[pt]=Lança as suas aplicações favoritas
Comment[pt_BR]=Executa seus aplicativos favoritos
Comment[sv]=Start dina favoritprogram
Comment[uk]=Запуск ваших улюблених програм
Comment[x-test]=xxLaunch your favourite Applicationsxx

Icon=fork
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Name=org.kde.plasma.quicklaunch
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Author=David Rosca
X-KDE-PluginInfo-Email=nowrep@gmail.com
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

