[Desktop Entry]
Name=Quicklaunch

Comment=Launch your favourite Applications

Icon=fork
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Name=org.kde.plasma.quicklaunch
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Author=David Rosca
X-KDE-PluginInfo-Email=nowrep@gmail.com
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

