[Desktop Entry]
Type=Service
Name=Virus
Name[ar]=فيروس
Name[el]=Ιός
Name[et]=Viirus
Name[is]=Vírus
Name[km]=វីរុស
Name[lv]=Vīruss
Name[pt]=Vírus
Name[pt_BR]=Vírus
Name[sr]=Вирус
Name[tr]=Virüs
Name[uk]=Вірус
Name[wa]=Waerbea
Name[x-test]=xxVirusxx
Name[zh_CN]=病毒
Name[zh_TW]=病毒
Icon=image-jpeg
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_virus
X-KDE-PluginInfo-Author=Beat Wolf
X-KDE-PluginInfo-Email=asraniel@fryx.ch
X-KDE-PluginInfo-Name=virus
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
