[Desktop Entry]
Type=Service
Name=Virus
Name[ar]=فيروس
Name[ast]=Virus
Name[bs]=Virus
Name[ca]=Virus
Name[ca@valencia]=Virus
Name[cs]=Virus
Name[da]=Virus
Name[de]=Virus
Name[el]=Ιός
Name[en_GB]=Virus
Name[es]=Virus
Name[et]=Viirus
Name[fi]=Virus
Name[fr]=Virus
Name[gl]=Virus
Name[hr]=Virus
Name[hu]=Vírus
Name[is]=Vírus
Name[it]=Virus
Name[ja]=ウイルス
Name[kk]=Вирус
Name[km]=វីរុស
Name[ko]=바이러스
Name[lt]=Virusas
Name[lv]=Vīruss
Name[mr]=व्हायरस
Name[nb]=Virus
Name[nds]=Virus
Name[nl]=Virus
Name[nn]=Virus
Name[pa]=ਵਾਇਰਸ
Name[pl]=Wirus
Name[pt]=Vírus
Name[pt_BR]=Vírus
Name[ro]=Virus
Name[ru]=Вирус
Name[sk]=Vírus
Name[sl]=Virus
Name[sq]=Virus
Name[sr]=вирус
Name[sr@ijekavian]=вирус
Name[sr@ijekavianlatin]=virus
Name[sr@latin]=virus
Name[sv]=Virus
Name[th]=ไวรัส
Name[tr]=Virüs
Name[uk]=Вірус
Name[wa]=Waerbea
Name[x-test]=xxVirusxx
Name[zh_CN]=病毒
Name[zh_TW]=病毒
Icon=image-jpeg
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_virus
X-KDE-PluginInfo-Author=Beat Wolf
X-KDE-PluginInfo-Email=asraniel@fryx.ch
X-KDE-PluginInfo-Name=virus
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
