[Desktop Entry]
Name=Now Playing
Name[ar]=المشغل الآن
Name[ast]=Sonando agora...
Name[bs]=Trenutno izvođenje
Name[ca]=Ara s'està escoltant
Name[ca@valencia]=Ara s'està escoltant
Name[cs]=Nyní se hraje
Name[da]=Nu spilles
Name[de]=Musiktitel-Anzeige
Name[el]=Τρέχουσα αναπαραγωγή
Name[en_GB]=Now Playing
Name[eo]=Nun legas
Name[es]=Ahora suena
Name[et]=Praegu esitamisel
Name[eu]=Orain jotzen
Name[fi]=Nyt soi
Name[fr]=En lecture
Name[ga]=Á Sheinm Anois
Name[gl]=A reproducir
Name[he]=מנגן עכשיו
Name[hr]=Trenutno svira
Name[hu]=Most játszott
Name[is]=Nú í spilun
Name[it]=In riproduzione
Name[ja]=今聴いているもの
Name[kk]=Ойнап жатқаны
Name[km]=កំពុង​ចាក់
Name[ko]=지금 재생 중
Name[ku]=Niha Lêdide
Name[lt]=Dabar grojama
Name[lv]=Šobrīd atskaņo
Name[mr]=आता प्ले करत आहे
Name[nb]=Spiller nå
Name[nds]=Lopen Stück
Name[nl]=Nu aan het spelen
Name[nn]=Spelar no
Name[oc]=Novèla tièra de lecturas
Name[pa]=ਹੁਣ ਚੱਲ ਰਿਹਾ ਹੈ
Name[pl]=Teraz odtwarzane
Name[pt]=Agora a Tocar
Name[pt_BR]=Reproduzindo agora
Name[ro]=În redare
Name[ru]=Сейчас играет
Name[sk]=Teraz hrá
Name[sl]=Trenutno se predvaja
Name[sr]=тренутна свирка
Name[sr@ijekavian]=тренутна свирка
Name[sr@ijekavianlatin]=trenutna svirka
Name[sr@latin]=trenutna svirka
Name[sv]=Spelar nu
Name[th]=สื่อที่กำลังเล่นอยู่
Name[tr]=Şimdi Çalınıyor
Name[ug]=قويۇۋاتىدۇ
Name[uk]=Зараз відтворюється
Name[wa]=Djouwé asteure
Name[x-test]=xxNow Playingxx
Name[zh_CN]=现在收听
Name[zh_TW]=現正播放

Comment=Displays currently playing audio
Comment[ar]=أظهر الملفات الصوتية التي تعمل حاليا
Comment[ast]=Amuesa l'audio que se ta reproduciendo nesti intre
Comment[bs]=Prikazuje trenutno emitovani zvuk.
Comment[ca]=Mostra la reproducció d'àudio actual
Comment[ca@valencia]=Mostra la reproducció d'àudio actual
Comment[cs]=Zobrazení informací o právě přehrávaných skladbách
Comment[da]=Viser musikken som aktuelt afspilles.
Comment[de]=Den derzeit laufenden Musiktitel anzeigen
Comment[el]=Εμφάνιση κομματιού που αναπαράγεται αυτή τη στιγμή
Comment[en_GB]=Displays currently playing audio
Comment[es]=Muestra el audio que se está reproduciendo actualmente
Comment[et]=Näitab parajasti mängitavat muusikat
Comment[eu]=Bistaratu unean jotzen ari den audioa
Comment[fi]=Näyttää tällä hetkellä soivan kappaleen
Comment[fr]=Montre les éléments en cours de lecture
Comment[ga]=Taispeáin an ceol á sheinm anois
Comment[gl]=Mostra o son que se está a reproducir
Comment[he]=מציג את השיר המושמע עכשיו
Comment[hr]=Prikazuje zvučni zapis koji trenutno traje
Comment[hu]=A jelenleg hallgatott szám megjelenítése
Comment[is]=Sýnir hljóð í spilun
Comment[it]=Mostra l'audio in riproduzione
Comment[ja]=今聴いている音楽を表示します
Comment[kk]=Қазір орындалып жатқан аудио туралы мәлімет
Comment[km]=បង្ហាញ​អូឌីយ៉ូ​ដែល​កំពុង​ចាក់​បច្ចុប្បន្ន
Comment[ko]=지금 재생 중인 곡 표시
Comment[ku]=Strana lêdide nîşan bide
Comment[lt]=Rodo šiuo metu grojamą garsą
Comment[lv]=Parāda šobrīd atskaņoto skaņdarbu
Comment[mr]=सध्या प्ले करत असलेला ऑडिओ दर्शवितो
Comment[nb]=Vis lyd som spilles nå
Comment[nds]=Wiest opstunns afspeelt Stücken
Comment[nl]=Toont de momenteel spelende audio
Comment[nn]=Vis musikken som vert spelt
Comment[pa]=ਹੁਣ ਚੱਲ ਰਿਹਾ ਆਡੀਓ ਵੇਖੋ
Comment[pl]=Wyświetla aktualnie odtwarzany utwór
Comment[pt]=Mostra o áudio actualmente em reprodução
Comment[pt_BR]=Mostra a música que está sendo reproduzida
Comment[ro]=Afișează cîntecul redat la moment
Comment[ru]=Показывает воспроизводимую в данный момент музыку
Comment[sk]=Zobrazuje aktuálne prehrávanú skladbu
Comment[sl]=Prikaz skladbe, ki se trenutno predvaja
Comment[sr]=Која се то музика управо пушта?
Comment[sr@ijekavian]=Која се то музика управо пушта?
Comment[sr@ijekavianlatin]=Koja se to muzika upravo pušta?
Comment[sr@latin]=Koja se to muzika upravo pušta?
Comment[sv]=Visar musik som för närvarande spelas
Comment[th]=แสดงสื่อเสียงที่กำลังเล่นอยู่ในปัจจุบัน
Comment[tr]=O anda çalınan sesi gösterir
Comment[uk]=Показує інформацію про аудіо, що відтворюється
Comment[wa]=Håynêye l' odio djouwé pol moumint
Comment[x-test]=xxDisplays currently playing audioxx
Comment[zh_CN]=显示正在收听的音乐
Comment[zh_TW]=顯示目前播放的音樂

Icon=applications-multimedia
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/nowplaying.qml
X-Plasma-DefaultSize=256,128

X-KDE-PluginInfo-Author=Alex Merry
X-KDE-PluginInfo-Email=alex.merry@kdemail.net
X-KDE-PluginInfo-Name=nowplaying
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
