[Desktop Entry]
Encoding=UTF-8
Name=BbalL
Comment=A bouncy ball for plasma
Comment[el]=Μια αναπηδούμενη μπάλα για το plasma
Comment[fr]=Une balle rebondissante pour KDE
Comment[gl]=Unha bóla a rebotar para plasma
Comment[nds]=En jumpen Ball för Plasma
Comment[nl]=Een stuiterende bal voor plasma
Comment[pt]=Uma bola saltitante para o Plasma
Comment[pt_BR]=Uma bola saltitante para o Plasma
Comment[sv]=En studsande boll för Plasma
Comment[uk]=М’ячик-стрибунець для плазми
Comment[zh_CN]=一个 plasma 的弹球
Comment[zh_TW]=Plasma 上的彈跳球遊戲
Type=Service
ServiceTypes=Plasma/Applet
Icon=bball

X-KDE-Library=plasma_applet_bball
X-KDE-PluginInfo-Author=Thomas Gillespie
X-KDE-PluginInfo-Email=tomjamesgillespie@googlemail.com
X-KDE-PluginInfo-Name=BbalL
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Distraction
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
