[Desktop Entry]
Encoding=UTF-8
Name=BbalL
Name[ar]=BbalL
Name[ca]=BbalL
Name[cs]=BbalL
Name[da]=BbalL
Name[de]=BbalL
Name[el]=BbalL
Name[en_GB]=BbalL
Name[es]=BbalL
Name[et]=BbalL
Name[eu]=BbalL
Name[fi]=BbalL
Name[fr]=BbalL
Name[ga]=BbalL
Name[gl]=BbalL
Name[he]=BbalL
Name[hu]=BbalL
Name[is]=BbalL
Name[it]=BbalL
Name[ja]=BbalL
Name[km]=BbalL
Name[ko]=BbalL
Name[ku]=BbalL
Name[lt]=BbalL
Name[lv]=BbalL
Name[nb]=BbalL
Name[nds]=BbalL
Name[nl]=BbalL
Name[nn]=BbalL
Name[pl]=BbalL
Name[pt]=BbalL
Name[pt_BR]=BbalL
Name[ro]=BbalL
Name[ru]=BbalL
Name[sk]=BbalL
Name[sl]=BbalL
Name[sr]=скочилопта
Name[sr@latin]=skočilopta
Name[sv]=BbalL
Name[th]=บอลกระเด้งกระดอน (BbalL)
Name[tr]=BbalL
Name[uk]=BbalL
Name[wa]=BbalL
Name[x-test]=xxBbalLxx
Name[zh_CN]=BbalL
Name[zh_TW]=BbalL
Comment=A bouncy ball for plasma
Comment[ar]=كرة النطاطة للبلازما
Comment[ca]=Una pilota que bota per al plasma
Comment[cs]=Poskakující míč pro Plasmu
Comment[da]=En hoppende bold til Plasma
Comment[de]=Ein Springball für Plasma
Comment[el]=Μια αναπηδούμενη μπάλα για το plasma
Comment[en_GB]=A bouncy ball for plasma
Comment[es]=Una pelota que rebota para plasma
Comment[et]=Põrkavad pallid Plasmale
Comment[eu]=Plasmarentzako pilota bizia
Comment[fi]=Pomppiva pallo Plasmalle
Comment[fr]=Une balle rebondissante pour KDE
Comment[ga]=Liathróid phreabarnach le haghaidh plasma
Comment[gl]=Unha bóla a rebotar para plasma
Comment[he]=כדור קופצני עבור plasma
Comment[hu]=Pattogó labda
Comment[is]=Hoppandi plasmabolti
Comment[it]=Una palla rimbalzante per Plasma
Comment[ja]=Plasma のバウンスボール
Comment[km]=បាល់​ bouncy សម្រាប់​ប្លាស្មា
Comment[ko]=바탕 화면에서 튀는 공
Comment[ku]=Topa lotikî ji bo plasma
Comment[lt]=Šokinėjantis kamuolys, skirtas Plasma
Comment[lv]=Atlecoša bumba
Comment[nb]=En sprettball for plasma
Comment[nds]=En jumpen Ball för Plasma
Comment[nl]=Een stuiterende bal voor plasma
Comment[nn]=Sprettball til Plasma
Comment[pl]=Skacząca piłka
Comment[pt]=Uma bola saltitante para o Plasma
Comment[pt_BR]=Uma bola saltitante para o Plasma
Comment[ro]=O minge săritoare pentru Plasma
Comment[ru]=Попрыгунчик для Plasma
Comment[sk]=Poskakujúca lopta pre Plasmu
Comment[sl]=Odbijajoča se žoga za Plasmo
Comment[sr]=Одскачућа лопта за Плазму
Comment[sr@latin]=Odskačuća lopta za Plasmu
Comment[sv]=En studsande boll för Plasma
Comment[th]=ลูกบอลกระเด้งกระดอนสำหรับพลาสมา
Comment[tr]=Plasma için bir zıplayan top
Comment[uk]=М’ячик-стрибунець для плазми
Comment[wa]=Ene bole ki ridjibele po plasma
Comment[x-test]=xxA bouncy ball for plasmaxx
Comment[zh_CN]=一个 plasma 的弹球
Comment[zh_TW]=Plasma 上的彈跳球遊戲
Type=Service
ServiceTypes=Plasma/Applet
Icon=bball

X-KDE-Library=plasma_applet_bball
X-KDE-PluginInfo-Author=Thomas Gillespie
X-KDE-PluginInfo-Email=tomjamesgillespie@googlemail.com
X-KDE-PluginInfo-Name=BbalL
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Fun and Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
