[Desktop Entry]
Encoding=UTF-8
Name=BbalL
Name[sr]=скочилопта
Name[sr@latin]=skočilopta
Name[th]=บอลกระเด้งกระดอน (BbalL)
Name[x-test]=xxBbalLxx
Comment=A bouncy ball for plasma
Comment[ar]=كرة النطاطة للبلازما
Comment[ca]=Una pilota que bota per al plasma
Comment[cs]=Poskakující míč pro Plasmu
Comment[da]=En hoppende bold til plasma
Comment[de]=Ein Springball für Plasma
Comment[el]=Μια αναπηδούμενη μπάλα για το plasma
Comment[es]=Una pelota que rebota para plasma
Comment[et]=Põrkavad pallid Plasmale
Comment[fi]=Pomppiva pallo Plasmalle
Comment[fr]=Une balle rebondissante pour KDE
Comment[gl]=Unha bóla a rebotar para plasma
Comment[he]=כדור קופצני עבור plasma
Comment[it]=Una palla rimbalzante per Plasma
Comment[ja]=Plasma のバウンスボール
Comment[km]=បាល់​ bouncy សម្រាប់​ប្លាស្មា
Comment[ku]=Topa lotikî ji bo plasma
Comment[lv]=Atlecoša bumba
Comment[nds]=En jumpen Ball för Plasma
Comment[nl]=Een stuiterende bal voor plasma
Comment[nn]=Sprettball til Plasma
Comment[pl]=Skacząca piłka
Comment[pt]=Uma bola saltitante para o Plasma
Comment[pt_BR]=Uma bola saltitante para o Plasma
Comment[ro]=O minge săritoare pentru Plasma
Comment[ru]=Попрыгунчик для Plasma
Comment[sl]=Odbijajoča se žoga za Plasmo
Comment[sr]=Одскачућа лопта за Плазму
Comment[sr@latin]=Odskačuća lopta za Plasmu
Comment[sv]=En studsande boll för Plasma
Comment[th]=ลูกบอลกระเด้งกระดอนสำหรับพลาสมา
Comment[tr]=Plasma için bir zıplayan top
Comment[uk]=М’ячик-стрибунець для плазми
Comment[wa]=Ene bole ki ridjibele po plasma
Comment[x-test]=xxA bouncy ball for plasmaxx
Comment[zh_CN]=一个 plasma 的弹球
Comment[zh_TW]=Plasma 上的彈跳球遊戲
Type=Service
ServiceTypes=Plasma/Applet
Icon=bball

X-KDE-Library=plasma_applet_bball
X-KDE-PluginInfo-Author=Thomas Gillespie
X-KDE-PluginInfo-Email=tomjamesgillespie@googlemail.com
X-KDE-PluginInfo-Name=BbalL
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Distraction
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
