[Desktop Entry]
Name=Leave A Note
Name[ar]=اترك ملاحظة
Name[ca]=Deixa una nota
Name[cs]=Zanechat vzkaz
Name[da]=Efterlad en note
Name[de]=Nachricht hinterlassen
Name[el]=Γράψτε μια σημείωση
Name[en_GB]=Leave A Note
Name[es]=Dejar una nota
Name[et]=Teate jätmine
Name[eu]=Ohar bat utzi
Name[fi]=Jätä viesti
Name[fr]=Laisse un mot
Name[ga]=Fág Nóta
Name[gl]=Deixa unha nota
Name[he]=השאר פתק
Name[hu]=Feljegyzés
Name[is]=Gera athugasemd
Name[it]=Lascia una nota
Name[ja]=伝言板
Name[km]=ទុក​ចំណាំ
Name[ko]=메모 남기기
Name[ku]=Nîşe Binivîse
Name[lt]=Pranešimų palikimas
Name[lv]=Atstāt piezīmi
Name[nb]=Legg igjen et notat
Name[nds]=En Notiz dorlaten
Name[nl]=Notitie achterlaten
Name[nn]=Legg igjen kommentar
Name[pa]=ਇੱਕ ਨੋਟ ਛੱਡੋ
Name[pl]=Zostaw notatkę
Name[pt]=Deixar uma Nota
Name[pt_BR]=Deixar uma nota
Name[ro]=Lasă o notiță
Name[ru]=Оставить заметку
Name[sk]=Nechať poznámku
Name[sl]=Pustite notico
Name[sr]=остављање поруке
Name[sr@latin]=ostavljanje poruke
Name[sv]=Lämna ett meddelande
Name[th]=ฝากข้อความ
Name[tr]=Bir Not Bırakın
Name[uk]=Залиш запис
Name[wa]=Leyî ene note
Name[x-test]=xxLeave A Notexx
Name[zh_CN]=留便笺
Name[zh_TW]=留下字條
Icon=knotes
Comment=Leave notes for users while they are away
Comment[ar]=اترك ملاحظة للمستخدمين غير الموجودين
Comment[ca]=Deixa notes pels usuaris que no hi son
Comment[cs]=Ponechte zprávy uživatelům, pokud jsou pryč
Comment[da]=Efterlad noter til brugere når de er borte.
Comment[de]=Abwesenden Benutzern eine Nachricht hinterlassen
Comment[el]=Γράψτε σημειώσεις σε χρήστες όταν αυτοί βρίσκονται εκτός
Comment[en_GB]=Leave notes for users while they are away
Comment[es]=Dejar notas para usuarios mientras están ausentes
Comment[et]=Teadete jätmine kasutajatele, kui nad on eemal
Comment[eu]=Erabiltzaileentzako oharrak utzi kanpoan dauden bitartean
Comment[fr]=Laisse des notes aux utilisateurs
Comment[ga]=Fág nóta ag úsáideoir atá amuigh
Comment[gl]=Deixa notas para os usuarios mentres están ausentes
Comment[he]=משאיר פתקים בשביל משתמשים בזמן שהם לא נמצאים
Comment[hu]=Távolléti üzenet
Comment[is]=Skilja eftir athugasemdir hjá notendum þegar þeir eru fjarstaddir
Comment[it]=Lascia una nota per gli utenti assenti
Comment[ja]=離席中のユーザにメモを残します
Comment[km]=ទុក​ចំណាំ​សម្រាប់​អ្នកប្រើ​ខណៈពេល​ដែល​ពួកគេ​ចាក​ឆ្ងាយ
Comment[ko]=자리에 없을 때 짤막한 메모 남기기
Comment[ku]=Ji bo bikarhênerên niha ne li vir in nîşeyan binivîse
Comment[lt]=Pranešimų vartotojams palikimui, jei jų nėra
Comment[lv]=Var atstāt piezīmi lietotājiem, kamēr tie ir prom no datora
Comment[nb]=Legg igjen et notat for bruklere mens de er borte
Comment[nds]=Notizen för Brukers dorlaten, bides se annerwegens sünd
Comment[nl]=Notities achterlaten voor gebruikers wanneer ze weg zijn
Comment[nn]=Legg igjen kommentar viss brukaren er vekke
Comment[pl]=Zostawienie notatki dla użytkowników, kiedy ich nie ma
Comment[pt]=Deixar notas para os utilizadores na sua ausência
Comment[pt_BR]=Deixar as notas para os usuários em suas ausências
Comment[ro]=Lasă notițe pentru utilizatori cît timp aceștia sînt plecați
Comment[ru]=Оставлять вам заметки если вас нет на месте
Comment[sk]=Nechajte poznámky užívateľom, pokiaľ sú preč
Comment[sl]=Pustite notice za uporabnike, medtem ko so odsotni
Comment[sr]=Оставите поруке корисницима док су одсутни
Comment[sr@latin]=Ostavite poruke korisnicima dok su odsutni
Comment[sv]=Lämna meddelanden till användare medan de är borta
Comment[th]=ฝากข้อความให้กับผู้ใช้ในระหว่างที่พวกเขาไม่ได้อยู่ที่หน้าเครื่อง
Comment[tr]=Kullanıcılar uzaktayken onlara not bırakın
Comment[uk]=Залиште повідомлення користувачам, які зараз недоступні
Comment[wa]=Leyî des notes po ls uzeus cwand i sont-st evoye
Comment[x-test]=xxLeave notes for users while they are awayxx
Comment[zh_CN]=离开时留便笺给用户
Comment[zh_TW]=在使用者離開時留字條給他
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_leavenote
X-KDE-PluginInfo-Author=Christian Weilbach
X-KDE-PluginInfo-Email=dunsens@web.de
X-KDE-PluginInfo-Name=leavenote
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
