[Desktop Entry]
Name=Leave A Note
Name[de]=Nachricht hinterlassen
Name[el]=Γράψτε μια σημείωση
Name[fr]=Laisse un mot
Name[gl]=Deixa unha nota
Name[nds]=En Notiz dorlaten
Name[nl]=Notitie achterlaten
Name[pt]=Deixar uma Nota
Name[pt_BR]=Deixar uma nota
Name[sv]=Lämna ett meddelande
Name[uk]=Залиш запис
Name[zh_CN]=留便笺
Name[zh_TW]=留下字條
Icon=knotes
Comment=Leave notes for users while they are away
Comment[de]=Abwesenden Benutzern eine Nachricht hinterlassen
Comment[el]=Γράψτε σημειώσεις σε χρήστες όταν αυτοί βρίσκονται εκτός
Comment[nds]=Notizen för Brukers dorlaten, bides se annerwegens sünd
Comment[pt]=Deixar notas para os utilizadores na sua ausência
Comment[pt_BR]=Deixar as notas para os usuários em suas ausências
Comment[sv]=Lämna meddelanden till användare medan de är borta
Comment[uk]=Залиште повідомлення користувачам, які зараз недоступні
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_leavenote
X-KDE-PluginInfo-Author=Christian Weilbach
X-KDE-PluginInfo-Email=dunsens@web.de
X-KDE-PluginInfo-Name=leavenote
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
