[Desktop Entry]
Name=News
Name[es]=Noticias
Name[gl]=Novas
Name[ja]=ニュース
Name[nds]=Narichten
Name[pt]=Notícias
Name[pt_BR]=Notícias
Name[ru]=Новости
Name[sv]=Nyheter
Name[uk]=Новини
Name[zh_TW]=新聞
Comment=Show news from various sources.
Comment[es]=Muestra noticias de varias fuentes.
Comment[gl]=Mostra as novas de varias fontes.
Comment[ja]=さまざまなソースからニュースを表示します
Comment[nds]=Narichten ut en Reeg Borns wiesen
Comment[pt]=Mostrar notícias de várias fontes.
Comment[pt_BR]=Mostra notícias de várias fontes.
Comment[sv]=Visa nyheter från olika källor.
Comment[uk]=Показати новини з різноманітних джерел.
Comment[zh_TW]=顯示不同的來源的新聞
Type=Service
Icon=application-rss+xml
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_news
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=news
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

