[Desktop Entry]
Name=Webbrowser History
Name[ga]=Stair Bhrabhsála
Name[gl]=Historial de navegación web
Name[ja]=ウェブブラウザの履歴
Name[nds]=Nettkieker-Vörgeschicht
Name[pt]=Histórico do Navegador Web
Name[pt_BR]=Histórico do Navegador Web
Name[sv]=Webbläsningshistorik
Name[uk]=Історія переглядача Тенет
Comment=Searches in Konqueror's history
Comment[ga]=Cuardaigh i stair Konqueror
Comment[gl]=Procura no historial de Konqueror
Comment[ja]=Konqueror の履歴を検索します
Comment[nds]=Söcht binnen Konqueror sien Vörgeschicht
Comment[pt]=Pesquisa no histórico do Konqueror
Comment[pt_BR]=Pesquisa no histórico do Konqueror
Comment[sv]=Söker i Konquerors historik
Comment[uk]=Пошук у історії перегляду у Konqueror

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=view-history
X-KDE-Library=krunner_browserhistory
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=browserhistory
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
