[Desktop Entry]
Name=Web Browser History
Name[ar]=تاريخ متصفح الويب
Name[ca]=Historial del navegador web
Name[cs]=Historie prohlížeče
Name[da]=Webbrowser-historik
Name[de]=Webbrowser-Verlauf
Name[el]=Ιστορικό περιηγητή ιστού
Name[en_GB]=Web Browser History
Name[es]=Historial del navegador web
Name[et]=Veebibrauseri ajalugu
Name[fr]=Historique du navigateur Web
Name[ga]=Stair Bhrabhsála
Name[gl]=Historial de navegación web
Name[hu]=Webböngészési előzmények
Name[is]=Ferill vafra
Name[it]=Cronologia della navigazione web
Name[ja]=ウェブブラウザの履歴
Name[km]=ប្រវត្តិ​កម្មវិធី​រុករក​បណ្ដាញ
Name[lt]=Žiniatinklio naršyklės istorija
Name[lv]=Tīmekļa pārlūka vēsture
Name[nb]=Nettleser-historie
Name[nds]=Nettkieker-Vörgeschicht
Name[nl]=Webbrowser-geschiedenis
Name[nn]=Nettlesarlogg
Name[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ ਅਤੀਤ
Name[pl]=Historia przeglądarki
Name[pt]=Histórico do Navegador Web
Name[pt_BR]=Histórico do navegador da Internet
Name[ro]=Istoricul navigatorului web
Name[sk]=História webového prehliadača
Name[sl]=Zgodovina spletnega brskalnika
Name[sr]=историјат веб прегледача
Name[sr@latin]=istorijat veb pregledača
Name[sv]=Webbläsningshistorik
Name[tr]=Web Tarayıcı Geçmişi
Name[uk]=Історія переглядача Тенет
Name[wa]=Istwere do betchteu waibe
Name[x-test]=xxWeb Browser Historyxx
Name[zh_CN]=网页浏览器历史
Name[zh_TW]=網頁瀏覽器歷史紀錄
Comment=Searches in Konqueror's history
Comment[ar]=تبحث في تاريخ كنيكر
Comment[ca]=Cerques a l'historial del Konqueror
Comment[cs]=Vyhledávání v historii prohlížeče Konqueror
Comment[da]=Søger i Konquerors historik.
Comment[de]=Suche im Verlauf von Konqueror
Comment[el]=Αναζήτηση στο ιστορικό του Konqueror
Comment[en_GB]=Searches in Konqueror's history
Comment[es]=Búsquedas en el historial de Konqueror
Comment[et]=Otsing Konquerori ajaloos
Comment[eu]=Konquerorren historian bilatzen du
Comment[fi]=Hakee Konquerorin selaushistoriasta
Comment[fr]=Cherche dans l'historique de Konqueror
Comment[ga]=Cuardaigh i stair Konqueror
Comment[gl]=Procura no historial de Konqueror
Comment[he]=חיפוש בהיסטוריה של Konqueror
Comment[hu]=Keresés a Konqueror webböngésző előzményei között
Comment[is]=Leitar í ferli Konqueror
Comment[it]=Cerca nella cronologia di Konqueror
Comment[ja]=Konqueror の履歴を検索します
Comment[km]=ស្វែងរក​នៅ​ក្នុង​ប្រវត្តិ​របស់ Konqueror
Comment[ko]=Konqueror 과거 기록 검색
Comment[ku]=Di dîroka Konqueror de lê digere
Comment[lt]=Paieškos Konqueror istorijoje
Comment[lv]=Meklē Konqueror vēsturē
Comment[nb]=Søker i Konquerors historie
Comment[nds]=Söcht binnen Konqueror sien Vörgeschicht
Comment[nl]=Zoekt in Konquerors geschiedenis
Comment[nn]=Søk i loggen til Konqueror
Comment[pa]=ਕੋਨਕਿਊਰੋਰ ਦੇ ਅਤੀਤ ਵਿੱਚ ਖੋਜੋ
Comment[pl]=Wyszukiwanie w historii Konquerora
Comment[pt]=Pesquisa no histórico do Konqueror
Comment[pt_BR]=Pesquisa no histórico do Konqueror
Comment[ro]=Caută în istoricul Konqueror
Comment[ru]=Поиск в журнале посещения сайтов Konqueror
Comment[sk]=Hľadá v histórii Konquerora
Comment[sl]=Išče po Konquerorjevi zgodovini
Comment[sr]=Претраге кроз К‑освајачев историјат
Comment[sr@latin]=Pretrage kroz K‑osvajačev istorijat
Comment[sv]=Söker i Konquerors historik
Comment[th]=ค้นหาในประวัติการใช้งานของคอนเควอร์เรอร์
Comment[tr]=Konqueror geçmişinde arama yapar
Comment[uk]=Пошук у історії перегляду у Konqueror
Comment[wa]=Cwîre dins l' istwere da Konqueror
Comment[x-test]=xxSearches in Konqueror's historyxx
Comment[zh_CN]=在 Konqueror 历史中搜索
Comment[zh_TW]=搜尋 Konqueror 的歷史紀錄

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=view-history
X-KDE-Library=krunner_browserhistory
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=browserhistory
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
