[Desktop Entry]
Encoding=UTF-8
Name=Timer
Name[ca]=Temporitzador
Name[fr]=Décompte
Name[hu]=Időzítő indítása
Name[nl]=Timer
Name[pl]=Czasomierz
Name[sv]=Tidtagning
Name[uk]=Таймер
Name[x-test]=xxTimerxx
Name[zh_TW]=計時器
Comment=Countdown over a specified time period
Comment[ca]=Compte enrere durant un període de temps especificat
Comment[fr]=Décompte le temps pendant une durée spécifiée
Comment[hu]=Visszaszámlálás egy adott időtartamról
Comment[nl]=Aftellen over een bepaalde periode
Comment[pl]=Odliczanie danego czasu
Comment[sv]=Nerräkning under ett angivet tidsintervall
Comment[uk]=Зворотній відлік визначеного часу
Comment[x-test]=xxCountdown over a specified time periodxx
Comment[zh_TW]=倒數計時
Type=Service
Icon=chronometer
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_timer
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=org.kde.plasma.timer
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/timer.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
