[Desktop Entry]
Name=Grouping Panel
Name[bs]=Grupirajući panel
Name[ca]=Plafó agrupat
Name[ca@valencia]=Plafó agrupat
Name[cs]=Seskupovací panel
Name[da]=Grupperingspanel
Name[de]=Gruppen-Kontrollleiste
Name[el]=Grouping Panel
Name[en_GB]=Grouping Panel
Name[es]=Panel de agrupamiento
Name[et]=Rühmitav paneel
Name[fi]=Ryhmitelty paneeli
Name[fr]=Regroupement de panneaux
Name[gl]=Panel de agrupamento
Name[hr]=Grupirajući panel
Name[hu]=Panelcsoportosítás
Name[it]=Pannello raggruppato
Name[kk]=Топтастыру панелі
Name[km]=ដាក់​បន្ទះជា​ក្រុម​
Name[ko]=그룹 패널
Name[lt]=Skydelio grupavimas
Name[lv]=Grupēšanas panelis
Name[mr]=पटल समूह
Name[nb]=Grupperingspanel
Name[nds]=Paneel-Tosamenkoppeln
Name[nl]=Paneelgroepering
Name[pa]=ਗਰਿੱਪਿੰਗ ਪੈਨਲ
Name[pl]=Grupowanie panelu
Name[pt]=Painel Agrupado
Name[pt_BR]=Painel agrupado
Name[ro]=Panou de grupare
Name[ru]=Группирующая панель
Name[sk]=Panel so skupinami
Name[sl]=Plošča za združevanje
Name[sr]=Групишући панел
Name[sr@ijekavian]=Групишући панел
Name[sr@ijekavianlatin]=Grupišući panel
Name[sr@latin]=Grupišući panel
Name[sv]=Panel med gruppering
Name[tr]=Grup Paneli
Name[uk]=Впорядкована панель
Name[x-test]=xxGrouping Panelxx
Name[zh_CN]=分组面板
Name[zh_TW]=群組面板
Icon=
Type=Service
X-KDE-ServiceTypes=Plasma/Containment
X-Plasma-ContainmentCategories=panel

X-KDE-Library=plasma_containment_groupingpanel
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=giuliocamuffo@gmail.com
X-KDE-PluginInfo-Name=org.kde.groupingpanel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/GroupingDesktop
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
