[Desktop Entry]
Name=GroupingPanel
Name[en_GB]=GroupingPanel
Name[et]=Rühmapaneel
Name[fr]=GroupingPanel
Name[nl]=GroeperingPaneel
Name[pt]=Painel de Agrupamento
Name[pt_BR]=Painel de Agrupamento
Name[sv]=Grupperingspanel
Name[uk]=Панель групування
Name[x-test]=xxGroupingPanelxx
Icon=
Type=Service
X-KDE-ServiceTypes=Plasma/Containment
X-Plasma-ContainmentCategories=panel

X-KDE-Library=plasma_containment_groupingpanel
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=giuliocamuffo@gmail.com
X-KDE-PluginInfo-Name=groupingpanel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
