[Desktop Entry]
Name=Picture of The Day
Name[ca]=Imatge del dia
Name[cs]=Obrázek dne
Name[de]=Bild des Tages
Name[en_GB]=Picture of The Day
Name[es]=Imagen del día
Name[eu]=Eguneko irudia
Name[fi]=Päivän kuva
Name[fr]=Image du jour
Name[it]=Immagine del giorno
Name[ko]=오늘의 그림
Name[nl]=Afbeelding van de dag
Name[nn]=Dagens bilete
Name[pt]=Imagem do Dia
Name[pt_BR]=Imagem do dia
Name[sl]=Slika dneva
Name[sv]=Dagens bild
Name[tg]=Сурати рӯз
Name[uk]=Картинка дня
Name[x-test]=xxPicture of The Dayxx
Name[zh_CN]=每日一图
Comment=Cache picture of the day for lock screen and SDDM
Comment[ca]=Posa la imatge del dia a la memòria cau per a la pantalla de bloqueig i l'SDDM
Comment[en_GB]=Cache picture of the day for lock screen and SDDM
Comment[es]=Usar caché para la imagen del día de la pantalla de bloqueo y de SDDM
Comment[eu]=Cacheratu eguneko irudia giltzatze pantaila eta SDDMrako
Comment[fi]=Päivän välimuistikuva lukitus- ja kirjautumisnäytöille
Comment[fr]=Mettre en cache l'image du jour pour l'écran de verrouillage et de démarrage « SDDM »
Comment[it]=Salva in cache l'immagine del giorno per la schermata di blocco e SDDM
Comment[ko]=잠금 화면과 SDDM의 오늘의 그림 캐시
Comment[nl]=Afbeelding van de dag in cache zetten voor scherm vergrendelen en SDDM
Comment[nn]=Mellomlagra dagens bilete for låseskjerm og SDDM
Comment[pt]=Pôr em 'cache' a imagem do dia para o ecrã de bloqueio e o SDDM
Comment[pt_BR]=Cache da imagem do dia para o bloqueio de tela e SDDM
Comment[sl]=Slika dneva v predpomnilniku za zaklep zaslona in SDDM
Comment[sv]=Lagra dagens bild för skärmlåsning och SDDM
Comment[uk]=Кешувати картинку дня для екрана блокування та SDDM
Comment[x-test]=xxCache picture of the day for lock screen and SDDMxx
Comment[zh_CN]=为锁屏和 SDDM 缓存每日一图
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=potd
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
