[Desktop Entry]
Name=openDesktop
Name[km]=បើក​​ផ្ទៃតុ
Name[sv]=Öppet skrivbord
Comment=Communicate using the Social Desktop
Comment[ca]=Comuniqueu-vos usant l'escriptori social
Comment[da]=Kommunikér ved hjælp det sociale skrivebord.
Comment[es]=Comuníquese usando el escritorio social
Comment[et]=Suhtlemine sotsiaalse töölaua vahendusel
Comment[km]=ទាក់ទង​ដោយ​ប្រើ​ផ្ទៃតុ​សង្គម
Comment[nb]=Kommunikasjon ved bruk av det sosiale skrivebordet
Comment[nds]=Klönen över den Meenschap-Schriefdisch
Comment[pt]=Comunicar com o Ambiente de Trabalho Social
Comment[pt_BR]=Comunicar com o Ambiente de Trabalho Social
Comment[sv]=Kommunicera med användning av det sociala skrivbordet
Comment[uk]=Спілкування за допомогою соціальної стільниці
Comment[zh_CN]=使用社会桌面沟通
Comment[zh_TW]=使用 Social Desktop 聯繫

Icon=system-users
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_opendesktop
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=opendesktop
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
Keywords=Utilities
Keywords[ca]=Utilitats
Keywords[da]=Redskaber
Keywords[de]=Dienstprogramme
Keywords[es]=Utilidades
Keywords[et]=Abivahendid
Keywords[km]=ឧបករណ៍​ប្រើប្រាស់
Keywords[nb]=Verktøy
Keywords[nds]=Warktüüch
Keywords[pt]=Utilitários
Keywords[pt_BR]=Utilitários
Keywords[sv]=Verktyg
Keywords[uk]=Інструменти
Keywords[zh_CN]=工具
Keywords[zh_TW]=實用工具
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

