[Desktop Entry]
Name=openDesktop
Name[ar]=openDesktop
Name[ca]=openDesktop
Name[cs]=openDesktop
Name[da]=openDesktop
Name[de]=openDesktop
Name[el]=openDesktop
Name[en_GB]=openDesktop
Name[es]=openDesktop
Name[et]=openDesktop
Name[fr]=openDesktop
Name[gl]=openDesktop
Name[hu]=openDesktop
Name[is]=openDesktop
Name[it]=openDesktop
Name[ja]=openDesktop
Name[km]=បើក​​ផ្ទៃតុ
Name[lt]=openDesktop
Name[lv]=openDesktop
Name[nb]=openDesktop
Name[nds]=openDesktop
Name[nl]=openDesktop
Name[nn]=openDesktop
Name[pa]=ਡੈਸਕਟਾਪ-ਖੋਲ੍ਹੋ
Name[pl]=openDesktop
Name[pt]=openDesktop
Name[pt_BR]=openDesktop
Name[ro]=openDesktop
Name[sk]=openDesktop
Name[sl]=openDesktop
Name[sr]=Отворена површ
Name[sr@latin]=Otvorena površ
Name[sv]=Öppet skrivbord
Name[tr]=openDesktop
Name[uk]=openDesktop
Name[wa]=drovouScribanne (openDesktop)
Name[x-test]=xxopenDesktopxx
Name[zh_CN]=openDesktop
Name[zh_TW]=openDesktop
Comment=Communicate using the Social Desktop
Comment[ar]=تواصبل باستخدام سطح المكتب الاجتماعي
Comment[ca]=Comuniqueu-vos usant l'escriptori social
Comment[cs]=Komunikujte pomocí Sociálního desktopu
Comment[da]=Kommunikér ved hjælp det sociale skrivebord.
Comment[de]=Über den Social Desktop kommunizieren
Comment[el]=Επικοινωνήστε χρησιμοποιώντας την επιφάνεια εργασίας κοινωνικού δικτύου
Comment[en_GB]=Communicate using the Social Desktop
Comment[es]=Comuníquese usando el escritorio social
Comment[et]=Suhtlemine sotsiaalse töölaua vahendusel
Comment[fr]=Communiquer avec le bureau social.
Comment[gl]=Comunicacións a través do escritorio social
Comment[hu]=Webes közösségi kommunikáció
Comment[is]=Eiga samskipti með samskiptaskjáborðinu
Comment[it]=Comunica utilizzando il desktop sociale
Comment[ja]=ソーシャルデスクトップを使って情報を交換します
Comment[km]=ទាក់ទង​ដោយ​ប្រើ​ផ្ទៃតុ​សង្គម
Comment[lt]=Komunikacijai naudojant Socialinį darbastalį
Comment[lv]=Sazināšanās izmantojot sociālo darbvirsmu
Comment[nb]=Kommunikasjon ved bruk av det sosiale skrivebordet
Comment[nds]=Klönen över den Meenschap-Schriefdisch
Comment[nl]=Communiceer met het sociale bureaublad
Comment[nn]=Kommuniser via openDesktop
Comment[pa]=ਸਮਾਜਿਕ ਡੈਸਕਟਾਪ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਸੰਚਾਰ
Comment[pl]=Komunikacja przy użyciu Pulpitu społecznościowego
Comment[pt]=Comunicar com o Ambiente de Trabalho Social
Comment[pt_BR]=Comunique-se usando o Ambiente de Trabalho Social
Comment[ro]=Comunicați utilizînd Biroul Social
Comment[sk]=Komunikovanie prostredníctvom sociálneho desktopu
Comment[sl]=Družite se prek družabne mreže openDesktop
Comment[sr]=Комуницирање путем Друштвене површи
Comment[sr@latin]=Komuniciranje putem Društvene površi
Comment[sv]=Kommunicera med användning av det sociala skrivbordet
Comment[tr]=Sosyal Masaüstünü kullanarak iletişim kur
Comment[uk]=Спілкування за допомогою соціальної стільниці
Comment[wa]=Comuniker e s' siervant do Scribanne sociå
Comment[x-test]=xxCommunicate using the Social Desktopxx
Comment[zh_CN]=使用社会桌面沟通
Comment[zh_TW]=使用 Social Desktop 聯繫

Icon=system-users
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_opendesktop
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=opendesktop
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
Keywords=Utilities
Keywords[ar]=أدوات
Keywords[ca]=Utilitats
Keywords[cs]=Nástroje
Keywords[da]=Redskaber
Keywords[de]=Dienstprogramme
Keywords[el]=Εργαλεία
Keywords[en_GB]=Utilities
Keywords[es]=Utilidades
Keywords[et]=Abivahendid
Keywords[fr]=Utilitaires
Keywords[gl]=Utensilios
Keywords[hu]=Eszközök
Keywords[is]=Nytjatól
Keywords[it]=Utilità
Keywords[ja]=ユーティリティ
Keywords[km]=ឧបករណ៍​ប្រើប្រាស់
Keywords[lt]=Pagalbininkai
Keywords[lv]=Palīgrīki
Keywords[mai]=उपयोगिता
Keywords[nb]=Verktøy
Keywords[nds]=Warktüüch
Keywords[nl]=Hulpmiddelen
Keywords[nn]=Verktøy
Keywords[pa]=ਸਹੂਲਤਾਂ
Keywords[pl]=Narzędzia
Keywords[pt]=Utilitários
Keywords[pt_BR]=Utilitários
Keywords[ro]=Utilitare
Keywords[sk]=Nástroje
Keywords[sl]=Potrebščine
Keywords[sr]=Алатке
Keywords[sr@latin]=Alatke
Keywords[sv]=Verktyg
Keywords[tr]=Yardımcı Araçlar
Keywords[uk]=Інструменти
Keywords[wa]=Usteyes
Keywords[x-test]=xxUtilitiesxx
Keywords[zh_CN]=工具
Keywords[zh_TW]=實用工具
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

