[Desktop Entry]
Encoding=UTF-8
Name=Picture of the Day
Name[ar]=صورة اليوم
Name[ast]=Semeya del día
Name[bs]=Slika dana
Name[ca]=Imatge del dia
Name[ca@valencia]=Imatge del dia
Name[cs]=Obrázek dne
Name[da]=Dagens billede
Name[de]=Bild des Tages
Name[el]=Φωτογραφία της ημέρας
Name[en_GB]=Picture of the Day
Name[es]=Imagen del día
Name[et]=Päevapilt
Name[fi]=Päivän kuva
Name[fr]=Image du jour
Name[ga]=Grianghraf an Lae
Name[gl]=Imaxe do día
Name[hr]=Slika dana
Name[hu]=A nap képe a Flickr-ön
Name[is]=Myndir dagsins
Name[it]=Immagine del giorno
Name[ja]=今日の写真
Name[kk]=Тәулік суреті
Name[km]=រូបភាព​ប្រចាំ​ថ្ងៃ
Name[ko]=오늘의 그림
Name[lt]=Dienos paveiksliukas
Name[lv]=Dienas attēls
Name[mr]=दिवसाचे चित्र
Name[nb]=Dagens bilde
Name[nds]=Bild för Vundaag
Name[nl]=Afbeelding van de dag
Name[nn]=Dagens bilete
Name[pa]=ਅੱਜ ਦੀ ਤਸਵੀਰ
Name[pl]=Obraz dnia
Name[pt]=Imagem do Dia
Name[pt_BR]=Imagem do dia
Name[ro]=Imaginea zilei
Name[ru]=Изображение дня
Name[sk]=Obrázok dňa
Name[sl]=Slika dneva
Name[sr]=слика дана
Name[sr@ijekavian]=слика дана
Name[sr@ijekavianlatin]=slika dana
Name[sr@latin]=slika dana
Name[sv]=Dagens bild
Name[tr]=Günün Resmi
Name[uk]=Картинка дня
Name[wa]=Imådje do djoû
Name[x-test]=xxPicture of the Dayxx
Name[zh_CN]=每日一图
Name[zh_TW]=本日圖片
Comment=A new picture from the Internet each day
Comment[ar]=صورة من السابكة كل يوم
Comment[ca]=Una imatge nova des d'Internet cada dia
Comment[ca@valencia]=Una imatge nova des d'Internet cada dia
Comment[da]=Et nyt billede fra internettet hver dag
Comment[de]=Täglich ein Bild aus dem Internet anzeigen
Comment[el]=Κάθε μέρα μια νέα εικόνα από το διαδίκτυο
Comment[en_GB]=A new picture from the Internet each day
Comment[et]=Iga päev uus pilt internetist
Comment[fi]=Joka päivä uusi kuva Internetistä
Comment[gl]=Mostra imaxes de internet cada día.
Comment[it]=Una nuova immagine ogni giorno da Internet.
Comment[kk]=Күнде Интернеттен жаңа сурет
Comment[nds]=Elk Dag en nieg Bild ut dat Internet halen
Comment[ro]=O nouă imagine din Internet în fiecare zi
Comment[ru]=Новое изображение из Интернета каждый день
Comment[tr]=Her gün İnternet'ten yeni bir resim göster
Comment[zh_CN]=每天从互联网获取新图片

Type=Service
ServiceTypes=Plasma/Wallpaper
Icon=office-calendar
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Weng Xuetian
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=org.kde.potd
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
