[Desktop Entry]
Name=Picture of the Day
Name[ar]=صورة اليوم
Name[ast]=Imaxe del día
Name[bs]=Slika dana
Name[ca]=Imatge del dia
Name[ca@valencia]=Imatge del dia
Name[cs]=Obrázek dne
Name[da]=Dagens billede
Name[de]=Bild des Tages
Name[el]=Φωτογραφία της ημέρας
Name[en_GB]=Picture of the Day
Name[es]=Imagen del día
Name[et]=Päevapilt
Name[fi]=Päivän kuva
Name[fr]=Image du jour
Name[ga]=Grianghraf an Lae
Name[gl]=Imaxe do día
Name[hr]=Slika dana
Name[hu]=A nap képe
Name[is]=Myndir dagsins
Name[it]=Immagine del giorno
Name[ja]=今日の写真
Name[kk]=Тәулік суреті
Name[km]=រូបភាព​ប្រចាំ​ថ្ងៃ
Name[ko]=오늘의 그림
Name[lt]=Dienos paveiksliukas
Name[lv]=Dienas attēls
Name[mr]=दिवसाचे चित्र
Name[nb]=Dagens bilde
Name[nds]=Bild för Vundaag
Name[nl]=Afbeelding van de dag
Name[nn]=Dagens bilete
Name[pa]=ਅੱਜ ਦੀ ਤਸਵੀਰ
Name[pl]=Obraz dnia
Name[pt]=Imagem do Dia
Name[pt_BR]=Imagem do dia
Name[ro]=Imaginea zilei
Name[ru]=Изображение дня
Name[sk]=Obrázok dňa
Name[sl]=Slika dneva
Name[sr]=слика дана
Name[sr@ijekavian]=слика дана
Name[sr@ijekavianlatin]=slika dana
Name[sr@latin]=slika dana
Name[sv]=Dagens bild
Name[tr]=Günün Resmi
Name[uk]=Картинка дня
Name[wa]=Imådje do djoû
Name[x-test]=xxPicture of the Dayxx
Name[zh_CN]=每日一图
Name[zh_TW]=本日圖片
Type=Service
Icon=preferences-desktop-color
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_potd
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.potd
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

