[Desktop Entry]
Name=Thumbnails
Name[ast]=Miniatures
Name[az]=Miniatürlər
Name[ca]=Miniatures
Name[ca@valencia]=Miniatures
Name[cs]=Miniatury
Name[da]=Miniaturer
Name[de]=Vorschaubilder
Name[el]=Εικόνες επισκόπησης
Name[en_GB]=Thumbnails
Name[es]=Miniaturas
Name[et]=Pisipildid
Name[eu]=Koadro txikiak
Name[fi]=Pienoiskuvat
Name[fr]=Vignettes
Name[gl]=Miniaturas
Name[he]=תמונות ממוזערות
Name[hu]=Bélyegképek
Name[ia]=Miniaturas
Name[id]=Gambar-mini
Name[it]=Miniature
Name[ko]=축소판
Name[lt]=Miniatiūros
Name[nb]=Minibilder
Name[nl]=Miniaturen
Name[nn]=Miniatyrbilete
Name[pl]=Miniatury
Name[pt]=Miniaturas
Name[pt_BR]=Miniaturas
Name[ro]=Miniaturi
Name[ru]=Миниатюры
Name[sk]=Miniatúry
Name[sl]=Sličice
Name[sr]=Сличице
Name[sr@ijekavian]=Сличице
Name[sr@ijekavianlatin]=Sličice
Name[sr@latin]=Sličice
Name[sv]=Miniatyrbilder
Name[tr]=Küçük Resimler
Name[uk]=Мініатюри
Name[vi]=Hình nhỏ
Name[x-test]=xxThumbnailsxx
Name[zh_CN]=缩略图
Name[zh_TW]=縮圖
Comment=A window switcher layout using live thumbnails
Comment[az]=Canlı miniatürlər istifadə edən pəncərə dəyişdiricisi
Comment[ca]=Una disposició del commutador de finestres que utilitza miniatures animades
Comment[ca@valencia]=Una disposició del commutador de finestres que utilitza miniatures animades
Comment[cs]=Přepínač oken s živými náhledy
Comment[da]=Et vinduesskifter-layout som bruger aktive miniaturer
Comment[de]=Ein Fensterwechsler-Layout, das Live-Vorschauen verwendet
Comment[el]=Μια διάταξη εναλλαγής παραθύρων που χρησιμοποιεί ζωντανές εικόνες επισκόπησης
Comment[en_GB]=A window switcher layout using live thumbnails
Comment[es]=Un esquema de selector de ventanas que usa miniaturas en vivo
Comment[et]=Aknavahetaja paigutus reaalajas pisipiltidega
Comment[eu]=Koadro txiki bizidunak erabiltzen dituen leiho-aldatzaile diseinu bat
Comment[fi]=Ikkunanvalitsimen asettelu, joka käyttää pienoiskuvia
Comment[fr]=Une disposition du sélecteur de fenêtres utilisant des vignettes en temps réel
Comment[gl]=Unha disposición do selector de xanelas que usa miniaturas ao vivo
Comment[he]=מחליף חלונות המציג באמצעות תמונות ממוזערות שלהם
Comment[hu]=Élő előnézeteket használó ablakváltó.
Comment[ia]=Un disposition de commutator de fenestra usante miniaturas vive
Comment[id]=Sebuah tataletak pengalih window yang menggunakan gambar-mini hidup
Comment[it]=Uno scambiafinestre che utilizza miniature dinamiche
Comment[ko]=현재 상태를 보여 주는 축소판을 사용하는 창 전환기
Comment[lt]=Langų perjungiklio išdėstymas naudojantis tikralaikes miniatiūras
Comment[nb]=En vindusbytterutforming som bruker sanntids minibilder
Comment[nl]=Een indeling van de vensterwisselaar met levende miniaturen
Comment[nn]=Vindaugsbytar som brukar kontinuerleg oppdaterte miniatyrbilete
Comment[pl]=Przełącznik okien z miniaturami na żywo
Comment[pt]=Uma disposição de selecção de janelas que usa miniaturas em constante actualização
Comment[pt_BR]=Um layout do seletor de janelas que usa miniaturas geradas na hora
Comment[ro]=Aranjament pentru comutatorul de ferestre folosind pictograme vii
Comment[ru]=Переключатель окон в виде «живых» миниатюр окон
Comment[sk]=Rozloženie prepínača okien používajúce živé miniatúry
Comment[sl]=Razpored preklopnika med okni, ki uporablja žive sličice
Comment[sr]=Распоред мењача прозора са живим сличицама
Comment[sr@ijekavian]=Распоред мењача прозора са живим сличицама
Comment[sr@ijekavianlatin]=Raspored menjača prozora sa živim sličicama
Comment[sr@latin]=Raspored menjača prozora sa živim sličicama
Comment[sv]=En layout för fönsterbyte som använder direkta miniatyrbilder
Comment[tr]=Canlı küçük resimleri gösteren bir pencere değiştirme düzeni
Comment[uk]=Компонування засобу перемикання вікон з мініатюрами поточного стану вікон
Comment[vi]=Bố cục trình chuyển cửa sổ dùng các hình nhỏ động
Comment[x-test]=xxA window switcher layout using live thumbnailsxx
Comment[zh_CN]=一个显示实时窗口预览的窗口切换器布局
Comment[zh_TW]=使用即時縮圖的視窗切換器佈局
Icon=preferences-system-windows-switcher-thumbnails

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=thumbnails
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
