[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_krunner_audioplayercontrol
X-KDE-ParentComponents=Audio Player Control Runner
X-KDE-PluginKeyword=kcm_krunner_audioplayercontrol

Name=Control audio player
Name[ar]=التحكم بمشغل الصوتيات
Name[bs]=Kontroliranje audio plejera
Name[ca]=Controlador del reproductor d'àudio
Name[ca@valencia]=Controlador del reproductor d'àudio
Name[cs]=Ovládat zvukový přehrávač
Name[da]=Betjening af lydafspiller
Name[de]=Medienwiedergabe steuern
Name[el]=Έλεγχος του αναπαραγωγέα ήχου
Name[en_GB]=Control audio player
Name[es]=Controlar el reproductor de audio
Name[et]=Helifailide mängija juhtimine
Name[fi]=Äänisoittimen hallinta
Name[fr]=Contrôle du lecteur audio
Name[gl]=Control para reprodutores de son
Name[he]=שליטה על נגן השמע
Name[hr]=Kontroliraj svirač zvuka
Name[hu]=Zenelejátszó-vezérlő
Name[it]=Controllo lettore audio
Name[ja]=オーディオプレーヤーを制御
Name[kk]=Аудоплейерді басқару
Name[km]=ត្រួតពិនិត្យ​កម្មវិធីចាក់​អូឌីយ៉ូ
Name[ko]=오디오 재생기 제어
Name[lt]=Valdyti garso grotuvė
Name[lv]=Kontrolēt audio atskaņotāju
Name[mr]=ऑडिओ प्लेयर नियंत्रण
Name[nb]=Styr mediaspiller
Name[nds]=Klangafspelerkuntrull
Name[nl]=Audiospeler besturen
Name[nn]=Kontroller lydspelar
Name[pa]=ਆਡੀਓ ਪਲੇਅਰ ਕੰਟਰੋਲ ਕਰੋ
Name[pl]=Obsługa odtwarzacza muzyki
Name[pt]=Controlar o leitor de áudio
Name[pt_BR]=Controlar o reprodutor de áudio
Name[ro]=Controlează lector audio
Name[ru]=Пульт аудиопроигрывателя
Name[sk]=Ovládanie audio prehrávača
Name[sl]=Nadzorovanje predvajalnika zvoka
Name[sr]=управљање аудио плејером
Name[sr@ijekavian]=управљање аудио плејером
Name[sr@ijekavianlatin]=upravljanje audio plejerom
Name[sr@latin]=upravljanje audio plejerom
Name[sv]=Styr ljudspelare
Name[th]=ควบคุมเครื่องเล่นเสียง
Name[tr]=Müzik çaları yönet
Name[uk]=Керування аудіопрогравачем
Name[x-test]=xxControl audio playerxx
Name[zh_CN]=控制音乐播放器
Name[zh_TW]=控制音效播放器
