[Desktop Entry]
Name=Control Audio Player
Comment=Allows to control MPRIS audio players (it is able to search through Amarok's collection, too)
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=package_multimedia_music
X-KDE-Library=krunner_audioplayercontrol
X-KDE-PluginInfo-Name=audioplayercontrol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
