[Desktop Entry]
Name=Control Audio Player
Name[en_GB]=Control Audio Player
Name[nb]=Portabel mediaspiller
Name[pt]=Controlar o Leitor de Áudio
Name[sv]=Styr ljudspelare
Name[uk]=Керування аудіопрогравачем
Name[x-test]=xxControl Audio Playerxx
Name[zh_TW]=控制音效播放器
Comment=Allows to control MPRIS audio players (it is able to search through Amarok's collection, too)
Comment[en_GB]=Allows to control MPRIS audio players (it is able to search through Amarok's collection, too)
Comment[pt]=Permite controlar os leitores de áudio MPRIS (também é capaz de percorrer a colecção do Amarok)
Comment[sv]=Gör det möjligt att styra MPRIS-ljudspelare (kan också söka igenom Amaroks samling)
Comment[uk]=Надає змогу керувати аудіопрогравачами стандарту MPRIS (крім того, може здійснювати пошук у збірці Amarok)
Comment[x-test]=xxAllows to control MPRIS audio players (it is able to search through Amarok's collection, too)xx
Comment[zh_TW]=允許控制 MPRIS 音效播放器（也可以透過 Amarok 的收藏搜尋）
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=package_multimedia_music
X-KDE-Library=krunner_audioplayercontrol
X-KDE-PluginInfo-Name=audioplayercontrol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
