[Desktop Entry]
Name=Blue Sun
Name[pt]=Sol Azul
Name[pt_BR]=Sol Azul
Name[sv]=Blå sol
Name[uk]=Синє сонце
Name[x-test]=xxBlue Sunxx

X-KDE-PluginInfo-Name=Blue_Sun
X-KDE-PluginInfo-Author=Peter Rockai
X-KDE-PluginInfo-Email=me@mornfall.net
X-KDE-PluginInfo-License=GPL
