[Group-Default]
background.type=none
background.color.normal=0,0,0
background.color.active=255,255,255
background.color.disabled=0,0,0,125
foreground.color.normal=255,255,255
foreground.color.active=255,255,255
foreground.color.disabled=0,0,0,125

# generic groups
[Group-BasicWidget] # del
parent=Default

[Group-ExtenderButton]
parent=Default

[Group-ExtenderButton-Extender] # del
parent=Default

[Group-Panel]
background.type=none

[Group-Panel-Title]
parent=Default

[Group-ActionListView] # deprecated
parent=Default

[Group-ActionListView-Scroll-Up] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-up-plasma-applet

[Group-ActionListView-Scroll-Down] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-down-plasma-applet

[Group-ActionListView-Items] # deprecated
foreground.color.disabled=125,125,125
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/action-list-view-items

[Group-ActionListView-Items-Extender] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-items-extender

[Group-ActionListView-Categories] # deprecated
foreground.color.disabled=125,125,125
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/action-list-view-headers-plasma-applet

[Group-ActionListView-Categories-Extender] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-categories-extender

[Group-PassagewayView-Button]
foreground.color.disabled=0,0,0
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/passageway-view-buttons

[Group-PassagewayView-Button-Extender]
background.type=svg
background.svg=lancelot/passageway-view-buttons-extender

[Group-ScrollBar]
background.type=svg
background.svg=lancelot/scroll-bar-background-applet

[Group-ScrollBar-UpButton]
background.type=svg
background.svg=lancelot/scroll-bar-background-applet

[Group-ScrollBar-DownButton]
background.type=svg
background.svg=lancelot/scroll-bar-background-applet

[Group-ScrollBar-LeftButton]
background.type=svg
background.svg=lancelot/scroll-bar-background-applet

[Group-ScrollBar-RightButton]
background.type=svg
background.svg=lancelot/scroll-bar-background-applet

[Group-ScrollBar-UpBar]
background.type=svg
background.svg=lancelot/scroll-bar-background-bar-up

[Group-ScrollBar-DownBar]
background.type=svg
background.svg=lancelot/scroll-bar-background-bar-down

[Group-ScrollBar-LeftBar]
background.type=svg
background.svg=lancelot/scroll-bar-background-bar-left

[Group-ScrollBar-RightBar]
background.type=svg
background.svg=lancelot/scroll-bar-background-bar-right

[Group-ScrollBar-HandleHorizontal]
background.type=svg
background.svg=lancelot/scroll-bar-handle-horizontal

[Group-ScrollBar-HandleVertical]
background.type=svg
background.svg=lancelot/scroll-bar-handle-vertical-applet

# application groups
[Group-SystemButtons] # del
foreground.color.normal=150,150,150
foreground.color.active=0,0,0
background.type=svg
background.svg=lancelot/system-buttons

[Group-SystemButtons-Extender] # del
background.type=svg
background.svg=lancelot/system-buttons-extender

[Group-SectionButtons] # del
foreground.color.normal=255,255,255
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/section-buttons

[Group-SectionButtons-Extender] # del
background.type=none

[Group-AppletLaunchButton] # del
background.type=svg
background.svg=lancelot/launch-applet-button

[Group-MainPanel] # del
background.type=svg
background.svg=lancelot/main-panel

[Group-RootPanel] # del
background.type=svg
background.svg=lancelot/main-background

[Group-InnerPanel] # del
background.type=svg
background.svg=lancelot/inner-background

[Group-InnerPanel-Button] # del
parent=PassagewayView-Button

[Group-InnerPanel-Button-Extender] # del
parent=PassagewayView-Button-Extender
