[Group-Default]
background.type=none
background.color.normal=0,0,0
background.color.active=255,255,255
background.color.disabled=0,0,0,125
foreground.color.normal=0,0,0
foreground.color.active=255,255,255
foreground.color.disabled=0,0,0,125

# generic groups
[Group-BasicWidget] # del
parent=Default

[Group-ExtenderButton]
parent=Default

[Group-ExtenderButton-Extender] # del
parent=Default

[Group-Panel]
background.type=none

[Group-Panel-Title]
parent=Default

[Group-ActionListView] # deprecated
parent=Default

[Group-ActionListView-Scroll-Up] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-up

[Group-ActionListView-Scroll-Down] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-down

[Group-ActionListView-Left-Scroll-Up] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-up

[Group-ActionListView-Left-Scroll-Down] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-down

[Group-ActionListView-Right-Scroll-Up] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-up

[Group-ActionListView-Right-Scroll-Down] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-down

[Group-PassagewayView-Entrance-Scroll-Up] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-up

[Group-PassagewayView-Entrance-Scroll-Down] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-down

[Group-PassagewayView-Atlas-Scroll-Up] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-up

[Group-PassagewayView-Atlas-Scroll-Down] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-scroll-down

[Group-ActionListView-Items] # deprecated
foreground.color.disabled=0,0,0
foreground.color.active=0,0,0
background.type=svg
background.svg=lancelot/action-list-view-items

[Group-ActionListView-Items-Extender] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-items-extender

[Group-ActionListView-ItemsLeft] # deprecated
parent=ActionListView-Items

[Group-ActionListView-ItemsRight] # deprecated
parent=ActionListView-Items

[Group-ActionListView-ItemsLeft-Extender] # deprecated
parent=ActionListView-Items-Extender

[Group-ActionListView-ItemsRight-Extender] # deprecated
parent=ActionListView-Items-Extender

[Group-ActionListView-CategoriesPass] # deprecated
foreground.color.disabled=0,0,0
foreground.color.active=0,0,0
background.type=svg
background.svg=lancelot/action-list-view-categories

[Group-ActionListView-CategoriesPass-Extender] # deprecated
background.type=svg
background.svg=lancelot/action-list-view-categories-extender

[Group-ActionListView-Categories] # deprecated
foreground.color.disabled=0,0,0
foreground.color.active=0,0,0
background.type=svg
background.svg=lancelot/action-list-view-headers

[Group-PassagewayView-Button]
foreground.color.disabled=0,0,0
foreground.color.active=255,255,255
foreground.color.normal=0,0,128
background.type=svg
background.svg=lancelot/passageway-view-buttons

[Group-PassagewayView-Button-Extender]
background.type=svg
background.svg=lancelot/passageway-view-buttons-extender

[Group-PassagewayView-Spacer]
foreground.color.disabled=0,0,0
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/passageway-view-spacer

[Group-PassagewayView-InactiveButton]
foreground.color.disabled=0,0,0
foreground.color.active=0,0,0
background.type=svg
background.svg=lancelot/passageway-view-inactivebuttons

[Group-InnerPanel-InactiveButton]
parent=PassagewayView-InactiveButton

[Group-ScrollBar]
background.type=svg
background.svg=lancelot/scroll-bar-background

[Group-ScrollBar-UpButton]
background.type=svg
background.svg=lancelot/scroll-bar-background

[Group-ScrollBar-DownButton]
background.type=svg
background.svg=lancelot/scroll-bar-background

[Group-ScrollBar-LeftButton]
background.type=svg
background.svg=lancelot/scroll-bar-background

[Group-ScrollBar-RightButton]
background.type=svg
background.svg=lancelot/scroll-bar-background

[Group-ScrollBar-UpBar]
background.type=svg
background.svg=lancelot/scroll-bar-background-bar-up

[Group-ScrollBar-DownBar]
background.type=svg
background.svg=lancelot/scroll-bar-background-bar-down

[Group-ScrollBar-LeftBar]
background.type=svg
background.svg=lancelot/scroll-bar-background-bar-left

[Group-ScrollBar-RightBar]
background.type=svg
background.svg=lancelot/scroll-bar-background-bar-right

[Group-ScrollBar-HandleHorizontal]
background.type=svg
background.svg=lancelot/scroll-bar-handle-horizontal

[Group-ScrollBar-HandleVertical]
background.type=svg
background.svg=lancelot/scroll-bar-handle-vertical

# application groups
[Group-SystemButtons] # del
foreground.color.normal=250,250,250
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/system-buttons

[Group-LancelotContext] # del
background.type=svg
background.svg=lancelot/lancelot-context

[Group-SystemButtons-Extender] # del
background.type=svg
background.svg=lancelot/system-buttons-extender

[Group-LancelotContext-Extender] # del
background.type=svg
background.svg=lancelot/lancelot-context-extender

[Group-SectionButtons] # del
foreground.color.normal=255,255,255
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/section-buttons

[Group-SectionButtons-Extender] # del
background.type=none

[Group-AppletLaunchButton] # del
background.type=svg
background.svg=lancelot/launch-applet-button

[Group-MainPanel] # del
background.type=svg
background.svg=lancelot/main-panel

[Group-RootPanel] # del
background.type=svg
background.svg=lancelot/main-background

[Group-InnerPanel] # del
background.type=svg
background.svg=lancelot/inner-background

[Group-PassagewayView] # del
parent=InnerPanel

[Group-InnerPanel-Button] # del
parent=PassagewayView-Button

[Group-InnerPanel-Button-Extender] # del
parent=PassagewayView-Button-Extender
