[Desktop Entry]
Name=Fuzzy Clock

Comment=Time displayed in a less precise format

Icon=clock
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_fuzzy_clock
X-KDE-PluginInfo-Author=Riccardo Iaconelli, Sven Burmeister
X-KDE-PluginInfo-Email=riccardo@kde.org, sven.burmeister@gmx.net
X-KDE-PluginInfo-Name=fuzzy-clock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://http://userbase.kde.org/Plasma/Clocks
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
