[Desktop Entry]
Name=Fuzzy Clock
Name[ca]=Rellotge aproximat
Name[cs]=Nejasné hodiny
Name[da]=Upræcist ur
Name[de]=Umgangssprachliche Uhr
Name[el]=Ασαφές ρολόι
Name[es]=Reloj impreciso
Name[et]=Segane kell
Name[fi]=Epätarkka kello
Name[fr]=Horloge vague
Name[ga]=Clog Doiléir
Name[gl]=Reloxo impreciso
Name[hu]=Szöveges óra
Name[it]=Orologio confuso
Name[ja]=あいまい時計
Name[km]=នាឡិកា​ស្រពិចស្រពិល
Name[ko]=퍼지 시계
Name[lv]=Aptuvens pulkstenis
Name[nds]=Bummelig-Klock
Name[nl]=Vage klok
Name[nn]=Uklar klokke
Name[oc]=Relòtge fosc
Name[pa]=ਫਜ਼ੀ ਘੜੀ
Name[pl]=Zegarynka
Name[pt]=Relógio Difuso
Name[pt_BR]=Relógio aproximado
Name[ro]=Ceas evaziv
Name[ru]=Нечёткое время
Name[sl]=Zgovorna ura
Name[sr]=одокативни сат
Name[sr@latin]=odokativni sat
Name[sv]=Inexakt klocka
Name[th]=นาฬิกาแบบตรรกะพื้นฐาน
Name[tr]=Bulanık Saat
Name[uk]=Нечіткий годинник
Name[wa]=Ôrlodje a l' avirance
Name[x-test]=xxFuzzy Clockxx
Name[zh_CN]=模糊时钟
Name[zh_TW]=模糊時鐘

Comment=Time displayed in a less precise format
Comment[cs]=Zobrazení času v nejasném formátu
Comment[de]=Zeigt die Zeit weniger genau an
Comment[el]=Εμφάνιση ώρας σε μια λιγότερο ακριβή μορφή
Comment[es]=Tiempo mostrado en un formato menos preciso
Comment[et]=Aja näitamine mitte nii täpsel kujul
Comment[fr]=Affiche l'heure avec peu de précision
Comment[gl]=Mostra a hora nun formato impreciso
Comment[it]=Ora mostrata in modo meno preciso
Comment[ja]=時間をあいまいな形式で表示します
Comment[km]=បាន​បង្ហាញ​ពេលវេលា​នៅក្នុងទ្រង់ទ្រាយជាក់លាក់
Comment[lv]=Rāda laiku mazāk precīzā formātā
Comment[nds]=Tiet, wiest in en nich so akraat Formaat
Comment[nl]=De tijd in iets minder nauwkeurig formaat
Comment[nn]=Klokka – meir eller mindre nøyaktig
Comment[pt]=Hora mostrada num formato menos exacto
Comment[pt_BR]=Horário mostrado em formato menos preciso
Comment[ro]=Ora afișată într-un format mai puțin exact
Comment[ru]=Время в не совсем определённом формате
Comment[sr]=Време приказано на мање прецизан начин
Comment[sr@latin]=Vreme prikazano na manje precizan način
Comment[sv]=Tidvisning med ett mindre exakt format
Comment[th]=แสดงเวลาในรูปแบบที่มีความแม่นยำน้อย
Comment[tr]=Saati daha az belirli bir şekilde göster
Comment[uk]=Час, показаний у менш точному форматі
Comment[x-test]=xxTime displayed in a less precise formatxx
Comment[zh_CN]=以不精确格式显示的时间
Comment[zh_TW]=以較不精確的方式顯示時間

Icon=chronometer
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_fuzzy_clock
X-KDE-PluginInfo-Author=Riccardo Iaconelli, Sven Burmeister
X-KDE-PluginInfo-Email=riccardo@kde.org, sven.burmeister@gmx.net
X-KDE-PluginInfo-Name=fuzzy-clock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
