[Desktop Entry]
Name=Social News
Name[ca]=Notícies socials
Name[ca@valencia]=Notícies socials
Name[da]=Sociale nyheder
Name[de]=Nachrichten (soziale Netzwerke)
Name[en_GB]=Social News
Name[es]=Noticias sociales
Name[et]=Sotsiaalsed uudised
Name[fr]=Nouvelles sociales
Name[ga]=Nuacht Shóisialta
Name[hr]=Društvene novosti
Name[hu]=Közösségi hírek
Name[it]=Notizie sociali
Name[ja]=ソーシャルニュース
Name[kk]=Қоғамдық жаңалықтар
Name[km]=ព័ត៌មាន​សង្គម
Name[nb]=Sosiale nyheter
Name[nds]=Meenschap-Narichten
Name[nl]=Sociaal nieuws
Name[pa]=ਸਮਾਜਿਕ ਖ਼ਬਰਾਂ
Name[pl]=Wiadomości społecznościowe
Name[pt]=Notícias Sociais
Name[pt_BR]=Notícias sociais
Name[ro]=Știri sociale
Name[ru]=Новости openDesktop
Name[sk]=Sociálne novinky
Name[sr]=друштвене вести
Name[sr@ijekavian]=друштвене вијести
Name[sr@ijekavianlatin]=društvene vijesti
Name[sr@latin]=društvene vesti
Name[sv]=Sociala nyheter
Name[uk]=Суспільні новини
Name[x-test]=xxSocial Newsxx
Name[zh_CN]=社会新闻
Name[zh_TW]=Social 新聞
Comment=Stay informed with the Social Desktop
Comment[ca]=Mantingueu-vos informat amb l'escriptori social
Comment[ca@valencia]=Mantingueu-vos informat amb l'escriptori social
Comment[da]=Hold dig opdateret med den sociale desktop
Comment[de]=Bleiben Sie auf dem Laufenden mit dem Social Desktop
Comment[el]=Μείνετε ενημερωμένοι με την επιφάνεια εργασίας κοινωνικής δικτύωσης
Comment[en_GB]=Stay informed with the Social Desktop
Comment[es]=Manténgase informado con el escritorio social
Comment[et]=Suhtlemine sotsiaalse töölaua vahendusel
Comment[fi]=Pysy perillä sosiaalisesta työpöydästä
Comment[fr]=Rester informé avec le bureau social
Comment[ga]=Bí ar an eolas leis an Deasc Shóisialta
Comment[gl]=Mantéñase informado co escritorio social
Comment[hr]=Ostanite informirani o Social Desktopu
Comment[it]=Mantieniti informato con il desktop sociale
Comment[ja]=ソーシャルデスクトップを使って最新の情報を得ます
Comment[kk]=Қоғамдық ақпараттарын алу
Comment[km]=ជូន​ដំណឹង​អំពី​ផ្ទៃតុ​សង្គម
Comment[lv]=Informācija izmantojot sociālo darbvirsmu
Comment[nb]=Hold deg informert med det sosiale skrivebordet
Comment[nds]=Op Stand blieven mit den Meenschap-Schriefdisch
Comment[nl]=Blijf geïnformeerd met het sociale bureaublad
Comment[nn]=Ver velinformert med det sosiale skrivebordet
Comment[pa]=ਸਮਾਜਿਕ ਡੈਸਕਟਾਪ ਨਾਲ ਜਾਣਕਾਰੀ ਰੱਖੋ
Comment[pl]=Komunikacja przy użyciu Pulpitu społecznościowego
Comment[pt]=Manter-se informado com o Ambiente de Trabalho Social
Comment[pt_BR]=Esteja informado com Ambiente de Trabalho Social
Comment[ro]=Rămîneți informat cu Biroul Social
Comment[ru]=Показывает события, происходящие на openDesktop
Comment[sk]=Zostaňte informovaný so sociálnym pracovným prostredím
Comment[sl]=Ostanite obveščeni preko Socialnega namizja
Comment[sr]=Будите информисани преко Друштвене површи
Comment[sr@ijekavian]=Будите информисани преко Друштвене површи
Comment[sr@ijekavianlatin]=Budite informisani preko Društvene površi
Comment[sr@latin]=Budite informisani preko Društvene površi
Comment[sv]=Håll dig informerad med det sociala skrivbordet
Comment[tr]=Sosyal Masaüstünü kullan, haberin olsun
Comment[uk]=Отримуйте інформацію за допомогою соціальної стільниці
Comment[x-test]=xxStay informed with the Social Desktopxx
Comment[zh_CN]=使用社会桌面沟通
Comment[zh_TW]=使用 Social Desktop 聯繫

Icon=system-users
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_opendesktop_activities
X-KDE-PluginInfo-Author=Eckhart Wörner
X-KDE-PluginInfo-Email=ewoerner@kde.org
X-KDE-PluginInfo-Name=opendesktop_activities
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
Keywords=Utilities
Keywords[ar]=أدوات
Keywords[ca]=Utilitats
Keywords[ca@valencia]=Utilitats
Keywords[cs]=Nástroje
Keywords[da]=Redskaber
Keywords[de]=Dienstprogramme
Keywords[el]=Εργαλεία
Keywords[en_GB]=Utilities
Keywords[es]=Utilidades
Keywords[et]=Abivahendid
Keywords[fi]=Työkalut
Keywords[fr]=Utilitaires
Keywords[ga]=Uirlisí
Keywords[gl]=Utensilios
Keywords[hr]=Uslužni programi
Keywords[is]=Nytjatól
Keywords[it]=Utilità
Keywords[ja]=ユーティリティ
Keywords[kk]=Утилиталар
Keywords[km]=ឧបករណ៍​ប្រើប្រាស់
Keywords[lv]=Palīgrīki
Keywords[nb]=Verktøy
Keywords[nds]=Warktüüch
Keywords[nl]=Hulpmiddelen
Keywords[nn]=Verktøy
Keywords[pa]=ਸਹੂਲਤਾਂ
Keywords[pl]=Narzędzia
Keywords[pt]=Utilitários
Keywords[pt_BR]=Utilitários
Keywords[ro]=Utilitare
Keywords[ru]=Служебные
Keywords[sk]=Nástroje
Keywords[sl]=Potrebščine
Keywords[sr]=Алатке
Keywords[sr@ijekavian]=Алатке
Keywords[sr@ijekavianlatin]=Alatke
Keywords[sr@latin]=Alatke
Keywords[sv]=Verktyg
Keywords[th]=อรรถประโยชน์
Keywords[tr]=Yardımcı Araçlar
Keywords[uk]=Інструменти
Keywords[x-test]=xxUtilitiesxx
Keywords[zh_CN]=工具
Keywords[zh_TW]=實用工具
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Optional
