[Desktop Entry]
Encoding=UTF-8
Name=Unit Converter
Name[ar]=محول الوحدات
Name[ast]=Conversor d'unidaes
Name[bs]=Pretvarač mjernih jedinica
Name[ca]=Convertidor d'unitats
Name[ca@valencia]=Convertidor d'unitats
Name[cs]=Převod jednotek
Name[da]=Enhedskonvertering
Name[de]=Einheiten-Umrechner
Name[el]=Μετατροπέας μονάδων
Name[en_GB]=Unit Converter
Name[es]=Conversor de unidades
Name[et]=Ühikute teisendaja
Name[eu]=Unitate bihurtzailea
Name[fi]=Yksikkömuunnin
Name[fr]=Convertisseur d'unité
Name[ga]=Tiontaire Aonad
Name[gl]=Convertedor de unidades
Name[he]=ממיר הערכים
Name[hr]=Pretvarač jedinica
Name[hu]=Mértékegységváltó
Name[is]=Einingaumbreytir
Name[it]=Convertitore di unità
Name[ja]=単位コンバータ
Name[kk]=Өлшем бірліктерін аудару
Name[km]=កម្មវិធី​បម្លែង​ឯកតា
Name[ko]=단위 변환기
Name[ku]=Veguherînerê Yeke yê
Name[lt]=Vienetų konvertuoklis
Name[lv]=Mērvienību pārveidotājs
Name[mr]=एकक परिवर्तक
Name[nb]=Enhetskonverterer
Name[nds]=Eenheiten ümreken
Name[nl]=Eenheden converteren
Name[nn]=Einingskonvertering
Name[pa]=ਯੂਨਿਟ ਕਨਵਰਟਰ
Name[pl]=Przelicznik jednostek
Name[pt]=Conversor de Unidades
Name[pt_BR]=Conversor de unidades
Name[ro]=Convertor de unități
Name[ru]=Преобразование величин
Name[sk]=Prevod jednotiek
Name[sl]=Pretvornik enot
Name[sq]=Konvertues Njësish
Name[sr]=претварач јединица
Name[sr@ijekavian]=претварач јединица
Name[sr@ijekavianlatin]=pretvarač jedinica
Name[sr@latin]=pretvarač jedinica
Name[sv]=Enhetskonvertering
Name[th]=เครื่องมือแปลงค่าหน่วย
Name[tr]=Birim Dönüştürücü
Name[ug]=بىرلىك ئالماشتۇرغۇچ
Name[uk]=Перетворювач одиниць
Name[wa]=Radapteu d' unité
Name[x-test]=xxUnit Converterxx
Name[zh_CN]=单位转换器
Name[zh_TW]=單位轉換器
Comment=Plasmoid for converting units
Comment[ar]=بلازمويد لتحويل الوحدات
Comment[ast]=Plasmoide pa convertir unidaes
Comment[bs]=Plasmoid za pretvaranje jedinica
Comment[ca]=Plasmoide per convertir unitats
Comment[ca@valencia]=Plasmoide per convertir unitats
Comment[cs]=Plasmoid pro převod jednotek
Comment[da]=Plasmoid til at konvertere enheder.
Comment[de]=Miniprogramm zum Umrechnen von Einheiten
Comment[el]=Γραφικό συστατικό για τη μετατροπή μονάδων
Comment[en_GB]=Plasmoid for converting units
Comment[es]=Plasmoide para convertir unidades
Comment[et]=Ühikute teisendamise plasmoid
Comment[fi]=Yksikkömuunnosplasmoidi
Comment[fr]=Composant graphique permettant de réaliser des conversions d'unités
Comment[ga]=Plasmóid a thiontaíonn aonaid
Comment[gl]=Plasmoide para converter unidades
Comment[hr]=Plasmoid za pretvorbu jedinica
Comment[hu]=Plazmoid mértékegységek konvertálására
Comment[is]=Plasmíð fyrir umbreytingu mælieininga
Comment[it]=Plasmoide per la conversione delle unità di misura
Comment[ja]=単位を変換するプラズモイド
Comment[kk]=Өлшем бірліктерін аударып беретін плазмоиді
Comment[km]=Plasmoid សម្រាប់​បម្លែង​ឯកតា
Comment[ko]=단위 변환 Plasma 위젯
Comment[lt]=Vienetų konvertavimo plazmoidas
Comment[lv]=Sīkrīks mērvienību pārveidošanai
Comment[mr]=एकके परिवर्तन करण्याचे प्लाज्मोइड
Comment[nb]=Plasmoide for å omregne enheter
Comment[nds]=Plasma-Lüttprogramm för't Wanneln vun Eenheiten
Comment[nl]=Plasmoid voor eenheden converteren
Comment[nn]=Konverter mellom ulike einingar
Comment[pa]=ਪਲਾਜ਼ਮੋਡ ਲਈ ਇਕਾਈਆਂ ਬਦਲੋ
Comment[pl]=Plazmoid do konwersji jednostek
Comment[pt]=Plasmóide para converter unidades
Comment[pt_BR]=Plasmoide para converter unidades
Comment[ro]=Plasmoid pentru conversia unităților
Comment[ru]=Преобразование единиц измерения
Comment[sk]=Plasmoid na konverziu jednotiek
Comment[sl]=Gradnik za pretvarjanje enot
Comment[sr]=Плазмоид за претварање јединица
Comment[sr@ijekavian]=Плазмоид за претварање јединица
Comment[sr@ijekavianlatin]=Plazmoid za pretvaranje jedinica
Comment[sr@latin]=Plazmoid za pretvaranje jedinica
Comment[sv]=Plasmoid för att konvertera enheter
Comment[th]=พลาสมอยด์สำหรับการแปลงค่าหน่วยต่าง ๆ
Comment[tr]=Birimleri dönüştürmek için Plasma programcığı
Comment[uk]=Плазмоїд для перетворення одиниць виміру
Comment[wa]=Plasmowide po covierser des unités
Comment[x-test]=xxPlasmoid for converting unitsxx
Comment[zh_CN]=转换单位的 plasmoid
Comment[zh_TW]=轉換單位的 Plasma 小程式
Type=Service
Icon=accessories-calculator
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_unitconverter
X-KDE-PluginInfo-Author=Gerhard Gappmeier
X-KDE-PluginInfo-Email=gerhard.gappmeier@ascolab.com
X-KDE-PluginInfo-Name=unitconverter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
