[Desktop Entry]
Name=File Watcher
Name[ca]=Vigilant de fitxers
Name[cs]=Sledování souborů
Name[csb]=Òbzérôcz lopka
Name[da]=Filovervåger
Name[de]=Dateiüberwachung
Name[el]=Επόπτης αρχείου
Name[es]=Monitor de archivos
Name[et]=Failijälgija
Name[fi]=Tiedostonkatselin
Name[fr]=Observateur de fichier
Name[ga]=Fairtheoir Comhad
Name[gl]=Vixiante de ficheiros
Name[hu]=Fájlfigyelő
Name[it]=Osservatore di file
Name[ja]=ファイルウォッチャー
Name[km]=កម្មវិធី​មើល​ឯកសារ
Name[ko]=파일 감시기
Name[lv]=Failu novērotājs
Name[nds]=Dateibeluern
Name[nl]=Bestandenvolger
Name[nn]=Filovervaking
Name[pa]=ਫਾਇਲ ਨਿਗਰਾਨ
Name[pl]=Monitorowanie plików
Name[pt]=Vigilante de Ficheiros
Name[pt_BR]=Monitor de Arquivos
Name[ro]=Supraveghetor de fișiere
Name[sl]=Nadzornik datotek
Name[sr]=надзирач фајлова
Name[sr@latin]=nadzirač fajlova
Name[sv]=Filövervakning
Name[th]=เฝ้าดูแฟ้ม
Name[tr]=Dosya Takipçisi
Name[uk]=Переглядач файлів
Name[x-test]=xxFile Watcherxx
Name[zh_CN]=文件观察器
Name[zh_TW]=檔案監看器
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
Icon=application-octet-stream

X-KDE-Library=plasma_applet_fileWatcher
X-KDE-PluginInfo-Author=Jesper Thomschutz
X-KDE-PluginInfo-Email=jesperht@yahoo.com
X-KDE-PluginInfo-Name=fileWatcher
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
