[Desktop Entry]
Name=Comic Strip
Name[ca]=Tira còmica
Name[cs]=Komiksový proužek
Name[csb]=Kòmiksowi sztrépk
Name[da]=Tegneseriestribe
Name[de]=Comic
Name[el]=Σειρά κόμικ
Name[es]=Tira cómica
Name[et]=Koomiks
Name[fi]=Sarjakuvastrippi
Name[fr]=Bande dessinée
Name[ga]=Stiallchartún
Name[gl]=Banda deseñada
Name[hu]=Képregény
Name[it]=Striscia a fumetti
Name[ja]=コミック・ストリップ
Name[km]=យក​កំប្លែង​ចេញ
Name[ko]=만화 조각
Name[lv]=Komikss
Name[nds]=Comic
Name[nl]=Stripboek
Name[nn]=Teikneserie
Name[pl]=Komiks
Name[pt]=Banda Desenhada
Name[pt_BR]=Tirinha
Name[ro]=Benzi desenate
Name[sl]=Smešen strip
Name[sr]=стрипови
Name[sr@latin]=stripovi
Name[sv]=Tecknad serie
Name[th]=ดูหนังสือการ์ตูน
Name[tr]=Çizgi Roman
Name[uk]=Комічна стрічка
Name[wa]=Binde d' imådje
Name[x-test]=xxComic Stripxx
Name[zh_CN]=连环画
Name[zh_TW]=漫畫
Comment=View comic strips from the Internet
Comment[ca]=Mostra una tira còmica des d'internet
Comment[cs]=Ukáže komiksový proužek z internetu
Comment[csb]=Pòkazë kòmiksowi sztrépk z Internetu
Comment[da]=Viser en tegneseriestribe fra internettet
Comment[de]=Zeigt einen Comic aus dem Internet
Comment[el]=Εμφανίζει μία σειρά κόμικς από το διαδίκτυο
Comment[es]=Muestra una tira cómica de internet
Comment[et]=Internetist hangitud koomiksi näitamine
Comment[fi]=Näyttää sarjakuvastripin Internetistä
Comment[fr]=Affiche une bande dessinée provenant d'Internet
Comment[ga]=Taispeáin stiallchartún ón Idirlíon
Comment[gl]=Mostra unha banda deseñada de internet
Comment[hu]=Képregénysorozatok az internetről frissítve
Comment[it]=Mostra una striscia a fumetti da internet
Comment[ja]=インターネット上のコミック・ストリップを表示します
Comment[km]=បង្ហាញ​ការ​យក​កំប្លែង​ចេញ​ពី​អ៊ីនធឺណិត ។
Comment[ko]=인터넷에서 만화 조각을 보여줍니다
Comment[lv]=Rāda komiksu no Interneta
Comment[nds]=Wiest en Comic ut dat Internet
Comment[nl]=Toont een stripboek van het internet
Comment[nn]=Viser ein teikneserie frå Internett
Comment[pl]=Pokazuje komiks z internetu
Comment[pt]=Mostra uma banda desenhada da Internet
Comment[pt_BR]=Mostra uma tirinha da internet
Comment[ro]=Afișează benzi desenate din Internet
Comment[sl]=Prikazuje smešne stripe s spleta
Comment[sr]=Приказивање стрипова са Интернета
Comment[sr@latin]=Prikazivanje stripova sa Interneta
Comment[sv]=Visar en tecknad serie från Internet
Comment[th]=ดูหนังสือการ์ตูนจากอินเตอร์เน็ต
Comment[tr]=İnternet'ten çizgi roman - karikatürler gösterir
Comment[uk]=Показує стрічку з жартами з інтернету
Comment[wa]=Mostere ene binde d' imådje di l' Etrernet
Comment[x-test]=xxView comic strips from the internetxx
Comment[zh_CN]=显示来自互联网的连环画。
Comment[zh_TW]=從網路上顯示漫畫
Icon=face-smile-big
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_comic
X-KDE-PluginInfo-Author=Tobias Koenig
X-KDE-PluginInfo-Email=tokoe@kde.org
X-KDE-PluginInfo-Name=comic
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
