[Desktop Entry]
Name=Comic Strip
Name[ca]=Tira còmica
Name[cs]=Komiksový proužek
Name[csb]=Kòmiksowi sztrépk
Name[da]=Tegneseriestribe
Name[de]=Comic
Name[el]=Σειρά κόμικ
Name[es]=Tira cómica
Name[et]=Koomiks
Name[fi]=Sarjakuvastrippi
Name[fr]=Bande dessinée
Name[ga]=Stiallchartún
Name[gl]=Banda deseñada
Name[hu]=Képregény
Name[it]=Striscia a fumetti
Name[ja]=コミック・ストリップ
Name[km]=យក​កំប្លែង​ចេញ
Name[ko]=만화 조각
Name[lv]=Komikss
Name[nds]=Comic
Name[nl]=Stripboek
Name[nn]=Teikneserie
Name[pl]=Komiks
Name[pt]=Banda Desenhada
Name[pt_BR]=Tirinha
Name[ro]=Benzi desenate
Name[sl]=Smešen strip
Name[sr]=стрипови
Name[sr@latin]=stripovi
Name[sv]=Tecknad serie
Name[th]=ดูหนังสือการ์ตูน
Name[tr]=Çizgi Roman
Name[uk]=Комічна стрічка
Name[wa]=Binde d' imådje
Name[x-test]=xxComic Stripxx
Name[zh_CN]=连环画
Name[zh_TW]=漫畫
Comment=View comic strips from the Internet
Comment[cs]=Ukáže komiksový proužek z internetu
Comment[et]=Internetist hangitud koomiksite näitamine
Comment[ga]=Taispeáin stiallchartún ón Idirlíon
Comment[nds]=Comics ut dat Internet ankieken
Comment[pt]=Mostra bandas desenhadas da Internet
Comment[pt_BR]=Mostra bandas desenhadas da Internet
Comment[uk]=Показує стрічку з жартами з Інтернету
Comment[zh_TW]=從網路上顯示漫畫
Icon=face-smile-big
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_comic
X-KDE-PluginInfo-Author=Tobias Koenig
X-KDE-PluginInfo-Email=tokoe@kde.org
X-KDE-PluginInfo-Name=comic
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
