[Desktop Entry]
Name=KDE Commits Engine
Name[bs]=KDE Commits Engine
Name[ca]=Motor de «commits» del KDE
Name[ca@valencia]=Motor de «commits» del KDE
Name[da]=Motor til KDE Commits
Name[de]=KDE-Comic-Datentreiber
Name[el]=Μηχανή αλλαγών αποθετηρίου του KDE
Name[en_GB]=KDE Commits Engine
Name[es]=Motor de cambios confirmados de KDE
Name[et]=KDE sissekannete mootor
Name[fi]=KDE Commits -tietomoottori
Name[fr]=Moteur concernant les modifications de KDE
Name[gl]=Motor de remisións de KDE
Name[hu]=KDE kommitok modul
Name[it]=Motore depositi di KDE
Name[kk]=KDE өзгерістерін тапсыру тетігі
Name[km]=ម៉ាស៊ីន​បញ្ជូន​របស់ KDE
Name[ko]=KDE 커밋 엔진
Name[lv]=KDE izmaiņu nosūtīšanas dzinējs
Name[mr]=केडीई सादर इंजिन
Name[nb]=KDE innleveringsmotor
Name[nds]=KDE-Inspelen-Datenkarn
Name[nl]=KDE commits-engine
Name[pa]=KDE ਕਮਿਟ ਇੰਜਣ
Name[pl]=Silnik zatwierdzania KDE
Name[pt]=Motor de Envios do KDE
Name[pt_BR]=Mecanismo dos commits do KDE
Name[ru]=Источник данных об изменениях в репозиториях KDE
Name[sk]=Engine commitov KDE
Name[sl]=Pogon za zapise KDE-jeve izvorne kode
Name[sr]=мотор КДЕ‑ових предаја
Name[sr@ijekavian]=мотор КДЕ‑ових предаја
Name[sr@ijekavianlatin]=motor KDE‑ovih predaja
Name[sr@latin]=motor KDE‑ovih predaja
Name[sv]=KDE-gränssnitt för incheckningar
Name[tr]=KDE Commit Motoru
Name[uk]=Рушій внесків до KDE
Name[x-test]=xxKDE Commits Enginexx
Name[zh_CN]=KDE 提交引擎
Name[zh_TW]=KDE 提交引擎
Comment=A Data Engine for acquiring consolidated data about KDE SVN Commits
Comment[bs]=Pogon podataka za sticanje pročiščenih podataka o KDE SVN upisima
Comment[ca]=Un motor de dades de captura de dades consolidades quant als «commits» en el SVN del KDE
Comment[ca@valencia]=Un motor de dades de captura de dades consolidades quant als «commits» en el SVN del KDE
Comment[cs]=Datový nástroj pro získávání sloučených údajů o SVN příspěvcích v KDE
Comment[da]=En datamotor til at hente samlede data om KDE SVN-commits
Comment[de]=Ein Datenmodul zum Holen von zusammengefassten Daten über KDE-SVN-Commits.
Comment[el]=Μία μηχανή δεδομένων για την απόκτηση συγκεντρωτικών στοιχείων για τις καταχωρήσεις SVN του KDE
Comment[en_GB]=A Data Engine for acquiring consolidated data about KDE SVN Commits
Comment[es]=Un motor de datos para adquirir datos consolidados acerca de cambios aplicados en el SVN de KDE
Comment[et]=Andmemootor, mis hangib konsolideeritud andmeid KDE SVN-i sissekannete kohta
Comment[fi]=Tietomoottori, jolla haetaan yhdistettyjä tietoja KDE:n SVN-toimituksista (commit)
Comment[fr]=Un moteur de données permettant l'obtention d'informations à propos des modifications de KDE
Comment[gl]=Un motor de datos para obter datos consolidados sobre as remisións no repositorio Subversion de KDE.
Comment[hu]=Adatmodul összevont adatok beszerzéséhez a KDE SVN kommitokról
Comment[it]=Un motore di dati per l'acquisizione di dati consolidati sui depositi SVN di KDE
Comment[kk]=KDE SVN Commits туралы біріктірген деректерді жинайтын тетігі
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ ដើម្បី​ការទាមទារ​ទិន្នន័យ​ដែល​បាន​បង្រួម​អំពី​គម្រោង​របស់ KDE
Comment[ko]=KDE SVN 커밋 정보를 가져오는 데이터 엔진
Comment[lv]=Datu dzinējs KDE SVN nosūtīto izmaiņu apkopošanai
Comment[mr]=केडिई एसव्हीएन सादर बद्दलची एकत्रित माहिती घेण्याकरिता डेटा इंजिन
Comment[nb]=En datamotor som skaffer sammensluttede data om SVN-innleveringer til KDE
Comment[nds]=En Datenkarn för't Halen vun tohoopstellt Daten över KDE-SVN-Inspelen
Comment[nl]=Een gegevens-engine voor het ophalen van geconsolideerde gegevens over KDE-SVN-commits
Comment[pl]=Silnik danych do pobierania skonsolidowanych danych o projektach KDE SVN
Comment[pt]=Um motor de dados para adquirir dados consolidados acerca dos projectos envios do KDE para o SVN
Comment[pt_BR]=Um mecanismo de dados para obtenção de dados consolidados sobre os commits do KDE SVN
Comment[ru]=Источник сводных данных о коммитах в KDE SVN
Comment[sk]=Dátový nástroj pre získavanie konsolidačných dát o KDE SVN commitoch
Comment[sl]=Podatkovni pogon za pridobivanje podatkov o zapisih KDE-jeve izvorne kode
Comment[sr]=Датомотор за добављање систематизованих података о КДЕ‑овим СВН предајама
Comment[sr@ijekavian]=Датомотор за добављање систематизованих података о КДЕ‑овим СВН предајама
Comment[sr@ijekavianlatin]=Datomotor za dobavljanje sistematizovanih podataka o KDE‑ovim SVN predajama
Comment[sr@latin]=Datomotor za dobavljanje sistematizovanih podataka o KDE‑ovim SVN predajama
Comment[sv]=Ett datagränssnitt för att inhämta samlad data om KDE SVN-incheckningar
Comment[tr]=KDE SVN Commit bilgilerini çekmeye yarayan veri motoru
Comment[uk]=Рушій даних для отримання загальних даних щодо внесків до SVN KDE
Comment[x-test]=xxA Data Engine for acquiring consolidated data about KDE SVN Commitsxx
Comment[zh_CN]=获取有关 KDE SVN 提交统筹数据的数据引擎
Comment[zh_TW]=用於提交 KDE SVN 的聯合資料的資料引擎
Type=Service
Icon=svn-update

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_kdecommits
X-Plasma-EngineName=kdecommits
X-KDE-PluginInfo-Author=Sandro Andrade
X-KDE-PluginInfo-Email=sandroandrade@kde.org
X-KDE-PluginInfo-Name=kdecommits
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
