[Desktop Entry]
Name=KDE Commits Engine
Name[ca]=Motor de «commits» del KDE
Name[da]=Motor til KDE Commits
Name[de]=KDE-Comic-Datentreiber
Name[en_GB]=KDE Commits Engine
Name[es]=Motor de cambios confirmados de KDE
Name[et]=KDE sissekannete mootor
Name[hu]=KDE kommitok modul
Name[nb]=KDE innleveringsmotor
Name[nds]=KDE-Inspelen-Datenkarn
Name[nl]=KDE commits-engine
Name[pt]=Motor de Envios do KDE
Name[pt_BR]=Mecanismo dos commits do KDE
Name[ru]=Источник данных об изменениях в репозиториях KDE
Name[sr]=мотор КДЕ‑ових предаја
Name[sr@ijekavian]=мотор КДЕ‑ових предаја
Name[sr@ijekavianlatin]=motor KDE‑ovih predaja
Name[sr@latin]=motor KDE‑ovih predaja
Name[sv]=KDE-gränssnitt för incheckningar
Name[tr]=KDE Commit Motoru
Name[uk]=Рушій внесків до KDE
Name[x-test]=xxKDE Commits Enginexx
Name[zh_TW]=KDE 提交引擎
Comment=A Data Engine for acquiring consolidated data about KDE SVN Commits
Comment[ca]=Un motor de dades de captura de dades consolidades quant als «commits» en el SVN del KDE
Comment[da]=En datamotor til at hente samlede data om KDE SVN-commits
Comment[de]=Ein Datenmodul zum Holen von zusammengefassten Daten über KDE-SVN-Commits.
Comment[en_GB]=A Data Engine for acquiring consolidated data about KDE SVN Commits
Comment[es]=Un motor de datos para adquirir datos consolidados acerca de cambios confirmados del SVN de KDE
Comment[et]=Andmemootor, mis hangib konsolideeritud andmeid KDE SVN-i sissekannete kohta
Comment[hu]=Adatmodul összevont adatok beszerzéséhez a KDE SVN kommitokról
Comment[nb]=En datamotor som skaffer sammensluttede data om SVN-innleveringer til KDE
Comment[nds]=En Datenkarn för't Halen vun tohoopstellt Daten över KDE-SVN-Inspelen
Comment[nl]=Een gegevens-engine voor het ophalen van geconsolideerde gegevens over KDE-SVN-commits
Comment[pt]=Um motor de dados para adquirir dados consolidados acerca dos projectos envios do KDE para o SVN
Comment[pt_BR]=Um mecanismo de dados para obtenção de dados consolidados sobre os commits do KDE SVN
Comment[ru]=Поставщик данных для сбора общих данных об изменениях в репозиториях KDE
Comment[sr]=Датомотор за добављање систематизованих података о КДЕ‑овим СВН предајама
Comment[sr@ijekavian]=Датомотор за добављање систематизованих података о КДЕ‑овим СВН предајама
Comment[sr@ijekavianlatin]=Datomotor za dobavljanje sistematizovanih podataka o KDE‑ovim SVN predajama
Comment[sr@latin]=Datomotor za dobavljanje sistematizovanih podataka o KDE‑ovim SVN predajama
Comment[sv]=Ett datagränssnitt för att inhämta samlad data om KDE SVN-incheckningar
Comment[tr]=KDE SVN Commit bilgilerini çekmeye yarayan veri motoru
Comment[uk]=Рушій даних для отримання загальних даних щодо внесків до SVN KDE
Comment[x-test]=xxA Data Engine for acquiring consolidated data about KDE SVN Commitsxx
Comment[zh_TW]=用於提交 KDE SVN 的聯合資料的資料引擎
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_kdecommits
X-Plasma-EngineName=kdecommits
X-KDE-PluginInfo-Author=Sandro Andrade
X-KDE-PluginInfo-Email=sandroandrade@kde.org
X-KDE-PluginInfo-Name=kdecommits
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
