[General]
Author=Ivan Čukić
License=GPL 2 or later

[Group-Default]
foreground.color.normal=0,0,0
foreground.color.active=50,50,100
foreground.color.disabled=100,100,100

[Group-Button]
parent=Default

background.type=svg
background.svg=button

[Group-ExtenderButton]
parent=Button

background.type=svg
background.svg=extender_button

icon.type=global
icon.name=lancelot

[Group-ExtenderButton-Extender]
parent=ExtenderButton

background.type=svg
background.svg=extender_button

icon.type=svg
icon.svg=extender_button_icon

[Group-ListItems]
parent=ExtenderButton

foreground.color.normal=0,0,0
foreground.color.active=255,255,255

background.type=svg
background.svg=extender_button

