[Group-Default]
foreground.color.normal=200,200,200
foreground.color.active=255,255,255
foreground.color.disabled=200,200,200,125

# generic groups
[Group-BaseActionWidget]

[Group-ExtenderButton]

[Group-ExtenderButton-Extender]

[Group-Panel]

[Group-Panel-Title]

[Group-ActionListView]

[Group-ActionListView-Items]
foreground.color.disabled=200,200,200
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/action-list-view-items

[Group-ActionListView-Items-Extender]
background.type=svg
background.svg=lancelot/action-list-view-items-extenders

[Group-ActionListView-Scroll-Up]
background.type=svg
background.svg=lancelot/action-list-view-scroll-up

[Group-ActionListView-Scroll-Down]
background.type=svg
background.svg=lancelot/action-list-view-scroll-down

[Group-ActionListView-Left-Items]
parent=ActionListView-Items
background.type=svg
background.svg=lancelot/action-list-view-items-left

[Group-ActionListView-Left-Items-Extender]
background.type=svg
background.svg=lancelot/action-list-view-items-extenders-left

[Group-ActionListView-Left-Scroll-Up]
parent=ActionListView-Scroll-Up

[Group-ActionListView-Left-Scroll-Down]
parent=ActionListView-Scroll-Down

[Group-ActionListView-Right-Items]
parent=ActionListView-Items
background.type=svg
background.svg=lancelot/action-list-view-items-right

[Group-ActionListView-Right-Items-Extender]
background.type=svg
background.svg=lancelot/action-list-view-items-extenders-right

[Group-ActionListView-Right-Scroll-Up]
parent=ActionListView-Scroll-Up

[Group-ActionListView-Right-Scroll-Down]
parent=ActionListView-Scroll-Down

[Group-SystemButtons]
foreground.color.active=0,0,0
background.type=svg
background.svg=lancelot/system-buttons

[Group-SystemButtons-Extender]
background.type=svg
background.svg=lancelot/system-buttons-extender

[Group-SectionButtons]
foreground.color.active=0,0,0
background.type=svg
background.svg=lancelot/section-buttons

[Group-SectionButtons-Extender]
background.type=none

[Group-AppletLaunchButton]
background.type=svg
background.svg=lancelot/launch-applet-button

