[Desktop Entry]
Name=Informative
Name[cs]=Informativní
Name[de]=Informativ
Name[el]=Ενημερωτικό
Name[en_GB]=Informative
Name[es]=Informativo
Name[fi]=Informatiivinen
Name[lt]=Informatyvus
Name[nl]=Informatief
Name[pl]=Informacyjny
Name[pt]=Informativo
Name[pt_BR]=Informativo
Name[sk]=Informatívne
Name[sl]=Podrobno
Name[uk]=Інформативне
Name[x-test]=xxInformativexx
Comment=An informative window switcher layout including desktop name
Comment[cs]=Informativní rozvržení přepínače oken obsahující název plochy
Comment[de]=Ein informatives Fensterwechsler-Layout, zeigt den Namen der Arbeitsfläche an
Comment[el]=Μια ενημερωτική διάταξη εναλλαγής παραθύρων που περιλαμβάνει το όνομα της επιφάνειας εργασίας
Comment[en_GB]=An informative window switcher layout including desktop name
Comment[es]=Un esquema de selector de ventanas informativo que incluye el nombre del escritorio
Comment[fi]=Informatiivinen ikkunanvalitsimen asettelu, joka näyttää myös työpöydän nimen
Comment[lt]=Informatyvus langų perjungimo išdėstymas rodantis darbastalio pavadinimą
Comment[nl]=Een informatieve indeling van de vensterwisselaar inclusief de naam van het bureaublad
Comment[pl]=Informacyjny układ przełączania okien uwzględniający nazwę pulpitu
Comment[pt]=Uma disposição de selecção de janelas informativa, que inclui o nome do ecrã
Comment[pt_BR]=Um leiaute do seletor de janelas que inclui o nome da área de trabalho
Comment[sk]=Informatívne rozloženie prepínača okien vrátane názvu plochy
Comment[sl]=Podroben razpored preklapljanja med okni, ki vsebuje ime namizja
Comment[uk]=Інформативне компонування засобу перемикання вікон з назвами стільниць
Comment[x-test]=xxAn informative window switcher layout including desktop namexx
Icon=preferences-system-windows-switcher-informative

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=informative
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
