[Desktop Entry]
Name=Elegance
Name[de]=Eleganz
Name[es]=Elegancia
Name[fr]=Élégance
Name[gl]=Elegante
Name[it]=Eleganza
Name[km]=ឆើតឆាយ
Name[ko]=우아함
Name[nds]=Eleganz
Name[nn]=Eleganse
Name[pl]=Elegancki
Name[pt]=Elegância
Name[pt_BR]=Elegância
Name[ru]=Элегантность
Name[sr]=Елеганција
Name[sr@latin]=Elegancija
Name[sv]=Elegans
Name[th]=อีลีแกนซ์
Name[uk]=Елегантність
Name[x-test]=xxElegancexx
Name[zh_CN]=优雅

Comment=An elegant theme for plasma
Comment[de]=Ein elegantes Design für Plasma
Comment[el]=Ένα κομψό θέμα για το plasma
Comment[gl]=Un tema elegante para plasma
Comment[it]=Un tema elegante per plasma.
Comment[nds]=En elegant Muster för Plasma
Comment[nl]=Een elegant thema voor plasma
Comment[pt]=Um tema elegante para o Plasma
Comment[pt_BR]=Um tema elegante para o plasma
Comment[ru]=Утончённая тема для Plasma
Comment[sv]=Ett elegant tema för plasma
Comment[tr]=Plasma için şık bir tema
Comment[uk]=Елегантна тема для Плазми
Comment[x-test]=xxAn elegant theme for plasmaxx
Comment[zh_CN]=一个优雅的 Plasma 主题
Comment[zh_TW]=plasma 高雅的主題。

X-KDE-PluginInfo-Author=AdrienV
X-KDE-PluginInfo-Email=adrien.vermeulen (at) free.fr
X-KDE-PluginInfo-Name=Elegance
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://www.kde-look.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
