[Desktop Entry]
Name=Elegance
Name[es]=Elegancia
Name[fr]=Élégance
Name[gl]=Elegante
Name[km]=ឆើតឆាយ
Name[nds]=Eleganz
Name[pt]=Elegância
Name[pt_BR]=Elegância
Name[sv]=Elegans
Name[uk]=Елегантність

Comment=An elegant theme for plasma.
Comment[es]=Un elegante tema para plasma.
Comment[fr]=Un thème élégant pour plasma.
Comment[gl]=Un tema elegante para plasma.
Comment[km]=ស្បែក​ឆើតឆាយ​សម្រាប់​ប្លាស្មា ។
Comment[lv]=Eleganta Plasma tēma.
Comment[nds]=En elegant Muster för Plasma
Comment[pt]=Um tema elegante para o Plasma.
Comment[pt_BR]=Um tema elegante para o Plasma.
Comment[sl]=Elegantna tema za Plazmo
Comment[sv]=Ett elegant tema för plasma.
Comment[tr]=Plasma için şık bir tema.
Comment[uk]=Елегантна тема для Плазми.
Comment[zh_TW]=plasma 高雅的主題。

X-KDE-PluginInfo-Author=AdrienV
X-KDE-PluginInfo-Email=adrien.vermeulen (at) free.fr
X-KDE-PluginInfo-Name=Elegance
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.kde-look.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
