[Desktop Entry]
Encoding=UTF-8
Name=Bubblemon
Name[ar]=Bubblemon
Name[ca]=Monitor bombolla
Name[cs]=Bubblemon
Name[da]=Bobbelmon
Name[de]=Bubblemon
Name[el]=Bubblemon
Name[en_GB]=Bubblemon
Name[es]=Bubblemon
Name[et]=Bubblemon
Name[fr]=Bubblemon
Name[gl]=Bubblemon
Name[hu]=Bubblemon
Name[is]=Bubblemon
Name[it]=Bubblemon
Name[ja]=Bubblemon
Name[km]=Bubblemon
Name[lt]=Bubblemon
Name[lv]=Bubblemon
Name[nb]=Bubblemon
Name[nds]=Bubblemon
Name[nl]=Bubblemon
Name[nn]=Bobleovervaking
Name[pl]=Bubblemon
Name[pt]=Bubblemon
Name[pt_BR]=Bubblemon
Name[ro]=Bubblemon
Name[sk]=Bubblemon
Name[sl]=Bubblemon
Name[sr]=облакмон
Name[sr@latin]=oblakmon
Name[sv]=Bubblemon
Name[tr]=Bubblemon
Name[uk]=Bubblemon
Name[wa]=Bubblemon
Name[x-test]=xxBubblemonxx
Name[zh_CN]=Bubblemon
Name[zh_TW]=泡泡監視器
Comment=A pretty bubble that monitors your system.
Comment[ar]=فقاعة جميلة تراقب نظامك
Comment[ca]=Una bombolla bonica que monitoreja el vostre sistema.
Comment[cs]=Pěkná bublina monitorující váš systém.
Comment[da]=En pæn bobbel der overvåger dit system.
Comment[de]=Eine schicke Blase, die Ihr System überwacht.
Comment[el]=Μια όμορφη φούσκα που εποπτεύει το σύστημά σας.
Comment[en_GB]=A pretty bubble that monitors your system.
Comment[es]=Una bonita burbuja que monitoriza su sistema.
Comment[et]=Kena mull, mis jälgib süsteemi.
Comment[fr]=Une jolie bulle qui donne des informations sur votre système.
Comment[gl]=Unha burbulla que vixía o sistema.
Comment[hu]=Rendszermonitor buborékban.
Comment[is]=Falleg blaðra sem fylgist með kerfinu þínu.
Comment[it]=Una graziosa bolla per controllare il proprio sistema.
Comment[ja]=かわいいシャボン玉があなたのシステムを監視します
Comment[km]=ពពុះ​ស្អាត​ដែល​ត្រួតពិនិត្យ​ប្រព័ន្ធ​របស់​អ្នក ។
Comment[lt]=Gražus burbulas – sistemos stebėklis.
Comment[lv]=Skaists burbulis, kas novēro jūsu sistēmu.
Comment[nb]=En pen boble som overvåker systemet ditt.
Comment[nds]=En smuck Blaas, de Dien Systeem bekieken deit
Comment[nl]=Een prachtige bubbel die uw systeem monitort.
Comment[nn]=Fin boble som overvaker systemet
Comment[pl]=Bąbelek monitorujący system.
Comment[pt]=Uma bolha bonita que vigia o seu sistema.
Comment[pt_BR]=Uma bonita bolha que monitora o seu sistema.
Comment[ro]=Un balon drăguț ce vă monitorizează sistemul.
Comment[sk]=Pekná bublina, ktorá monitoruje váš systém.
Comment[sl]=Lep mehurček, ki nadzoruje računalnik.
Comment[sr]=Пријатни балон који надзире систем.
Comment[sr@latin]=Prijatni balon koji nadzire sistem.
Comment[sv]=En snygg bubbla som övervakar systemet.
Comment[tr]=Sisteminizi izleyen sevimli bir baloncuk.
Comment[uk]=Гарненька бульбашка, яка спостерігає за вашою системою.
Comment[wa]=Ene djoleye bouye ki corwaite vosse sistinme.
Comment[x-test]=xxA pretty bubble that monitors your system.xx
Comment[zh_CN]=监视您系统的可爱泡泡。
Comment[zh_TW]=漂亮的泡泡，監視您的系統。
ServiceTypes=Plasma/Applet
Type=Service
Icon=utilities-system-monitor

X-KDE-Library=plasma_applet_bubblemon
X-KDE-PluginInfo-Author=Trever Fischer
X-KDE-PluginInfo-Email=wm161@wm161.net
X-KDE-PluginInfo-Name=bubblemon
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
