[Desktop Entry]
Encoding=UTF-8
Name=Bubblemon
Name[ca]=Monitor bombolla
Name[fr]=Bubblemon
Name[hu]=Bubblemon
Name[nl]=Bubblemon
Name[pl]=Monitor bąbelkowy
Name[sv]=Bubblemon
Name[uk]=Bubblemon
Name[x-test]=xxBubblemonxx
Name[zh_TW]=泡泡監視器
Comment=A pretty bubble that monitors your system
Comment[ca]=Una bombolla graciosa que vigila el sistema
Comment[fr]=Une jolie bulle supervisant votre système.
Comment[hu]=Rendszerfigyelő buborék
Comment[nl]=Een prachtige bubbel die uw systeem monitort
Comment[pl]=Uroczy bąbelek, który monitoruje twój system
Comment[sv]=En snygg bubbla som övervakar systemet
Comment[uk]=Гарненька бульбашка, яка спостерігає за вашою системою
Comment[x-test]=xxA pretty bubble that monitors your systemxx
Comment[zh_TW]=漂亮的泡泡，監視您的系統
ServiceTypes=Plasma/Applet
Type=Service
Icon=utilities-system-monitor

X-KDE-Library=plasma_applet_bubblemon
X-KDE-PluginInfo-Author=Trever Fischer
X-KDE-PluginInfo-Email=tdfischer@fedoraproject.org
X-KDE-PluginInfo-Name=bubblemon
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-NotificationArea=true

X-Plasma-DefaultSize=200,200
