[Desktop Entry]
Encoding=UTF-8
Name=Bubblemon
Name[ca]=Monitor bombolla
Name[x-test]=xxBubblemonxx
Name[zh_TW]=泡泡監視器
Comment=A pretty bubble that monitors your system.
Comment[ca]=Una bombolla bonica que monitoreja el vostre sistema.
Comment[de]=Eine schicke Blase, die Ihr System überwacht.
Comment[el]=Μια όμορφη φούσκα που εποπτεύει το σύστημά σας.
Comment[es]=Una bonita burbuja que monitoriza su sistema.
Comment[et]=Kena mull, mis jälgib süsteemi.
Comment[km]=ពពុះ​ស្អាត​ដែល​ត្រួតពិនិត្យ​ប្រព័ន្ធ​របស់​អ្នក ។
Comment[nb]=En pen boble som overvåker systemet ditt.
Comment[nds]=En smuck Blaas, de Dien Systeem bekieken deit
Comment[pt]=Uma bolha bonita que vigia o seu sistema.
Comment[pt_BR]=Uma bonita bolha que monitora o seu sistema.
Comment[sv]=En snygg bubbla som övervakar systemet.
Comment[uk]=Гарненька бульбашка, яка спостерігає за вашою системою.
Comment[x-test]=xxA pretty bubble that monitors your system.xx
Comment[zh_CN]=监视您系统的可爱泡泡。
Comment[zh_TW]=漂亮的泡泡，監視您的系統。
ServiceTypes=Plasma/Applet
Type=Service
Icon=utilities-system-monitor

X-KDE-Library=plasma_applet_bubblemon
X-KDE-PluginInfo-Author=Trever Fischer
X-KDE-PluginInfo-Email=wm161@wm161.net
X-KDE-PluginInfo-Name=bubblemon
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
