[Desktop Entry]
Name=Microblogging
Name[ca]=Microblocs
Name[el]=Μικροϊστολόγιο
Name[es]=Microblogs
Name[et]=Mikroblogimine
Name[eu]=Mikrobloggintza
Name[ga]=Micreabhlagadóireacht
Name[gl]=Microblogue
Name[ja]=ミニブログ
Name[nds]=Mikronettdagbook
Name[pt]=Micro-blog
Name[pt_BR]=Micro-blog
Name[sv]=Mikrowebbjournal
Name[tr]=Mikro günlük
Name[uk]=Міні-журнал
Name[x-test]=xxMicrobloggingxx
Name[zh_CN]=微博客
Comment=Update and view your microblog status.
Comment[ca]=Actualitza i mostra l'estat del vostre microbloc.
Comment[de]=Status Ihres Microblogs aktualisieren und anzeigen.
Comment[el]=Ενημέρωση και προβολή της κατάστασης του μικροϊστολογίου.
Comment[es]=Actualizar y ver el estado de su microblog.
Comment[et]=Oma mikroblogioleku uuendamine ja vaatamine.
Comment[eu]=Eguneratu eta ikusi zure mikroblog egoera.
Comment[ga]=Nuashonraigh agus féach ar do stádas micreabhlagadóireachta.
Comment[gl]=Actualizar e ver o estado do microblogue.
Comment[ja]=あなたのミニブログの状態の表示と更新を行います
Comment[nds]=Dien Mikronettdaagbook-Status opfrischen un ankieken
Comment[pt]=Actualizar e ver o estado do seu micro-blog.
Comment[pt_BR]=Atualizar e exibir o status do seu micro-blog.
Comment[ro]=Actualizați și vizualizați-vă starea pe microblog.
Comment[sv]=Uppdatera och visa status för mikrowebbjournal
Comment[tr]=Mikrogünlük durumunuzu güncelleyin ve görüntüleyin
Comment[uk]=Оновіть і перегляньте ваш стан у міні-журналі.
Comment[x-test]=xxUpdate and view your microblog status.xx
Comment[zh_CN]=更新并浏览您的微博客状态
Comment[zh_TW]=更新並檢視您的 microblog 狀態。
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_microblog
X-KDE-PluginInfo-Author=André Duffeck
X-KDE-PluginInfo-Email=andre@duffeck.de
X-KDE-PluginInfo-Name=twitter
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

