[Desktop Entry]
Name=Microblogging
Name[ar]=التدوين المصغر
Name[ast]=Microblogging
Name[bs]=Microblogging
Name[ca]=Microblocs
Name[ca@valencia]=Microblocs
Name[cs]=Mikroblogování
Name[da]=Mikroblogning
Name[de]=Microblogging
Name[el]=Μικροϊστολόγιο
Name[en_GB]=Microblogging
Name[es]=Microblogs
Name[et]=Mikroblogimine
Name[eu]=Mikrobloggintza
Name[fi]=Mikroblogaussovelma
Name[fr]=Microblogging
Name[ga]=Micreabhlagadóireacht
Name[gl]=Microblog
Name[hr]=Microblogging
Name[hu]=Mikroblogolás
Name[is]=Míkróblogg
Name[it]=Microblogging
Name[ja]=マイクロブログ
Name[kk]=Микроблогинг
Name[km]=Microblogging
Name[ko]=마이크로블로깅
Name[lt]=Mikrotinklaraštis
Name[lv]=Mikroblogi
Name[mr]=मायक्रो ब्लॉगिंग
Name[nb]=Mikroblogging
Name[nds]=Mikronettdagbook
Name[nl]=Microblogging
Name[nn]=Mikroblogging
Name[pa]=ਮਾਈਕਰੋਬਲੋਗ
Name[pl]=Mikroblog
Name[pt]=Micro-blog
Name[pt_BR]=Microblogging
Name[ro]=Microblogging
Name[ru]=Микроблоггинг
Name[sk]=Mikroblogovanie
Name[sl]=Mikrobloganje
Name[sq]=Microblogging
Name[sr]=микроблоговање
Name[sr@ijekavian]=микроблоговање
Name[sr@ijekavianlatin]=mikroblogovanje
Name[sr@latin]=mikroblogovanje
Name[sv]=Mikroblogg
Name[tr]=Mikrogünlük
Name[uk]=Міні-журнал
Name[wa]=Microblogaedje
Name[x-test]=xxMicrobloggingxx
Name[zh_CN]=微博客
Name[zh_TW]=Microblogging
Comment=Update and view your microblog status.
Comment[ar]=حدث و شاهد حالة تدويناتك.
Comment[ast]=Anovar y ver l'estáu del to microblog.
Comment[bs]=Ažurirajte i prikažite stanje svog mikrobloga.
Comment[ca]=Actualitza i mostra l'estat del vostre microbloc.
Comment[ca@valencia]=Actualitza i mostra l'estat del vostre microbloc.
Comment[cs]=Aktualizujte a prohlížejte stav svého mikroblogování.
Comment[da]=Opdater og se status for din mikroblog.
Comment[de]=Status Ihres Microblogs aktualisieren und anzeigen.
Comment[el]=Ενημέρωση και προβολή της κατάστασης του μικροϊστολογίου σας.
Comment[en_GB]=Update and view your microblog status.
Comment[es]=Actualizar y ver el estado de su microblog.
Comment[et]=Oma mikroblogioleku uuendamine ja vaatamine.
Comment[eu]=Eguneratu eta ikusi zure mikroblog egoera.
Comment[fi]=Tarkastele ja päivitä mikroblogaustilaasi.
Comment[fr]=Afficher et mettre à jour l'état de votre mini-blogue.
Comment[ga]=Nuashonraigh agus féach ar do stádas micreabhlagadóireachta.
Comment[gl]=Actualizar e ver o estado do microblog.
Comment[hr]=Ažurirajte i prikažtete Vaš status na mikroblogu.
Comment[hu]=Frissíti és megjeleníti a mikroblogja állapotát.
Comment[is]=Uppfæra og skoða stöðu á míkróblogginu þínu.
Comment[it]=Aggiorna e visualizza lo stato del microblog.
Comment[ja]=あなたのマイクロブログの状態の表示と更新を行います
Comment[kk]=Микроблогыңыздың күй-жайын жаңарту әне көрсету
Comment[km]=ធ្វើបច្ចុប្បន្នភាព និង​មើល​ស្ថានភាព microblog របស់​អ្នក ។
Comment[ko]=마이크로블로그 상태를 보고 갱신합니다.
Comment[lt]=Atnaujinkite ir peržiūrėkite savo minkrotinklaraščio būseną.
Comment[lv]=Atjaunina un rāda mikroblogu statusu.
Comment[mr]=मायक्रो ब्लॉग स्थिती बघा व अद्ययावत करा.
Comment[nb]=Oppdater og vis din mikroblogg-status.
Comment[nds]=Dien Mikronettdaagbook-Status opfrischen un ankieken
Comment[nl]=Werk uw microblogstatus bij bekijk deze.
Comment[nn]=Oppdater og vis mikrobloggstatusen din
Comment[pa]=ਆਪਣਾ ਮਾਈਕਰੋਬਲਾਗ ਹਾਲਤ ਅੱਪਡੇਟ ਕਰੋ ਅਤੇ ਵੇਖੋ।
Comment[pl]=Uaktualnianie i przeglądanie statusu mikrobloga.
Comment[pt]=Actualizar e ver o estado do seu micro-blog.
Comment[pt_BR]=Atualiza e exibe o status do seu microblog.
Comment[ro]=Actualizați și vizualizați-vă starea pe microblog.
Comment[ru]=Показывает и позволяет обновлять статус в микроблоге.
Comment[sk]=Aktualizovanie a zobrazenie stavu svojho mikroblogu.
Comment[sl]=Posodobite in spremljajte stanje mikrobloganja.
Comment[sr]=Ажурирајте и прикажите стање свог микроблога.
Comment[sr@ijekavian]=Ажурирајте и прикажите стање свог микроблога.
Comment[sr@ijekavianlatin]=Ažurirajte i prikažite stanje svog mikrobloga.
Comment[sr@latin]=Ažurirajte i prikažite stanje svog mikrobloga.
Comment[sv]=Uppdatera och visa status för mikroblogg
Comment[tr]=Mikrogünlük durumunuzu güncelleyin ve görüntüleyin
Comment[uk]=Оновіть і перегляньте ваш стан у міні-журналі.
Comment[wa]=Metoz a djoû eyet voeyoz vosse sitatut microblog.
Comment[x-test]=xxUpdate and view your microblog status.xx
Comment[zh_CN]=更新并浏览您的微博客状态
Comment[zh_TW]=更新並檢視您的 microblog 狀態。
Keywords=identi.ca;twitter;
Keywords[bs]=identi.ca,twitter
Keywords[ca]=identi.ca;twitter;
Keywords[ca@valencia]=identi.ca;twitter;
Keywords[cs]=identi.ca,twitter;
Keywords[da]=identi.ca;twitter;
Keywords[de]=identi.ca;twitter;
Keywords[el]=identi.ca·twitter·
Keywords[es]=identi.ca;twitter;
Keywords[et]=identi.ca;twitter;
Keywords[fi]=identi.ca;twitter;
Keywords[fr]=identi.ca ; twitter ; 
Keywords[gl]=identi.ca;twitter;
Keywords[hu]=identi.ca;twitter;
Keywords[it]=identi.ca;twitter;
Keywords[kk]=identi.ca;twitter;
Keywords[lt]=identi.ca;twitter;
Keywords[mr]=identi.ca;twitter;
Keywords[nb]=identi.ca;twitter;
Keywords[nl]=identi.ca;twitter;
Keywords[pa]=identi.ca;twitter;
Keywords[pl]=identi.ca;twitter;
Keywords[pt]=identi.ca;twitter;
Keywords[pt_BR]=identi.ca;twitter;
Keywords[ro]=identi.ca;twitter;
Keywords[ru]=identi.ca,twitter,твиттер
Keywords[sk]=identi.ca;twitter;
Keywords[sl]=identi.ca;twitter;statusnet;status.net;
Keywords[sr]=identi.ca;twitter;Идентика;Твитер
Keywords[sr@ijekavian]=identi.ca;twitter;Идентика;Твитер
Keywords[sr@ijekavianlatin]=identi.ca;twitter;identi.ca;Twitter
Keywords[sr@latin]=identi.ca;twitter;identi.ca;Twitter
Keywords[sv]=identi.ca;twitter;
Keywords[tr]=identi.ca;twitter;
Keywords[uk]=identi.ca;twitter;
Keywords[x-test]=xxidenti.ca;twitter;xx
Keywords[zh_CN]=identi.ca;twitter;
Keywords[zh_TW]=identi.ca;twitter;
Type=Service
ServiceTypes=Plasma/Applet
Icon=view-pim-journal

X-KDE-Library=plasma_applet_microblog
X-KDE-PluginInfo-Author=André Duffeck
X-KDE-PluginInfo-Email=andre@duffeck.de
X-KDE-PluginInfo-Name=twitter
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true



