[Desktop Entry]
Name=Microblogging
Name[ar]=التدوين المصغر
Name[ca]=Microblocs
Name[cs]=Mikroblogování
Name[da]=Mikroblogning
Name[de]=Microblogging
Name[el]=Μικροϊστολόγιο
Name[en_GB]=Microblogging
Name[es]=Microblogs
Name[et]=Mikroblogimine
Name[eu]=Mikrobloggintza
Name[fr]=Microblogging
Name[ga]=Micreabhlagadóireacht
Name[gl]=Microblogue
Name[hu]=Mikrobloggoló
Name[is]=Míkróblogg
Name[it]=Microblogging
Name[ja]=マイクロブログ
Name[km]=Microblogging
Name[lt]=Mikrotinklaraštinimas
Name[lv]=Mikroblogi
Name[nb]=Mikroblogging
Name[nds]=Mikronettdagbook
Name[nl]=Microblogging
Name[nn]=Mikroblogging
Name[pa]=ਮਾਈਕਰੋਬਲਾਗ
Name[pl]=Mikroblog
Name[pt]=Micro-blog
Name[pt_BR]=Micro-blog
Name[ro]=Microblogging
Name[sk]=Mikroblogovanie
Name[sl]=Mikrobloganje
Name[sr]=микроблоговање
Name[sr@latin]=mikroblogovanje
Name[sv]=Mikrowebbjournal
Name[tr]=Mikro günlük
Name[uk]=Міні-журнал
Name[wa]=Microblogging
Name[x-test]=xxMicrobloggingxx
Name[zh_CN]=微博客
Name[zh_TW]=Microblogging
Comment=Update and view your microblog status.
Comment[ar]=حدث و شاهد حالة تدويناتك.
Comment[ca]=Actualitza i mostra l'estat del vostre microbloc.
Comment[cs]=Aktualizujte a prohlížejte stav svého mikroblogování.
Comment[da]=Opdater og se status for din mikroblog.
Comment[de]=Status Ihres Microblogs aktualisieren und anzeigen.
Comment[el]=Ενημέρωση και προβολή της κατάστασης του μικροϊστολογίου.
Comment[en_GB]=Update and view your microblog status.
Comment[es]=Actualizar y ver el estado de su microblog.
Comment[et]=Oma mikroblogioleku uuendamine ja vaatamine.
Comment[eu]=Eguneratu eta ikusi zure mikroblog egoera.
Comment[fr]=Afficher et mettre à jour l'état de votre mini-blogue.
Comment[ga]=Nuashonraigh agus féach ar do stádas micreabhlagadóireachta.
Comment[gl]=Actualizar e ver o estado do microblogue.
Comment[hu]=Frissíti és megjeleníti a mikroblog állapotát.
Comment[is]=Uppfæra og skoða stöðu á míkróblogginu þínu.
Comment[it]=Aggiorna e visualizza lo stato del microblog.
Comment[ja]=あなたのマイクロブログの状態の表示と更新を行います
Comment[km]=ធ្វើ​ឲ្យ​ទាន់សម័យ និង​មើល​ស្ថានភាព microblog របស់​អ្នក ។
Comment[lt]=Mikrotinklaraščių peržiūrai ir būsenos atnaujinimui.
Comment[lv]=Atjaunina un rāda mikroblogu statusu.
Comment[nb]=Oppdater og vis din mikroblogg-status.
Comment[nds]=Dien Mikronettdaagbook-Status opfrischen un ankieken
Comment[nl]=Werk uw microblogstatus bij bekijk deze.
Comment[nn]=Oppdater og vis mikrobloggstatusen din
Comment[pl]=Uaktualnianie i przeglądanie statusu mikrobloga.
Comment[pt]=Actualizar e ver o estado do seu micro-blog.
Comment[pt_BR]=Atualizar e exibir o status do seu micro-blog.
Comment[ro]=Actualizați și vizualizați-vă starea pe microblog.
Comment[sk]=Aktualizovanie a zobrazenie stavu vášho mikroblogu.
Comment[sl]=Posodobite in spremljajte stanje mikrobloganja.
Comment[sr]=Ажурирајте и прикажите стање свог микроблога.
Comment[sr@latin]=Ažurirajte i prikažite stanje svog mikrobloga.
Comment[sv]=Uppdatera och visa status för mikrowebbjournal
Comment[tr]=Mikrogünlük durumunuzu güncelleyin ve görüntüleyin
Comment[uk]=Оновіть і перегляньте ваш стан у міні-журналі.
Comment[wa]=Metoz a djoû eyet voeyoz vosse sitatut microblog.
Comment[x-test]=xxUpdate and view your microblog status.xx
Comment[zh_CN]=更新并浏览您的微博客状态
Comment[zh_TW]=更新並檢視您的 microblog 狀態。
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_microblog
X-KDE-PluginInfo-Author=André Duffeck
X-KDE-PluginInfo-Email=andre@duffeck.de
X-KDE-PluginInfo-Name=twitter
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

