[Desktop Entry]
Name=Contacts
Name[et]=Kontaktid
Name[sv]=Kontakter
Comment=Finds entries in your address book
Comment[et]=Kirjete otsimine aadressiraamatust
Comment[sv]=Hittar poster i din adressbok
ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_contacts
X-KDE-PluginInfo-Author=Teemu Rytilahti
X-KDE-PluginInfo-Email=tpr@iki.fi
X-KDE-PluginInfo-Name=kabccontacts
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
