[Desktop Entry]
Name=Contacts
Name[ca]=Contactes
Name[cs]=Kontakty
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[es]=Contactos
Name[et]=Kontaktid
Name[ga]=Teagmhálacha
Name[gl]=Contactos
Name[hu]=Névjegyek
Name[it]=Contatti
Name[ja]=連絡先
Name[km]=ទំនាក់ទំនង
Name[ko]=연락처
Name[lv]=Kontakti
Name[nds]=Kontakten
Name[nl]=Contacten
Name[nn]=Kontaktar
Name[oc]=Contactes
Name[pl]=Kontakty
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ru]=Контакты
Name[sl]=Stiki
Name[sr]=контакти
Name[sr@latin]=kontakti
Name[sv]=Kontakter
Name[th]=ที่อยู่ติดต่อ
Name[tr]=Kişiler
Name[uk]=Контакти
Name[x-test]=xxContactsxx
Name[zh_CN]=联系人
Name[zh_TW]=聯絡人
Comment=Finds entries in your address book
Comment[ca]=Cerca entrades a la llibreta d'adreces
Comment[cs]=Vyhledávání položek v adresáři
Comment[da]=Find indgange i din adressebog
Comment[de]=Einträge in Ihrem Adressbuch suchen
Comment[el]=Αναζητά καταχωρήσεις στο βιβλίο διευθύνσεών σας
Comment[es]=Buscar entradas en su libreta de direcciones
Comment[et]=Kirjete otsimine aadressiraamatust
Comment[fr]=Trouve des entrées dans votre carnet d'adresse
Comment[ga]=Aimsigh teagmhálacha i do leabhar seoltaí
Comment[gl]=Encontra entradas no seu caderno de enderezos
Comment[hu]=Névjegy keresése a címjegyzékben
Comment[it]=Cerca voci nella rubrica dei contatti
Comment[ja]=アドレス帳のエントリを見つけます
Comment[km]=រក​ធាតុ​នៅ​ក្នុង​សៀវភៅ​អាសយដ្ឋាន​របស់​អ្នក
Comment[ko]=주소록에서 항목 찾기
Comment[lv]=Atrod ierakstus adrešu grāmatā
Comment[nds]=Indrääg binnen Dien Adressbook söken
Comment[nl]=Doorzoekt ingangen in uw adresboek
Comment[nn]=Finn oppføringar i adresseboka
Comment[pl]=Znajdź wpisy w książce adresowej
Comment[pt]=Descobre elementos no seu livro de endereços
Comment[pt_BR]=Pesquisa por entradas no seu livro de endereços
Comment[ru]=Поиск записей в адресной книге
Comment[sl]=Najde stike iz vašega adresarja
Comment[sr]=Потражите уносе кроз адресар
Comment[sr@latin]=Potražite unose kroz adresar
Comment[sv]=Hittar poster i din adressbok
Comment[th]=ค้นรายการในสมุดที่อยู่ของคุณ
Comment[tr]=Adres defterinizdeki arkadaşlarınız
Comment[uk]=Знайти записи у вашій адресній книзі
Comment[x-test]=xxFinds entries in your address bookxx
Comment[zh_CN]=在地址簿里查找条目
Comment[zh_TW]=找到通訊錄中的聯絡人
ServiceTypes=Plasma/Runner
Type=Service
Icon=internet-mail
X-KDE-Library=krunner_contacts
X-KDE-PluginInfo-Author=Teemu Rytilahti
X-KDE-PluginInfo-Email=tpr@iki.fi
X-KDE-PluginInfo-Name=kabccontacts
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
