[Desktop Entry]
Name=Media Player
Name[pt]=Reprodutor Multimédia
Name[pt_BR]=Reprodutor de mídia
Name[sv]=Mediaspelare
Name[uk]=Медіапрогравач
Name[zh_CN]=媒体播放器
Name[zh_TW]=媒體播放器
Comment=Widget that can play video and sound
Comment[pt]=Um elemento que pode reproduzir vídeo e áudio
Comment[pt_BR]=Um elemento que pode reproduzir vídeo e áudio
Comment[sv]=Grafisk komponent som kan spela video och ljud
Comment[uk]=Віджет, призначений для відтворення відео і звуку
Comment[zh_CN]=可播放视频和声音的部件
Comment[zh_TW]=可播放影像與音效的元件


Type=Service
Icon=applications-multimedia
X-Plasma-DropMimeTypes=video/mpeg,video/quicktime,video/ogg,video/x-msvideo, audio/mpeg, audio/x-vorbis+ogg, audio/x-flac

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mediaplayer
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=mediaplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

