[Desktop Entry]
Name=Text Only
Name[ca]=Només el text
Name[ca@valencia]=Només el text
Name[cs]=Pouze text
Name[da]=Kun tekst
Name[de]=Nur Text
Name[el]=Μόνο κείμενο
Name[en_GB]=Text Only
Name[es]=Solo texto
Name[et]=Ainult tekst
Name[eu]=Testua soilik
Name[fi]=Vain teksti
Name[fr]=Texte seulement
Name[gl]=Só texto
Name[he]=טקסט בלבד
Name[hu]=Csak szöveg
Name[ia]=Solmente texto
Name[id]=Hanya Teks
Name[it]=Solo testo
Name[ko]=텍스트 전용
Name[lt]=Tik tekstas
Name[nb]=Bare tekst
Name[nl]=Alleen tekst
Name[nn]=Berre tekst
Name[pl]=Tylko tekst
Name[pt]=Apenas o Texto
Name[pt_BR]=Apenas texto
Name[ru]=Только текст
Name[sk]=Iba text
Name[sl]=Samo besedilo
Name[sr]=Само текст
Name[sr@ijekavian]=Само текст
Name[sr@ijekavianlatin]=Samo tekst
Name[sr@latin]=Samo tekst
Name[sv]=Enbart text
Name[tr]=Sadece Metin
Name[uk]=Лише текст
Name[x-test]=xxText Onlyxx
Name[zh_CN]=仅文本
Name[zh_TW]=只有文字
Comment=A window switcher layout only showing window captions
Comment[ca]=Una disposició del commutador de finestres que només mostra els títols de les finestres
Comment[ca@valencia]=Una disposició del commutador de finestres que només mostra els títols de les finestres
Comment[cs]=Rozvržení přepínače oken zobrazující pouze titulek okna
Comment[da]=Et vinduesskifter-layout som kun viser vinduestitler
Comment[de]=Ein Fensterwechsler-Layout, das nur die Titel der Fenster anzeigt
Comment[el]=Μια διάταξη εναλλαγής παραθύρων που εμφανίζει μόνο τίτλους παραθύρων
Comment[en_GB]=A window switcher layout only showing window captions
Comment[es]=Un esquema de selector de ventanas que solo muestra los títulos de las ventanas
Comment[et]=Aknavahetaja paigutus ainult aknatiitlite näitamisega
Comment[eu]=Leihoen tituluak soilik erakusten dituen leiho-aldatzaile diseinu bat
Comment[fi]=Ikkunanvalitsimen asettelu, jossa näytetään vain ikkunoiden otsikot
Comment[fr]=Une disposition du sélecteur de fenêtres affichant seulement le titre des fenêtres
Comment[gl]=Unha disposición do selector de xanelas que só mostra os títulos das xanelas
Comment[he]=מחליף חלונות המציג רק את שמות החלונות
Comment[hu]=Az ablakoknak csak a címét megjelenítő ablakváltó
Comment[ia]=Un disposition de commutator de fenestra monstrante solo legendas de fenestra
Comment[id]=Sebuah tataletak pengalih window yang hanya menampilkan bab window
Comment[it]=Uno scambiafinestre che mostra solo i titoli delle finestre
Comment[ko]=캡션만 보여 주는 창 전환기
Comment[lt]=Langų perjungiklio išdėstymas rodantis tik langų pavadinimus
Comment[nb]=En vindusbytterutforming som bare viser vindustekster
Comment[nl]=Een indeling van de vensterwisselaar die alleen bijschriften van vensters toont
Comment[nn]=Vindaugsbytar som berre viser vindaugsnamn
Comment[pl]=Przełącznik okien z tytułami okien
Comment[pt]=Uma disposição de selecção de janelas que mostra apenas os títulos das janelas
Comment[pt_BR]=Um layout do seletor de janelas que mostra apenas os títulos das janelas
Comment[ru]=Переключатель окон, показывающий только заголовки окон
Comment[sk]=Rozloženie prepínača okien zobrazujúce len popisky okien
Comment[sl]=Razpored preklapljanja med okni, ki prikazuje samo naslove oken
Comment[sr]=Распоред мењача прозора који показује само натписе прозора
Comment[sr@ijekavian]=Распоред мењача прозора који показује само натписе прозора
Comment[sr@ijekavianlatin]=Raspored menjača prozora koji pokazuje samo natpise prozora
Comment[sr@latin]=Raspored menjača prozora koji pokazuje samo natpise prozora
Comment[sv]=En layout för fönsterbyte som bara visar fönsterrubriker
Comment[tr]=Sadece pencere başlıklarını gösteren bir pencere değiştirme düzeni
Comment[uk]=Компонування засобу перемикання вікон з показом лише підписів вікон
Comment[x-test]=xxA window switcher layout only showing window captionsxx
Comment[zh_CN]=一个只显示窗口标题的窗口切换器布局
Comment[zh_TW]=只顯示視窗標題的視窗切換器佈局
Icon=preferences-system-windows-switcher-text

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=text
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
