[Desktop Entry]
Name=Previews
Name[cs]=Náhledy
Name[de]=Vorschauen
Name[el]=Προεπισκοπήσεις
Name[en_GB]=Previews
Name[es]=Vistas previas
Name[lt]=Peržiūros
Name[nl]=Voorvertoningen
Name[pl]=Podglądy
Name[pt]=Antevisões
Name[pt_BR]=Visualizações
Name[sk]=Náhľady
Name[sl]=Predogledi
Name[uk]=Ескізи
Name[x-test]=xxPreviewsxx
Comment=A desktop switcher layout with previews of the desktops
Comment[de]=Ein Arbeitsflächenwechsler mit Vorschauen der Arbeitsflächen
Comment[el]=Μια διάταξη εναλλαγής επιφάνειας εργασίας με προεπισκοπήσεις των επιφανειών
Comment[en_GB]=A desktop switcher layout with previews of the desktops
Comment[es]=Un esquema de selector de ventanas con vistas previas de los escritorios
Comment[lt]=Darbastalio perjungimo išdėstymas su darbastalių peržiūromis
Comment[nl]=Een indeling van bureaubladwisselaar met voorbeelden op de bureaubladen
Comment[pl]=Układ przełączania pulpitów z podglądami pulpitów
Comment[pt]=Uma disposição de selecção de ecrãs com antevisões dos mesmos
Comment[pt_BR]=Um leiaute do seletor de área de trabalho com visualizações
Comment[sk]=Rozloženie prepínača plôch s náhľadmi týchto plôch
Comment[sl]=Razpored preklapljanja med namizji s predogledi namizij
Comment[uk]=Компонування перемикача стільниць з ескізами стільниць
Comment[x-test]=xxA desktop switcher layout with previews of the desktopsxx
Icon=preferences-system-desktop-switcher-previews

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=previews
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/DesktopSwitcher
Type=Service
