[Desktop Entry]
Name=Previews
Name[ar]=معاينات
Name[ca]=Vistes prèvies
Name[ca@valencia]=Vistes prèvies
Name[cs]=Náhledy
Name[da]=Forhåndsvisninger
Name[de]=Vorschauen
Name[el]=Προεπισκοπήσεις
Name[en_GB]=Previews
Name[es]=Vistas previas
Name[et]=Eelvaatlused
Name[eu]=Aurrebistak
Name[fi]=Esikatselut
Name[fr]=Aperçus
Name[gl]=Vistas previas
Name[he]=תצוגות מקדימות
Name[hu]=Előnézet
Name[ia]=Vistas preliminar
Name[it]=Anteprime
Name[ko]=미리 보기
Name[lt]=Peržiūros
Name[nb]=Forhåndsvisninger
Name[nl]=Voorvertoningen
Name[nn]=Førehandsvisingar
Name[pl]=Podglądy
Name[pt]=Antevisões
Name[pt_BR]=Visualizações
Name[ru]=Миниатюры
Name[sk]=Náhľady
Name[sl]=Predogledi
Name[sr]=Прегледи
Name[sr@ijekavian]=Прегледи
Name[sr@ijekavianlatin]=Pregledi
Name[sr@latin]=Pregledi
Name[sv]=Förhandsgranskningar
Name[tr]=Önizlemeler
Name[uk]=Ескізи
Name[x-test]=xxPreviewsxx
Name[zh_CN]=预览
Name[zh_TW]=預覽
Comment=A desktop switcher layout with previews of the desktops
Comment[ar]=مبدّل أسطح مكتب بمعاينات لأسطح المكتب
Comment[ca]=Una disposició del commutador d'escriptori amb vistes prèvies dels escriptoris
Comment[ca@valencia]=Una disposició del commutador d'escriptori amb vistes prèvies dels escriptoris
Comment[cs]=Přepínač oken s náhledy ploch
Comment[da]=Et layout til skrivebordsskift med forhåndsvisning af skrivebordene
Comment[de]=Ein Arbeitsflächenwechsler mit Vorschauen der Arbeitsflächen
Comment[el]=Μια διάταξη εναλλαγής επιφάνειας εργασίας με προεπισκοπήσεις των επιφανειών
Comment[en_GB]=A desktop switcher layout with previews of the desktops
Comment[es]=Un esquema de selector de ventanas con vistas previas de los escritorios
Comment[et]=Töölauavahetaja paigutus töölaudade eelvaatlustega
Comment[eu]=Mahaigainen aurrebistak dituen mahaigain-aldatzaile diseinu bat
Comment[fi]=Työpöydänvalitsimen asettelu, jossa on esikatselut työpöydistä
Comment[fr]=Une disposition du sélecteur de bureaux avec des aperçus de bureaux
Comment[gl]=Unha disposición do selector de escritorios con vistas previas deles
Comment[he]=מחליף שולחנות עבודה עם תצוגה מקדימה שלהם
Comment[hu]=Az asztalok előnézetét megjelenítő asztalváltó
Comment[ia]=Un disposition de commutator de scriptorio con vistas preliminar de scriptorios
Comment[it]=Un scambiatore dei desktop con le anteprime dei desktop
Comment[ko]=데스크톱 미리 보기를 제공하는 데스크톱 전환기 레이아웃
Comment[lt]=Darbalaukio perjungimo išdėstymas su darbalaukių peržiūromis
Comment[nb]=Utforming av skrivebordsbytter med forhåndsvisning av skrivebordene
Comment[nl]=Een indeling van bureaubladwisselaar met voorbeelden op de bureaubladen
Comment[nn]=Skrivebordsbytar med førehandvising av skriveborda
Comment[pl]=Przełącznik pulpitów z podglądem
Comment[pt]=Uma disposição de selecção de ecrãs com antevisões dos mesmos
Comment[pt_BR]=Um layout do seletor de área de trabalho com visualizações
Comment[ru]=Переключатель с миниатюрами рабочих столов
Comment[sk]=Rozloženie prepínača plôch s náhľadmi týchto plôch
Comment[sl]=Razpored preklapljanja med namizji s predogledi namizij
Comment[sr]=Распоред мењача површи са прегледима површи
Comment[sr@ijekavian]=Распоред мењача површи са прегледима површи
Comment[sr@ijekavianlatin]=Raspored menjača površi sa pregledima površi
Comment[sr@latin]=Raspored menjača površi sa pregledima površi
Comment[sv]=En layout för skrivbordsbyte med förhandsgranskningar av skrivborden
Comment[tr]=Masaüstlerinin önizlemeleri ile bir masaüstü değiştirici yerleşimi
Comment[uk]=Компонування перемикача стільниць з ескізами стільниць
Comment[x-test]=xxA desktop switcher layout with previews of the desktopsxx
Comment[zh_CN]=带桌面预览的切换布局
Comment[zh_TW]=有預覽的桌面切換器佈局
Icon=preferences-system-desktop-switcher-previews

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=previews
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/DesktopSwitcher
Type=Service
