[Desktop Entry]
Name=Konsole Profiles
Comment=List and launch Konsole profiles

Icon=utilities-terminal
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/konsoleprofiles.qml

X-KDE-PluginInfo-Author=Shaun Reich
X-KDE-PluginInfo-Email=shaun.reich@kdemail.net
X-KDE-PluginInfo-Name=konsoleprofiles
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

#X-Plasma-Requires-FileDialog=Unused
#X-Plasma-Requires-LaunchApp=Required
#X-Plasma-NotificationArea=true
