[Desktop Entry]
Name=Calculator
Name[ca]=Calculadora
Name[cs]=Kalkulačka
Name[da]=Lommeregner
Name[de]=Rechner
Name[el]=Αριθμομηχανή
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[fr]=Calculatrice
Name[ga]=Áireamhán
Name[gl]=Calculadora
Name[hu]=Számológép
Name[it]=Calcolatrice
Name[ja]=計算機
Name[km]=ម៉ាស៊ីន​គិតលេខ
Name[ko]=계산기
Name[lv]=Kalkulators
Name[nds]=Taschenreekner
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[oc]=Calculeta
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[sl]=Računalo
Name[sr]=калкулатор
Name[sr@latin]=kalkulator
Name[sv]=Miniräknare
Name[th]=เครื่องคิดเลข
Name[tr]=Hesap Makinesi
Name[uk]=Калькулятор
Name[wa]=Carculete
Name[x-test]=xxCalculatorxx
Name[zh_CN]=计算器
Name[zh_TW]=計算機
Comment=Calculate simple sums
Comment[cs]=Jednoduché sčítání
Comment[et]=Lihtne kalkulaator
Comment[ga]=Áirigh suimeanna simplí
Comment[nds]=Eenfache Saken utreken
Comment[pt]=Calcular somas simples
Comment[pt_BR]=Calcular somas simples
Comment[uk]=Обчисліть прості суми
Comment[zh_TW]=計算簡單的算式
Icon=accessories-calculator
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_calculator
X-KDE-PluginInfo-Author=Henry Stanaland
X-KDE-PluginInfo-Email=stanaland@gmail.com
X-KDE-PluginInfo-Name=calculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
