[Desktop Entry]
Name=Calculator
Name[ca]=Calculadora
Name[da]=Lommeregner
Name[de]=Rechner
Name[el]=Αριθμομηχανή
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[fr]=Calculatrice
Name[ga]=Áireamhán
Name[gl]=Calculadora
Name[hu]=Számológép
Name[it]=Calcolatrice
Name[ja]=計算機
Name[km]=ម៉ាស៊ីន​គិតលេខ
Name[ko]=계산기
Name[lv]=Kalkulators
Name[nds]=Taschenreekner
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[oc]=Calculeta
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[sl]=Računalo
Name[sr]=калкулатор
Name[sr@latin]=kalkulator
Name[sv]=Miniräknare
Name[th]=เครื่องคิดเลข
Name[tr]=Hesap Makinesi
Name[uk]=Калькулятор
Name[wa]=Carculete
Name[x-test]=xxCalculatorxx
Name[zh_CN]=计算器
Name[zh_TW]=計算機
Comment=Calculate simple sums
Comment[ca]=Una calculadora senzilla
Comment[da]=En simpel lommeregner
Comment[de]=Ein einfacher Rechner
Comment[el]=Μια απλή αριθμομηχανή
Comment[es]=Una sencilla calculadora
Comment[et]=Lihtne kalkulaator
Comment[fr]=Une simple calculatrice
Comment[ga]=Áireamhán simplí
Comment[gl]=Unha calculadora sinxela
Comment[hu]=Egyszerű számológép
Comment[it]=Una semplice calcolatrice
Comment[ja]=シンプルな計算機
Comment[km]=ម៉ាស៊ីន​គិតលេខ​ធម្មតា
Comment[ko]=간단한 계산기
Comment[lv]=Vienkāršs kalkulators
Comment[nds]=En eenfach Taschenreekner
Comment[nl]=Een eenvoudige rekenmachine
Comment[nn]=Ein enkel kalkulator
Comment[pl]=Prosty kalkulator
Comment[pt]=Uma calculadora simples
Comment[pt_BR]=Uma calculadora simples
Comment[sl]=Preprost kalkulator
Comment[sr]=Једноставни калкулатор
Comment[sr@latin]=Jednostavni kalkulator
Comment[sv]=En enkel miniräknare
Comment[th]=เครื่องคิดเลขอย่างง่าย
Comment[tr]=Basit bir hesap makinesi
Comment[uk]=Простий калькулятор
Comment[wa]=Ene simpe carculete
Comment[x-test]=xxCalculate simple sumsxx
Comment[zh_CN]=一个简单的计算器。
Comment[zh_TW]=簡單的計算機
Icon=accessories-calculator
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_calculator
X-KDE-PluginInfo-Author=Henry Stanaland
X-KDE-PluginInfo-Email=stanaland@gmail.com
X-KDE-PluginInfo-Name=calculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
