[Desktop Entry]
Name=Calculator
Name[es]=Calculadora
Name[ga]=Áireamhán
Name[gl]=Calculadora
Name[ja]=計算機
Name[km]=ម៉ាស៊ីន​គិតលេខ
Name[lv]=Kalkulators
Name[nds]=Taschenreekner
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[sv]=Miniräknare
Name[tr]=Hesap Makinesi
Name[uk]=Калькулятор
Name[zh_TW]=計算機
Comment=A simple calculator.
Comment[es]=Una sencilla calculadora.
Comment[ga]=Áireamhán simplí.
Comment[gl]=Unha calculadora sinxela.
Comment[ja]=シンプルな計算機
Comment[km]=ម៉ាស៊ីន​គិតលេខ​ធម្មតា
Comment[lv]=Vienkāršs kalkulators.
Comment[nds]=En eenfach Taschenreekner
Comment[pt]=Uma calculadora simples.
Comment[pt_BR]=Uma calculadora simples.
Comment[sv]=En enkel miniräknare
Comment[tr]=Basit bir hesap makinesi.
Comment[uk]=Простий калькулятор.
Comment[zh_TW]=簡單的計算機
Icon=accessories-calculator
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_calculator
X-KDE-PluginInfo-Author=Henry Stanaland
X-KDE-PluginInfo-Email=stanaland@gmail.com
X-KDE-PluginInfo-Name=calculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
