[Desktop Entry]
Name=Sidebars
Comment=A window switcher layout presenting thumbnails in a sidebar
Icon=preferences-system-windows-switcher

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=sidebars
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://www.kde.org

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service

