[Desktop Entry]
Name=Previewer
Comment=Quickly preview a variety of files
Type=Service
Icon=previewer

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_previewer
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=previewer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnableByDefault=true
