[Desktop Entry]
Name=Previewer
Name[el]=Προβολέας προεπισκόπησης
Name[fr]=Prévisualiseur
Name[gl]=Antevisor
Name[nl]=Voorvertoning
Name[pt]=Antevisão
Name[pt_BR]=Visualizador
Name[sv]=Förhandsgranskning
Name[uk]=Переглядач
Name[zh_CN]=预览器
Name[zh_TW]=預覽器
Comment=Quickly preview a variety of files
Comment[el]=Γρήγορη προεπισκόπηση διαφόρων αρχείων
Comment[fr]=Aperçu rapide de divers fichiers
Comment[gl]=Antevé rapidamente diversos ficheiros
Comment[nl]=Snel verschillende bestanden voorvertonen
Comment[pt]=Antevê rapidamente uma variedade de ficheiros
Comment[pt_BR]=Visualização rápida de uma variedade de arquivos
Comment[sv]=Snabb förhandsgranskning av en mängd olika filer
Comment[uk]=Засіб для швидкого перегляду низки файлів
Comment[zh_CN]=快速预览多种文件
Comment[zh_TW]=快速預覽各種檔案
Type=Service
Icon=previewer

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_previewer
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=previewer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnableByDefault=true
