[Desktop Entry]
Name=Previewer
Name[ar]=المعاين
Name[ast]=Previsualizador
Name[bs]=Pregledač
Name[ca]=Previsualitzador
Name[ca@valencia]=Previsualitzador
Name[cs]=Náhled
Name[da]=Forhåndsviser
Name[de]=Vorschau
Name[el]=Προβολέας προεπισκόπησης
Name[en_GB]=Previewer
Name[es]=Previsualizador
Name[et]=Eelvaatlus
Name[eu]=Aurrerakuslea
Name[fi]=Esikatselin
Name[fr]=Afficheur d'aperçus
Name[ga]=Réamhamharcán
Name[gl]=Previsualizador
Name[he]=מציג לדוגמא
Name[hr]=Preglednik
Name[hu]=Előnézet
Name[is]=Forskoðari
Name[it]=Visualizzatore di anteprime
Name[ja]=プレビューア
Name[kk]=Қарап-шығу
Name[km]=កម្មវិធី​មើល​ជា​មុន
Name[ko]=미리 보기
Name[ku]=Pêşdîtiner
Name[lt]=Peržiūriklis
Name[lv]=Priekšskatītājs
Name[mr]=पूर्वावलोकन
Name[nb]=Forhåndsviser
Name[nds]=Vöransicht
Name[nl]=Voorvertoning
Name[nn]=Snøggvisar
Name[pa]=ਝਲਕਾਰਾ
Name[pl]=Podgląd
Name[pt]=Antevisão
Name[pt_BR]=Visualizador
Name[ro]=Previzualizator
Name[ru]=Просмотр
Name[sk]=Náhľad
Name[sl]=Oglednik
Name[sq]=Parapamja
Name[sr]=преглед
Name[sr@ijekavian]=преглед
Name[sr@ijekavianlatin]=pregled
Name[sr@latin]=pregled
Name[sv]=Förhandsgranskning
Name[th]=ตัวแสดงตัวอย่าง
Name[tr]=Önizleyici
Name[ug]=ئالدىن كۆزەتكۈچ
Name[uk]=Переглядач
Name[wa]=Prévoeyeu
Name[x-test]=xxPreviewerxx
Name[zh_CN]=预览器
Name[zh_TW]=預覽器
Comment=Quickly preview a variety of files
Comment[ar]=عاين مختلف الملفات بسرعة
Comment[ast]=Previsualizar entaína una variedá de ficheros
Comment[bs]=Brzo pregledanje različitih datoteka
Comment[ca]=Vista prèvia ràpida d'una varietat de fitxers
Comment[ca@valencia]=Vista prèvia ràpida d'una varietat de fitxers
Comment[cs]=Rychlý náhled souborů
Comment[da]=Hurtig forhåndsvisning af mange slags filer.
Comment[de]=Vorschau für eine Vielzahl Dateien anzeigen
Comment[el]=Γρήγορη προεπισκόπηση διαφόρων αρχείων
Comment[en_GB]=Quickly preview a variety of files
Comment[es]=Previsualizar rápidamente una variedad de archivos
Comment[et]=Paljude failitüüpide kiire eelvaatlus
Comment[eu]=Fitxategi desberdinak era azkarrean aurreikusteko
Comment[fi]=Esikatsele tiedostoja nopeasti
Comment[fr]=Aperçu rapide de divers fichiers
Comment[ga]=Réamhamharc ar chomhaid éagsúla go tapa
Comment[gl]=Previsualiza rapidamente diversos ficheiros
Comment[he]=מאפשר באופן פשוט להציג לדוגמא קבצים שונים
Comment[hr]=Brzo pregledajte razne datoteke
Comment[hu]=Gyors előnézete különféle fájloknak
Comment[is]=Snögg forskoðun ýmmissa skráagerða
Comment[it]=Mostra velocemente le anteprime di diversi file
Comment[ja]=さまざまなファイルを素早くプレビューします
Comment[kk]=Түрлі файлдарды жылдам қарап-шығу
Comment[km]=មើល​ឯកសារ​ផ្សេងៗ​​ជា​មុន​យ៉ាង​រហ័ស
Comment[ko]=다양한 파일 미리 보기
Comment[ku]=Pêşdîtina bilez ya pelên di pir cure yan de
Comment[lt]=Greita įvairių failų peržiūra
Comment[lv]=Ātri priekšskata daudzus failu veidus
Comment[mr]=विविध फाईल्सचे जलद पूर्वावलोकन करा
Comment[nb]=Kjapp forhåndsvisning av forskjellige filer
Comment[nds]=Verscheden Dateien vörweg wiesen
Comment[nl]=Snel verschillende bestanden voorvertonen
Comment[nn]=Snøggvising av ulike typar filer
Comment[pa]=ਕਈ ਫਾਇਲਾਂ ਦੀ ਤੁਰੰਤ ਝਲਕ
Comment[pl]=Szybki podgląd różnych typów plików
Comment[pt]=Antevê rapidamente uma variedade de ficheiros
Comment[pt_BR]=Visualização rápida de uma variedade de arquivos
Comment[ro]=Previzualizează rapid o varietate de fișiere
Comment[ru]=Быстрый просмотр различных файлов
Comment[sk]=Rýchly náhľad rôznych typov súborov
Comment[sl]=Hitro prikaži vsebino vrste datotek
Comment[sr]=Брзо прегледајте различите фајлове
Comment[sr@ijekavian]=Брзо прегледајте различите фајлове
Comment[sr@ijekavianlatin]=Brzo pregledajte različite fajlove
Comment[sr@latin]=Brzo pregledajte različite fajlove
Comment[sv]=Snabb förhandsgranskning av en mängd olika filer
Comment[th]=แสดงตัวอย่างของแฟ้มต่าง ๆ อย่างรวดเร็ว
Comment[tr]=Çeşitli dosyaları hızlıca önizleyin
Comment[uk]=Засіб для швидкого перегляду низки файлів
Comment[wa]=Prévey rade sacwants fitchîs
Comment[x-test]=xxQuickly preview a variety of filesxx
Comment[zh_CN]=快速预览多种文件
Comment[zh_TW]=快速預覽各種檔案
Type=Service
Icon=previewer
X-Plasma-DropMimeTypes=application/pdf,image/png
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_previewer
X-KDE-PluginInfo-Author=Alessandro Diaferia
X-KDE-PluginInfo-Email=alediaferia@gmail.com
X-KDE-PluginInfo-Name=previewer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnableByDefault=true
X-Plasma-Requires-FileDialog=Required
X-Plasma-Requires-LaunchApp=Required
