[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;
Actions=Preview;

[Desktop Action Preview]
Name=Preview This File
Name[ar]=عاين هذا الملف
Name[ast]=Previsualizar esti ficheru
Name[bs]=Pregledaj ovu datoteku
Name[ca]=Vista prèvia d'aquest fitxer
Name[ca@valencia]=Vista prèvia d'este fitxer
Name[cs]=Náhled tohoto souboru
Name[da]=Forhåndsvis denne fil
Name[de]=Vorschau für diese Datei anzeigen
Name[el]=Προεπισκόπηση του αρχείου αυτού
Name[en_GB]=Preview This File
Name[es]=Previsualizar este archivo
Name[et]=Faili eelvaatlus
Name[eu]=Aurreikusi fitxategi hau
Name[fi]=Esikatsele tätä tiedostoa
Name[fr]=Afficheur d'aperçus de fichiers
Name[ga]=Réamhamharc ar an gComhad seo
Name[gl]=Previsualizar este ficheiro
Name[he]=הצג לדוגמא קובץ זה
Name[hr]=Pregledaj ovu datoteku
Name[hu]=Ezen fájl előnézete
Name[is]=Forsýna þessa skrá
Name[it]=Anteprima di questo file
Name[ja]=このファイルをプレビュー
Name[kk]=Осы файлды қарап-шығу
Name[km]=មើល​ឯកសារ​នេះ​ជា​មុន
Name[ko]=이 파일 미리 보기
Name[ku]=Pêşdîtina Vê Pelê
Name[lt]=Peržiūrėti šį failą
Name[lv]=Priekšskatīt šo failu
Name[mr]=या फाईलचे पूर्वावलोकन करा
Name[nb]=Forhåndsvis denne fila
Name[nds]=Disse Datei vörankieken
Name[nl]=Voorvertoning van dit bestand
Name[nn]=Vis denne fila
Name[pa]=ਇਹ ਫਾਇਲ ਦੀ ਝਲਕ
Name[pl]=Podgląd tego pliku
Name[pt]=Antever este Ficheiro
Name[pt_BR]=Visualizar este arquivo
Name[ro]=Previzualizează acest fișier
Name[ru]=Просмотреть этот файл
Name[sk]=Náhľad tohto súboru
Name[sl]=Ogled te datoteke
Name[sr]=Прегледај овај фајл
Name[sr@ijekavian]=Прегледај овај фајл
Name[sr@ijekavianlatin]=Pregledaj ovaj fajl
Name[sr@latin]=Pregledaj ovaj fajl
Name[sv]=Förhandsgranska filen
Name[th]=แสดงตัวอย่างแฟ้มนี้
Name[tr]=Bu Dosyayı Önizle
Name[uk]=Перегляд цього файла
Name[wa]=Prévey ci fitchî
Name[x-test]=xxPreview This Filexx
Name[zh_CN]=预览此文件
Name[zh_TW]=預覽此檔案
Icon=previewer
Exec=qdbus org.kde.plasma-desktop /Previewer org.kde.Previewer.openFile %u
