[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;inode/directory;
Actions=Preview;

[Desktop Action Preview]
Name=Preview This File
Name[el]=Προεπισκόπηση του αρχείου αυτού
Name[nds]=Disse Datei vörankieken
Name[pt]=Antever este Ficheiro
Name[pt_BR]=Visualizar este arquivo
Name[sv]=Förhandsgranska filen
Name[uk]=Перегляд цього файла
Name[zh_TW]=預覽此檔案
Icon=previewer
Exec=qdbus org.kde.plasma /Previewer org.kde.Previewer.openFile %u
