[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;inode/directory;
Actions=Preview;

[Desktop Action Preview]
Name=Preview This File
Name[de]=Vorschau für diese Datei anzeigen
Name[el]=Προεπισκόπηση του αρχείου αυτού
Name[et]=Faili eelvaatlus
Name[fr]=Afficheur de fichiers
Name[gl]=Antever este ficheiro
Name[it]=Anteprima di questo file
Name[ja]=このファイルをプレビュー
Name[km]=មើល​ឯកសារ​នេះ​ជា​មុន
Name[lv]=Priekšskatīt šo failu
Name[nds]=Disse Datei vörankieken
Name[nl]=Voorvertoning van dit bestand
Name[nn]=Vis denne fila
Name[pa]=ਇਹ ਫਾਇਲ ਦੀ ਝਲਕ
Name[pt]=Antever este Ficheiro
Name[pt_BR]=Visualizar este arquivo
Name[sr]=Прегледај овај фајл
Name[sr@latin]=Pregledaj ovaj fajl
Name[sv]=Förhandsgranska filen
Name[th]=แสดงตัวอย่างแฟ้มนี้
Name[tr]=Bu Dosyayı Önizle
Name[uk]=Перегляд цього файла
Name[wa]=Prévey ci fitchî
Name[x-test]=xxPreview This Filexx
Name[zh_CN]=预览此文件
Name[zh_TW]=預覽此檔案
Icon=previewer
Exec=qdbus org.kde.plasma /Previewer org.kde.Previewer.openFile %u
