[Desktop Entry]
Name=Remember The Milk Engine
Comment=An engine to work with Remember the Milk.
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_rtm
X-Plasma-EngineName=rtm
X-KDE-PluginInfo-Author=Andrew Stromme
X-KDE-PluginInfo-Email=astromme@chatonka.com
X-KDE-PluginInfo-Name=rtm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://blog.chatonka.com
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
