[Desktop Entry]
Name=Remember The Milk Engine
Name[ar]=محرك Remember The Milk
Name[ast]=Motor de Remember The Milk
Name[bs]=Pogon "Sjeti se mlijeka"
Name[ca]=Motor per «Remember The Milk»
Name[ca@valencia]=Motor per «Remember The Milk»
Name[cs]=Nástroj Remember The Milk
Name[da]=Remember The Milk-motor
Name[de]=„Remember The Milk“-Datentreiber
Name[el]=Μηχανή Remember The Milk
Name[en_GB]=Remember The Milk Engine
Name[es]=Motor de Remember The Milk
Name[et]=Remember The Milk mootor
Name[fi]=Remember the Milk -moottori
Name[fr]=Moteur de « Remember The Milk »
Name[ga]=Inneall Remember The Milk
Name[gl]=Motor de «Acórdate do leite»
Name[hr]=Mehanizam za Remember The Milk
Name[hu]=Remember The Milk szolgáltatás
Name[is]='Muna eftir mjólkinni' vél
Name[it]=Motore Remember The Milk
Name[ja]=Remember The Milk エンジン
Name[kk]=Remember The Milk тетігі
Name[km]=ចងចាំ​ម៉ាស៊ីន Milk
Name[ko]=Remember The Milk 엔진
Name[lt]=Prisimink pieną varikliukas
Name[lv]=Remember The Milk dzinējs
Name[mr]=दूध लक्षात ठेवा इंजिन
Name[nb]=Motor for Husk melk
Name[nds]=Dor-An-Denken-Karn
Name[nl]=Engine voor The Milk onthouden
Name[nn]=Datamotor for Remember The Milk
Name[pa]=ਰੀਮੈਂਬਰ ਦਾ ਮਿਲਕ ਇੰਜਣ
Name[pl]=Silnik Remember The Milk
Name[pt]=Motor para Recordar as Tarefas
Name[pt_BR]=Mecanismo Remember The Milk
Name[ro]=Motor Nu uita laptele
Name[ru]=Движок Remember the Milk.
Name[sk]=Nástroj Remember The Milk
Name[sl]=Podatkovni pogon Remember The Milk
Name[sr]=датомотор Не заборави млека
Name[sr@ijekavian]=датомотор Не заборави млијека
Name[sr@ijekavianlatin]=datomotor Ne zaboravi mlijeka
Name[sr@latin]=datomotor Ne zaboravi mleka
Name[sv]=Remember The Milk-gränssnitt
Name[tr]=Remember The Milk Motoru
Name[uk]=Рушій Remember The Milk
Name[wa]=Éndjin di Si sovni do laecea
Name[x-test]=xxRemember The Milk Enginexx
Name[zh_CN]=Remember The Milk 引擎
Name[zh_TW]=Remember The Milk 引擎
Comment=An engine to work with Remember the Milk.
Comment[ar]=محرك يعمل مع  Remember the Milk .
Comment[ast]=Un motor pa trabayar con Remember The Milk.
Comment[bs]=Pogon za rad "Sjeti se mlijeka"
Comment[ca]=Un motor per treballar amb «Remember The Milk».
Comment[ca@valencia]=Un motor per treballar amb «Remember The Milk».
Comment[cs]=Nástroj pro práci s Remember the Milk.
Comment[da]=En motor der virker med Remember the Milk.
Comment[de]=Ein Datentreiber, der mit „Remember The Milk“ arbeitet.
Comment[el]=Μία μηχανή για εργασία με το Remember The Milk.
Comment[en_GB]=An engine to work with Remember the Milk.
Comment[es]=Un monitor para trabajar con Remember The Milk.
Comment[et]=Remember The Milk mootor.
Comment[fi]=Moottori Remember the Milk -palvelulle
Comment[fr]=Moteur fonctionnant avec « Remember the Milk ».
Comment[ga]=Inneall a oibríonn le Remember The Milk.
Comment[gl]=Un motor para traballar con Acórdate do leite.
Comment[hr]=Mehanizam za rad s Remember the Milk.
Comment[hu]=Egy rendszer a Remember the Milk használatához.
Comment[is]=Vél til að vinna með 'Muna eftir mjólkinni'.
Comment[it]=Un motore per lavorare con Remember The Milk.
Comment[ja]=Remember The Milk とやりとりするエンジン
Comment[kk]=Remember the Milk дегенмен істейтін тетік.
Comment[km]=ម៉ាស៊ីន​ដើម្បី​ដំណើរការ​ជា​មួយនឹង​ការចងចាំ​ Milk ។
Comment[ko]=Remember the Milk와 통신하는 엔진입니다.
Comment[lv]=Dzinējs darbam ar Remember the Milk.
Comment[mr]=दूध लक्षात ठेवा बरोबर काम करणारे इंजिन.
Comment[nb]=En motor som samarbeider med Husk melk
Comment[nds]=En Karn, de mit Dor-An-Denken lopen schall
Comment[nl]=Een engine om samen te werken met Remember The Milk.
Comment[nn]=Datamotor for Remember The Milk
Comment[pl]=Silnik pracujący z Remember the Milk.
Comment[pt]=Um motor para funcionar com a 'applet' de recordação de tarefas.
Comment[pt_BR]=Um mecanismo para trabalhar com o Remember The Milk.
Comment[ro]=Motor pentru lucrul cu Remember the Milk.
Comment[ru]=Движок для работы с Remember the Milk.
Comment[sk]=Nástroj pre prácu s Remember the Milk.
Comment[sl]=Podatkovni pogon za del z Remember The Milk.
Comment[sr]=Мотор који ради с Не заборави млеком.
Comment[sr@ijekavian]=Мотор који ради с Не заборави млијеком.
Comment[sr@ijekavianlatin]=Motor koji radi s Ne zaboravi mlijekom.
Comment[sr@latin]=Motor koji radi s Ne zaboravi mlekom.
Comment[sv]=Ett gränssnitt för att arbeta med Remember the Milk.
Comment[tr]=Remember the Milk ile çalışan bir motor.
Comment[uk]=Рушій для роботи з Remember the Milk.
Comment[wa]=Èn éndjin a fé ovrer avou Si sovni do laecea.
Comment[x-test]=xxAn engine to work with Remember the Milk.xx
Comment[zh_CN]=一个与 Remember The Milk 工作的引擎。
Comment[zh_TW]=用 Remember the Milk 工作的引擎
Type=Service
Icon=korg-todo

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_rtm
X-Plasma-EngineName=rtm
X-KDE-PluginInfo-Author=Andrew Stromme
X-KDE-PluginInfo-Email=astromme@chatonka.com
X-KDE-PluginInfo-Name=rtm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://blog.chatonka.com
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
