[Desktop Entry]
Name=Remember The Milk Engine
Name[ar]=محرك Remember The Milk
Name[ca]=Motor per «Remember The Milk»
Name[da]=Remember The Milk-motor
Name[de]=Remember-the-Milk-Treiber
Name[en_GB]=Remember The Milk Engine
Name[es]=Motor de Remember The Milk
Name[et]=Remember The Milk mootor
Name[fr]=Moteur de Remember The Milk
Name[gl]=Motor de «Acórdate do leite»
Name[hu]=Remeber the Milk letöltő
Name[is]='Muna eftir mjólkinni' vél
Name[it]=Motore Ricorda il latte
Name[ja]=Remember The Milk エンジン
Name[km]=ចងចាំ​ម៉ាស៊ីន Milk
Name[lt]=„Nepamiršk pieno“ užduočių sąrašo variklis
Name[lv]=Remember The Milk dzinējs
Name[nb]=Motor for Husk melk
Name[nds]=Dor-An-Denken-Karn
Name[nl]=Engine voor The Milk onthouden
Name[nn]=Datamotor for Remember The Milk
Name[pa]=ਰੀਮੈਂਬਰ ਦਾ ਮਿਲਕ ਇੰਜਣ
Name[pl]=Silnik Remember The Milk
Name[pt]=Motor para Recordar as Tarefas
Name[pt_BR]=Mecanismo Remember The Milk
Name[ro]=Motor Nu uita laptele
Name[sk]=Nástroj Remember The Milk
Name[sl]=Podatkovni pogon Remember The Milk
Name[sr]=датомотор Не заборави млека
Name[sr@latin]=datomotor Ne zaboravi mleka
Name[sv]=Remember The Milk-gränssnitt
Name[tr]=Remember The Milk Motoru
Name[uk]=Рушій Remember The Milk
Name[wa]=Éndjin di Si sovni do laecea
Name[x-test]=xxRemember The Milk Enginexx
Name[zh_CN]=Remember The Milk 引擎
Name[zh_TW]=Remember The Milk 引擎
Comment=An engine to work with Remember the Milk.
Comment[ar]=محرك يعمل مع  Remember the Milk .
Comment[ca]=Un motor per treballar amb «Remember The Milk».
Comment[da]=En motor der virker med Remember the Milk.
Comment[de]=Ein Treiber, der mit Remember the Milk arbeitet.
Comment[en_GB]=An engine to work with Remember the Milk.
Comment[es]=Un montor para trabajar con Remember The Milk.
Comment[et]=Remember The Milk mootor.
Comment[fr]=Moteur fonctionnant avec Remember the Milk.
Comment[gl]=Un motor para traballar con Acórdate do leite.
Comment[hu]=Letöltő a Remember the Milk webhelyhez.
Comment[is]=Vél til að vinna með 'Muna eftir mjólkinni'.
Comment[it]=Un motore per lavorare con Ricorda il latte.
Comment[ja]=Remember The Milk とやりとりするエンジン
Comment[km]=ម៉ាស៊ីន​ដើម្បី​ដំណើរការ​ជា​មួយនឹង​ការចងចាំ​ Milk ។
Comment[lt]=Variklis darbui su „Nepamiršk pieno“.
Comment[lv]=Dzinējs darbam ar Remember the Milk.
Comment[nb]=En motor som samarbeider med Husk melk
Comment[nds]=En Karn, de mit Dor-An-Denken lopen schall
Comment[nl]=Een engine om samen te werken met Remember The Milk.
Comment[nn]=Datamotor for Remember The Milk
Comment[pa]=ਰੀਮੈਂਬਰ ਦਾ ਮਿਲਕ ਨਾਲ ਕੰਮ ਕਰਨ ਲਈ ਇੰਜਣ ਹੈ।
Comment[pl]=Silnik pracujący z Remember the Milk.
Comment[pt]=Um motor para funcionar com a 'applet' de recordação de tarefas.
Comment[pt_BR]=Um mecanismo para trabalhar com o Remember The Milk.
Comment[ro]=Motor pentru lucrul cu Remember the Milk.
Comment[sk]=Nástroj pre prácu s Remember the Milk.
Comment[sl]=Podatkovni pogon za del z Remember The Milk.
Comment[sr]=Мотор који ради с Не заборави млеком.
Comment[sr@latin]=Motor koji radi s Ne zaboravi mlekom.
Comment[sv]=Ett gränssnitt för att arbeta med Remember the Milk.
Comment[tr]=Remember The Milk ile çalışan bir motor.
Comment[uk]=Рушій для роботи з Remember the Milk.
Comment[wa]=Èn éndjin a fé ovrer avou Si sovni do laecea.
Comment[x-test]=xxAn engine to work with Remember the Milk.xx
Comment[zh_CN]=一个与 Remember The Milk 工作的引擎。
Comment[zh_TW]=用 Remember the Milk 工作的引擎
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_rtm
X-Plasma-EngineName=rtm
X-KDE-PluginInfo-Author=Andrew Stromme
X-KDE-PluginInfo-Email=astromme@chatonka.com
X-KDE-PluginInfo-Name=rtm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://blog.chatonka.com
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
