[Desktop Entry]
Name=Grid Desktop
Name[bs]=Rešetkasta radna površina
Name[ca]=Escriptori en graella
Name[ca@valencia]=Escriptori en graella
Name[cs]=Mřížová pracovní plocha
Name[da]=Gitterskrivebord
Name[de]=Gitter-Arbeitsfläche
Name[el]=Grid Desktop
Name[en_GB]=Grid Desktop
Name[es]=Escritorio de cuadrícula
Name[et]=Võrgustikuga töölaud
Name[fi]=Ruudukollinen työpöytä
Name[fr]=Bureau en grille
Name[gl]=Escritorio en grade
Name[hu]=Asztalrács
Name[it]=Griglia dei desktop
Name[kk]=Торлы үстел
Name[km]=ផ្ទៃតុ​ក្រឡាចត្រង្គ​
Name[ko]=데스크톱 그리드
Name[lt]=Darbastalio tinklelis
Name[lv]=Darbvirsmu režģis
Name[mr]=डेस्कटॉप जाळे
Name[nb]=Rutenett-skrivebord
Name[nds]=Gadder-Schriefdisch
Name[nl]=Bureaubladraster
Name[pa]=ਡੈਸਕਟਾਪ ਗਰਿੱਡ
Name[pl]=Siatka pulpitu
Name[pt]=Ecrã em Grelha
Name[pt_BR]=Área de trabalho em grade
Name[ro]=Birou-grilă
Name[ru]=Клетчатая комната
Name[sk]=Plocha s mriežkou
Name[sl]=Namizje z mrežo
Name[sr]=Решеткаста површ
Name[sr@ijekavian]=Решеткаста површ
Name[sr@ijekavianlatin]=Rešetkasta površ
Name[sr@latin]=Rešetkasta površ
Name[sv]=Skrivbord med rutnät
Name[tr]=Izgara Masaüstü
Name[uk]=Таблична стільниця
Name[x-test]=xxGrid Desktopxx
Name[zh_CN]=网格桌面
Name[zh_TW]=格狀桌面
Icon=view-grid
Type=Service
X-KDE-ServiceTypes=Plasma/Containment
X-Plasma-ContainmentCategories=desktop

X-KDE-Library=plasma_containment_griddesktop
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=giuliocamuffo@gmail.com
X-KDE-PluginInfo-Name=org.kde.griddesktop
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/GroupingDesktop
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
