[Desktop Entry]
Name=Qalculate!
Name[ast]=Qalculate!
Name[bs]=Qalculate!
Name[ca]=Qalculate!
Name[ca@valencia]=Qalculate!
Name[cs]=Qalculate!
Name[da]=Qalculate!
Name[de]=Qalculate!
Name[el]=Qalculate!
Name[en_GB]=Qalculate!
Name[es]=Qalculate!
Name[et]=Qalculate!
Name[fi]=Qalculate!
Name[fr]=Calcule !
Name[ga]=Qalculate!
Name[gl]=Calculadora
Name[hr]=Qalculate!
Name[hu]=Qalculate!
Name[it]=Qalculate!
Name[ja]=Qalculate!
Name[kk]=Qalculate!
Name[km]=Qalculate!
Name[ko]=Qalculate!
Name[lt]=Qalculate!
Name[lv]=Qalculate!
Name[mr]=क्वेल्क्युलेट!
Name[nb]=Qalculate!
Name[nds]=Qalculate!
Name[nl]=Qalculate!
Name[nn]=Qalculate!
Name[pa]=ਕੈਲਕੂਲੇਟ!
Name[pl]=Qalculate!
Name[pt]=Qalculate!
Name[pt_BR]=Qalculate!
Name[ro]=Qalculează!
Name[ru]=Qalculate!
Name[sk]=Qalculate!
Name[sl]=Qalculate!
Name[sr]=Калкулејт
Name[sr@ijekavian]=Калкулејт
Name[sr@ijekavianlatin]=Qalculate!
Name[sr@latin]=Qalculate!
Name[sv]=Beräkna!
Name[tr]=Hesapla!
Name[ug]=ھېسابلا
Name[uk]=Qalculate!
Name[wa]=Qarculete !
Name[x-test]=xxQalculate!xx
Name[zh_CN]=计算器
Name[zh_TW]=Qalculate!
Comment=A powerful mathematical equation solver
Comment[bs]=Moćni rijesavač matematičkih jednačina
Comment[ca]=Una calculadora potent d'equacions matemàtiques
Comment[ca@valencia]=Una calculadora potent d'equacions matemàtiques
Comment[cs]=Mocný nástroj pro řešení matematických rovnic
Comment[da]=Et kraftfuldt værktøj til at løse matematiske ligninger
Comment[de]=Ein leistungsfähiges Miniprogramm zum Lösen von mathematischen Gleichungen
Comment[el]=Ένα πανίσχυρο εργαλείο επίλυσης μαθηματικών εξισώσεων
Comment[en_GB]=A powerful mathematical equation solver
Comment[es]=Un potente sistema de resolución de ecuaciones matemáticas
Comment[et]=Võimas võrrandilahendaja
Comment[fi]=Tehokas matemaattisten lausekkeiden ratkaisija
Comment[fr]=Un puissant résolveur d'équations mathématiques
Comment[gl]=Un poderoso aplicativo para resolver ecuacións matemáticas
Comment[hr]=Napredanrazrješivač matematičkih jednadžbi
Comment[hu]=Hatékony matematikai egyenletmegoldó
Comment[it]=Un potente solutore di equazioni matematiche
Comment[kk]=Математикалық теңдіктерінің күшті шешім тапқышы
Comment[km]=A powerful mathematical equation solver
Comment[ko]=강력한 공학용 계산기
Comment[lt]=Galingas matematinių lygčių sprendiklis
Comment[lv]=Spēcīgs matemātisko vienādojumu rēķinātājs
Comment[mr]=गणितीय समीकरण सोडविणारा
Comment[nb]=En kraftig matematisk likningsløser
Comment[nds]=En deegt mathemaatsch Glieken-Löser
Comment[nl]=Een krachtige oplosser van mathematische vergelijkingen
Comment[nn]=Kraftig likningsløysar
Comment[pa]=ਤਾਕਤਵਰ ਗਣਿਤ ਸਮੀਕਰਨ ਹੱਲਕਰਤਾ
Comment[pl]=Zaawansowane narzędzie do rozwiązywania równań matematycznych
Comment[pt]=Um sistema poderoso de resolução de equações matemáticas
Comment[pt_BR]=Poderoso sistema de resolução de equações matemáticas
Comment[ro]=Un rezolvator puternic de ecuații matematice
Comment[ru]=Полноценное решение математических уравнений
Comment[sk]=Silný nástroj na riešenie matematických rovníc
Comment[sl]=Zmogljiv reševalnik matematičnih enačb
Comment[sr]=Моћни решавач математичких једначина
Comment[sr@ijekavian]=Моћни рјешавач математичких једначина
Comment[sr@ijekavianlatin]=Moćni rješavač matematičkih jednačina
Comment[sr@latin]=Moćni rešavač matematičkih jednačina
Comment[sv]=Ett kraftfullt verktyg för lösning av matematiska ekvationer
Comment[tr]=Gelişmiş bir matematiksel eşitlik çözücü
Comment[uk]=Потужний інструмент розв’язання рівнянь
Comment[x-test]=xxA powerful mathematical equation solverxx
Comment[zh_CN]=强大的数学求值器
Comment[zh_TW]=強大的數學方程式解題器
Icon=qalculate-applet
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_qalculate
X-KDE-PluginInfo-Author=Matteo Agostinelli
X-KDE-PluginInfo-Email=agostinelli@gmail.com
X-KDE-PluginInfo-Name=qalculate
X-KDE-PluginInfo-Version=0.7.2
X-KDE-PluginInfo-Website=http://wwwu.uni-klu.ac.at/magostin/qalculate
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
