[Desktop Entry]
Name=Qalculate!
Name[ca]=Qalculate!
Name[ca@valencia]=Qalculate!
Name[cs]=Qalculate!
Name[da]=Qalculate!
Name[de]=Qalculate!
Name[el]=Qalculate!
Name[en_GB]=Qalculate!
Name[es]=Qalculate!
Name[et]=Qalculate!
Name[fr]=Calcule !
Name[ga]=Qalculate!
Name[gl]=Calculadora
Name[hu]=Qalculate!
Name[it]=Qalculate!
Name[ja]=Qalculate!
Name[kk]=Qalculate!
Name[lv]=Qalculate!
Name[nb]=Qalculate!
Name[nds]=Qalculate!
Name[nl]=Qalculate!
Name[nn]=Qalculate!
Name[pa]=ਕੈਲਕੂਲੇਟ!
Name[pl]=Qalculate!
Name[pt]=Qalculate!
Name[pt_BR]=Qalculate!
Name[ro]=Qalculează!
Name[ru]=Qalculate!
Name[sk]=Qalculate!
Name[sl]=Qalculate!
Name[sr]=Калкулејт
Name[sr@ijekavian]=Калкулејт
Name[sr@ijekavianlatin]=Qalculate!
Name[sr@latin]=Qalculate!
Name[sv]=Beräkna!
Name[tr]=Qalculate!
Name[uk]=Qalculate!
Name[x-test]=xxQalculate!xx
Name[zh_CN]=计算器
Name[zh_TW]=Qalculate!
Comment=A powerful mathematical equation solver
Comment[ca]=Un poderós solucionador d'equacions matemàtiques
Comment[ca@valencia]=Un poderós solucionador d'equacions matemàtiques
Comment[da]=Et kraftfuldt værktøj til at løse matematiske ligninger
Comment[de]=Ein leistungsfähiger Linearergleichungslöser
Comment[el]=Ένα πανίσχυρο εργαλείο επίλυσης μαθηματικών εξισώσεων
Comment[en_GB]=A powerful mathematical equation solver
Comment[es]=Un potente sistema de resolución de ecuaciones matemáticas
Comment[et]=Võimas võrrandilahendaja
Comment[fi]=Tehokas matemaattisten lausekkeiden ratkaisija
Comment[fr]=Un puissant solveur d'équations mathématiques
Comment[gl]=Un poderoso aplicativo para resolver ecuacións matemáticas
Comment[hu]=Matematikai egyenletmegoldó
Comment[it]=Un potente solutore di equazioni matematiche
Comment[kk]=Математикалық теңдіктерінің күшті шешім тапқышы
Comment[km]=A powerful mathematical equation solver
Comment[lv]=Spēcīgs matemātisko vienādojumu rēķinātājs
Comment[nb]=En kraftig matematisk likningsløser
Comment[nds]=En deegt mathemaatsch Glieken-Löser
Comment[nl]=Een krachtige oplosser van mathematische vergelijkingen
Comment[nn]=Kraftig likningsløysar
Comment[pa]=ਤਾਕਤਵਰ ਗਣਿਤ ਸਮੀਕਰਨ ਹੱਲਕਰਤਾ
Comment[pl]=Zaawansowane narzędzie do rozwiązywania równań matematycznych
Comment[pt]=Um sistema poderoso de resolução de equações matemáticas
Comment[pt_BR]=Um sistema poderoso de resolução de equações matemáticas
Comment[ru]=Полноценное решение математических уравнений
Comment[sk]=Silný nástroj na riešenie matematických rovníc
Comment[sl]=Zmogljiv reševalnik matematičnih enačb
Comment[sr]=Моћни решавач математичких једначина
Comment[sr@ijekavian]=Моћни рјешавач математичких једначина
Comment[sr@ijekavianlatin]=Moćni rješavač matematičkih jednačina
Comment[sr@latin]=Moćni rešavač matematičkih jednačina
Comment[sv]=Ett kraftfullt verktyg för lösning av matematiska ekvationer
Comment[tr]=Gelişmiş bir matematiksel eşitlik çözücü
Comment[uk]=Потужний інструмент розв’язання рівнянь
Comment[x-test]=xxA powerful mathematical equation solverxx
Comment[zh_CN]=强大的数学求值器
Comment[zh_TW]=強大的數學方程式解題器
Icon=qalculate-applet
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_qalculate
X-KDE-PluginInfo-Author=Matteo Agostinelli
X-KDE-PluginInfo-Email=agostinelli@gmail.com
X-KDE-PluginInfo-Name=qalculate
X-KDE-PluginInfo-Version=0.7.2
X-KDE-PluginInfo-Website=http://wwwu.uni-klu.ac.at/magostin
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

