[Desktop Entry]
Name=Bookmarks
Name[ast]=Marcadores
Name[bs]=obilježivači
Name[ca]=Adreces d'interès
Name[ca@valencia]=Adreces d'interés
Name[cs]=Záložky
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[en_GB]=Bookmarks
Name[eo]=Legosignoj
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[eu]=Liburu markak
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[ga]=Leabharmharcanna
Name[gl]=Marcadores
Name[hr]=Oznake
Name[hu]=Könyvjelzők
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[kk]=Бетбелгілер
Name[km]=ចំណាំ
Name[ko]=책갈피
Name[lt]=Žymelės
Name[lv]=Grāmatzīmes
Name[mr]=ओळखचिन्हे
Name[nb]=Bokmerker
Name[nds]=Leestekens
Name[nl]=Bladwijzers
Name[nn]=Bokmerke
Name[pa]=ਬੁੱਕਮਾਰਕ
Name[pl]=Zakładki
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[sk]=Záložky
Name[sl]=Zaznamki
Name[sr]=обележивачи
Name[sr@ijekavian]=обележивачи
Name[sr@ijekavianlatin]=obeleživači
Name[sr@latin]=obeleživači
Name[sv]=Bokmärken
Name[th]=ที่คั่นหน้า
Name[tr]=Yer İmleri
Name[ug]=خەتكۈشلەر
Name[uk]=Закладки
Name[wa]=Rimarkes
Name[x-test]=xxBookmarksxx
Name[zh_CN]=书签
Name[zh_TW]=書籤
Comment=Quick Access to the Bookmarks
Comment[ast]=Accesu rápidu a Marcadores
Comment[bs]=Brz pristup do obilježivača
Comment[ca]=Accés ràpid a les adreces d'interès
Comment[ca@valencia]=Accés ràpid a les adreces d'interés
Comment[cs]=Rychlý přístup k záložkám
Comment[da]=Hurtig adgang til bogmærker
Comment[de]=Schnellzugriff auf die Lesezeichen
Comment[el]=Γρήγορη πρόσβαση στους σελιδοδείκτες
Comment[en_GB]=Quick Access to the Bookmarks
Comment[es]=Acceso rápido a los marcadores
Comment[et]=Kiire ligipääs järjehoidjatele
Comment[eu]=Liburu marketara sarbide azkarra
Comment[fi]=Nopea pääsy kirjanmerkkeihin
Comment[fr]=Accès rapide aux signets
Comment[gl]=Acceso rápido aos marcadores.
Comment[hr]=Brzi pristup oznakama
Comment[hu]=Gyors hozzáférés a könyvjelzőkhöz
Comment[it]=Accesso rapido ai segnalibri
Comment[ja]=ブックマークへ素早くアクセス
Comment[kk]=Бетбелгілерге тез қатынау
Comment[km]=ចូល​ដំណើរ​ការ​រហ័ស​ទៅ​កាន់​ចំណាំ
Comment[ko]=책갈피에 빨리 접근하기
Comment[lt]=Greita prieiga prie žymių
Comment[lv]=Ātra piekļuve grāmatzīmēm
Comment[mr]=ओळखचिन्हांकरिता जलद हाताळणी
Comment[nb]=Kjapp tilgang til bokmerkene dine
Comment[nds]=Fixtogriep op de Leestekens
Comment[nl]=Snelle toegang tot de bladwijzers
Comment[nn]=Kjapp tilgang til bokmerka
Comment[pa]=ਬੁੱਕਮਾਰਕ ਲਈ ਤੁਰੰਤ ਅਸੈੱਸ
Comment[pl]=Szybki dostęp do zakładek
Comment[pt]=Acesso Rápido aos Favoritos
Comment[pt_BR]=Acesso rápido aos favoritos
Comment[ro]=Acces rapid la semnele de carte
Comment[ru]=Быстрый доступ к закладкам
Comment[sk]=Rýchly prístup k záložkám
Comment[sl]=Hiter dostop do zaznamkov
Comment[sr]=Брз приступ обележивачима
Comment[sr@ijekavian]=Брз приступ обиљеживачима
Comment[sr@ijekavianlatin]=Brz pristup obilježivačima
Comment[sr@latin]=Brz pristup obeleživačima
Comment[sv]=Snabbåtkomst till bokmärken
Comment[th]=เข้าใช้งานที่คั่นหน้าด่วน
Comment[tr]=Yer İmlerinize Hızlı Erişim
Comment[uk]=Швидкий доступ до закладок
Comment[wa]=Potchî rade dins les rmarkes
Comment[x-test]=xxQuick Access to the Bookmarksxx
Comment[zh_CN]=快速访问书签
Comment[zh_TW]=快速存取書籤
Type=Service
Icon=bookmarks
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_bookmarks
X-KDE-PluginInfo-Author=Friedrich W. H. Kossebau
X-KDE-PluginInfo-Email=kossebau@kde.org
X-KDE-PluginInfo-Name=bookmarks
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
