[Desktop Entry]
Name=Bookmarks
Name[de]=Lesezeichen
Name[en_GB]=Bookmarks
Name[nds]=Leestekens
Name[nn]=Bokmerke
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[sv]=Bokmärken
Name[uk]=Закладки
Name[x-test]=xxBookmarksxx
Comment=Quick Access to the Bookmarks
Comment[de]=Schnellzugriff auf die Lesezeichen
Comment[en_GB]=Quick Access to the Bookmarks
Comment[nds]=Fixtogriep op de Leestekens
Comment[nn]=Kjapp tilgang til bokmerka
Comment[pt]=Acesso Rápido aos Favoritos
Comment[pt_BR]=Acesso rápido aos favoritos
Comment[sv]=Snabbåtkomst till bokmärken
Comment[uk]=Швидкий доступ до закладок
Comment[x-test]=xxQuick Access to the Bookmarksxx
Type=Service
Icon=bookmarks
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_bookmarks
X-KDE-PluginInfo-Author=Friedrich W. H. Kossebau
X-KDE-PluginInfo-Email=kossebau@kde.org
X-KDE-PluginInfo-Name=bookmarks
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
