[Desktop Entry]
Name=Konqueror Profiles
Name[ca]=Perfils del Konqueror
Name[es]=Perfiles de Konqueror
Name[fr]=Profils de Konqueror
Name[hu]=Konqueror profilok
Name[nl]=Konqueror-profielen
Name[pl]=Profile Konquerora
Name[sv]=Konquerorprofiler
Name[uk]=Профілі Konqueror
Name[x-test]=xxKonqueror Profilesxx
Name[zh_TW]=Konqueror 設定檔
Comment=List and launch Konqueror profiles
Comment[ca]=Llista i executa els perfils del Konqueror
Comment[es]=Listar y lanzar perfiles de Konqueror
Comment[fr]=Permet d'afficher et de lancer des profils de Konqueror
Comment[hu]=Konqueror profilok listázása és indítása
Comment[nl]=Toon en start Konqueror-profielen
Comment[pl]=Wypisywanie i uruchamianie profili Konquerora
Comment[sv]=Lista och starta Konquerorprofiler
Comment[uk]=Перегляньте список і запустіть профілі Konqueror
Comment[x-test]=xxList and launch Konqueror profilesxx
Comment[zh_TW]=列出並啟動 Konqueror 設定檔

Icon=konqueror
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/konqprofiles.qml

X-KDE-PluginInfo-Author=Shaun Reich
X-KDE-PluginInfo-Email=shaun.reich@kdemail.net
X-KDE-PluginInfo-Name=konqprofiles
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

#X-Plasma-Requires-FileDialog=Unused
#X-Plasma-Requires-LaunchApp=Required
#X-Plasma-NotificationArea=true
