[Desktop Entry]
Name=Konqueror Profiles
Comment=List and launch Konqueror profiles

Icon=konqueror
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/konqprofiles.qml
X-Plasma-DefaultSize=200,200

X-KDE-PluginInfo-Author=Shaun Reich
X-KDE-PluginInfo-Email=shaun.reich@kdemail.net
X-KDE-PluginInfo-Name=org.kde.plasma.applet.konqprofiles
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

#X-Plasma-Requires-FileDialog=Unused
#X-Plasma-Requires-LaunchApp=Required
#X-Plasma-NotificationArea=true
