[Desktop Entry]
Name=Notes
Name[ca]=Notes
Name[es]=Notas
Name[fr]=Notes
Name[hu]=A jegyzetek nyomtathatók
Name[nl]=Notities
Name[pl]=Notatki
Name[sv]=Anteckningar
Name[uk]=Нотатки
Name[x-test]=xxNotesxx
Name[zh_TW]=Notes
Comment=Desktop sticky notes
Comment[ca]=Notes adhesives d'escriptori
Comment[es]=Notas adhesivas del escritorio
Comment[fr]=Un note collée sur le bureau
Comment[hu]=Ragadós asztali feljegyzések
Comment[nl]=Sticky's op het bureaublad
Comment[pl]=Żółte karteczki na pulpicie
Comment[sv]=Klisterlappar med meddelanden för skrivbordet
Comment[uk]=Стільничні липкі нотатки
Comment[x-test]=xxDesktop sticky notesxx
Comment[zh_TW]=桌面便利貼
Icon=knotes
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DropMimeTypes=text/plain,text/richtext
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Davide Bettio, Lukas Kropatschek
X-KDE-PluginInfo-Email=bettio@kde.org, lukas.krop@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.notes
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
