[Desktop Entry]
Name=Notes
Name[ar]=ملاحظات
Name[be]=Заметкі
Name[bs]=Bilješke
Name[ca]=Notes
Name[ca@valencia]=Notes
Name[cs]=Poznámky
Name[csb]=Nadczidczi
Name[da]=Noter
Name[de]=Notizen
Name[el]=Σημειώσεις
Name[en_GB]=Notes
Name[eo]=Notoj
Name[es]=Notas
Name[et]=Märkmed
Name[eu]=Oharrak
Name[fi]=Muistilappu
Name[fr]=Notes
Name[ga]=Nótaí
Name[gl]=Notas
Name[he]=פתקיות
Name[hr]=Bilješke
Name[hu]=Jegyzetek
Name[ia]=Notas
Name[is]=Minnismiðar
Name[it]=Note
Name[ja]=メモ
Name[kk]=Жазбалар
Name[km]=ចំណាំ
Name[ko]=메모
Name[ku]=Nîşe
Name[lt]=Užrašai
Name[lv]=Piezīmes
Name[mr]=नोंदी
Name[ms]=Nota
Name[nb]=Notater
Name[nds]=Notizen
Name[nl]=Notities
Name[nn]=Notat
Name[pa]=ਨੋਟਿਸ
Name[pl]=Notatki
Name[pt]=Notas
Name[pt_BR]=Notas
Name[ro]=Note
Name[ru]=Заметка
Name[sk]=Poznámky
Name[sl]=Sporočilca
Name[sq]=Shënime
Name[sr]=белешке
Name[sr@ijekavian]=биљешке
Name[sr@ijekavianlatin]=bilješke
Name[sr@latin]=beleške
Name[sv]=Anteckningar
Name[th]=บันทึกช่วยจำ
Name[tr]=Notlar
Name[ug]=ئىزاھ
Name[uk]=Нотатки
Name[wa]=Notes
Name[x-test]=xxNotesxx
Name[zh_CN]=便笺
Name[zh_TW]=Notes
Comment=Desktop sticky notes
Comment[ar]=ملاحظات لاصقة على سطح المكتب
Comment[bs]=Ljepljive bilješke za površ
Comment[ca]=Notes adhesives per a l'escriptori
Comment[ca@valencia]=Notes adhesives per a l'escriptori
Comment[cs]=Lepící poznámkové papírky na plochu
Comment[da]=Notessedler på skrivebordet.
Comment[de]=Haftnotizen für die Arbeitsfläche
Comment[el]=Κολλημένες σημειώσεις επιφάνειας εργασίας
Comment[en_GB]=Desktop sticky notes
Comment[es]=Notas adhesivas del escritorio
Comment[et]=Töölaua märkmepaberid
Comment[eu]=Mahaigaineko ohar itsaskorrak
Comment[fi]=Työpöydän muistilaput
Comment[fr]=Une note collée sur le bureau
Comment[ga]=Nótaí greamaitheacha
Comment[gl]=Notas no escritorio
Comment[he]=פתקיות על שולחן העבודה
Comment[hu]=Ragadós asztali feljegyzések
Comment[is]=Minnismiðar á skjáborði
Comment[it]=Note adesive del desktop
Comment[ja]=デスクトップの付箋紙メモ
Comment[kk]=Үстелге жапсырмалы жазбалар
Comment[km]=ចំណាំ​បិទ​លើ​ផ្ទៃតុ
Comment[ko]=데스크톱 메모
Comment[ku]=Nîşeyên mezeloqî yên Sermasê
Comment[lt]=Darbalaukio lipnūs lapeliai
Comment[lv]=Darbvirsmas piezīmju lapiņas
Comment[mr]=डेस्कटॉप चिकट नोंदी
Comment[nb]=Notatlapper for skrivebordet
Comment[nds]=Opback-Notizen för den Schriefdisch
Comment[nl]=Sticky's op het bureaublad
Comment[nn]=Notatlappar på skrivebordet
Comment[pa]=ਡੈਸਕਟਾਪ ਸਟਿੱਕੀ ਨੋਟਿਸ
Comment[pl]=Żółte karteczki na pulpicie
Comment[pt]=Notas autocolantes do ecrã
Comment[pt_BR]=Notas adesivas na área de trabalho
Comment[ro]=Notițe de birou lipicioase
Comment[ru]=Клейкие заметки на рабочем столе
Comment[sk]=Lepiace poznámky na plochu
Comment[sl]=Lepljiva sporočilca za namizje
Comment[sr]=Лепљиве белешке за површ
Comment[sr@ijekavian]=Љепљиве биљешке за површ
Comment[sr@ijekavianlatin]=Ljepljive bilješke za površ
Comment[sr@latin]=Lepljive beleške za površ
Comment[sv]=Klisterlappar med meddelanden för skrivbordet
Comment[th]=ปักหมุดบันทึกช่วยจำไว้บนพื้นที่ทำงาน
Comment[tr]=Masaüstüne yapışan notlar
Comment[uk]=Стільничні липкі нотатки
Comment[wa]=Aclapantès notes sol scribanne
Comment[x-test]=xxDesktop sticky notesxx
Comment[zh_CN]=桌面 n 次贴
Comment[zh_TW]=桌面便利貼
Icon=knotes
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DropMimeTypes=text/plain,text/richtext
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Davide Bettio, Lukas Kropatschek
X-KDE-PluginInfo-Email=bettio@kde.org, lukas.krop@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.notes
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-StandAloneApp=true

