[Desktop Entry]
Name=Sticky Note
Comment=Desktop sticky note
Icon=knotes
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DropMimeTypes=text/plain,text/richtext
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Davide Bettio, Lukas Kropatschek
X-KDE-PluginInfo-Email=bettio@kde.org, lukas.krop@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.notes
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-StandAloneApp=true

