[Desktop Entry]
Encoding=UTF-8
Name=Black Board
Name[ca]=Pissarra
Name[da]=Tavle
Name[de]=Tafel
Name[en_GB]=Black Board
Name[es]=Pizarra
Name[et]=Tahvel
Name[fr]=Tableau noir
Name[gl]=Encerado
Name[it]=Lavagna
Name[nb]=Tavle
Name[nds]=Swatt Brett
Name[pt]=Quadro Preto
Name[pt_BR]=Quadro negro
Name[sv]=Svarta tavlan
Name[tr]=Kara Tahta
Name[uk]=Дошка
Name[x-test]=xxBlack Boardxx
Name[zh_TW]=黑板
Type=Service
Icon=applications-education
ServiceTypes=Plasma/Applet
X-Plasma-ContainmentCategories=desktop
X-KDE-Library=plasma_applet_blackboard
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=blackboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

