[Desktop Entry]
Encoding=UTF-8
Name=Black Board
Name[bs]=tabla
Name[ca]=Pissarra
Name[ca@valencia]=Pissarra
Name[cs]=Tabule
Name[da]=Tavle
Name[de]=Tafel
Name[el]=Μαυροπίνακας
Name[en_GB]=Black Board
Name[es]=Pizarra
Name[et]=Tahvel
Name[eu]=Arbela
Name[fi]=Liitutaulu
Name[fr]=Tableau noir
Name[ga]=Clár Dubh
Name[gl]=Encerado
Name[hr]=Školska ploča
Name[hu]=Fekete tábla
Name[it]=Lavagna
Name[ja]=黒板
Name[kk]=Тақта
Name[km]=ក្ដារ​ពណ៌​ខ្មៅ
Name[ko]=칠판
Name[lt]=Lenta
Name[lv]=Tāfele
Name[mr]=काळा फळा
Name[nb]=Tavle
Name[nds]=Swatt Brett
Name[nl]=Black Board
Name[nn]=Tavle
Name[pa]=ਬਲੈਕ ਬੋਰਡ
Name[pl]=Tablica
Name[pt]=Quadro Preto
Name[pt_BR]=Quadro negro
Name[ro]=Tablă de scris
Name[ru]=Доска
Name[sk]=Čierna tabuľa
Name[sl]=Tabla
Name[sr]=табла
Name[sr@ijekavian]=табла
Name[sr@ijekavianlatin]=tabla
Name[sr@latin]=tabla
Name[sv]=Svarta tavlan
Name[th]=กระดานดำ
Name[tr]=Kara Tahta
Name[uk]=Дошка
Name[wa]=Noer Platea
Name[x-test]=xxBlack Boardxx
Name[zh_CN]=黑板
Name[zh_TW]=黑板
Comment=Draw a quick note or a colorful image
Comment[bs]=Napiši brzu napomenu ili obojenu sliku
Comment[ca]=Per dibuixar una nota ràpida o una imatge a tot color
Comment[ca@valencia]=Per dibuixar una nota ràpida o una imatge a tot color
Comment[cs]=Nakreslete rychlou poznámku nebo barevný obrázek
Comment[da]=Tegn en kviknote eller et farverigt billede
Comment[de]=Zeigt eine kurze Notiz oder ein farbiges Bild
Comment[el]=Σχεδιάστε μια γρήγορη σημείωση ή μια χρωματιστή εικόνα
Comment[es]=Dibujar una nota rápida o una imagen a color
Comment[et]=Kiiresti märkuse või värvilise pildi kirjutamine/joonistamine
Comment[fi]=Piirrä pikainen muistiinpano tai värikäs kuva
Comment[fr]=Réaliser une note rapide ou une image colorée
Comment[gl]=Debuxe unha nota rápida ou unha imaxe con moita cor.
Comment[hu]=Gyors jegyzet vagy színes kép rajzolása
Comment[it]=Crea una breve nota o un'immagine colorata
Comment[kk]=Шұғыл жазуды не түрлі-түсті кескінде салу
Comment[mr]=रंगीत प्रतिमा काढा किंवा नोंद लिहा
Comment[nb]=Tegn et raskt notat eller et fargerikt bilde
Comment[nl]=Teken een snelle notitie of een kleurrijke afbeelding
Comment[pl]=Narysuj szybką notatkę lub kolorowy obraz
Comment[pt]=Desenhar uma nota rápida ou uma imagem colorida
Comment[pt_BR]=Desenha uma nota rápida ou uma imagem colorida
Comment[ro]=Desenează o notă rapidă pe o imagine colorată
Comment[ru]=Быстрая заметка или красочный рисунок
Comment[sk]=Kresliť rýchlu poznámku alebo farebný obrázok
Comment[sl]=Narišite kratko sporočilo ali barvito sliko
Comment[sr]=Нажврљајте брзу белешку или шарену слику
Comment[sr@ijekavian]=Нажврљајте брзу белешку или шарену слику
Comment[sr@ijekavianlatin]=Nažvrljajte brzu belešku ili šarenu sliku
Comment[sr@latin]=Nažvrljajte brzu belešku ili šarenu sliku
Comment[sv]=Skriv en snabb anmärkning eller rita en färgrik bild
Comment[uk]=Малювання нотатки або кольорового зображення
Comment[x-test]=xxDraw a quick note or a colorful imagexx
Comment[zh_CN]=绘制便笺或者画图
Comment[zh_TW]=繪製一份快速備忘或彩色影像
Type=Service
Icon=applications-education
ServiceTypes=Plasma/Applet
X-Plasma-ContainmentCategories=desktop
X-KDE-Library=plasma_applet_blackboard
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=blackboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
