[Desktop Entry]
Name=Date and Time
Name[en_GB]=Date and Time
Name[es]=Fecha y hora
Name[fr]=Date et heure
Name[pt]=Data e Hora
Name[pt_BR]=Data e hora
Name[sv]=Datum och tidtagning
Name[uk]=Дата і час
Name[x-test]=xxDate and Timerxx

Comment=The current date and time, locally or in any timezone
Comment[en_GB]=The current date and time, locally or in any timezone
Comment[es]=La fecha y la hora actuales, localmente o en cualquier huso horario
Comment[fr]=La date et l'heure courante, localement ou dans n'importe quel fuseau horaire
Comment[pt]=A data e hora actuais, a nível local ou em qualquer fuso-horário
Comment[pt_BR]=A data e hora atual, localmente ou em qualquer fuso horário
Comment[sv]=Nuvarande datum och tid, lokalt eller i godtycklig tidszon
Comment[uk]=Поточна дата і час, місцевий або час будь-якого часового поясу
Comment[x-test]=xxThe current date and time, locally or in any timezonexx

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=clock
X-KDE-Library=plasma_runner_datetime
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.datetime
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
