[Desktop Entry]
Name=Date and Time
Name[ar]=التاريخ والوقت
Name[bs]=Datum i vrijeme
Name[ca]=Data i hora
Name[ca@valencia]=Data i hora
Name[cs]=Datum a čas
Name[da]=Dato og klokkeslæt
Name[de]=Datum und Zeit
Name[el]=Ημερομηνία και ώρα
Name[en_GB]=Date and Time
Name[eo]=Dato kaj Tempo
Name[es]=Fecha y hora
Name[et]=Kuupäev ja kellaaeg
Name[eu]=Data eta ordua
Name[fi]=Aika ja päiväys
Name[fr]=Date et heure
Name[ga]=Dáta agus Am
Name[gl]=Data e hora
Name[he]=שעה ותאריך
Name[hr]=Datum i vrijeme
Name[hu]=Dátum és idő
Name[ia]=Data e Tempore
Name[id]=Tanggal dan Waktu
Name[it]=Data e ora
Name[ja]=日付と時間
Name[kk]=Күні мен уақыты
Name[km]=កាលបរិច្ឆេទ និងពេលវេលា
Name[ko]=날짜와 시간
Name[lt]=Data ir laikas
Name[lv]=Datums un laiks
Name[mr]=दिनांक व वेळ
Name[nb]=Dato og klokkeslett
Name[nds]=Datum un Tiet
Name[nl]=Datum en tijd
Name[nn]=Dato og klokkeslett
Name[pa]=ਮਿਤੀ ਤੇ ਸਮਾਂ
Name[pl]=Data i czas
Name[pt]=Data e Hora
Name[pt_BR]=Data e hora
Name[ro]=Data și ora
Name[ru]=Дата и время
Name[sk]=Dátum a čas
Name[sl]=Datum in čas
Name[sr]=датум и време
Name[sr@ijekavian]=датум и време
Name[sr@ijekavianlatin]=datum i vreme
Name[sr@latin]=datum i vreme
Name[sv]=Datum och tid
Name[tr]=Tarih ve Saat
Name[ug]=چېسلا ۋە ۋاقىت
Name[uk]=Дата і час
Name[wa]=Date et eure
Name[x-test]=xxDate and Timexx
Name[zh_CN]=日期和时间
Name[zh_TW]=日期和時間

Comment=The current date and time, locally or in any timezone
Comment[ar]=التاريخ والوقت الحاليين، محلياً أو في أيّ منطقة زمنية
Comment[bs]=Trenutni datum i vrijeme, lokalno ili u nekoj drugoj vremenskoj zoni
Comment[ca]=La data i l'hora actuals, localment o en qualsevol zona horària
Comment[ca@valencia]=La data i l'hora actuals, localment o en qualsevol zona horària
Comment[cs]=Aktuální datum a čas, lokální, nebo v libovolné časové zóně
Comment[da]=Den nuværende dato og klokkeslæt, lokalt eller i en enhver tidszone
Comment[de]=Aktuelles Datum und Zeit; lokal oder in einer anderen Zeitzone
Comment[el]=Η τρέχουσα ημερομηνία και ώρα, τοπικά ή σε οποιαδήποτε ωρολογιακή ζώνη
Comment[en_GB]=The current date and time, locally or in any timezone
Comment[es]=La fecha y hora actual, local o en cualquier zona horaria
Comment[et]=Praegune kuupäev ja kellaaeg, kohalik või mis tahes ajavööndi oma
Comment[eu]=Uneko data eta ordua, tokikoa edo beste ordu-eremuetakoa
Comment[fi]=Paikallinen tai minkä tahansa aikavyöhykkeen nykyinen aika ja päiväys
Comment[fr]=La date et l'heure courante, locale ou selon un fuseau horaire
Comment[ga]=An dáta agus agus t-am faoi láthair, anseo nó i gcrios ama ar bith
Comment[gl]=A data e hora actuais, locais ou de calquera fuso horario.
Comment[he]=השעה והתאריך הנוכחיים, כאן או בכל איזור־זמן אחר
Comment[hr]=Trenutni datum i vrijeme, lokalno ili u bilo kojoj vremenskoj zoni
Comment[hu]=A jelenlegi dátum és idő, helyileg vagy bármelyik időzónában
Comment[id]=Tanggal dan waktu saat ini, secara lokal atau dalam zona waktu apa pun
Comment[it]=La data e l'ora corrente, localmente o in qualsiasi fuso orario
Comment[ja]=現在の日時を任意のタイムゾーンで
Comment[kk]=Жергілікті не басқа уақыт белдеуіндегі қазіргі күн мен уақыты
Comment[km]=កាលបរិច្ឆេទ និង​ទិន្នន័យ​បច្ចុប្បន្ន​ មូលដ្ឋាន ឬ​តំបន់​ពេលវេលា​ណាមួយ
Comment[ko]=오늘 날짜와 시간
Comment[lt]=Dabartinis laikas ir data, vietinė arba pasirinktos laiko juostos
Comment[lv]=Pašreizējais datums un laiks lokāli vai jebkurā laika zonā
Comment[mr]=कोणत्याही वेळक्षेत्रा प्रमाणे किंवा स्थानिक वर्तमान दिनांक व वेळ
Comment[nb]=Dagens dato og tid, lokalt eller i en hver tidssone
Comment[nds]=Dat aktuelle Datum un de Tiet, lokaal oder in en anner Tietrebeet
Comment[nl]=De huidige datum en tijd, lokaal of in elke tijdzone
Comment[nn]=Dagens dato og klokkeslett, lokalt eller i ein annan tidssone
Comment[pa]=ਮੌਜੂਦਾ ਮਿਤੀ ਤੇ ਸਮਾਂ, ਸਥਾਨਕ ਜਾਂ ਕੋਈ ਹੋਰ ਸਮਾਂ ਖੇਤਰ ਵਿੱਚ
Comment[pl]=Data i czas w dowolnej strefie czasowej
Comment[pt]=A data e hora actuais, a nível local ou noutro fuso-horário qualquer
Comment[pt_BR]=A data e a hora atual, local ou em qualquer fuso horário
Comment[ro]=Data și ora curentă, local sau din orice fus orar
Comment[ru]=Текущие дата и время. Местные или для любого часового пояса.
Comment[sk]=Aktuálny dátum a čas, lokálny alebo v inom časovom pásme
Comment[sl]=Trenutni datum in čas, krajevno ali v kateremkoli časovnem pasu
Comment[sr]=Тренутни датум и време, локално или у некој другој временској зони
Comment[sr@ijekavian]=Тренутни датум и вријеме, локално или у некој другој временској зони
Comment[sr@ijekavianlatin]=Trenutni datum i vrijeme, lokalno ili u nekoj drugoj vremenskoj zoni
Comment[sr@latin]=Trenutni datum i vreme, lokalno ili u nekoj drugoj vremenskoj zoni
Comment[sv]=Nuvarande datum och tid, lokalt eller i godtycklig tidszon
Comment[tr]=Yerel veya herhangi bir zaman dilimindeki tarih ve zaman
Comment[uk]=Поточна дата і час, місцевий або час будь-якого часового поясу
Comment[x-test]=xxThe current date and time, locally or in any timezonexx
Comment[zh_CN]=当前日期和时间，本地或任何时区
Comment[zh_TW]=目前的日期與時間，可以是任何時區

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=clock
X-KDE-Library=krunner_datetime
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.datetime
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
