[Desktop Entry]
Name=Input Method Panel
Comment=A generic input method panel for Oriental languages
Type=Service
Icon=draw-freehand
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kimpanel
X-KDE-PluginInfo-Author=CSSlayer
X-KDE-PluginInfo-Email=wengxt@gmail.com
X-KDE-PluginInfo-Name=kimpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-PluginInfo-Category=Language
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
