[Desktop Entry]
Name=Clean-Blend
Name[el]=Καθαρή-ανάμιξη
Name[km]=ជម្រះការ​លាយ
Name[pt]=Fundido-Limpo
Name[pt_BR]=Fundido-Limpo
Name[sv]=Ren sammansmältning
Name[x-test]=xxClean-Blendxx
Comment=Clean simple theme that blends nicely with the default colour scheme
Comment[el]=Καθαρό απλό θέμα που αναμιγνύεται όμορφα με το προκαθορισμένο θέμα χρωμάτων
Comment[gl]=Tema sinxelo que se funde co esquema de cores predeterminado
Comment[km]=ជម្រះ​ស្បែក​ធម្មតា​ដែល​លាយ​យ៉ាង​ល្អ​ជា​មួយ​គ្រោងការណ៍​ពណ៌​លំនាំដើម
Comment[nds]=Eenfach oprüümt Muster, dat sik week na't Standard-Klöörschema inpasst
Comment[pt]=Um tema simples e limpo que se mistura bem com o esquema de cores por omissão
Comment[pt_BR]=Um tema simples e limpo que se mistura bem com o esquema de cores por omissão
Comment[sv]=Rent enkelt tema som smälter samman snyggt med det normala färgschemat
Comment[uk]=Проста чиста тема, у якій чудово гармоніюють кольори типової схеми кольорів
Comment[x-test]=xxClean simple theme that blends nicely with the default colour schemexx

X-KDE-PluginInfo-Author=Sean Wilson
X-KDE-PluginInfo-Email=suseux@gmail.com
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
