[Desktop Entry]
Name=Clean-Blend
Comment=Clean simple theme that blends nicely with the default colour scheme

X-KDE-PluginInfo-Author=Sean Wilson
X-KDE-PluginInfo-Email=suseux@gmail.com
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
