[Desktop Entry]
Name=Clean Blend
Name[el]=Καθαρή ανάμιξη
Name[et]=Clean-Blend
Name[gl]=Mistura limpa
Name[km]=ជម្រះ​ល្បាយ
Name[pt]=Fusão Limpa
Name[pt_BR]=Combinação limpa
Name[sv]=Ren sammansmältning
Name[uk]=Чиста суміш
Name[wa]=Prôpe degradé
Name[zh_CN]=清澈
Comment=Clean simple theme that blends nicely with the default colour scheme
Comment[el]=Καθαρό απλό θέμα που αναμιγνύεται όμορφα με το προκαθορισμένο θέμα χρωμάτων
Comment[et]=Kena lihtne teema, mis sobib hästi kokku vaikimisi värviskeemiga
Comment[gl]=Un tema simple e limpo que se mestura agradabelmente co esquema de cores predeterminado
Comment[km]=ជម្រះ​ស្បែកធម្មតា​ដែលលាយ​យ៉ាង​ល្អ​​ជា​មួយ​នឹង​គ្រោងការណ៍​ពណ៌​លំនាំដើម
Comment[nds]=Oprüümt eenfach Muster, dat sik smuck na't Standard-Klöörschema topasst
Comment[nl]=Schoon, eenvoudig thema dat mooi samengaat met het standaard kleurenschema
Comment[pt]=Um tema simples e limpo que se funde razoavelmente com o esquema de cores por omissão
Comment[pt_BR]=Um tema simples e limpo que combina com o esquema de cores padrão
Comment[sv]=Rent enkelt tema som smälter samman snyggt med det normala färgschemat
Comment[tr]=Öntanımlı renk şeması ile iyi uyum sağlayan, basit ve temiz bir tema
Comment[uk]=Проста чиста тема, у якій чудово гармоніюють кольори типової схеми кольорів
Comment[zh_CN]=融洽于默认配色的清澈主题
Comment[zh_TW]=乾淨、簡單的主題，與預設顏色機制搭得很好

X-KDE-PluginInfo-Author=Sean Wilson
X-KDE-PluginInfo-Email=suseux@gmail.com
X-KDE-PluginInfo-Name=Clean Blend
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4.2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
