[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_boondocksprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=boondocks
X-KDE-PlasmaComicProvider-ComicAuthor=Aaron McGruder
Icon=plasma_comic_boondocks

Name=The Boondocks
Name[gl]=Os Boondocks
Name[pt_BR]=Os Boondocks
Name[sv]=Bystan
Comment=The Boondocks
Comment[gl]=Os Boondocks
Comment[pt_BR]=Os Boondocks
Comment[sv]=Bystan
