[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
X-KDE-Library=plasma_comic_calvinandhobbesprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PluginInfo-Name=calvinandhobbes
Icon=plasma_comic_calvinandhobbes

Name=Calvin and Hobbes
Name[es]=Calvin y Hobbes
Name[gl]=Calvin e Hobbes
Name[nds]=Calvin un Hobbes
Name[pt]=Calvin e Hobbes
Name[pt_BR]=Calvin e Haroldo
Name[sv]=Kalle och Hobbe
Name[x-test]=xxCalvin and Hobbesxx
Name[zh_CN]=Calvin 和 Hobbes
Comment=Calvin and Hobbes
Comment[es]=Calvin y Hobbes
Comment[gl]=Calvin e Hobbes
Comment[nds]=Calvin un Hobbes
Comment[pt]=Calvin e Hobbes
Comment[pt_BR]=Calvin e Haroldo
Comment[sv]=Kalle och Hobbe
Comment[x-test]=xxCalvin and Hobbesxx
Comment[zh_CN]=Calvin 和 Hobbes
