[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_calvinandhobbesprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=calvinandhobbes
Icon=plasma_comic_calvinandhobbes

Name=Calvin and Hobbes
Name[da]=Steen og Stoffer
Name[de]=Calvin und Hobbes
Name[es]=Calvin y Hobbes
Name[fi]=Lassi ja Leevi
Name[fr]=Calvin et Hobbes
Name[hu]=Kázmér és Huba
Name[nl]=Casper en Hobbes
Comment=Calvin and Hobbes
Comment[da]=Steen og Stoffer
Comment[de]=Calvin und Hobbes
Comment[es]=Calvin y Hobbes
Comment[fi]=Lassi ja Leevi
Comment[fr]=Calvin et Hobbes
Comment[hu]=Kázmér és Huba
Comment[nl]=Casper en Hobbes
