[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_dilbertprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=dilbert
Icon=plasma_comic_dilbert

Name=Dilbert
Name[ko]=딜버트
Name[lv]=Dilberts
Name[sr]=Дилберт
Name[uk]=Дильберт
Name[x-test]=xxDilbertxx
Name[zh_TW]=呆伯特
Comment=Dilbert
Comment[ko]=딜버트
Comment[lv]=Dilberts
Comment[nl]=Dilbert-strip
Comment[sr]=Стрип „Дилберт“
Comment[sr@latin]=Strip „Dilbert“
Comment[uk]=Дильберт
Comment[x-test]=xxDilbertxx
Comment[zh_TW]=呆伯特
