[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_doonesburyprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=doonesbury
Icon=plasma_comic_doonesbury

Name=Doonesbury
Name[x-test]=xxDoonesburyxx
Comment=Doonesbury
Comment[x-test]=xxDoonesburyxx
