[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
X-KDE-Library=plasma_comic_extralifeprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PluginInfo-Name=extralife
Icon=plasma_comic_extralife

Name=EXTRALIFE
Name[nds]=Extralife
Name[x-test]=xxEXTRALIFExx
Comment=EXTRALIFE
Comment[nds]=Extralife
Comment[x-test]=xxEXTRALIFExx
