[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
X-KDE-Library=plasma_comic_garfieldprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PluginInfo-Name=garfield
Icon=plasma_comic_garfield

Name=Garfield
Name[fi]=Karvinen
Name[ko]=가필드
Name[lv]=Garfields
Name[nn]=Pusur
Name[sr]=Гарфилд
Name[sr@latin]=Garfild
Name[sv]=Gustav
Name[th]=การ์ฟิลด์
Name[uk]=Гарфілд
Name[x-test]=xxGarfieldxx
Name[zh_TW]=加菲貓
Comment=Garfield
Comment[fi]=Karvinen
Comment[ko]=가필드
Comment[lv]=Garfields
Comment[nl]=Garfield-strip
Comment[nn]=Pusur
Comment[sr]=Стрип „Гарфилда“
Comment[sr@latin]=Strip „Garfilda“
Comment[sv]=Gustav
Comment[th]=การ์ฟิลด์
Comment[uk]=Гарфілд
Comment[x-test]=xxGarfieldxx
Comment[zh_TW]=加菲貓
