[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_malvadosprovider
X-KDE-PlasmaComicProvider-SuffixType=Number
X-KDE-PlasmaComicProvider-Identifier=malvados
Icon=plasma_comic_malvados

Name=Malvados
Name[x-test]=xxMalvadosxx
Comment=Malvados
Comment[x-test]=xxMalvadosxx
