[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
X-KDE-Library=plasma_comic_malvadosprovider
X-KDE-PlasmaComicProvider-SuffixType=Number
X-KDE-PluginInfo-Name=malvados
Icon=plasma_comic_malvados

Name=Malvados
Name[x-test]=xxMalvadosxx
Comment=Malvados
Comment[x-test]=xxMalvadosxx
