[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
X-KDE-Library=plasma_comic_nichtlustigprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PluginInfo-Name=nichtlustig
Icon=plasma_comic_nichtlustig

Name=NICHTLUSTIG
Name[tr]=Komik Değil
Name[x-test]=xxNICHTLUSTIGxx
Comment=NICHTLUSTIG
Comment[tr]=Komik Değil
Comment[x-test]=xxNICHTLUSTIGxx
