[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_osnewsprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=osnews
Icon=plasma_comic_osnews

Name=OSNews
Name[fr]=OS News
Name[ro]=ȘtiriOS
Name[sr]=ОС‑њуз
Name[x-test]=xxOSNewsxx
Comment=OSNews
Comment[fr]=OS News
Comment[nl]=OSNews-strip
Comment[ro]=ȘtiriOS
Comment[sr]=Вести са ОС‑њуза
Comment[sr@latin]=Vesti sa OSNewsa
Comment[x-test]=xxOSNewsxx
