[Desktop Entry]
Name=Comic
Name[ca]=Còmic
Name[fr]=Bande dessinée
Name[hu]=Képregény
Name[nl]=Stripverhaal
Name[pl]=Komiks
Name[sv]=Serie
Name[uk]=Комікси
Name[x-test]=xxComicxx
Name[zh_TW]=漫畫
Comment=Comic Package Structure
Comment[ca]=Estructura de paquet de còmic
Comment[fr]=Structure de paquet de bandes dessinées
Comment[hu]=Képregénycsomag-struktúra
Comment[nl]=Stripboek-pakketstructuur
Comment[pl]=Struktura pakietu komiksu
Comment[sv]=Seriepaketstruktur
Comment[uk]=Структура пакунка коміксів
Comment[x-test]=xxComic Package Structurexx
Comment[zh_TW]=漫畫套件結構
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure

X-KDE-Library=plasma_packagestructure_comic
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=comic
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-PackageFileFilter=*.comic
X-Plasma-PackageFileMimetypes=application/zip
