[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Comic
Comment=Plugin for Plasma Comic Engine
Comment[ca]=Connector per al motor de còmics del plasma
Comment[fr]=Module externe pour le moteur Plasma de bandes dessinées
Comment[hu]=Plazma képregénykezelő-bővítmény
Comment[nl]=Plug-in voor Plasma-stripboek-gegevensengine
Comment[pl]=Wtyczka silnika danych komiksów
Comment[sv]=Insticksprogram för Plasma seriegränssnitt
Comment[uk]=Додаток для джерела жартів Плазми
Comment[x-test]=xxPlugin for Plasma Comic Enginexx
Comment[zh_TW]=Plasma 漫畫引擎外掛程式

[PropertyDef::X-KDE-PlasmaComicProvider-SuffixType]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString
