[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Comic
Comment=Plugin for Plasma Comic Engine

[PropertyDef::X-KDE-PlasmaComicProvider-SuffixType]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString
