[Desktop Entry]
Name=Comic
Name[ca]=Còmic
Name[cs]=Komiks
Name[da]=Tegneserie
Name[es]=Cómic
Name[et]=Koomiks
Name[fi]=Sarjakuva
Name[fr]=Bande dessinée
Name[he]=קומיקס
Name[it]=Fumetto
Name[ja]=漫画
Name[km]=កំប្លែង
Name[lv]=Komikss
Name[nl]=Stripverhaal
Name[nn]=Teikneserie
Name[pl]=Komiks
Name[pt]=Banda Desenhada
Name[pt_BR]=Tirinha
Name[ro]=Benzi desenate
Name[ru]=Комикс
Name[sl]=Strip
Name[sr]=стрип
Name[sr@latin]=strip
Name[sv]=Serie
Name[th]=หนังสือการ์ตูน
Name[tr]=Çizgi Roman
Name[uk]=Жарти
Name[wa]=Binde d' imådje
Name[x-test]=xxComicxx
Name[zh_CN]=连环画
Name[zh_TW]=漫畫
Comment=Comic Package Structure
Comment[ar]=بنية حزمة Comic
Comment[ca]=Estructura de paquet de còmic
Comment[da]=Tegneserieagtig pakkestruktur
Comment[de]=Comic-Paketstruktur
Comment[el]=Δομή πακέτου Comic
Comment[es]=Estructura del paquete de cómics
Comment[et]=Koomiksipaketi struktuur
Comment[fi]=Sarjakuvapaketin rakenne
Comment[fr]=Structure de paquetage de bande dessinée
Comment[gl]=Estrutura de paquete comic
Comment[he]=מבנה חבילה של הקומיקס
Comment[it]=Struttura pacchetto fumetto
Comment[ja]=コミックパッケージの構造
Comment[km]=រចនាប័ទ្ម​កញ្ចប់​កំប្លែង
Comment[lv]=Komiksa pakotnes struktūra
Comment[nds]=Comic-Paketstruktuur
Comment[nl]=Stripboek-pakketstructuur
Comment[nn]=Pakkestruktur for teikneserie
Comment[pl]=Struktura pakietu komiksu
Comment[pt]=Estrutura do Pacote de Banda Desenhada
Comment[pt_BR]=Estrutura do pacote de tirinha
Comment[ro]=Structură pachet de benzi desenate
Comment[ru]=Структура пакета комиксов
Comment[sr]=Структура пакета за стрипове
Comment[sr@latin]=Struktura paketa za stripove
Comment[sv]=Seriens paketstruktur
Comment[th]=โครงสร้างแพกเกจการ์ตูน
Comment[tr]=Çizgi Roman Paket Yapısı
Comment[uk]=Структура пакунка жартів
Comment[wa]=Sitructeure do pacaedje del binde d' imådje
Comment[x-test]=xxComic Package Structurexx
Comment[zh_CN]=连环画包结构
Comment[zh_TW]=漫畫套件結構
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure

X-KDE-Library=plasma_packagestructure_comic
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=comic
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-PackageFileFilter=*.comic
X-Plasma-PackageFileMimetypes=application/zip
