[Desktop Entry]
Name=Comic Strips
Comment=Data Engine for comic strips
Comment[ca]=Motor de dades per a tires còmiques
Comment[cs]=Datová část pro komiksové proužky
Comment[csb]=Mòtór pòdôwków dlô kòmiksowëch sztripków
Comment[da]=Datamotor til tegneseriestriber
Comment[de]=Datentreiber für Comic-Strips
Comment[el]=Μηχανή δεδομένων για κόμικς
Comment[es]=Motor de datos para tiras cómicas
Comment[et]=Koomiksi andmete mootor
Comment[fi]=Tietomoottori sarjakuville
Comment[fr]=Moteur de données pour bandes dessinées
Comment[ga]=Inneall Sonraí le haghaidh stiallchartún
Comment[gl]=Motor de datos para comics
Comment[hu]=Megjelenítő képregényekhez
Comment[it]=Motore dati per strisce di fumetti
Comment[ja]=コミック・ストリップのデータエンジン
Comment[km]=ម៉ាស៊ីន​ស្វែងរក​ទិន្នន័យ​សម្រាប់​ការ​យក​កំប្លែង​ចេញ
Comment[ko]=만화 스크립트를 위한 데이터 엔진
Comment[lv]=Datu dzinējs komiksu lentām
Comment[ms]=Enjin Data untuk jalur komik
Comment[nds]=Datenkarn för Comics
Comment[nl]=Gegevensengine voor stripverhalen
Comment[nn]=Datamotor for teikneseriar
Comment[pl]=Silnik danych komiksów
Comment[pt]=Motor de dados para bandas desenhadas
Comment[pt_BR]=Mecanismo de Dados para as tirinhas
Comment[ro]=Motor de date pentru benzi desenate
Comment[sl]=Vir podatkov za smešne stripe
Comment[sr]=Довлачење и обрада стрипова
Comment[sr@latin]=Dovlačenje i obrada stripova
Comment[sv]=Datagränssnitt för tecknade serier
Comment[th]=กลไกประมวลผลข้อมูลสำหรับการ์ตูน
Comment[tr]=Çizgi romanlar için Veri Motoru
Comment[uk]=Джерело даних для жартів
Comment[x-test]=xxData Engine for comic stripsxx
Comment[zh_CN]=连环画数据引擎
Comment[zh_TW]=漫畫資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=face-smile-big
X-KDE-Library=plasma_engine_comic

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=comic
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

