[Desktop Entry]
Name=Comic Strips
Comment=Online comic strips
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=face-smile-big
X-KDE-Library=plasma_engine_comic

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=comic
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

