[Desktop Entry]
Name=Comic
Name[ja]=漫画
Name[pt]=Banda Desenhada
Name[pt_BR]=Tirinha
Name[uk]=Жарти
Name[zh_TW]=漫畫
Comment=Comic Package Structure
Comment[gl]=Estrutura de paquete comic
Comment[nds]=Comic-Paketstruktuur
Comment[pt]=Estrutura do Pacote de Banda Desenhada
Comment[pt_BR]=Estrutura do pacote de tirinha
Comment[uk]=Структура пакунка жартів
Comment[zh_TW]=漫畫套件結構
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure

X-KDE-Library=plasma_packagestructure_comic
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=comic
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-PackageFileFilter=*.comic
X-Plasma-PackageFileMimetypes=application/zip
