[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Comic
Comment=Plugin for Plasma Comic Engine
Comment[ar]=ملحق لمحرك Comic 
Comment[bs]=Dodatak za plazma pogon za stripove
Comment[ca]=Connector per al motor de còmics del plasma
Comment[ca@valencia]=Connector per al motor de còmics del plasma
Comment[cs]=Modul pro Plasma komiksy
Comment[da]=Plugin til Plasmas tegneseriemotor
Comment[de]=Modul für den Plasma-Comic-Datentreiber
Comment[el]=Πρόσθετο της μηχανής κόμικ Plasma
Comment[en_GB]=Plugin for Plasma Comic Engine
Comment[es]=Complemento para el motor de cómics de Plasma
Comment[et]=Plasma koomiksite mootori plugin
Comment[eu]=Plasma komiki motorearentzako plugina
Comment[fi]=Sarjakuvatietomoottorin liitännäinen
Comment[fr]=Module externe pour le moteur Plasma de bandes dessinées
Comment[ga]=Breiseán le haghaidh inneall stiallchartún Plasma
Comment[gl]=Complemento para o motor de Cómics de Plasma
Comment[he]=פלאגין של מנוע הקומיקסים עבור Plasma
Comment[hr]=Priključak za Plasmin stripovni mehanizam
Comment[hu]=Plazma képregénykezelő-bővítmény
Comment[is]=Íforrit fyrir Comic plasmavél
Comment[it]=Estensione per il motore di fumetti di Plasma
Comment[ja]=Plasma コミックエンジンのためのプラグイン
Comment[kk]=Plasma комикс тетігінің плагині
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់​ម៉ាស៊ីន​បំប្លែង Plasma
Comment[ko]=Plasma 만화 엔진 플러그인
Comment[ku]=Pêvek ji bo Motora Pirtûka Qerfî yê Plasma
Comment[lt]=Papildinys Plasma komiksų varikliui
Comment[lv]=Spraudnis Plasma komiksu dzinējam
Comment[mr]=प्लाज्मा कॉमिक इंजिनाकरिता प्लगइन
Comment[nb]=Programtillegg for Plasma-motor for tegneserier
Comment[nds]=Moduul för den Plasma-Datenkarn
Comment[nl]=Plug-in voor Plasma-stripboek-gegevensengine
Comment[nn]=Programtillegg for teikneseriar
Comment[pa]=ਪਲਾਜ਼ਮਾ ਕਾਮਿਕ ਇੰਜਣ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka silnika danych komiksów
Comment[pt]='Plugin' do Motor de Banda Desenhada do Plasma
Comment[pt_BR]=Plugin para o mecanismo das tirinhas do Plasma
Comment[ro]=Modul pentru Motorul de benzi desenate Plasma
Comment[ru]=Модуль для движка Plasma Comic
Comment[sk]=Modul pre Plasma komiksy
Comment[sl]=Vstavek za pogon za smešen strip
Comment[sr]=Прикључак за Плазминог мотор стрипова
Comment[sr@ijekavian]=Прикључак за Плазминог мотор стрипова
Comment[sr@ijekavianlatin]=Priključak za Plasminog motor stripova
Comment[sr@latin]=Priključak za Plasminog motor stripova
Comment[sv]=Insticksprogram för Plasma seriegränssnitt
Comment[th]=ส่วนเสริมกลไกการ์ตูนของพลาสมา
Comment[tr]=Plasma Çizgi Roman Motoru için Eklenti
Comment[uk]=Додаток для джерела жартів Плазми
Comment[wa]=Tchôke-divins po l' éndjin Plasma des bindes d' imådjes
Comment[x-test]=xxPlugin for Plasma Comic Enginexx
Comment[zh_CN]=Plasma 连环画引擎插件
Comment[zh_TW]=Plasma 漫畫引擎外掛程式

[PropertyDef::X-KDE-PlasmaComicProvider-SuffixType]
Type=QString

[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString
