[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_shithappensprovider
X-KDE-PlasmaComicProvider-SuffixType=Number
X-KDE-PlasmaComicProvider-Identifier=shithappens
X-KDE-PlasmaComicProvider-ComicAuthor=Ralph Ruthe
Icon=plasma_comic_shithappens

Name=Shit Happens!
Name[gl]=Hai que roelo!
Name[nds]=Schiet kümmt vör!
Name[zh_TW]=壞事會發生
