[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_snoopyprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=snoopy
Icon=plasma_comic_snoopy

Name=Snoopy
Name[km]=ជ្រៀតជ្រែត
Name[ko]=스누피
Name[sv]=Snobben
Name[x-test]=xxSnoopyxx
Name[zh_TW]=史奴比
Comment=Snoopy
Comment[km]=ជ្រៀតជ្រែត
Comment[ko]=스누피
Comment[nl]=Snoopy-strip
Comment[sv]=Snobben
Comment[x-test]=xxSnoopyxx
Comment[zh_TW]=史奴比
