[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_snoopyprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=snoopy
Icon=plasma_comic_snoopy

Name=Snoopy
Name[da]=Nuser
Name[km]=ជ្រៀតជ្រែត
Name[ko]=스누피
Name[nn]=Knøttene
Name[sr]=Снупи
Name[sr@latin]=Snupi
Name[sv]=Snobben
Name[th]=สนูปปี้
Name[x-test]=xxSnoopyxx
Name[zh_TW]=史奴比
Comment=Snoopy
Comment[da]=Nuser
Comment[km]=ជ្រៀតជ្រែត
Comment[ko]=스누피
Comment[nl]=Snoopy-strip
Comment[nn]=Knøttene
Comment[sr]=Стрип „Снупи“
Comment[sr@latin]=Strip „Snupi“
Comment[sv]=Snobben
Comment[th]=สนูปปี้
Comment[x-test]=xxSnoopyxx
Comment[zh_TW]=史奴比
