[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_unshelvedprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=unshelved
Icon=plasma_comic_unshelved

Name=Unshelved Comics
Name[cs]=Nezařazené
Name[nds]=Comics, de dat nich bi'n Koopmann gifft
Name[zh_CN]=Unshelved 连环画
Name[zh_TW]=Unshelved 漫畫
Comment=Unshelved Comics
Comment[cs]=Nezařazené
Comment[nds]=Comics, de dat nich bi'n Koopmann gifft
Comment[zh_CN]=Unshelved 连环画
Comment[zh_TW]=Unshelved 漫畫
