[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_unshelvedprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=unshelved
Icon=plasma_comic_unshelved

Name=Unshelved Comics
Name[et]=Unshelved koomiks
Name[fi]=Unshelved-sarjakuvat
Name[gl]=Cómics Unshelved
Name[ko]=Unshelved 코믹스
Name[lv]=Unshelved komiksi
Name[nds]=Unshelved-Comics
Name[nl]=Unshelved-strips
Name[nn]=Unshelved-teikneserie
Name[pt]=Banda Desenhada Unshelved
Name[ro]=Benzi desenate Unshelved
Name[sr]=Постдипломци
Name[sr@latin]=Postdiplomci
Name[x-test]=xxUnshelved Comicsxx
Name[zh_CN]=Unshelved 连环画
Name[zh_TW]=Unshelved 漫畫
Comment=Unshelved Comics
Comment[et]=Unshelved koomiks
Comment[fi]=Unshelved-sarjakuvat
Comment[gl]=Cómics Unshelved
Comment[ko]=Unshelved 코믹스
Comment[lv]=Unshelved komiksi
Comment[nds]=Unshelved-Comics
Comment[nl]=Unshelved-strips
Comment[nn]=Unshelved-teikneserie
Comment[pt]=Banda Desenhada Unshelved
Comment[ro]=Benzi desenate Unshelved
Comment[sr]=„Постдипломци“ у стрипу
Comment[sr@latin]=„Postdiplomci“ u stripu
Comment[tr]=Doktora Karikatürleri
Comment[x-test]=xxUnshelved Comicsxx
Comment[zh_CN]=Unshelved 连环画
Comment[zh_TW]=Unshelved 漫畫
