[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
X-KDE-Library=plasma_comic_unshelvedprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PluginInfo-Name=unshelved
Icon=plasma_comic_unshelved

Name=Unshelved Comics
Name[cs]=Nezařazené
Name[es]=Tebeos sin guardar
Name[et]=Unshelved
Name[nds]=Comics, de dat nich bi'n Koopmann gifft
Name[x-test]=xxUnshelved Comicsxx
Name[zh_CN]=Unshelved 连环画
Name[zh_TW]=Unshelved 漫畫
Comment=Unshelved Comics
Comment[cs]=Nezařazené
Comment[es]=Tebeos sin guardar
Comment[et]=Unshelved
Comment[nds]=Comics, de dat nich bi'n Koopmann gifft
Comment[x-test]=xxUnshelved Comicsxx
Comment[zh_CN]=Unshelved 连环画
Comment[zh_TW]=Unshelved 漫畫
