[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PlasmaComic/Plugin
X-KDE-Library=plasma_comic_userfriendlyprovider
X-KDE-PlasmaComicProvider-SuffixType=Date
X-KDE-PlasmaComicProvider-Identifier=userfriendly
Icon=plasma_comic_userfriendly

Name=UserFriendly
Name[fr]=Facile à utiliser
Name[km]=ងាយស្រួល​ប្រើ
Name[ro]=Prietenos
Name[x-test]=xxUserFriendlyxx
Comment=UserFriendly
Comment[fr]=Facile à utiliser
Comment[km]=ងាយស្រួល​ប្រើ
Comment[nl]=UserFriendly-strip
Comment[ro]=Prietenos
Comment[tr]=Kullanıcı Dostu
Comment[x-test]=xxUserFriendlyxx
