[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Plasma/Comic
X-KDE-Library=plasma_comic_xkcdprovider
X-KDE-PlasmaComicProvider-SuffixType=Number
X-KDE-PluginInfo-Name=xkcd
Icon=plasma_comic_xkcd

Name=XKCD
Name[sr]=ИксКЦД
Name[x-test]=xxXKCDxx
Comment=XKCD
Comment[nl]=XKCD-strip
Comment[sr]=Стрип „ИксКЦД“
Comment[sr@latin]=Strip „XKCD“
Comment[x-test]=xxXKCDxx
