[Desktop Entry]
Name=Incoming Message
Name[cs]=Příchozí zpráva
Name[de]=Eingehende Nachricht
Name[el]=Εισερχόμενο μήνυμα
Name[et]=Sisenev sõnum
Name[fr]=Message entrant
Name[gl]=Mensaxe entrante
Name[it]=Messaggio in arrivo
Name[ja]=着信メッセージ
Name[km]=សារ​ចូល
Name[lv]=Ienākošās ziņas
Name[nds]=Ankamen Naricht
Name[nl]=Inkomend bericht
Name[nn]=Nye meldingar
Name[pa]=ਆ ਰਿਹਾ ਸੁਨੇਹਾ
Name[pt]=Mensagem Recebida
Name[pt_BR]=Mensagem recebida
Name[ro]=Mesaj recepționat
Name[ru]=Входящие сообщения
Name[sr]=долазећа порука
Name[sr@latin]=dolazeća poruka
Name[sv]=Inkommande meddelande
Name[th]=มีจดหมายใหม่
Name[tr]=Gelen İletiler
Name[uk]=Вхідне повідомлення
Name[wa]=Messaedje en intrêye
Name[x-test]=xxIncoming Messagexx
Name[zh_CN]=接收消息
Name[zh_TW]=進來的訊息
Icon=mail-message-new
Comment=Notification of new messages
Comment[de]=Benachrichtigung über neue Nachrichten
Comment[el]=Ειδοποίηση νέων μηνυμάτων
Comment[et]=Uue sõnumi märguanne
Comment[fr]=Notification de nouveaux messages
Comment[gl]=Notificación de novas mensaxes
Comment[it]=Notifica di nuovi messaggi
Comment[ja]=新着メールを通知します
Comment[km]=កា​រជូន​ដំណឹង​ថា​មាន​សារ​ថ្មី
Comment[lv]=Jaunu ziņu paziņotājs
Comment[nds]=Bescheed över niege Narichten
Comment[nl]=Notificatie van nieuwe berichten
Comment[nn]=Varsling av nye meldingar
Comment[pa]=ਨਵੇਂ ਸੁਨੇਹਿਆਂ ਉੱਤੇ ਸੂਚਨਾ ਦਿਓ
Comment[pt]=Notificação de mensagens novas
Comment[pt_BR]=Notificação de novas mensagens
Comment[ro]=Notificare la mesaje noi
Comment[ru]=Уведомление о новых сообщениях
Comment[sr]=Обавештење о новим порукама
Comment[sr@latin]=Obaveštenje o novim porukama
Comment[sv]=Underrättele om nytt meddelande
Comment[th]=แจ้งให้ทราบว่ามีจดหมายใหม่
Comment[tr]=Yeni ileti bildirimi
Comment[uk]=Інформує про нові повідомлення
Comment[x-test]=xxNotification of new messagesxx
Comment[zh_CN]=新消息通知
Comment[zh_TW]=新訊息的通知
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_incomingmsg
X-KDE-PluginInfo-Author=Christian Weilbach
X-KDE-PluginInfo-Email=dunsens@web.de
X-KDE-PluginInfo-Name=incomingmsg
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
