[Desktop Entry]
Name=Incoming Message
Name[ar]=رسالة قادمة
Name[ast]=Mensax entrante
Name[bs]=dolazeća poruka
Name[ca]=Missatge entrant
Name[ca@valencia]=Missatge entrant
Name[cs]=Příchozí zpráva
Name[da]=Indkommende besked
Name[de]=Posteingang
Name[el]=Εισερχόμενο μήνυμα
Name[en_GB]=Incoming Message
Name[eo]=Alvenanta mesaĝo
Name[es]=Mensaje entrante
Name[et]=Sisenev sõnum
Name[eu]=Sarrerako mezua
Name[fi]=Tulevat viestit
Name[fr]=Message entrant
Name[ga]=Teachtaireacht Isteach
Name[gl]=Mensaxe entrante
Name[he]=הודעות נכנסות
Name[hr]=Dolazna poruka
Name[hu]=Bejövő üzenet
Name[is]=Innkomið skeyti
Name[it]=Messaggio in arrivo
Name[ja]=着信メッセージ
Name[kk]=Хабарлама келді
Name[km]=សារ​ចូល
Name[ko]=받은 메시지
Name[ku]=Peyamên Hatî
Name[lt]=Gauta žinutė
Name[lv]=Ienākošās ziņas
Name[mr]=येणारा संदेश
Name[nb]=Innkommende melding
Name[nds]=Ankamen Naricht
Name[nl]=Inkomend bericht
Name[nn]=Nye meldingar
Name[pa]=ਆ ਰਿਹਾ ਸੁਨੇਹਾ
Name[pl]=Nowa wiadomość
Name[pt]=Mensagem Recebida
Name[pt_BR]=Mensagem recebida
Name[ro]=Mesaj recepționat
Name[ru]=Входящие сообщения
Name[sk]=Prichádzajúca správa
Name[sl]=Prihajajoče sporočilo
Name[sr]=долазећа порука
Name[sr@ijekavian]=долазећа порука
Name[sr@ijekavianlatin]=dolazeća poruka
Name[sr@latin]=dolazeća poruka
Name[sv]=Inkommande meddelande
Name[th]=มีจดหมายใหม่
Name[tr]=Gelen İletiler
Name[ug]=كىرگەن ئۇچۇر
Name[uk]=Вхідне повідомлення
Name[wa]=Messaedje en intrêye
Name[x-test]=xxIncoming Messagexx
Name[zh_CN]=接收消息
Name[zh_TW]=進來的訊息
Icon=mail-message-new
Comment=Notification of new messages
Comment[ar]=إخطار الرسائل الجديدة
Comment[ast]=Notificación de mensaxes nuevos
Comment[bs]=Obavještenje o novim porukama
Comment[ca]=Notificació de missatges nous
Comment[ca@valencia]=Notificació de missatges nous
Comment[cs]=Upozornění na nové zprávy
Comment[da]=Bekendtgørelse om nye beskeder.
Comment[de]=Benachrichtigung über neue Nachrichten
Comment[el]=Ειδοποίηση νέων μηνυμάτων
Comment[en_GB]=Notification of new messages
Comment[es]=Notificación de mensajes nuevos
Comment[et]=Uue sõnumi märguanne
Comment[eu]=Mezu berrien jakinarazpena
Comment[fi]=Ilmoitus uusista viesteistä
Comment[fr]=Notification de nouveaux messages
Comment[ga]=Fógra nuair atá teachtaireacht nua ann
Comment[gl]=Notificación de novas mensaxes
Comment[he]=מודיע על הודעות חדשות
Comment[hr]=Obavijest o novim porukama
Comment[hu]=Értesítés az új üzenetekről
Comment[is]=Tilkynningar um ný skilaboð
Comment[it]=Notifica di nuovi messaggi
Comment[ja]=新着メールを通知します
Comment[kk]=Жаңа хабарлама келгені туралы құлақтандыру
Comment[km]=កា​រជូន​ដំណឹង​ថា​មាន​សារ​ថ្មី
Comment[ko]=새 메시지 알림
Comment[ku]=Hişyariya peyamên nû
Comment[lt]=Pranešimas apie naujas žinutes
Comment[lv]=Jaunu ziņu paziņotājs
Comment[mr]=नवीन संदेशाची सूचना
Comment[nb]=Varsling om nye meldinger
Comment[nds]=Bescheed över niege Narichten
Comment[nl]=Notificatie van nieuwe berichten
Comment[nn]=Varsling av nye meldingar
Comment[pa]=ਨਵੇਂ ਸੁਨੇਹਿਆਂ ਉੱਤੇ ਸੂਚਨਾ ਦਿਓ
Comment[pl]=Powiadomienia o nowych wiadomościach
Comment[pt]=Notificação de mensagens novas
Comment[pt_BR]=Notificação de novas mensagens
Comment[ro]=Notificare la mesaje noi
Comment[ru]=Уведомление о новых сообщениях
Comment[sk]=Upozornenie na nové správy
Comment[sl]=Obvestilo o novih sporočilih
Comment[sr]=Обавештење о новим порукама
Comment[sr@ijekavian]=Обавештење о новим порукама
Comment[sr@ijekavianlatin]=Obaveštenje o novim porukama
Comment[sr@latin]=Obaveštenje o novim porukama
Comment[sv]=Underrättele om nytt meddelande
Comment[th]=แจ้งให้ทราบว่ามีจดหมายใหม่
Comment[tr]=Yeni ileti bildirimi
Comment[uk]=Інформує про нові повідомлення
Comment[wa]=Notifiaedje des noveas messaedjes
Comment[x-test]=xxNotification of new messagesxx
Comment[zh_CN]=新消息通知
Comment[zh_TW]=新訊息的通知
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_incomingmsg
X-KDE-PluginInfo-Author=Christian Weilbach
X-KDE-PluginInfo-Email=dunsens@web.de
X-KDE-PluginInfo-Name=incomingmsg
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
