[Desktop Entry]
Encoding=UTF-8
Name=Paste
Name[cs]=Vložit
Name[de]=Einfügen
Name[el]=Επικόλληση
Name[et]=Asetamine
Name[fr]=Colleur
Name[gl]=Apegar
Name[it]=Incolla
Name[km]=បិទភ្ជាប់
Name[nds]=Infögen
Name[nl]=Plakken
Name[nn]=Tekstbitar
Name[pt]=Colar
Name[pt_BR]=Colar
Name[ru]=Вставка
Name[sv]=Klistra in
Name[th]=แปะ
Name[tr]=Yapıştır
Name[uk]=Вставка
Name[x-test]=xxPastexx
Name[zh_CN]=粘贴
Name[zh_TW]=貼上
Comment=Paste text snippets
Comment[de]=Textschnipsel einfügen
Comment[el]=Επικόλληση δειγμάτων κειμένου
Comment[et]=Tekstijuppide asetamine
Comment[fr]=Colle des bouts de texte
Comment[gl]=Apega retallos de texto
Comment[it]=Incolla frammenti di testo
Comment[ja]=定型表現を貼り付けます
Comment[km]=បិទភ្ជាប់​ snippets អត្ថបទ
Comment[nds]=Textsnippels infögen
Comment[nl]=Tekstfragmenten plakken
Comment[nn]=Lim inn tekstbitar
Comment[pt]=Colar excertos de texto
Comment[pt_BR]=Colar os fragmentos de texto
Comment[ru]=Вставка маленьких текстовых шаблонов
Comment[sv]=Klistra in textsnuttar
Comment[th]=แปะชิ้นส่วนต่าง ๆ ของข้อความ
Comment[tr]=Metin parçacıklarını yapıştırın
Comment[uk]=Вставка уривків тексту
Comment[x-test]=xxPaste text snippetsxx
Comment[zh_CN]=粘贴文本片断
Comment[zh_TW]=貼上文字片段
Type=Service
Icon=edit-paste
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_paste
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=paste
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

