[Desktop Entry]
Encoding=UTF-8
Name=Paste
Name[ar]=ألصق
Name[ast]=Apegar
Name[bs]=Umetni
Name[ca]=Enganxa
Name[ca@valencia]=Apega
Name[cs]=Vložit
Name[da]=Indsæt
Name[de]=Einfügen
Name[el]=Επικόλληση
Name[en_GB]=Paste
Name[eo]=Glui
Name[es]=Pegar
Name[et]=Asetamine
Name[eu]=Itsatsi
Name[fi]=Liitä
Name[fr]=Coller
Name[ga]=Greamaigh
Name[gl]=Pegar
Name[he]=הדבק
Name[hr]=Zalijepi
Name[hu]=Beillesztés
Name[is]=Líma
Name[it]=Incolla
Name[ja]=Paste
Name[kk]=Енгізу
Name[km]=បិទភ្ជាប់
Name[ko]=붙여넣을 곳
Name[ku]=Pê Ve Bike
Name[lt]=Padėti
Name[lv]=Ielīmēt
Name[mr]=चिटकवा
Name[nb]=Lim inn
Name[nds]=Infögen
Name[nl]=Plakken
Name[nn]=Tekstbitar
Name[pa]=ਚੇਪੋ
Name[pl]=Wklej
Name[pt]=Colar
Name[pt_BR]=Colar
Name[ro]=Lipește
Name[ru]=Вставка текста
Name[sk]=Vložiť
Name[sl]=Prilepi
Name[sq]=Ngjit
Name[sr]=налепљивање
Name[sr@ijekavian]=наљепљивање
Name[sr@ijekavianlatin]=naljepljivanje
Name[sr@latin]=nalepljivanje
Name[sv]=Klistra in
Name[th]=แปะ
Name[tr]=Yapıştır
Name[ug]=چاپلا
Name[uk]=Вставка
Name[wa]=Aclaper
Name[x-test]=xxPastexx
Name[zh_CN]=粘贴
Name[zh_TW]=貼上
Comment=Paste text snippets
Comment[ar]=ألصق قطع من النص
Comment[ast]=Apegar fragmentos de testu
Comment[bs]=Umeće dijelove teksta
Comment[ca]=Enganxa retalls de text
Comment[ca@valencia]=Apega retalls de text
Comment[cs]=Vložit textové úryvky
Comment[da]=Indsætter tekststbidder.
Comment[de]=Textschnipsel einfügen
Comment[el]=Επικόλληση δειγμάτων κειμένου
Comment[en_GB]=Paste text snippets
Comment[es]=Pegar fragmentos de texto
Comment[et]=Tekstijuppide asetamine
Comment[eu]=Itsatsi testu zatiak
Comment[fi]=Liitä tekstipalasia
Comment[fr]=Colle des fragments de texte
Comment[ga]=Greamaigh blúirí téacs
Comment[gl]=Pega retallos de texto
Comment[he]=מעתיק קטעי טקסט שונים
Comment[hr]=Zalijepi tekstualne svaštice
Comment[hu]=Szövegdarabok beillesztése
Comment[is]=Líma textabrot
Comment[it]=Incolla frammenti di testo
Comment[ja]=定型表現を貼り付けます
Comment[kk]=Мәтін үзінділерін енгізу
Comment[km]=បិទភ្ជាប់​ snippets អត្ថបទ
Comment[ko]=텍스트를 잠깐 붙여둘 곳
Comment[ku]=Parî yên nivîsê pêve bike
Comment[lt]=Padėti teksto gabalėlius
Comment[lv]=Ielīmēt teksta fragmentus
Comment[mr]=मजकूर स्निपेट्स चिटकवा
Comment[nb]=Lim inn tekstbiter
Comment[nds]=Textsnippels infögen
Comment[nl]=Tekstfragmenten plakken
Comment[nn]=Lim inn tekstbitar
Comment[pa]=ਟੈਕਸਟ ਸਨਿੱਪਟ ਚੇਪੋ
Comment[pl]=Wklejanie fragmentów tekstu
Comment[pt]=Colar excertos de texto
Comment[pt_BR]=Cola trechos de texto
Comment[ro]=Lipește frînturi de text
Comment[ru]=Вставка маленьких текстовых шаблонов
Comment[sk]=Vloženie textových úryvkov
Comment[sl]=Prilepite koščke besedila
Comment[sr]=Налепљујте исечке текста
Comment[sr@ijekavian]=Наљепљујте исјечке текста
Comment[sr@ijekavianlatin]=Naljepljujte isječke teksta
Comment[sr@latin]=Nalepljujte isečke teksta
Comment[sv]=Klistra in textsnuttar
Comment[th]=แปะชิ้นส่วนต่าง ๆ ของข้อความ
Comment[tr]=Metin parçacıklarını yapıştırın
Comment[ug]=تېكىست پۇرۇچلىرىنى چاپلايدۇ
Comment[uk]=Вставка уривків тексту
Comment[wa]=Aclaper des bokets d' tecse
Comment[x-test]=xxPaste text snippetsxx
Comment[zh_CN]=粘贴文本片断
Comment[zh_TW]=貼上文字片段
Type=Service
Icon=edit-paste
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_paste
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=paste
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true

