[Desktop Entry]
Name=Grid
Name[ca]=Graella
Name[ca@valencia]=Graella
Name[cs]=Mřížka
Name[da]=Gitter
Name[de]=Raster
Name[el]=Κάνναβος
Name[en_GB]=Grid
Name[es]=Cuadrícula
Name[et]=Võrgustik
Name[eu]=Sareta
Name[fi]=Ruudukko
Name[fr]=Grille
Name[gl]=Grade
Name[he]=רשת
Name[hu]=Rács
Name[ia]=Grillia
Name[it]=Griglia
Name[ko]=바둑판식
Name[lt]=Tinklelis
Name[nb]=Rutenett
Name[nl]=Raster
Name[nn]=Rutenett
Name[pl]=Siatka
Name[pt]=Grelha
Name[pt_BR]=Grade
Name[ru]=Сетка
Name[sk]=Mriežka
Name[sl]=Mreža
Name[sr]=Мрежа
Name[sr@ijekavian]=Мрежа
Name[sr@ijekavianlatin]=Mreža
Name[sr@latin]=Mreža
Name[sv]=Rutnät
Name[tr]=Izgara
Name[uk]=Ґратка
Name[x-test]=xxGridxx
Name[zh_CN]=网格
Name[zh_TW]=格線
Comment=A Window Switcher layout showing all windows as thumbnails in a grid
Comment[ca]=Una disposició del commutador de finestres que mostra totes les finestres com a miniatures en una graella
Comment[ca@valencia]=Una disposició del commutador de finestres que mostra totes les finestres com a miniatures en una graella
Comment[cs]=Rozvržení přepínače oken zobrazující všechna okna jako miniatury v mřížce
Comment[da]=Et vinduesskifter-layout som viser alle vinduer som miniaturer i et gitter
Comment[de]=Ein Fensterwechsler-Layout, das Vorschauen aller Fenster in einem Raster anzeigt
Comment[el]=Μια διάταξη εναλλαγής παραθύρων με όλα τα παράθυρα ως εικόνες επισκόπησης σε κάνναβο
Comment[en_GB]=A Window Switcher layout showing all windows as thumbnails in a grid
Comment[es]=Un esquema de selector de ventanas que muestra todas las ventanas como miniaturas en una rejilla
Comment[et]=Aknavahetaja paigutus kõigi akende näitamisega pisipiltidena võrgustikus
Comment[eu]=Leiho guztiak sareta batean koadro txiki gisa erakusten dituen leiho-aldatzaile diseinu bat
Comment[fi]=Ikkunanvalitsimen asettelu, joka näyttää kaikkien ikkunoiden pienoiskuvat ruudukossa
Comment[fr]=Une disposition du sélecteur de fenêtres affichant toutes les fenêtres en vignettes dans une grille
Comment[gl]=Unha disposición do selector de xanelas que mostra nunha grade miniaturas das xanelas
Comment[he]=מחליף חלונות המציג את תמונות ממוזערות של החלונות ברשת
Comment[hu]=Az ablakok előnézetét egy rácsban megjelenítő ablakváltó
Comment[ia]=Un disposition de commutator de fenestra monstrante fenestras como miniaturas in un grillia
Comment[it]=Uno scambiafinestre che mostra tutte le finestre come miniature in una griglia
Comment[ko]=모든 창을 바둑판식으로 미리 보여 주는 창 전환기 레이아웃
Comment[lt]=Langų perjungimo išdėstymas rodantis visus langus kaip miniatiūras tinklelyje
Comment[nb]=En vindusbytterutforming som viser alle vinduer som minibilder i et rutenett
Comment[nl]=Een indeling van de vensterwisselaar met alle vensters als miniaturen in een raster
Comment[nn]=Vindaugsbytar som viser alle vindauga som miniatyrbilete i eit rutenett
Comment[pl]=Przełącznik okien z ich miniaturami na siatce
Comment[pt]=Uma disposição de selecção de janelas que mostra todas as janelas como miniaturas numa grelha
Comment[pt_BR]=Um layout de mudança de janelas que mostra todas as janelas como miniaturas em uma grade
Comment[ru]=Переключатель окон в виде выровненных по сетке миниатюр окон
Comment[sk]=Rozloženie prepínača okien zobrazujúce všetky okná ako miniatúry v mriežke
Comment[sl]=Razpored preklapljanja med okni, ki vsa okna prikazuje kot sličice v mreži
Comment[sr]=Распоред мењача прозора који даје све прозоре као сличице у мрежи
Comment[sr@ijekavian]=Распоред мењача прозора који даје све прозоре као сличице у мрежи
Comment[sr@ijekavianlatin]=Raspored menjača prozora koji daje sve prozore kao sličice u mreži
Comment[sr@latin]=Raspored menjača prozora koji daje sve prozore kao sličice u mreži
Comment[sv]=En layout för fönsterbyte som visar alla fönster som miniatyrbilder i ett rutnät
Comment[tr]=Tüm pencereleri ızgara içerisinde küçük resimler halinde gösteren bir pencere değiştirme düzeni
Comment[uk]=Компонування засобу перемикання вікон з мініатюрами всіх вікон у форматі ґратки
Comment[x-test]=xxA Window Switcher layout showing all windows as thumbnails in a gridxx
Comment[zh_CN]=一个用表格布局显示窗口预览的窗口切换器布局
Comment[zh_TW]=將所有視窗的縮圖顯示在格線中的視窗切換器佈局
Icon=preferences-system-windows-switcher-present-windows

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=present_windows
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
