[Desktop Entry]
Name=Microblogging
Name[ar]=التدوين المصغر
Name[ca]=Microblocs
Name[cs]=Mikroblogování
Name[da]=Mikroblogning
Name[de]=Microblogging
Name[el]=Μικροϊστολόγιο
Name[en_GB]=Microblogging
Name[es]=Microblogs
Name[et]=Mikroblogimine
Name[eu]=Mikrobloggintza
Name[fr]=Microblogging
Name[ga]=Micreabhlagadóireacht
Name[gl]=Microblogue
Name[hu]=Mikrobloggoló
Name[is]=Míkróblogg
Name[it]=Microblogging
Name[ja]=マイクロブログ
Name[km]=Microblogging
Name[lt]=Mikrotinklaraštinimas
Name[lv]=Mikroblogi
Name[nb]=Mikroblogging
Name[nds]=Mikronettdagbook
Name[nl]=Microblogging
Name[nn]=Mikroblogging
Name[pa]=ਮਾਈਕਰੋਬਲਾਗ
Name[pl]=Mikroblog
Name[pt]=Micro-blog
Name[pt_BR]=Micro-blog
Name[ro]=Microblogging
Name[sk]=Mikroblogovanie
Name[sl]=Mikrobloganje
Name[sr]=микроблоговање
Name[sr@latin]=mikroblogovanje
Name[sv]=Mikrowebbjournal
Name[tr]=Mikro günlük
Name[uk]=Міні-журнал
Name[wa]=Microblogging
Name[x-test]=xxMicrobloggingxx
Name[zh_CN]=微博客
Name[zh_TW]=Microblogging
Comment=identi.ca and twitter micro-blogging services
Comment[ar]=خدمات التدوين المصغر من تويتر و identi.ca
Comment[ca]=Serveis de microblocs identi.ca i twitter
Comment[da]=identi.ca og twitter mikroblogningstjenester
Comment[de]=identi.ca und twitter Micro-Blogging-Services
Comment[el]=Υπηρεσίες identi.ca και twitter μικροϊστολογίου
Comment[en_GB]=identi.ca and twitter micro-blogging services
Comment[es]=servicios de microblogging identi.ca y twitter
Comment[et]=identi.ca ja twitteri mikroblogiteenused
Comment[fr]=Services de mini-blogue pour identi.ca et twitter
Comment[gl]=servizos de microblogue identi.ca e twitter
Comment[hu]=Mikroblogkezelő az Identi.ca és Twitter szolgáltatásokhoz
Comment[is]=identi.ca og twitter míkróbloggþjónustur
Comment[it]=Servizi di microblog identi.ca e twitter
Comment[ja]=identi.ca と twitter マイクロブログサービス
Comment[km]=សេវា identi.ca និង twitter micro-blogging
Comment[lt]=identi.ca ir twitter mikrotinklaraščių tarnybos
Comment[lv]=identi.ca un twitter mikroblogošanas pakalpojumi
Comment[nb]=identi.ca og twitter mikro-bloggetjenester
Comment[nds]=Mikro-Nettdaagbookdeensten "identi.ca" un "twitter"
Comment[nl]=identi.ca en twitter micro-blogging-services
Comment[nn]=Mikrobloggingstenestene identi.ca og Twitter
Comment[pl]=Usługi mikrobloga identi.ca i twitter
Comment[pt]=serviços de micro-blogs identi.ca e twitter
Comment[pt_BR]=Serviços de microblogagem identi.ca e twitter
Comment[ro]=Servicii de micro-blogging identi.ca și twitter
Comment[sk]=Služby mikroblogovania identi.ca a twitter
Comment[sl]=Mikrobloganje prek storitev identi.ca in twitter
Comment[sr]=Микроблогерски сервиси Идентика и Твитер
Comment[sr@latin]=Mikroblogerski servisi identi.ca i Twitter
Comment[sv]=Mikrowebbjournaltjänsterna identi.ca och twitter
Comment[tr]=identi.ca ve twitter mini-günlük servisleri
Comment[uk]=Служби мікроблогів identi.ca і twitter
Comment[wa]=Siervices identi.ca eyet twitter micro-blogging
Comment[x-test]=xxidenti.ca and twitter micro-blogging servicesxx
Comment[zh_CN]=identi.ca 和 twitter 微播客吐槽服务
Comment[zh_TW]=identi.ca 與 twitter 微部落格服務
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=im
X-KDE-Library=plasma_engine_microblog

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=microblog
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

