[Desktop Entry]
Name=Microblogging
Name[ar]=التدوين المصغر
Name[ast]=Microblogging
Name[bs]=Microblogging
Name[ca]=Microblocs
Name[ca@valencia]=Microblocs
Name[cs]=Mikroblogování
Name[da]=Mikroblogning
Name[de]=Microblogging
Name[el]=Μικροϊστολόγιο
Name[en_GB]=Microblogging
Name[es]=Microblogs
Name[et]=Mikroblogimine
Name[eu]=Mikrobloggintza
Name[fi]=Mikroblogaussovelma
Name[fr]=Microblogging
Name[ga]=Micreabhlagadóireacht
Name[gl]=Microblog
Name[hr]=Microblogging
Name[hu]=Mikroblogolás
Name[is]=Míkróblogg
Name[it]=Microblogging
Name[ja]=マイクロブログ
Name[kk]=Микроблогинг
Name[km]=Microblogging
Name[ko]=마이크로블로깅
Name[lt]=Mikrotinklaraštis
Name[lv]=Mikroblogi
Name[mr]=मायक्रो ब्लॉगिंग
Name[nb]=Mikroblogging
Name[nds]=Mikronettdagbook
Name[nl]=Microblogging
Name[nn]=Mikroblogging
Name[pa]=ਮਾਈਕਰੋਬਲੋਗ
Name[pl]=Mikroblog
Name[pt]=Micro-blog
Name[pt_BR]=Microblogging
Name[ro]=Microblogging
Name[ru]=Микроблоггинг
Name[sk]=Mikroblogovanie
Name[sl]=Mikrobloganje
Name[sq]=Microblogging
Name[sr]=микроблоговање
Name[sr@ijekavian]=микроблоговање
Name[sr@ijekavianlatin]=mikroblogovanje
Name[sr@latin]=mikroblogovanje
Name[sv]=Mikroblogg
Name[tr]=Mikrogünlük
Name[uk]=Міні-журнал
Name[wa]=Microblogaedje
Name[x-test]=xxMicrobloggingxx
Name[zh_CN]=微博客
Name[zh_TW]=Microblogging
Comment=identi.ca and twitter micro-blogging services
Comment[ar]=خدمات التدوين المصغر من تويتر و identi.ca
Comment[ast]=servicios de microblogging identi.ca y twitter
Comment[bs]=identi.ca i twitter micro-blogging servisi
Comment[ca]=Serveis de microblocs identi.ca i twitter
Comment[ca@valencia]=Serveis de microblocs identi.ca i twitter
Comment[cs]=Služby mikroblogování identi.ca a twitter
Comment[da]=identi.ca og twitter mikroblogningstjenester
Comment[de]=Micro-Blogging-Dienste identi.ca und Twitter
Comment[el]=Υπηρεσίες μικροϊστολογίου identi.ca και twitter
Comment[en_GB]=identi.ca and twitter micro-blogging services
Comment[es]=servicios de microblogging identi.ca y twitter
Comment[et]=identi.ca ja twitteri mikroblogiteenused
Comment[fi]=identi.ca- ja Twitter-mikroblogauspalvelut
Comment[fr]=Services de mini-blogue pour « identi.ca » et « twitter »
Comment[ga]=Seirbhísí micreablagadóireachta identi.ca agus twitter
Comment[gl]=servizos de microblogue identi.ca e twitter
Comment[hr]=Servisi mikroblogova identi.ca i twitter
Comment[hu]=identi.ca és twitter mikroblogszolgáltatások
Comment[is]=identi.ca og twitter míkróbloggþjónustur
Comment[it]=Servizi di microblog identi.ca e twitter
Comment[ja]=identi.ca と twitter マイクロブログサービス
Comment[kk]=identi.ca және twitter микроблогтар қызметтері
Comment[km]=សេវា identi.ca និង twitter micro-blogging
Comment[ko]=identi.ca 및 트위터 마이크로블로그
Comment[lv]=identi.ca un twitter mikroblogošanas pakalpojumi
Comment[mr]=identi.ca व ट्वीटर करिता मायक्रो-ब्लॉगिंग सेवा
Comment[nb]=identi.ca og twitter mikro-bloggetjenester
Comment[nds]=Lüttdaagbookdeensten "identi.ca" un "twitter"
Comment[nl]=identi.ca en twitter micro-blogging-services
Comment[nn]=Mikrobloggingstenestene identi.ca og Twitter
Comment[pa]=identi.ca ਅਤੇ twitter ਮਾਈਕਰੋ-ਬਲੌਗ ਸਰਵਿਸਾਂ
Comment[pl]=Usługi mikrobloga identi.ca i twitter
Comment[pt]=serviços de micro-blogs identi.ca e twitter
Comment[pt_BR]=Serviços de microblogagem identi.ca e twitter
Comment[ro]=Servicii de micro-blogging identi.ca și twitter
Comment[ru]=Службы микроблоггинга Identi.ca и Twitter
Comment[sk]=Služby mikroblogovania identi.ca a twitter
Comment[sl]=Mikrobloganje prek storitev identi.ca in twitter
Comment[sr]=Микроблогерски сервиси Идентика и Твитер
Comment[sr@ijekavian]=Микроблогерски сервиси Идентика и Твитер
Comment[sr@ijekavianlatin]=Mikroblogerski servisi identi.ca i Twitter
Comment[sr@latin]=Mikroblogerski servisi identi.ca i Twitter
Comment[sv]=Mikrobloggtjänsterna identi.ca och twitter
Comment[tr]=identi.ca ve twitter mikrogünlük servisleri
Comment[uk]=Служби мікроблогів identi.ca і twitter
Comment[wa]=Siervices identi.ca eyet twitter microblogaedje
Comment[x-test]=xxidenti.ca and twitter micro-blogging servicesxx
Comment[zh_CN]=identi.ca 和 twitter 微播客吐槽服务
Comment[zh_TW]=identi.ca 與 twitter 微部落格服務
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=twitter_microblog
X-KDE-Library=plasma_engine_microblog

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=microblog
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

