[Desktop Entry]
Name=Microblogging
Name[cs]=Mikroblogování
Name[es]=Microblogs
Name[et]=Mikroblogimine
Name[eu]=Mikrobloggintza
Name[ga]=Micreabhlagadóireacht
Name[gl]=Microblogue
Name[ja]=ミニブログ
Name[nds]=Mikronettdagbook
Name[pt]=Micro-blog
Name[pt_BR]=Micro-blog
Name[sv]=Mikrowebbjournal
Name[tr]=Mikro günlük
Name[uk]=Міні-журнал
Name[x-test]=xxMicrobloggingxx
Name[zh_CN]=微博客
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=im
X-KDE-Library=plasma_engine_microblog

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=microblog
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

