[Desktop Entry]
Name=openDesktop Activities
Name[cs]=Aktivity openDesktop
Name[en_GB]=openDesktop Activities
Name[et]=openDesktopi tegevused
Name[fr]=Activités open-Desktop
Name[gl]=openDesktop
Name[it]=Attività di openDesktop
Name[nb]=openDesktop aktivititeter
Name[nds]=OpenDesktop-Aktiviteten
Name[pt]=Actividades do OpenDesktop
Name[pt_BR]=Atividades do OpenDesktop
Name[sv]=OpenDesktop aktiviteter
Name[tr]=OpenDesktop Eylemleri
Name[uk]=Простори дій OpenDesktop
Name[x-test]=xxopenDesktop Activitiesxx
Name[zh_TW]=openDesktop 活動
Comment=Stay informed with the Social Desktop
Comment[de]=Bleiben Sie auf dem Laufenden mit dem Social Desktop
Comment[en_GB]=Stay informed with the Social Desktop
Comment[et]=Suhtlemine sotsiaalse töölaua vahendusel
Comment[fr]=Rester informé avec le bureau social
Comment[gl]=Mantéñase informado co escritorio social
Comment[it]=Mantieniti informato con il desktop sociale
Comment[nb]=Hold deg informert med det sosiale skrivebordet
Comment[nds]=Op Stand blieven mit den Meenschap-Schriefdisch
Comment[pt]=Manter-se informado com o Ambiente de Trabalho Social
Comment[pt_BR]=Esteja informado com Ambiente de Trabalho Social
Comment[sv]=Håll dig informerad med det sociala skrivbordet
Comment[tr]=Sosyal Masaüstünü kullan, haberin olsun
Comment[uk]=Отримуйте інформацію за допомогою соціальної стільниці
Comment[x-test]=xxStay informed with the Social Desktopxx
Comment[zh_TW]=使用 Social Desktop 聯繫

Icon=system-users
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_opendesktop_activities
X-KDE-PluginInfo-Author=Eckhart Wörner
X-KDE-PluginInfo-Email=ewoerner@kde.org
X-KDE-PluginInfo-Name=opendesktop_activities
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
Keywords=Utilities
Keywords[ca]=Utilitats
Keywords[cs]=Nástroje
Keywords[da]=Redskaber
Keywords[de]=Dienstprogramme
Keywords[en_GB]=Utilities
Keywords[es]=Utilidades
Keywords[et]=Abivahendid
Keywords[fr]=Utilitaires
Keywords[gl]=Utensilios
Keywords[hu]=Eszközök
Keywords[is]=Nytjatól
Keywords[it]=Utilità
Keywords[ja]=ユーティリティ
Keywords[km]=ឧបករណ៍​ប្រើប្រាស់
Keywords[lv]=Palīgrīki
Keywords[nb]=Verktøy
Keywords[nds]=Warktüüch
Keywords[nl]=Hulpmiddelen
Keywords[nn]=Verktøy
Keywords[pl]=Narzędzia
Keywords[pt]=Utilitários
Keywords[pt_BR]=Utilitários
Keywords[ro]=Utilitare
Keywords[sk]=Nástroje
Keywords[sl]=Potrebščine
Keywords[sr]=Алатке
Keywords[sr@latin]=Alatke
Keywords[sv]=Verktyg
Keywords[tr]=Yardımcı Araçlar
Keywords[uk]=Інструменти
Keywords[x-test]=xxUtilitiesxx
Keywords[zh_CN]=工具
Keywords[zh_TW]=實用工具
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
