[Desktop Entry]
Name=openDesktop Activities
Name[ca]=Activitats openDesktop
Name[ca@valencia]=Activitats openDesktop
Name[cs]=Aktivity openDesktop
Name[da]=openDesktop-aktiviteter
Name[de]=openDesktop-Aktivitäten
Name[el]=Δραστηριότητες openDesktop
Name[en_GB]=openDesktop Activities
Name[es]=Actividades de openDesktop
Name[et]=openDesktopi tegevused
Name[fi]=openDesktop-toiminnot
Name[fr]=Activités open-Desktop
Name[gl]=openDesktop
Name[it]=Attività di openDesktop
Name[nb]=openDesktop aktivititeter
Name[nds]=OpenDesktop-Aktiviteten
Name[nl]=openDesktop activiteiten
Name[pa]=ਓਪਨ-ਡੈਸਕਟਾਪ ਸਰਗਰਮੀਆਂ
Name[pl]=Działania openDesktop
Name[pt]=Actividades do OpenDesktop
Name[pt_BR]=Atividades do OpenDesktop
Name[ru]=Действия на openDesktop
Name[sl]=Aktivnosti openDesktop
Name[sr]=дешавања са Отворене површи
Name[sr@ijekavian]=дешавања са Отворене површи
Name[sr@ijekavianlatin]=dešavanja sa Otvorene površi
Name[sr@latin]=dešavanja sa Otvorene površi
Name[sv]=OpenDesktop aktiviteter
Name[tr]=OpenDesktop Eylemleri
Name[uk]=Простори дій OpenDesktop
Name[x-test]=xxopenDesktop Activitiesxx
Name[zh_CN]=openDesktop 活动
Name[zh_TW]=openDesktop 活動
Comment=Stay informed with the Social Desktop
Comment[ca]=Mantingueu-vos informat amb l'escriptori social
Comment[ca@valencia]=Mantingueu-vos informat amb l'escriptori social
Comment[da]=Hold dig opdateret med den sociale desktop
Comment[de]=Bleiben Sie auf dem Laufenden mit dem Social Desktop
Comment[el]=Μείνετε ενημερωμένοι με την επιφάνεια εργασίας κοινωνικής δικτύωσης
Comment[en_GB]=Stay informed with the Social Desktop
Comment[es]=Manténgase informado con el escritorio social
Comment[et]=Suhtlemine sotsiaalse töölaua vahendusel
Comment[fi]=Pysy perillä sosiaalisesta työpöydästä
Comment[fr]=Rester informé avec le bureau social
Comment[gl]=Mantéñase informado co escritorio social
Comment[it]=Mantieniti informato con il desktop sociale
Comment[nb]=Hold deg informert med det sosiale skrivebordet
Comment[nds]=Op Stand blieven mit den Meenschap-Schriefdisch
Comment[nl]=Blijf geïnformeerd met het sociale bureaublad
Comment[pa]=ਸਮਾਜਿਕ ਡੈਸਕਟਾਪ ਨਾਲ ਜਾਣਕਾਰੀ ਰੱਖੋ
Comment[pl]=Komunikacja przy użyciu Pulpitu społecznościowego
Comment[pt]=Manter-se informado com o Ambiente de Trabalho Social
Comment[pt_BR]=Esteja informado com Ambiente de Trabalho Social
Comment[ru]=Показывает события, происходящие на openDesktop
Comment[sr]=Будите информисани преко Друштвене површи
Comment[sr@ijekavian]=Будите информисани преко Друштвене површи
Comment[sr@ijekavianlatin]=Budite informisani preko Društvene površi
Comment[sr@latin]=Budite informisani preko Društvene površi
Comment[sv]=Håll dig informerad med det sociala skrivbordet
Comment[tr]=Sosyal Masaüstünü kullan, haberin olsun
Comment[uk]=Отримуйте інформацію за допомогою соціальної стільниці
Comment[x-test]=xxStay informed with the Social Desktopxx
Comment[zh_CN]=使用社会桌面沟通
Comment[zh_TW]=使用 Social Desktop 聯繫

Icon=system-users
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_opendesktop_activities
X-KDE-PluginInfo-Author=Eckhart Wörner
X-KDE-PluginInfo-Email=ewoerner@kde.org
X-KDE-PluginInfo-Name=opendesktop_activities
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
Keywords=Utilities
Keywords[ar]=أدوات
Keywords[ca]=Utilitats
Keywords[ca@valencia]=Utilitats
Keywords[cs]=Nástroje
Keywords[da]=Redskaber
Keywords[de]=Dienstprogramme
Keywords[el]=Εργαλεία
Keywords[en_GB]=Utilities
Keywords[es]=Utilidades
Keywords[et]=Abivahendid
Keywords[fi]=Työkalut
Keywords[fr]=Utilitaires
Keywords[gl]=Utensilios
Keywords[hr]=Uslužni programi
Keywords[hu]=Eszközök
Keywords[is]=Nytjatól
Keywords[it]=Utilità
Keywords[ja]=ユーティリティ
Keywords[km]=ឧបករណ៍​ប្រើប្រាស់
Keywords[lv]=Palīgrīki
Keywords[nb]=Verktøy
Keywords[nds]=Warktüüch
Keywords[nl]=Hulpmiddelen
Keywords[nn]=Verktøy
Keywords[pa]=ਸਹੂਲਤਾਂ
Keywords[pl]=Narzędzia
Keywords[pt]=Utilitários
Keywords[pt_BR]=Utilitários
Keywords[ro]=Utilitare
Keywords[ru]=Служебные
Keywords[sk]=Nástroje
Keywords[sl]=Potrebščine
Keywords[sr]=Алатке
Keywords[sr@ijekavian]=Алатке
Keywords[sr@ijekavianlatin]=Alatke
Keywords[sr@latin]=Alatke
Keywords[sv]=Verktyg
Keywords[tr]=Yardımcı Araçlar
Keywords[uk]=Інструменти
Keywords[x-test]=xxUtilitiesxx
Keywords[zh_CN]=工具
Keywords[zh_TW]=實用工具
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
