[Desktop Entry]
Name=Hail
Name[pt]=Saudação
Name[pt_BR]=Saudação
Name[sv]=Hagel
Name[uk]=Град
Name[x-test]=xxHailxx

X-KDE-PluginInfo-Name=Hail
X-KDE-PluginInfo-Author=Denis Carl
X-KDE-PluginInfo-Email=webbe@deniscarl.com
X-KDE-PluginInfo-License=Creative Commons 2.0
