[Desktop Entry]
Name=Unit Converter
Name[el]=Μετατροπέας μονάδων
Name[es]=Conversor de unidades
Name[fr]=Convertisseur d'unité
Name[gl]=Convertedor de unidades
Name[ja]=単位変換ツール
Name[km]=កម្មវិធី​បម្លែង​ឯកតា
Name[lv]=Mērvienību pārveidotājs
Name[nds]=Eenheiten ümreken
Name[pt]=Conversor de Unidades
Name[pt_BR]=Conversor de Unidades
Name[sl]=Pretvornik enot
Name[sv]=Enhetskonvertering
Name[uk]=Перетворювач одиниць
Name[zh_CN]=单位转换器
Name[zh_TW]=單位轉換器
Comment=Convert values to different units
Comment[el]=Μετατρέπει τιμές σε διάφορες μονάδες
Comment[es]=Convierte valores a diferentes unidades
Comment[fr]=Conversion de valeurs dans diverses unités
Comment[gl]=Converte valores entre diferentes unidades
Comment[ja]=数値を他の単位に変換します
Comment[km]=បម្លែង​តម្លៃ​ទៅ​ជា​ឯកតា​ផ្សេង
Comment[lv]=Pārveido vērtības starp dažādām mērvienībām
Comment[nds]=Weerten na verscheden Eenheiten ümreken
Comment[pt]=Converte os valores para diferentes unidades
Comment[pt_BR]=Converte os valores para diferentes unidades
Comment[sl]=Pretvarja vrednosti v različne enote
Comment[sv]=Konverterar värden till andra enheter
Comment[uk]=Перетворення значень у різних одиницях
Comment[zh_CN]=将所给值转换为不同的单位
Comment[zh_TW]=將數值轉換不同的單位
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_converterrunner
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=unitconverter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
