[Desktop Entry]
Encoding=UTF-8
Name=Haenau
Name[ast]=Haenau
Name[bs]=Haenau
Name[ca]=Haenau
Name[ca@valencia]=Haenau
Name[cs]=Haenau
Name[da]=Haenau
Name[de]=Haenau
Name[el]=Haenau
Name[en_GB]=Haenau
Name[es]=Haenau
Name[et]=Haenau
Name[fi]=Haenau
Name[fr]=Haenau
Name[gl]=Haenau
Name[hu]=Haenau
Name[it]=Haenau
Name[kk]=Ханау
Name[ko]=Haenau
Name[lt]=Haenau
Name[mr]=हेनोउ
Name[nb]=Haenau
Name[nds]=Haenau
Name[nl]=Haenau
Name[nn]=Haenau
Name[pl]=Haenau
Name[pt]=Haenau
Name[pt_BR]=Haenau
Name[ro]=Haenau
Name[ru]=Haenau
Name[sk]=Haenau
Name[sl]=Haenau
Name[sr]=Хаенау
Name[sr@ijekavian]=Хаенау
Name[sr@ijekavianlatin]=Haenau
Name[sr@latin]=Haenau
Name[sv]=Haenau
Name[tr]=Haenau
Name[uk]=Ганау
Name[wa]=Haenau
Name[x-test]=xxHaenauxx
Name[zh_CN]=层次
Name[zh_TW]=Haenau


Type=Service
ServiceTypes=Plasma/DeclarativeWallpaper
Icon=preferences-desktop-wallpaper
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.haenau
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
