[Desktop Entry]
Encoding=UTF-8
Name=Haenau
Name[ca]=Haenau
Name[fr]=Haenau
Name[hu]=Haenau
Name[nl]=Haenau
Name[pl]=Haenau
Name[sv]=Haenau
Name[uk]=Ганау
Name[x-test]=xxHaenauxx
Name[zh_TW]= 


Type=Service
ServiceTypes=Plasma/DeclarativeWallpaper
Icon=preferences-desktop-wallpaper
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.haenau
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
