[Desktop Entry]
Name=Pastebin
Name[el]=Κάδος επικόλλησης
Name[gl]=Apegar
Name[pt]=Colagem
Name[uk]=Вставлячка
Type=Service
Icon=accessories-pastebin

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_pastebin
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=pastebin
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
