[Desktop Entry]
Name=Pastebin
Name[ar]=سلة اللصق
Name[ast]=Pastebin
Name[bs]=Pastebin
Name[ca]=Pastebin
Name[ca@valencia]=Pastebin
Name[cs]=Vkládací koš
Name[da]=Pastebin
Name[de]=Pastebin
Name[el]=Κάδος επικόλλησης
Name[en_GB]=Pastebin
Name[es]=Pastebin
Name[et]=Pastebin
Name[eu]=Pastebin
Name[fi]=Pastebin
Name[fr]=Pastebin
Name[ga]=Pastebin
Name[gl]=Pastebin
Name[he]=Pastebin
Name[hr]=Pastebin
Name[hu]=Pastebin
Name[is]=Límklippusafn (pastebin)
Name[it]=Pastebin
Name[ja]=Pastebin
Name[kk]=Pastebin
Name[km]=Pastebin
Name[ko]=Pastebin
Name[ku]=Pastebin
Name[lt]=Pastebin
Name[lv]=Pastebin
Name[mr]=पेस्टबिन
Name[nb]=Pastebin
Name[nds]=Pastebin
Name[nl]=Pastebin
Name[nn]=Teksttavle
Name[pa]=ਪੇਸਟਬਿਨ
Name[pl]=Pastebin
Name[pt]=Colagem
Name[pt_BR]=Pastebin
Name[ro]=Coș de lipire
Name[ru]=Pastebin
Name[sk]=Pastebin
Name[sl]=Pastebin
Name[sq]=Pastebin
Name[sr]=корпа налепака
Name[sr@ijekavian]=корпа наљепака
Name[sr@ijekavianlatin]=korpa naljepaka
Name[sr@latin]=korpa nalepaka
Name[sv]=Pastebin
Name[th]=ถังแปะ (Pastebin)
Name[tr]=Pastebin
Name[ug]=Pastebin
Name[uk]=Вставлячка
Name[wa]=Pastebin
Name[x-test]=xxPastebinxx
Name[zh_CN]=Pastebin
Name[zh_TW]=Pastebin
Comment=Paste text/images to a remote server
Comment[ar]=الصق نص/صور في خادم بعيد
Comment[ast]=Pegar testu/imáxenes a un sirvidor remotu
Comment[bs]=Umeće tekst/slike na udaljeni server
Comment[ca]=Enganxa text/imatges en un servidor remot
Comment[ca@valencia]=Apega text/imatges en un servidor remot
Comment[cs]=Vložit text/obrázky na vzdálený server
Comment[da]=Indsæt tekst/billeder på en ekstern server.
Comment[de]=Text und Bilder auf einen entfernten Server hochladen
Comment[el]=Επικόλληση κειμένου/εικόνων σε έναν απομακρυσμένο εξυπηρετητή
Comment[en_GB]=Paste text/images to a remote server
Comment[es]=Pegar texto/imágenes a un servidor remoto
Comment[et]=Tekstide/piltide kopeerimine võrguserverisse
Comment[eu]=Itsatsi testua/irudiak urruneko zerbitzari batera
Comment[fi]=Liittää tekstiä tai kuvaa etäpalvelimeen
Comment[fr]=Colle du texte ou des images vers un serveur distant
Comment[ga]=Greamaigh téacs/íomhánna ar fhreastalaí cianda
Comment[gl]=Pega texto/imaxes nun servidor remoto
Comment[he]=מעתיק טקסט או תמונות לשרת חיצוני
Comment[hr]=Zalijepi tekst/slike na udaljeni poslužitelj
Comment[hu]=Szöveg vagy kép beillesztése távoli kiszolgálóra
Comment[is]=Líma texta/myndir yfir á fjarlægan þjón
Comment[it]=Incolla testo/immagini su un server remoto
Comment[ja]=テキストや画像をリモートサーバに貼り付けます
Comment[kk]=Мәтін/Кескінді қашық серверінде орналастыру
Comment[km]=បិទភ្ជាប់​អត្ថបទ/រូបភាព​ទៅ​ម៉ាស៊ីនបម្រើ​ពីចម្ងាយ
Comment[ko]=원격 서버에 텍스트/이미지 붙여넣기
Comment[ku]=Nivîs/wêne yan pêve bike di pêşkêşkera dûr de
Comment[lt]=Padėti tekstą/paveikslėlius į nutolusį serverį
Comment[lv]=Ielīmēt tekstu/attēlus attālinātā serverī
Comment[mr]=दूरस्थ सर्व्हरवर मजकूर / प्रतिमा चिटकवा
Comment[nb]=Lim «inn» tekst/bilder til en nettverkstjener
Comment[nds]=Text oder Biller op en feern Server infögen
Comment[nl]=Tekst/afbeeldingen plakken op een externe server
Comment[nn]=Kopier tekst og bilete til tenar på nettet
Comment[pa]=ਟੈਕਸਟ/ਚਿੱਤਰ ਰਿਮੋਟ ਸਰਵਰ ਉੱਤੇ ਚੇਪੋ
Comment[pl]=Wklejanie tekstu/obrazów na zdalny serwer
Comment[pt]=Colar o texto/imagens num servidor remoto
Comment[pt_BR]=Cola textos e imagens em um servidor remoto
Comment[ro]=Lipește text/imagini spre un server distant
Comment[ru]=Временная публикация текста и изображений на удалённых серверах
Comment[sk]=Vloženie textu/obrázkov na vzdialený server
Comment[sl]=Prilepi besedilo/slike na oddaljeni strežnik
Comment[sr]=Налепљује текст и слике на удаљени сервер
Comment[sr@ijekavian]=Наљепљује текст и слике на удаљени сервер
Comment[sr@ijekavianlatin]=Naljepljuje tekst i slike na udaljeni server
Comment[sr@latin]=Nalepljuje tekst i slike na udaljeni server
Comment[sv]=Klistra in text eller bilder på en fjärrserver
Comment[th]=แปะข้อความ/รูปภาพ ไปยังเครื่อแม่ข่ายทางไกล
Comment[tr]=Bir uzak sunucuya metin/resim yapıştır
Comment[uk]=Викласти текст/зображення на віддалений сервер
Comment[wa]=Aclaper do tecse/imådjes viè on sierveu då lon
Comment[x-test]=xxPaste text/images to a remote serverxx
Comment[zh_CN]=向远程服务器粘贴文本/图像
Comment[zh_TW]=將文字/影像貼到遠端伺服器
Type=Service
Icon=edit-paste

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_pastebin
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=pastebin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
