[Desktop Entry]
Name=Pastebin
Name[ar]=سلة اللصق
Name[el]=Κάδος επικόλλησης
Name[gl]=Apegar
Name[nn]=Teksttavle
Name[pt]=Colagem
Name[ro]=Coș de lipire
Name[sr]=корпа налепака
Name[sr@latin]=korpa nalepaka
Name[th]=ถังแปะ (Pastebin)
Name[uk]=Вставлячка
Name[x-test]=xxPastebinxx
Comment=Paste text/images to a remote server
Comment[ar]=الصق نص/صور في خادم بعيد
Comment[ca]=Enganxa text/imatges en un servidor remot
Comment[da]=Indsæt tekst/billeder på en ekstern server
Comment[de]=Text und Bilder auf einen entfernten Server hochladen
Comment[el]=Επικόλληση κειμένου/εικόνων σε έναν απομακρυσμένο εξυπηρετητή
Comment[es]=Pegar texto/imágenes a un servidor remoto
Comment[et]=Tekstide/piltide kopeerimine võrguserverisse
Comment[fr]=Colle du texte ou des images vers un serveur distant
Comment[gl]=Apega texto/imaxes nun servidor remoto
Comment[he]=מעתיק טקסט או תמונות לשרת חיצוני
Comment[it]=Incolla testo/immagini su un server remoto
Comment[ja]=テキストや画像をリモートサーバに貼り付けます
Comment[km]=បិទភ្ជាប់​អត្ថបទ/រូបភាព​ទៅ​ម៉ាស៊ីនបម្រើ​ពីចម្ងាយ
Comment[lv]=Ielīmēt tekstu/attēlus uz attālinātu serveri
Comment[nds]=Text oder Biller op en feern Server infögen
Comment[nl]=Tekst/afbeeldingen plakken op een externe server
Comment[nn]=Kopier tekst og bilete til tenar på nettet
Comment[pl]=Wklejanie tekstu/obrazów na zdalny serwer
Comment[pt]=Colar o texto/imagens num servidor remoto
Comment[pt_BR]=Colar o texto/imagens para um servidor remoto
Comment[ro]=Lipește text/imagini spre un server distant
Comment[sr]=Налепљује текст и слике на удаљени сервер
Comment[sr@latin]=Nalepljuje tekst i slike na udaljeni server
Comment[sv]=Klistra in text eller bilder på en fjärrserver
Comment[th]=แปะข้อความ/รูปภาพ ไปยังเครื่อแม่ข่ายทางไกล
Comment[tr]=Bir uzak sunucuya metin/resim yapıştır
Comment[uk]=Викласти текст/зображення на віддалений сервер
Comment[wa]=Aclaper do tecse/imådjes viè on sierveu då lon
Comment[x-test]=xxPaste text/images to a remote serverxx
Comment[zh_CN]=向远程服务器粘贴文本/图像
Comment[zh_TW]=將文字/影像貼到遠端伺服器
Type=Service
Icon=edit-paste

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_pastebin
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=pastebin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
