[Desktop Entry]
Name=Spell Check
Name[de]=Rechtschreibprüfung
Name[en_GB]=Spell Check
Name[fr]=Vérificateur d'orthographe
Name[pt]=Verificação Ortográfica
Name[sv]=Stavningskontroll
Name[uk]=Перевірка правопису
Name[x-test]=xxSpell Checkxx
Name[zh_TW]=拼字檢查

Comment=Fast spell checking
Comment[de]=Schnelle Rechtschreibprüfung
Comment[en_GB]=Fast spell checking
Comment[fr]=Vérificateur d'orthographe rapide
Comment[pt]=Verificação ortográfica rápida
Comment[sv]=Snabb stavningskontroll
Comment[uk]=Швидка перевірка правопису
Comment[x-test]=xxFast spell checkingxx
Comment[zh_TW]=快速拼字檢查

Icon=tools-check-spelling
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_spellcheck
X-KDE-PluginInfo-Author=Michał Dutkiewicz aka Emdek
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Name=spellcheck
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://emdek.cba.pl/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
