[Desktop Entry]
Name=Spell Check
Name[ca]=Verificació ortogràfica
Name[ca@valencia]=Verificació ortogràfica
Name[da]=Stavekontrol
Name[de]=Rechtschreibprüfung
Name[en_GB]=Spell Check
Name[es]=Verificación ortográfica
Name[et]=Õigekirja kontroll
Name[fi]=Oikoluku
Name[fr]=Vérificateur d'orthographe
Name[it]=Controllo ortografico
Name[ja]=スペルチェック
Name[nb]=Stavekontroll
Name[nds]=Schriefwiesprööv
Name[nl]=Spellingcontrole
Name[pa]=ਸਪੈਲ ਚੈਕ
Name[pt]=Verificação Ortográfica
Name[pt_BR]=Verificação Ortográfica
Name[ru]=Проверка правописания
Name[sl]=Preveri črkovanje
Name[sr]=провера правописа
Name[sr@ijekavian]=провера правописа
Name[sr@ijekavianlatin]=provera pravopisa
Name[sr@latin]=provera pravopisa
Name[sv]=Stavningskontroll
Name[uk]=Перевірка правопису
Name[x-test]=xxSpell Checkxx
Name[zh_CN]=拼写检查
Name[zh_TW]=拼字檢查

Comment=Fast spell checking
Comment[ca]=Verificador ortogràfic ràpid
Comment[ca@valencia]=Verificador ortogràfic ràpid
Comment[da]=Hurtig stavekontrol
Comment[de]=Schnelle Rechtschreibprüfung
Comment[en_GB]=Fast spell checking
Comment[es]=Verificación ortográfica rápida
Comment[et]=Kiire õigekirja kontroll
Comment[fi]=Nopea oikoluku
Comment[fr]=Vérificateur d'orthographe rapide
Comment[it]=Controllo ortografico veloce
Comment[ja]=素早くスペルチェックします
Comment[nb]=Rask stavekontroll
Comment[nds]=Gau Klookschriever
Comment[nl]=Snelle spellingcontrole
Comment[pa]=ਤੁਰੰਤ ਸਪੈਲ ਚੈਕਿੰਗ
Comment[pt]=Verificação ortográfica rápida
Comment[pt_BR]=Verificação rápida da ortografia
Comment[ru]=Быстрая проверка правописания
Comment[sl]=Hitro preverjanje črkovanja
Comment[sr]=Брза провера правописа
Comment[sr@ijekavian]=Брза провера правописа
Comment[sr@ijekavianlatin]=Brza provera pravopisa
Comment[sr@latin]=Brza provera pravopisa
Comment[sv]=Snabb stavningskontroll
Comment[uk]=Швидка перевірка правопису
Comment[x-test]=xxFast spell checkingxx
Comment[zh_CN]=快速拼写检查
Comment[zh_TW]=快速拼字檢查

Icon=tools-check-spelling
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_spellcheck
X-KDE-PluginInfo-Author=Michał Dutkiewicz aka Emdek
X-KDE-PluginInfo-Email=emdeck@gmail.com
X-KDE-PluginInfo-Name=spellcheck
X-KDE-PluginInfo-Version=2.1
X-KDE-PluginInfo-Website=http://emdek.cba.pl/
X-KDE-PluginInfo-Category=Language
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
