[Desktop Entry]
Name=Night Color Control
Name[az]=Gecə rəng sxemi idarəedilməsi
Name[ca]=Control del color de nit
Name[cs]=Ovládání noční barvy
Name[da]=Kontrol af natfarve
Name[de]=Nachtfarben-Steuerung
Name[en_GB]=Night Colour Control
Name[es]=Control del color nocturno
Name[et]=Öörežiimi juhtimine
Name[eu]=Gaueko kolorearen agintea
Name[fi]=Yövärin hallinta
Name[fr]=Contrôle de la couleur de nuit
Name[hu]=Éjszakaiszín-kezelő
Name[ia]=ColorColor de Nocte non es executante
Name[id]=Kendali Warna Malam
Name[it]=Controllo del colore notturno
Name[ko]=야간 색상 제어
Name[lt]=Naktinės spalvos valdymas
Name[nl]=Besturing van nachtkleur
Name[nn]=Styring av nattfargar
Name[pl]=Przełącznik barw nocnych
Name[pt]=Controlo da Cor Nocturna
Name[pt_BR]=Controle da cor noturna
Name[ro]=Control culoare nocturnă
Name[ru]=Управление ночной цветовой схемой
Name[sk]=Ovládanie nočnej farby
Name[sl]=Nadzor nočne barve
Name[sv]=Nattfärgkontroll
Name[tg]=Идоракунии рангҳои шабона
Name[tr]=Gece Renk Kontrolü
Name[uk]=Керування нічними кольорами
Name[vi]=Điều khiển "Màu buổi tối"
Name[x-test]=xxNight Color Controlxx
Name[zh_CN]=夜间颜色控制
Name[zh_TW]=夜色模式控制
Comment=Plasmoid for controlling Night Color
Comment[az]=Gecə rəng sxemini idarə etmək üçün plasmoid
Comment[ca]=Plasmoide per a controlar el Color de nit
Comment[cs]=Plasmoid pro ovládání noční barvy
Comment[da]=Plasmoid til kontrol af natfarve
Comment[de]=Miniprogramm zur Steuerung der Nachtfarbe
Comment[en_GB]=Plasmoid for controlling Night Colour
Comment[es]=Plasmoide para controlar el color nocturno
Comment[et]=Öörežiimi juhtimise plasmoid
Comment[eu]=Gaueko kolorea kontrolatzeko plasmoidea
Comment[fi]=Sovelma yövärin hallintaan
Comment[fr]=Composant graphique permettant de contrôler la couleur de nuit
Comment[hu]=Plasmoid az éjszaki színek kezeléséhez
Comment[id]=Plasmoid untuk mengendalikan Warna Malam
Comment[it]=Plasmoide per il controllo del colore notturno
Comment[ko]=야간 색상을 제어하는 Plasmoid
Comment[lt]=Plasma įskiepis, skirtas valdyti naktinę spalvą
Comment[nl]=Plasmoid voor besturing van nachtkleur
Comment[nn]=Skjermelement for styring av nattfargar
Comment[pl]=Plasmoid do przełączania barw nocnych
Comment[pt]=Plasmóide para controlar a Cor Nocturna
Comment[pt_BR]=Plasmoide para controlar a cor noturna
Comment[ro]=Plasmoid pentru controlul culorii nocturne
Comment[ru]=Виджет для управления ночной цветовой схемой
Comment[sk]=Plasmoid na ovládanie Nočnej farby
Comment[sl]=Plasmoid za nadzor nočne barve
Comment[sv]=Plasmoid för att kontrollera nattfärg
Comment[tr]=Gece rengini kontrol etmek için plazmoid
Comment[uk]=Плазмоїд для керування нічними кольорами
Comment[vi]=Plasmoid để điều khiển "Màu buổi tối"
Comment[x-test]=xxPlasmoid for controlling Night Colorxx
Comment[zh_CN]=控制夜间颜色的小部件
Comment[zh_TW]=控制夜色的 Plasmoid
Icon=redshift-status-on

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Vlad Zahorodnii
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Email=vlad.zahorodnii@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.nightcolorcontrol
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
