[Desktop Entry]
Name=Night Color Control
Name[ca]=Control del color de nit
Name[es]=Control del color nocturno
Name[et]=Öise värvi juhtimine
Name[nl]=Besturing van nachtkleur
Name[pt]=Controlo da Cor Nocturna
Name[sv]=Nattfärgkontroll
Name[uk]=Керування нічними кольорами
Name[x-test]=xxNight Color Controlxx
Name[zh_TW]=夜色模式控制
Comment=Plasmoid for controlling Night Color
Comment[ca]=Plasmoide per controlar el Color de nit
Comment[es]=Plasmoide para controlar el color nocturno
Comment[et]=Öise värvi juhtimise plasmoid
Comment[nl]=Plasmoid voor besturing van nachtkleur
Comment[pt]=Plasmóide para controlar a Cor Nocturna
Comment[sv]=Plasmoid för att kontrollera nattfärg
Comment[uk]=Плазмоїд для керування нічними кольорами
Comment[x-test]=xxPlasmoid for controlling Night Colorxx
Comment[zh_TW]=控制夜色的 Plasmoid
Icon=preferences-desktop-display-nightcolor

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Vlad Zahorodnii
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=vladzzag@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.nightcolorcontrol
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=plasma.kde.org

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
