[Desktop Entry]
Name=Pastebin engine
Name[de]=Pastebin-Treiber
Name[en_GB]=Pastebin engine
Name[es]=Motor de Pastebin
Name[et]=Pastebini mootor
Name[fr]=Moteur Pastebin
Name[gl]=Motor para Pastebin
Name[it]=Motore Pastebin
Name[nb]=Pastebin-motor
Name[nds]=Pastebin-Karn
Name[pt]=Motor do Pastebin
Name[pt_BR]=Mecanismo do Pastebin
Name[sv]=Pastebin-gränssnitt
Name[tr]=Pastebin motoru
Name[uk]=Рушій Pastebin
Name[x-test]=xxPastebin enginexx
Name[zh_TW]=Pastebin 引擎
Comment=Engine to paste text and images to servers
Comment[cs]=Nástroj pro vkládání obrázků a textu na servery
Comment[de]=Text und Bilder auf einen Server hochladen
Comment[en_GB]=Engine to paste text and images to servers
Comment[es]=Motor para pegar texto e imágenes en servidores
Comment[et]=Teksti ja piltide serverisse asetamise mootor
Comment[fr]=Moteur permettant de coller du texte ou des images vers un serveur distant
Comment[gl]=Pega texto/imaxes nun servidor remoto
Comment[it]=Motore per incollare testo e immagini su server
Comment[nb]=Motor som limer inn tekst/bilder til en nettverkstjener
Comment[nds]=En Karn för't infögen vun Text oder Biller op feern Servers
Comment[pt]=Um motor para colar o texto e imagens para servidores remotos
Comment[pt_BR]=Mecanismo para colar texto e imagens para servidores
Comment[sv]=Gränssnitt för att ḱlistra in text och bilder på en server
Comment[tr]=Uzak sunuculara metin/resim yapıştırma motoru
Comment[uk]=Рушій для надсилання тексту і зображень на сервери
Comment[x-test]=xxEngine to paste text and images to serversxx
Comment[zh_TW]=將文字與影像貼到遠端伺服器的引擎
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_pastebin
X-Plasma-EngineName=pastebin
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Name=pastebin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
