[Desktop Entry]
Name=Pastebin engine
Name[ca]=Motor Pastebin
Name[ca@valencia]=Motor Pastebin
Name[da]=Pastebin-motor
Name[de]=Pastebin-Treiber
Name[el]=Μηχανή κάδου επικόλλησης
Name[en_GB]=Pastebin engine
Name[es]=Motor de Pastebin
Name[et]=Pastebini mootor
Name[fi]=Pastebin-moottori
Name[fr]=Moteur Pastebin
Name[gl]=Motor para Pastebin
Name[it]=Motore Pastebin
Name[ja]=Pastebin エンジン
Name[kk]=Pastebin тетігі
Name[lv]=Pastebin dzinējs
Name[nb]=Pastebin-motor
Name[nds]=Pastebin-Karn
Name[nl]=Pastebin-engine
Name[nn]=Teksttavle-motor
Name[pa]=ਪੇਸਟਬਿਨ ਇੰਜਣ
Name[pl]=Moduł Pastebin
Name[pt]=Motor do Pastebin
Name[pt_BR]=Mecanismo do Pastebin
Name[sk]=Pastebin modul
Name[sl]=Pogon Pastebin
Name[sr]=мотор корпе налепака
Name[sr@ijekavian]=мотор корпе наљепака
Name[sr@ijekavianlatin]=motor korpe naljepaka
Name[sr@latin]=motor korpe nalepaka
Name[sv]=Pastebin-gränssnitt
Name[th]=ถังแปะ (Pastebin)
Name[tr]=Pastebin motoru
Name[uk]=Рушій Pastebin
Name[x-test]=xxPastebin enginexx
Name[zh_CN]=Pastebin 引擎
Name[zh_TW]=Pastebin 引擎
Comment=Engine to paste text and images to servers
Comment[ca]=Motor per enganxar text/imatges en servidors
Comment[ca@valencia]=Motor per enganxar text/imatges en servidors
Comment[cs]=Nástroj pro vkládání obrázků a textu na servery
Comment[da]=Motor til at indsætte tekst og billeder på servere
Comment[de]=Text und Bilder auf einen Server hochladen
Comment[el]=Μηχανή για επικόλληση κειμένου και εικόνων σε εξυπηρετητές
Comment[en_GB]=Engine to paste text and images to servers
Comment[es]=Motor para pegar texto e imágenes en servidores
Comment[et]=Teksti ja piltide serverisse asetamise mootor
Comment[fi]=Moottori tekstin ja kuvien liittämiseksi palvelimiin
Comment[fr]=Moteur permettant de coller du texte ou des images vers un serveur distant
Comment[gl]=Pega texto/imaxes nun servidor remoto
Comment[it]=Motore per incollare testo e immagini su server
Comment[ja]=テキストや画像をサーバに貼り付けるエンジン
Comment[kk]=Қашық серверлерде мәтін/кескін орналастыру тетігі
Comment[lv]=Dzinējs teksta un attēlu ielīmēšanai uz servera
Comment[nb]=Motor som limer inn tekst/bilder til en nettverkstjener
Comment[nds]=En Karn för't infögen vun Text oder Biller op feern Servers
Comment[nl]=Tekst/afbeeldingen plakken op een externe server
Comment[nn]=Kopier tekst og bilete til tenarar på nettet
Comment[pl]=Wklejanie tekstu/obrazów na zdalny serwer
Comment[pt]=Um motor para colar o texto e imagens para servidores remotos
Comment[pt_BR]=Mecanismo para colar texto e imagens para servidores
Comment[sk]=Modul pre vkladanie textu a obrázkov na servery
Comment[sl]=Pogon za lepljenje besedila in slik na strežnike
Comment[sr]=Мотор за налепљивање текста и слика на сервере
Comment[sr@ijekavian]=Мотор за наљепљивање текста и слика на сервере
Comment[sr@ijekavianlatin]=Motor za naljepljivanje teksta i slika na servere
Comment[sr@latin]=Motor za nalepljivanje teksta i slika na servere
Comment[sv]=Gränssnitt för att ḱlistra in text och bilder på en server
Comment[th]=แปะข้อความ/รูปภาพ ไปยังเครื่องแม่ข่ายถังแปะทางไกล
Comment[tr]=Uzak sunuculara metin/resim yapıştırma motoru
Comment[uk]=Рушій для надсилання тексту і зображень на сервери
Comment[x-test]=xxEngine to paste text and images to serversxx
Comment[zh_CN]=向服务器粘贴文本/图像的引擎
Comment[zh_TW]=將文字與影像貼到遠端伺服器的引擎
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_pastebin
X-Plasma-EngineName=pastebin
X-KDE-PluginInfo-Author=Artur de Souza
X-KDE-PluginInfo-Email=asouza@kde.org
X-KDE-PluginInfo-Name=pastebin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
