[Desktop Entry]
Name=Calendar Events
Name[ca]=Esdeveniments del calendari
Name[da]=Kalenderbegivenheder
Name[de]=Kalenderereignisse
Name[el]=Γεγονότα ημερολογίου
Name[en_GB]=Calendar Events
Name[es]=Eventos del calendario
Name[et]=Kalendri sündmused
Name[kk]=Күнтізбе оқиғалары
Name[km]=ព្រឹត្តិការណ៍​ប្រតិទិន​
Name[nb]=Kalenderhendelser
Name[nds]=Kalennerbegeefnissen
Name[nl]=Activiteiten in agenda
Name[pa]=ਕੈਲੰਡਰ ਘਟਨਾਵਾਂ
Name[pt]=Eventos do Calendário
Name[pt_BR]=Eventos do calendário
Name[ru]=События календаря
Name[sv]=Kalenderhändelser
Name[uk]=Події календаря
Name[x-test]=xxCalendar Eventsxx
Name[zh_CN]=日历事件
Name[zh_TW]=行事曆事件
Comment=Calendar Events runner
Comment[ca]=Executor d'esdeveniments de calendari
Comment[da]=Runner til kalenderbegivenheder
Comment[de]=Kalenderereignisse
Comment[el]=Εκτελεστής γεγονότων ημερολογίου
Comment[en_GB]=Calendar Events runner
Comment[es]=Lanzador de los eventos del calendario
Comment[et]=Kalendri sündmuste käivitaja
Comment[kk]=Күнтізбе оқиғалары дегенді жегу
Comment[nb]=Kjører kalenderhendelser
Comment[nds]=Dreger för Kalennerbegeefnissen
Comment[nl]=Uitvoeren van activiteiten in agenda
Comment[pt]=Execução dos eventos do calendário
Comment[pt_BR]=Execução de eventos do calendário
Comment[ru]=События календаря
Comment[sv]=Visa kalenderhändelser
Comment[uk]=Інструмент роботи з подіями календаря
Comment[x-test]=xxCalendar Events runnerxx
Comment[zh_CN]=日历事件运行器
Comment[zh_TW]=行事曆事件執行器

Icon=korganizer
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_plasma_runner_events
X-KDE-ParentComponents=org.kde.events_runner
X-KDE-PluginKeyword=kcm_events_runner
