[Desktop Entry]
Name=Calendar Events
Name[cs]=Události kalendáře
Name[da]=Kalenderbegivenheder
Name[de]=Kalenderereignisse
Name[en_GB]=Calendar Events
Name[es]=Eventos del calendario
Name[et]=Kalendri sündmused
Name[fr]=Évènements d'agenda
Name[gl]=Eventos do calendario
Name[nds]=Kalennerbegeefnissen
Name[nl]=Gebeurtenissen in agenda
Name[pt]=Eventos do Calendário
Name[pt_BR]=Eventos do calendário
Name[sk]=Udalosti kalendára
Name[sv]=Kalenderhändelser
Name[uk]=Події календаря
Name[x-test]=xxCalendar Eventsxx
Comment=Calendar Events runner
Comment[da]=Runner til kalenderbegivenheder
Comment[de]=Kalenderereignis-Dienst
Comment[en_GB]=Calendar Events runner
Comment[es]=Lanzador de eventos del calendario
Comment[et]=Kalendri sündmuste käivitaja
Comment[fr]=Outil d'exécution d'évènements d'agenda
Comment[gl]=Executor de eventos do calendario
Comment[nds]=Dreger för Kalennerbegeefnissen
Comment[nl]=Gebeurtenissen in agenda uitvoeren
Comment[pt]=Execução de Eventos do Calendário
Comment[pt_BR]=Execução de eventos do calendário
Comment[sk]=Udalosti kalendára
Comment[sv]=Visa kalenderhändelser
Comment[uk]=Інструмент роботи з подіями календаря
Comment[x-test]=xxCalendar Events runnerxx
Icon=korganizer
Type=Service

X-KDE-ServiceTypes=Plasma/Runner
X-KDE-Library=plasma_runner_events
X-KDE-PluginInfo-Author=Alexey Noskov
X-KDE-PluginInfo-Email=alexey.noskov@gmail.com
X-KDE-PluginInfo-Name=events_runner
X-KDE-PluginInfo-Version=0.2.4
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Ubuntu-Gettext-Domain=desktop_kdesdk
