[Desktop Entry]
Name=Calendar Events
Name[x-test]=xxCalendar Eventsxx
Comment=Calendar Events runner
Comment[x-test]=xxCalendar Events runnerxx
Icon=korganizer
Type=Service

X-KDE-ServiceTypes=Plasma/Runner
X-KDE-Library=plasma_runner_events
X-KDE-PluginInfo-Author=Alexey Noskov
X-KDE-PluginInfo-Email=alexey.noskov@gmail.com
X-KDE-PluginInfo-Name=org.kde.events_runner
X-KDE-PluginInfo-Version=0.3.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Ubuntu-Gettext-Domain=desktop_kdesdk
