[Desktop Entry]
Name=Pattern
Name[ar]=نسق
Name[ast]=Patrón
Name[bs]=Obrazac
Name[ca]=Patró
Name[ca@valencia]=Patró
Name[cs]=Vzorek
Name[da]=Mønster
Name[de]=Muster
Name[el]=Μοτίβο
Name[en_GB]=Pattern
Name[es]=Patrón
Name[et]=Muster
Name[fi]=Kuvio
Name[fr]=Motif
Name[ga]=Patrún
Name[gl]=Padrón
Name[hr]=Uzorak
Name[hu]=Minta
Name[is]=Mynstur
Name[it]=Motivo
Name[ja]=パターン
Name[kk]=Өрнек
Name[km]=លំនាំ
Name[ko]=패턴
Name[lt]=Raštas
Name[lv]=Raksts
Name[mr]=नमूना
Name[nb]=Mønster
Name[nds]=Muster
Name[nl]=Patroon
Name[nn]=Mønster
Name[pa]=ਪੈਟਰਨ
Name[pl]=Wzór
Name[pt]=Padrão
Name[pt_BR]=Padrão
Name[ro]=Model
Name[ru]=Орнамент
Name[sk]=Vzorka
Name[sl]=Vzorec
Name[sq]=Modeli
Name[sr]=образац
Name[sr@ijekavian]=образац
Name[sr@ijekavianlatin]=obrazac
Name[sr@latin]=obrazac
Name[sv]=Mönster
Name[th]=รูปแบบ
Name[tr]=Desen
Name[ug]=ئەندىزە
Name[uk]=Візерунок
Name[wa]=Patron
Name[x-test]=xxPatternxx
Name[zh_CN]=图案
Name[zh_TW]=樣式
Comment=Tilable patterns
Comment[ca]=Patrons en mosaic
Comment[cs]=Dlaždicovatelné vzorky
Comment[es]=Patrones alicatables
Comment[fi]=Vierekkäin aseteltavat kuviot
Comment[gl]=Patróns que poden formar un mosaico.
Comment[it]=Motivi affiancabili
Comment[kk]=Құрақты өрнек
Comment[nl]=In stukken op te delen patronen
Comment[pt]=Padrões em mosaico
Comment[pt_BR]=Padrões em mosaico
Comment[ru]=Мозаичный орнамент
Comment[sk]=Dlaždicovateľné vzory
Comment[sr]=Обрасци за поплочавање
Comment[sr@ijekavian]=Обрасци за поплочавање
Comment[sr@ijekavianlatin]=Obrasci za popločavanje
Comment[sr@latin]=Obrasci za popločavanje
Comment[sv]=Utläggningsbara mönster
Comment[tr]=Döşenebilir dokular
Comment[uk]=Візерунки з плиток
Comment[x-test]=xxTilable patternsxx
Comment[zh_CN]=平铺模式
Comment[zh_TW]=可排列樣式
Type=Service
Icon=preferences-desktop-pattern
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_pattern
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=pattern
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
