[Desktop Entry]
Name=Pattern
Name[de]=Muster
Name[el]=Μοτίβο
Name[es]=Patrón
Name[et]=Muster
Name[ga]=Patrún
Name[nds]=Muster
Name[pt]=Padrão
Name[pt_BR]=Padrão
Name[sv]=Mönster
Name[tr]=Desen
Name[uk]=Візерунок
Name[x-test]=xxPatternxx
Name[zh_CN]=样式
Name[zh_TW]=樣式
Type=Service
Icon=preferences-desktop-pattern
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_pattern
X-KDE-PluginInfo-Author=Will Stephenson
X-KDE-PluginInfo-Email=wstephenson@kde.org
X-KDE-PluginInfo-Name=pattern
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
