[Group-Default]
background.type=none
background.color.normal=0,0,0
background.color.active=255,255,255
background.color.disabled=0,0,0,125
foreground.color.normal=0,0,0
foreground.color.active=255,255,255
foreground.color.disabled=0,0,0,125

# generic groups
[Group-BasicWidget] # del
parent=Default

[Group-ExtenderButton]
parent=Default

[Group-ExtenderButton-Extender] # del
parent=Default

[Group-Panel]
background.type=none

[Group-Panel-Title]
parent=Default

[Group-ActionListView] # deprecated
parent=Default

[Group-ActionListView-Items] # deprecated
foreground.color.disabled=200,200,200
foreground.color.normal=200,200,200
foreground.color.active=255,255,255
background.type=none

[Group-ActionListView-Items-Extender] # deprecated
background.type=none

[Group-ActionListView-ItemsLeft] # deprecated
parent=ActionListView-Items

[Group-ActionListView-ItemsRight] # deprecated
parent=ActionListView-Items

[Group-ActionListView-ItemsLeft-Extender] # deprecated
parent=ActionListView-Items-Extender

[Group-ActionListView-ItemsRight-Extender] # deprecated
parent=ActionListView-Items-Extender

[Group-ActionListView-CategoriesPass] # deprecated
foreground.color.disabled=200,200,200
foreground.color.normal=200,200,200
foreground.color.active=255,255,255
background.type=none

[Group-ActionListView-CategoriesPass-Extender] # deprecated
background.type=none

[Group-ActionListView-Categories] # deprecated
foreground.color.disabled=200,200,200
foreground.color.normal=200,200,200
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/action-list-view-headers

[Group-PassagewayView-Button]
foreground.color.disabled=200,200,200
foreground.color.active=255,255,255
foreground.color.normal=200,200,200
background.type=svg
background.svg=lancelot/passageway-view-buttons

[Group-PassagewayView-Button-Extender]
background.type=svg
background.svg=lancelot/passageway-view-buttons-extender

[Group-PassagewayView-Spacer]
foreground.color.disabled=0,0,0
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/passageway-view-spacer

[Group-PassagewayView-InactiveButton]
foreground.color.normal=200,200,200
foreground.color.active=200,200,200
foreground.color.disabled=0,0,0
background.type=svg
background.svg=lancelot/passageway-view-inactivebuttons

[Group-InnerPanel-InactiveButton]
parent=PassagewayView-InactiveButton

# application groups
[Group-SystemButtons] # del
foreground.color.normal=150,150,150
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/system-buttons

[Group-LancelotContext] # del
background.type=svg
background.svg=lancelot/system-buttons

[Group-SystemButtons-Extender] # del
background.type=svg
background.svg=lancelot/system-buttons-extender

[Group-LancelotContext-Extender] # del
background.type=svg
background.svg=lancelot/system-buttons

[Group-SectionButtons] # del
foreground.color.normal=255,255,255
foreground.color.active=255,255,255
background.type=svg
background.svg=lancelot/section-buttons

[Group-SectionButtons-Extender] # del
background.type=none

[Group-MainPanel] # del
background.type=svg
background.svg=lancelot/main-panel

[Group-RootPanel] # del
background.type=svg
#background.svg=lancelot/main-background
background.svg=dialogs/background

[Group-InnerPanel] # del
background.type=svg
background.svg=lancelot/inner-background

[Group-PassagewayView] # del
parent=InnerPanel

[Group-InnerPanel-Button] # del
parent=PassagewayView-Button

[Group-InnerPanel-Button-Extender] # del
parent=PassagewayView-Button-Extender

[Group-PopupList-Items]
parent=ActionListView-Items

[Group-PopupList-Categories]
parent=ActionListView-Categories

[Group-PopupList-CategoriesPass]
parent=ActionListView-CategoriesPass

[Group-PopupList-CategoriesPass-Extender]
parent=ActionListView-CategoriesPass-Extender

[Group-PopupList-Categories-Extender]
parent=ActionListView-Categories-Extender

