[Desktop Entry]
Name=Weather Report
Name[ca]=Informe meteorològic
Name[gl]=Informe meteorolóxico
Name[nl]=Weerrapport
Name[pt]=Boletim Meteorológico
Name[sv]=Väderprognos
Name[uk]=Звіт щодо погоди
Name[x-test]=xxWeather Reportxx
Name[zh_TW]=氣象回報
Comment=Forecast and current conditions
Comment[ca]=Previsió i condicions actuals
Comment[gl]=Prognóstico e condicións actuais
Comment[nl]=Voorspelling en huidige condities
Comment[pt]=Condições actuais e previstas
Comment[sv]=Prognos och aktuella förhållanden
Comment[uk]=Прогноз і поточні умови
Comment[x-test]=xxForecast and current conditionsxx
Comment[zh_TW]=預報與目前狀況
Icon=weather-clear

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_weather

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Author=Luís Gabriel Lima
X-KDE-PluginInfo-Email=lampih@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.weather
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
