[Desktop Entry]
Encoding=UTF-8
Name=Weather Forecast (QML)
Name[ar]=تنبؤات الطقس (QML)
Name[bs]=Vremenska prognoza (QML)
Name[ca]=Previsió meteorològica (QML)
Name[ca@valencia]=Previsió meteorològica (QML)
Name[cs]=Předpověď počasí (QML)
Name[da]=Vejrudsigt (QML)
Name[de]=Wettervorhersage (QML)
Name[el]=Πρόγνωση καιρού (QML)
Name[en_GB]=Weather Forecast (QML)
Name[es]=Previsión meteorológica (QML)
Name[et]=Ilmateade (QML)
Name[fi]=Sääennuste (QML)
Name[fr]=Bulletin météorologique (QML)
Name[ga]=Réamhaisnéis Aimsire (QML)
Name[gl]=Prognóstico meteorolóxico (QML)
Name[hu]=Időjárás-előrejelzés (QML)
Name[it]=Previsioni meteo (QML)
Name[kk]=Ауа райын болжау (QML)
Name[ko]=일기 예보 (QML)
Name[lt]=Orų prognozė (QML)
Name[mr]=हवामान पूर्वानुमान (QML)
Name[nb]=Værmelding (QML)
Name[nds]=Wederbericht (QML)
Name[nl]=Weersvoorspelling (QML)
Name[pa]=ਮੌਸਮ ਅਨੁਮਾਨ (QML)
Name[pl]=Prognoza pogody (QML)
Name[pt]=Boletim Meteorológico (QML)
Name[pt_BR]=Previsão meteorológica (QML)
Name[ro]=Prognoza vremii (QML)
Name[ru]=Прогноз погоды (порт на QML)
Name[sk]=Predpoveď počasia (QML)
Name[sl]=Vremenska napoved (QML)
Name[sr]=временска прогноза (КуМЛ)
Name[sr@ijekavian]=временска прогноза (КуМЛ)
Name[sr@ijekavianlatin]=vremenska prognoza (QML)
Name[sr@latin]=vremenska prognoza (QML)
Name[sv]=Väderprognos (QML)
Name[tr]=Hava Tahmini (QML)
Name[uk]=Прогноз погоди (QML)
Name[x-test]=xxWeather Forecast (QML)xx
Name[zh_CN]=天气预报 (QML)
Name[zh_TW]=氣象預報 (QML)
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Icon=weather-clear
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=250,350
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Author=Luís Gabriel Lima
X-KDE-PluginInfo-Email=lampih@gmail.com
X-KDE-PluginInfo-Name=org.kde.weather
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
