[Desktop Entry]
Name=Small Icons
Name[de]=Kleine Symbole
Name[el]=Μικρά εικονίδια
Name[en_GB]=Small Icons
Name[es]=Iconos pequeños
Name[lt]=Mažos piktogramos
Name[nl]=Kleine pictogrammen
Name[pl]=Małe ikony
Name[pt]=Ícones Pequenos
Name[pt_BR]=Ícones pequenos
Name[sk]=Malé ikony
Name[sl]=Majhne ikone
Name[uk]=Малі піктограми
Name[x-test]=xxSmall Iconsxx
Comment=A window switcher layout using small icons to represent the window
Comment[de]=Ein Fensterwechsler-Layout, das kleine Symbole zur Darstellung der Fenster verwendet
Comment[el]=Μια διάταξη εναλλαγής παραθύρων με χρήση μικρών εικονιδίων που αναπαριστούν το παράθυρο
Comment[en_GB]=A window switcher layout using small icons to represent the window
Comment[es]=Un esquema de selector de ventanas que usa iconos pequeños para representar las ventanas
Comment[lt]=Langų perjungimo išdėstymas naudojantis mažus ženkliukus reprezentuojančius langą
Comment[nl]=Een indeling van de vensterwisselaar die kleine pictogrammen gebruikt om vensters te representeren
Comment[pl]=Układ przełączania okien używający małych ikon do prezentowania okien
Comment[pt]=Uma disposição de selecção de janelas que usa ícones pequenos para representar a janela
Comment[pt_BR]=Um leiaute do seletor de janelas que usa ícones pequenos para representá-las
Comment[sk]=Rozloženie prepínača okien používajúce malé ikony na reprezentáciu okien
Comment[sl]=Razpored preklapljanja, ki za predstavitev oken uporablja majhne ikone
Comment[uk]=Компонування засобу перемикання вікон з малими піктограмами вікон
Comment[x-test]=xxA window switcher layout using small icons to represent the windowxx
Icon=preferences-system-windows-switcher-small-icons

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=small_icons
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
