[Desktop Entry]
Name=Small Icons
Name[ca]=Icones petites
Name[cs]=Malé ikony
Name[de]=Kleine Symbole
Name[el]=Μικρά εικονίδια
Name[en_GB]=Small Icons
Name[es]=Iconos pequeños
Name[fi]=Pienet kuvakkeet
Name[lt]=Mažos piktogramos
Name[nl]=Kleine pictogrammen
Name[pl]=Małe ikony
Name[pt]=Ícones Pequenos
Name[pt_BR]=Ícones pequenos
Name[sk]=Malé ikony
Name[sl]=Majhne ikone
Name[sr]=Мале иконе
Name[sr@ijekavian]=Мале иконе
Name[sr@ijekavianlatin]=Male ikone
Name[sr@latin]=Male ikone
Name[tr]=Küçük Simgeler
Name[uk]=Малі піктограми
Name[x-test]=xxSmall Iconsxx
Name[zh_CN]=小图标
Comment=A window switcher layout using small icons to represent the window
Comment[ca]=Una disposició del commutador de finestres que utilitza icones petites per representar la finestra
Comment[cs]=Rozvržení přepínače oken používající malé ikony
Comment[de]=Ein Fensterwechsler-Layout, das kleine Symbole zur Darstellung der Fenster verwendet
Comment[el]=Μια διάταξη εναλλαγής παραθύρων με χρήση μικρών εικονιδίων που αναπαριστούν το παράθυρο
Comment[en_GB]=A window switcher layout using small icons to represent the window
Comment[es]=Un esquema de selector de ventanas que usa iconos pequeños para representar las ventanas
Comment[fi]=Ikkunanvalitsimen asettelu, jossa ikkunat esitetään pienillä kuvakkeilla
Comment[lt]=Langų perjungimo išdėstymas naudojantis mažus ženkliukus reprezentuojančius langą
Comment[nl]=Een indeling van de vensterwisselaar die kleine pictogrammen gebruikt om vensters te representeren
Comment[pl]=Układ przełączania okien używający małych ikon do prezentowania okien
Comment[pt]=Uma disposição de selecção de janelas que usa ícones pequenos para representar a janela
Comment[pt_BR]=Um leiaute do seletor de janelas que usa ícones pequenos para representá-las
Comment[sk]=Rozloženie prepínača okien používajúce malé ikony na reprezentáciu okien
Comment[sl]=Razpored preklapljanja, ki za predstavitev oken uporablja majhne ikone
Comment[sr]=Распоред мењача прозора у којем су прозори представљени малим иконама
Comment[sr@ijekavian]=Распоред мењача прозора у којем су прозори представљени малим иконама
Comment[sr@ijekavianlatin]=Raspored menjača prozora u kojem su prozori predstavljeni malim ikonama
Comment[sr@latin]=Raspored menjača prozora u kojem su prozori predstavljeni malim ikonama
Comment[tr]=Pencereleri gösteren küçük simgeleri kullanan bir pencere değiştirme yerleşimi
Comment[uk]=Компонування засобу перемикання вікон з малими піктограмами вікон
Comment[x-test]=xxA window switcher layout using small icons to represent the windowxx
Comment[zh_CN]=一个用小图标表示窗口的窗口切换器布局
Icon=preferences-system-windows-switcher-small-icons

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=small_icons
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
