[Desktop Entry]
Name=Luna
Name[ca]=Lluna
Name[es]=Luna
Name[fr]=Lune
Name[hu]=Luna
Name[nl]=Luna
Name[pl]=Luna
Name[sv]=Luna
Name[uk]=Луна
Name[x-test]=xxLunaxx
Name[zh_TW]=Luna
Comment=Display moon phases for your location
Comment[ca]=Mostra les fases de la lluna per a la vostra ubicació
Comment[es]=Mostrar las fases de la Luna en su ubicación
Comment[fr]=Affiche les phases de la lune, visibles à votre position
Comment[hu]=Holdfázisok megjelenítése
Comment[nl]=Toont maanfasen voor uw locatie
Comment[pl]=Wyświetlanie faz Księżyca w twojej okolicy
Comment[sv]=Visa månfaser där du befinner dig
Comment[uk]=Показує фазу Місяця у місце, де ви знаходитеся
Comment[x-test]=xxDisplay moon phases for your locationxx
Comment[zh_TW]=顯示您所在位置的月相
Type=Service
Icon=luna
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_luna
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=luna
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Astronomy
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
