[Desktop Entry]
Name=Luna
Name[fr]=Lune
Name[gl]=Lúa
Name[ko]=달
Name[nn]=Månefaseindikator
Name[oc]=Tai
Name[pa]=ਲੂਨਾ
Name[ru]=Луна
Name[sr]=Луна
Name[th]=ข้างขึ้น/ข้างแรม
Name[uk]=Луна
Name[x-test]=xxLunaxx
Name[zh_CN]=月相
Comment=Display moon phases for your location
Comment[cs]=Zobrazení fází měsíce
Comment[de]=Mondphasen für Ihren Standort anzeigen
Comment[el]=Εμφάνιση φάσεων της Σελήνης από την τοποθεσία σας
Comment[es]=Muestra las fases de la luna para su ubicación
Comment[et]=Kuufaaside näitamine vastavalt sinu asukohale
Comment[fr]=Affiche les phases de la lune visibles à votre adresse
Comment[gl]=Mostra as fases da lúa na súa localización
Comment[it]=Mostra le fasi lunari nella tua posizione
Comment[ja]=お住まいの場所の月の満ち欠けを表示します
Comment[km]=បង្ហាញ​ដំណើរ​ព្រះ​ច័ន្ទ​សម្រាប់​ទីតាំង​របស់អ្នក
Comment[nds]=De aktuelle Maanschiev wiesen
Comment[nl]=Toont maanfasen voor u locatie
Comment[nn]=Vis månefasar for der du er
Comment[pt]=Mostrar as fases lunares para a sua localidade
Comment[pt_BR]=Mostrar as fases da Lua para a sua localidade
Comment[ru]=Отображение фазы луны для вашего местоположения
Comment[sv]=Visa månfaser där du befinner dig
Comment[tr]=Konumunuz için Ay'ın hangi evrede olduğunu gösterin
Comment[uk]=Показує фазу Місяця у місце, де ви знаходитеся
Comment[x-test]=xxDisplay moon phases for your locationxx
Comment[zh_CN]=显示您位置的月相
Comment[zh_TW]=顯示您所在位置的月相
Type=Service
# Icon=luna //TODO: fix icon
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_luna
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=luna
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Astronomy
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
