[Desktop Entry]
Name=Luna
Name[fr]=Lune
Name[gl]=Lúa
Name[ko]=달
Name[pa]=ਲੂਨਾ
Name[sr]=Луна
Name[th]=ข้างขึ้น/ข้างแรม
Name[uk]=Луна
Name[x-test]=xxLunaxx
Name[zh_CN]=月相
Comment=Moon phase applet
Comment[ca]=Miniaplicació de la fase de la lluna
Comment[da]=Applet til månefaser
Comment[de]=Miniprogramm zur Anzeige der Mondphasen
Comment[el]=Μικροεφαρμογή φάσεων της Σελήνης
Comment[es]=Applet con las fases de la luna
Comment[et]=Kuufaaside aplett
Comment[fi]=Kuunvaihesovelma
Comment[fr]=Suivi des phases de la Lune
Comment[ga]=Feidhmchláirín chéim na gealaí
Comment[gl]=Applet da fase luar
Comment[ja]=月の満ち欠けを表示するアプレット
Comment[km]=អាប់ភ្លេត​ដំណើរ​ព្រះច័ន្ទ
Comment[ko]=달 모양 애플릿
Comment[lv]=Mēness fāžu rādītājs
Comment[nds]=Maandschiev-Lüttprogramm
Comment[nl]=Maanfasenapplet
Comment[nn]=Vis månefasar
Comment[pa]=ਚੰਦ ਕਲਾਵਾਂ ਐਪਲਿਟ
Comment[pl]=Aplet faz Księżyca
Comment[pt]='Applet' da fase lunar
Comment[pt_BR]='Applet' da fase lunar
Comment[ro]=Miniaplicație cu fazele Lunii
Comment[sl]=Prikaz Luninih men
Comment[sr]=Аплет месечевих мена
Comment[sr@latin]=Aplet mesečevih mena
Comment[sv]=Miniprogram för månfaser
Comment[th]=แอพเพล็ตแสดงข้างขึ้น/ข้างแรม
Comment[tr]=Ay'ın evreleri programcığı
Comment[uk]=Аплет з інформацією про фази Місяця
Comment[x-test]=xxMoon phase appletxx
Comment[zh_CN]=月相小程序
Comment[zh_TW]=月相小程式
Type=Service
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_luna
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=luna
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Astronomy
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
