[Desktop Entry]
Encoding=UTF-8
Name=Timer
Name[cs]=Stopky
Name[el]=Χρονόμετρο
Name[es]=Cronómetro
Name[et]=Taimer
Name[fr]=Compte à rebours
Name[ga]=Uaineadóir
Name[gl]=Temporizador
Name[ja]=タイマー
Name[km]=កម្មវិធី​កំណត់​ពេលវេលា
Name[nds]=Weckklock
Name[nn]=Tidsur
Name[pt]=Cronómetro
Name[pt_BR]=Cronômetro
Name[ru]=Таймер
Name[sv]=Tidtagare
Name[tr]=Zamanlayıcı
Name[uk]=Таймер
Name[x-test]=xxTimerxx
Name[zh_CN]=计时器
Name[zh_TW]=計時器
Comment=Countdown over a specified time period
Comment[cs]=Odpočítávání událostí
Comment[de]=Einen bestimmten Zeitabschnitt zurückzählen
Comment[el]=Αντίστροφη μέτρηση για συγκεκριμένο χρονικό διάστημα
Comment[es]=Cuenta atrás para un periodo de tiempo especificado
Comment[et]=Määratud ajavahemiku mõõtmine
Comment[fr]=Décompte le temps pendant une certaine durée
Comment[gl]=Conta atrás durante un tempo especificado
Comment[it]=Conto alla rovescia a partire da un momento specificato
Comment[ja]=指定された時間をカウントダウンします
Comment[km]=រាប់​រយៈពេល​ដែល​បាន​បញ្ជាក់
Comment[nds]=De Tiet över en angeven Tiet daaltellen
Comment[nl]=Aftellen over een bepaalde periode
Comment[pt]=Contagem decrescente para um determinado período
Comment[pt_BR]=Contagem decrescente de um período de tempo especificado
Comment[ru]=Обратный отчёт на выбранный период времени
Comment[sv]=Nerräkning under ett angivet tidsintervall
Comment[tr]=Belirlenen bir süre boyunca geri sayım yap
Comment[uk]=Зворотній відлік визначеного часу
Comment[x-test]=xxCountdown over a specified time periodxx
Comment[zh_CN]=在指定时间段倒计时
Comment[zh_TW]=倒數計時
Type=Service
Icon=chronometer
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_timer
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=timer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

