[Desktop Entry]
Encoding=UTF-8
Name=Timer
Name[et]=Taimer
Name[gl]=Temporizador
Name[pt]=Cronómetro
Name[pt_BR]=Cronómetro
Name[tr]=Zamanlayıcı
Name[uk]=Таймер
Name[zh_TW]=計時器
Comment=A timer plasmoid.
Comment[et]=Taimeri plasmoid.
Comment[gl]=Un plasmoide cun temporizador.
Comment[pt]=Um plasmóide de cronómetro.
Comment[pt_BR]=Um plasmóide de cronómetro.
Comment[tr]=Zamanlayıcı plasma programcığı.
Comment[uk]=Плазмоїд таймера.
Comment[zh_TW]=計時器元件。
Type=Service
Icon=chronometer
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_timer
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=timer
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

