[Desktop Entry]
Encoding=UTF-8
Name=Eyes
Comment=XEyes clone
Icon=eyes
Type=Service
ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Olivier Goffart, Davide Bettio
X-KDE-PluginInfo-Email=bettio@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.eyes
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPL

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/eyes.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
