[Desktop Entry]
Name=Keyboard Indicator
Name[ca]=Indicador de teclat
Name[ca@valencia]=Indicador de teclat
Name[cs]=Indikátor klávesnice
Name[da]=Tastaturindikator
Name[de]=Tastaturstatus
Name[el]=Ένδειξη πληκτρολογίου
Name[en_GB]=Keyboard Indicator
Name[es]=Indicador del teclado
Name[eu]=Teklatuaren adierazlea
Name[fi]=Näppäimistöosoitin
Name[fr]=Indicateur de clavier
Name[gl]=Indicador de teclado
Name[hu]=Billentyűzetjelző
Name[id]=Keyboard Indicator
Name[it]=Indicatore tastiera
Name[ko]=키보드 표시기
Name[nl]=Toetsenbordindicator
Name[nn]=Tastaturindikator
Name[pl]=Wskaźnik klawiatury
Name[pt]=Indicador do Teclado
Name[pt_BR]=Indicador de teclado
Name[ru]=Индикатор клавиатуры
Name[sk]=Indikátor klávesnice
Name[sv]=Tangentbordsindikator
Name[uk]=Індикатор клавіатури
Name[x-test]=xxKeyboard Indicatorxx
Name[zh_CN]=键盘指示器
Name[zh_TW]=鍵盤指示符號
Comment=Shows the state of the keyboard
Comment[ca]=Mostra l'estat del teclat
Comment[ca@valencia]=Mostra l'estat del teclat
Comment[cs]=Ukazuje stav klávesnice
Comment[da]=Viser tastaturets tilstand
Comment[de]=Zeigt den Status der Tastatur an
Comment[el]=Εμφανίζει την κατάσταση του πληκτρολογίου
Comment[en_GB]=Shows the state of the keyboard
Comment[es]=Muestra el estado del teclado
Comment[eu]=Erakutsi teklatuaren egoera
Comment[fi]=Näyttää näppäimistön tilan
Comment[fr]=Affiche l'état du clavier
Comment[gl]=Mostra o estado do teclado.
Comment[hu]=Megjeleníti a billentyűzet állapotát
Comment[id]=Menampilkan keadaannya keyboard
Comment[it]=Mostra lo stato della tastiera
Comment[ko]=키보드 상태 보이기
Comment[nl]=Toont de status van het toetsenbord
Comment[nn]=Viser tastaturtilstand
Comment[pl]=Pokazuje stan klawiatury
Comment[pt]=Mostra o estado do teclado
Comment[pt_BR]=Mostra o estado do teclado
Comment[ru]=Показывает текущее состояние клавиатуры
Comment[sk]=Zobrazuje stav klávesnice
Comment[sv]=Visar tangentbordets tillstånd
Comment[uk]=Показує стан клавіатури
Comment[x-test]=xxShows the state of the keyboardxx
Comment[zh_CN]=显示键盘的状态
Comment[zh_TW]=顯示鍵盤的狀態
Icon=input-keyboard

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.keyboardindicator
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
X-Plasma-MainScript=ui/main.qml
X-Plasma-API=declarativeappletscript
