[Desktop Entry]
Name=RSSNOW
Name[ar]=RSSNOW
Name[ca]=RSSNOW
Name[cs]=RSSNOW
Name[da]=RSSNOW
Name[de]=RSSNOW
Name[el]=RSSNOW
Name[en_GB]=RSSNOW
Name[es]=RSSNOW
Name[et]=RSSNOW
Name[eu]=RSSNOW
Name[fi]=RSSNOW
Name[fr]=RSSNOW
Name[ga]=RSSNOW
Name[gl]=RSSNOW
Name[he]=RSSNOW
Name[hu]=RSSNOW
Name[is]=RSSNOW
Name[it]=RSSNOW
Name[ja]=RSSNOW
Name[km]=RSSNOW
Name[ko]=RSSNOW
Name[ku]=RSSNOW
Name[lt]=RSSNOW
Name[lv]=RSSNOW
Name[nb]=RSSNOW
Name[nds]=RSSNOW
Name[nl]=RSSNOW
Name[nn]=RSSNOW
Name[pa]=RSSNOW
Name[pl]=RSSNOW
Name[pt]=RSSNOW
Name[pt_BR]=RSSNOW
Name[ro]=RSSNOW
Name[ru]=RSSNOW
Name[sk]=RSSNOW
Name[sl]=RSSNOW
Name[sr]=РСС‑одмах
Name[sr@latin]=RSS‑odmah
Name[sv]=RSSNOW
Name[th]=RSSNOW
Name[tr]=RSSNOW
Name[uk]=RSSNOW
Name[wa]=RSSNOW
Name[x-test]=xxRSSNOWxx
Name[zh_CN]=RSSNOW
Name[zh_TW]=RSSNOW
Comment=Show news from various sources
Comment[ar]=أظهر الأخبار من مصادر متعددة
Comment[ca]=Mostra les notícies de diverses fonts
Comment[cs]=Zobrazit novinky z různých zdrojů
Comment[da]=Viser nyheder fra forskellige kilder.
Comment[de]=Neuigkeiten aus verschiedenen Quellen anzeigen
Comment[el]=Εμφάνιση ειδήσεων από διάφορες πηγές.
Comment[en_GB]=Show news from various sources
Comment[es]=Muestra noticias de varias fuentes
Comment[et]=Mitmest allikast uudiste näitamine
Comment[eu]=Erakutsi iturburu desberdinetako berriak
Comment[fi]=Näyttää uutisia useista eri lähteistä
Comment[fr]=Affiche des brèves depuis diverses sources
Comment[ga]=Taispeáin nuacht ó fhoinsí éagsúla
Comment[gl]=Mostra as novas de varias fontes.
Comment[he]=מציג חדשות ממקורות שונים
Comment[hu]=Hírek letöltése RSS-típusú hírforrásokból
Comment[is]=Sýna fréttir frá mismunandi uppruna
Comment[it]=Mostra notizie da varie fonti
Comment[ja]=さまざまなソースからニュースを表示します
Comment[km]=បង្ហាញ​ព័ត៌មាន​ពី​ប្រភព​ផ្សេងៗ
Comment[ko]=다양한 뉴스 보여주기
Comment[ku]=Jê çavkaniyên cur bi cur nûçe yan nîşan bide
Comment[lt]=Žinių iš įvairių šaltinių rodymui
Comment[lv]=Rādīt ziņas no dažādiem avotiem
Comment[nb]=Vis nyheter fra ymse kilder
Comment[nds]=Narichten vun verscheden Borns wiesen
Comment[nl]=Toont nieuws van verschillende bronnen
Comment[nn]=Vis nyheiter frå ulike kjelder
Comment[pl]=Pokazywanie wiadomości z różnych źródeł
Comment[pt]=Mostrar notícias de várias fontes
Comment[pt_BR]=Mostrar notícias de várias fontes
Comment[ro]=Afișează noutăți din diverse surse
Comment[ru]=Отображение новостей из различных источников
Comment[sk]=Zobrazenie noviniek z rôznych zdrojov
Comment[sl]=Prikaže novice iz različnih virov
Comment[sr]=Приказује вести из различитих извора
Comment[sr@latin]=Prikazuje vesti iz različitih izvora
Comment[sv]=Visa nyheter från olika källor
Comment[th]=แสดงข่าวต่าง ๆ จากแหล่งข่าวหลาย ๆ ที่
Comment[tr]=Çeşitli kaynaklardan haberleri göster
Comment[uk]=Показати новини від різноманітних джерел
Comment[wa]=Mostrer des noveles a pårti d' sacwants sourdants
Comment[x-test]=xxShow news from various sourcesxx
Comment[zh_CN]=从多个来源显示新闻
Comment[zh_TW]=顯示不同的來源的新聞
Type=Service
Icon=application-rss+xml
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_rssnow
X-KDE-PluginInfo-Author=Rob Scheepmaker
X-KDE-PluginInfo-Email=r.scheepmaker@student.utwente.nl
X-KDE-PluginInfo-Name=rssnow
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

