[Desktop Entry]
Name=RSSNOW
Comment=Show news from various sources
Comment[el]=Εμφάνιση ειδήσεων από διάφορες πηγές.
Comment[gl]=Mostra as novas de varias fontes.
Comment[ja]=さまざまなソースからニュースを表示します
Comment[pt]=Mostrar notícias de várias fontes
Comment[pt_BR]=Mostrar notícias de várias fontes
Comment[sv]=Visa nyheter från olika källor
Comment[uk]=Показати новини від різноманітних джерел
Comment[zh_TW]=顯示不同的來源的新聞
Type=Service
Icon=application-rss+xml
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_rssnow
X-KDE-PluginInfo-Author=Rob Scheepmaker
X-KDE-PluginInfo-Email=r.scheepmaker@student.utwente.nl
X-KDE-PluginInfo-Name=rssnow
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

