[Desktop Entry]
Name=Picture Frame
Comment=Display your favorite pictures
Icon=view-preview
Type=Service
X-Plasma-DropMimeTypes=image/jpeg,image/png

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_frame
X-KDE-PluginInfo-Author=Anne-Marie Mahfouf
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=frame
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/PictureFrame
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Optional
