[Desktop Entry]
Name=Picture Frame
Name[ar]=إطار الصورة
Name[ast]=Marcu d'imáxenes
Name[bs]=uramljena slika
Name[ca]=Marc de fotografies
Name[ca@valencia]=Marc de fotografies
Name[cs]=Rámeček obrázku
Name[csb]=Ramka òbrazu
Name[da]=Billedramme
Name[de]=Bilderrahmen
Name[el]=Πλαίσιο εικόνας
Name[en_GB]=Picture Frame
Name[es]=Marco de imágenes
Name[et]=Pildiraam
Name[eu]=Irudi markoa
Name[fi]=Kuvakehys
Name[fr]=Cadre de photos
Name[ga]=Fráma Pictiúir
Name[gl]=Portarretratos
Name[he]=מסגרת תמונה
Name[hr]=Okvir za sliku
Name[hu]=Képkeret
Name[is]=Myndarammi
Name[it]=Cornice immagine
Name[ja]=写真フレーム
Name[kk]=Сурет
Name[km]=ស៊ុម​រូបភាព
Name[ko]=그림 액자
Name[ku]=Çarçoveya Wêneyê
Name[lt]=Paveikslėlių rėmelis
Name[lv]=Attēla rāmis
Name[mr]=छायाचित्र फ्रेम
Name[nb]=Bilderamme
Name[nds]=Bildrahmen
Name[nl]=Fotolijst
Name[nn]=Biletramme
Name[pa]=ਤਸਵੀਰ ਫਰੇਮ
Name[pl]=Ramka na zdjęcia
Name[pt]=Moldura de Imagens
Name[pt_BR]=Moldura de imagens
Name[ro]=Cadru imagine
Name[ru]=Фоторамка
Name[sk]=Rámček obrázku
Name[sl]=Okvir s sliko
Name[sr]=урамљена слика
Name[sr@ijekavian]=урамљена слика
Name[sr@ijekavianlatin]=uramljena slika
Name[sr@latin]=uramljena slika
Name[sv]=Bildram
Name[th]=กรอบแสดงภาพ
Name[tr]=Fotoğraf Çerçevesi
Name[uk]=Картинна рамка
Name[wa]=Cwåde di foto
Name[x-test]=xxPicture Framexx
Name[zh_CN]=桌面像框
Name[zh_TW]=圖片框架
Comment=Display your favorite pictures
Comment[ar]=اعرض صورك المفضلة
Comment[ast]=Amuesa les tos imáxenes favorites
Comment[bs]=Prikazuje vaše omiljene slike
Comment[ca]=Mostra les fotografies preferides
Comment[ca@valencia]=Mostra les fotografies preferides
Comment[cs]=Zobrazit vaše oblíbené obrázky
Comment[csb]=Wëskrzëni swòj lubòtny òbrôzk
Comment[da]=Vis dine yndlingsbilleder.
Comment[de]=Zeigt Ihre Lieblingsbilder an
Comment[el]=Εμφάνιση των αγαπημένων εικόνων σας
Comment[en_GB]=Display your favourite pictures
Comment[es]=Muestra sus imágenes favoritas
Comment[et]=Lemmikpiltide näitamine
Comment[eu]=Zure irudi gogokoak bistaratu
Comment[fi]=Näytä suosikkikuvasi
Comment[fr]=Affiche vos images préférées
Comment[ga]=Taispeáin na pictiúir is ansa leat
Comment[gl]=Mostra as súas imaxes favoritas
Comment[he]=הצג את התמונות המועדפות עליך
Comment[hr]=Prikažite Vaše omiljene slike
Comment[hu]=Megjeleníti kedvenc képeit
Comment[is]=Birtir uppáhaldsmyndirnar þínar
Comment[it]=Mostra le tue immagini preferite
Comment[ja]=お気に入りの写真を表示します
Comment[kk]=Таңдамалы суреттеріңізді көрсету
Comment[km]=បង្ហាញ​រូបភាព​ពេញចិត្ត​របស់​អ្នក
Comment[ko]=좋아하는 그림 보기
Comment[ku]=Wêneyên xwe yên bijarte nîşan bide
Comment[lt]=Rodyti jūsų mėgstamus paveikslėlius
Comment[lv]=Rāda jūsu iecienītos attēlus
Comment[mr]=तुमच्या पसंतीची छायाचित्रे दर्शवा
Comment[nb]=Vis dine yndlingsbilder
Comment[nds]=Wiest Dien leevst Biller
Comment[nl]=Toon uw favoriete afbeeldingen
Comment[nn]=Vis favorittbileta dine
Comment[pa]=ਆਪਣੀਆਂ ਪਸੰਦੀਆਂ ਤਸਵੀਰਾਂ ਵੇਖੋ
Comment[pl]=Wyświetla Twoje ulubione zdjęcia
Comment[pt]=Mostra as suas imagens favoritas
Comment[pt_BR]=Mostra as suas imagens favoritas
Comment[ro]=Afișează imaginile dumneavoastră preferate
Comment[ru]=Слайд-шоу из любимых изображений
Comment[sk]=Zobrazenie vašich obľúbených obrázkov
Comment[sl]=Prikazuje vaše najljubše slike
Comment[sr]=Приказује ваше омиљене слике
Comment[sr@ijekavian]=Приказује ваше омиљене слике
Comment[sr@ijekavianlatin]=Prikazuje vaše omiljene slike
Comment[sr@latin]=Prikazuje vaše omiljene slike
Comment[sv]=Visa dina favoritbilder
Comment[th]=แสดงรูปภาพต่าง ๆ ที่คุณชื่นชอบ
Comment[tr]=En sevdiğiniz fotoğraflarınız masaüstünde
Comment[uk]=Відображає ваші улюблені картинки
Comment[wa]=Håynêye les fotos k' vos veyoz voltî
Comment[x-test]=xxDisplay your favorite picturesxx
Comment[zh_CN]=显示您喜欢的图片
Comment[zh_TW]=顯示您最愛的圖片
Icon=view-preview
Type=Service
X-Plasma-DropMimeTypes=image/jpeg,image/png

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_frame
X-KDE-PluginInfo-Author=Anne-Marie Mahfouf
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=frame
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/PictureFrame
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Optional
