[Desktop Entry]
Name=Picture Frame
Comment=Display your favorite pictures
Icon=image-jpeg2000
Type=Service
X-Plasma-DropMimeTypes=image/jpeg,image/png

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_frame
X-KDE-PluginInfo-Author=Anne-Marie Mahfouf
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=frame
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
