[Desktop Entry]
Name=Now Playing
Name[ca]=Ara s'està escoltant
Name[da]=Afspiller nu
Name[el]=Τρέχουσα αναπαραγωγή
Name[es]=Reproduciendo ahora
Name[et]=Praegu esitamisel
Name[fr]=En écoute
Name[ga]=Á Sheinm Anois
Name[gl]=A reproducir
Name[ja]=今聴いているもの
Name[km]=កំពុង​ចាក់
Name[ko]=지금 재생 중
Name[lv]=Šobrīd atskaņo
Name[nds]=Lopen Stück
Name[pt]=Agora a Tocar
Name[pt_BR]=Agora a Tocar
Name[sl]=Trenutno se predvaja
Name[sr]=тренутна свирка
Name[sr@latin]=trenutna svirka
Name[sv]=Spelar nu
Name[tr]=Şimdi Çalınıyor
Name[uk]=Зараз відтворюється
Name[x-test]=xxNow Playingxx
Name[zh_CN]=现在收听
Name[zh_TW]=現正播放

Comment=Displays currently playing audio
Comment[ca]=Mostra la reproducció actual d'àudio
Comment[da]=Viser musik som aktuelt afspilles 
Comment[el]=Εμφάνιση κομματιού που αναπαράγεται αυτήν τη στιγμή
Comment[es]=Muestra el audio que se está reproduciendo
Comment[et]=Näitab parajasti mängitavat muusikat
Comment[fr]=Montre les éléments en cours de lecture
Comment[ga]=Taispeáin an ceol á sheinm anois
Comment[gl]=Mostra o son a reproducir
Comment[ja]=今聴いている音楽を表示します
Comment[km]=បង្ហាញ​អូឌីយ៉ូ​ដែល​កំពុង​ចាក់​បច្ចុប្បន្ន
Comment[ko]=지금 재생 중인 곡을 표시합니다
Comment[lv]=Parāda šobrīd atskaņoto skaņdarbu
Comment[nds]=Wiest opstunns afspeelt Stücken
Comment[pt]=Mostra o áudio actualmente em reprodução
Comment[pt_BR]=Mostra o áudio actualmente em reprodução
Comment[sl]=Prikaz skladbe, ki se trenutno predvaja
Comment[sr]=Која се то музика управо пушта?
Comment[sr@latin]=Koja se to muzika upravo pušta?
Comment[sv]=Visar musik som för närvarande spelas
Comment[tr]=O anda çalınan sesi gösterir
Comment[uk]=Показує інформацію про аудіо, що відтворюється
Comment[x-test]=xxDisplays currently playing audioxx
Comment[zh_CN]=显示正在收听的音乐
Comment[zh_TW]=顯示目前播放的音樂

Icon=applications-multimedia
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_nowplaying
X-KDE-PluginInfo-Author=Alex Merry
X-KDE-PluginInfo-Email=alex.merry@kdemail.net
X-KDE-PluginInfo-Name=nowplaying
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
