[Desktop Entry]
Encoding=UTF-8
Name=Binary Clock
Comment=A binary clock
Icon=chronometer
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_binaryclock
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=binaryclock
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
