[Desktop Entry]
Name=Flip Switch
Name[ar]=مبدل التقليب
Name[az]=Kartlar kimi çevirmək
Name[ca]=Canvi en roda
Name[ca@valencia]=Canvi en roda
Name[cs]=Kartotéka
Name[de]=3D-Fensterstapel
Name[en_GB]=Flip Switch
Name[es]=Selección en cascada
Name[fi]=Kääntövaihtaja
Name[fr]=Empilement en perspective
Name[ia]=Commutator de  colpetto (Flip)
Name[it]=Selezione a pila
Name[ja]=フリップスイッチ
Name[ko]=플립 전환기
Name[nl]=Flip Switch
Name[nn]=Stabelvekslar
Name[pl]=Przełączanie przebierane
Name[pt_BR]=Seletor em pilha
Name[ro]=Schimbare cu întoarcere
Name[ru]=Перелистывание
Name[sk]=Prepínať v kartotéke
Name[sl]=Preklop obrata
Name[sv]=Blädderbyte
Name[uk]=Тасування карток
Name[vi]=Chuyển kiểu lật
Name[x-test]=xxFlip Switchxx
Name[zh_CN]=翻转切换
Comment=A Window Switcher layout showing thumbnails as a 3D card deck
Comment[ar]=مبدل نوافذ يعرض كل النوافذ كمجموعة بطاقات ثلاثية الأبعاد
Comment[az]=Pəncərə dəyişdiricisi qatı, eskizləri 3D kartdəsti kimi göstərir
Comment[ca]=Una disposició del commutador de finestres que mostra les miniatures com una baralla de cartes en 3D
Comment[ca@valencia]=Una disposició del commutador de finestres que mostra les miniatures com una baralla de cartes en 3D
Comment[cs]=Rozvržení přepínače oken zobrazující náhledy jako 3D balíček karet
Comment[en_GB]=A Window Switcher layout showing thumbnails as a 3D card deck
Comment[es]=Un esquema de selección de ventanas que muestra miniaturas como una baraja de cartas en 3D
Comment[fi]=Ikkunanvalitsinasettelu, joka näyttää ikkunoiden pienoiskuvat 3D-korttipakkana
Comment[fr]=Une disposition du sélecteur de fenêtres affichant des vignettes comme un jeu de cartes en 3D
Comment[ia]=Un disposition de commutator de fenestra monstrante miniaturas como un joco de cartas
Comment[it]=Una disposizione del selettore delle finestre che mostra le miniature come mazzo di carte 3D
Comment[ja]=3Dカードデッキのようにサムネイルを表示するウィンドウスイッチャーレイアウト
Comment[ko]=축소판을 3D 카드 덱으로 표시하는 창 전환기 레이아웃
Comment[nl]=Een indeling van de vensterwisselaar die miniaturen toont als een 3D-kaartspel
Comment[nn]=Vindaugsbytar som viser miniatyrbilete som ein 3D-kortstokk
Comment[pl]=Przełącznik okien z miniaturami jako stos kart 3D
Comment[pt_BR]=Um layout do seletor de janelas que mostra as miniaturas como um baralho de cartas 3D
Comment[ro]=Aranjament pentru comutatorul de ferestre arătând miniaturi ca pachet de cărți 3D
Comment[ru]=Переключатель окон, использующий объёмный эффект стопки карточек
Comment[sk]=Rozloženie prepínača okien zobrazujúce miniatúry ako balíček 3D kariet
Comment[sl]=Preklopnik med okni, ki vsa okna prikazuje kot 3D kup igralnih kart
Comment[sv]=En layout för fönsterbyte som visar miniatyrbilder som en tredimensionell kortlek
Comment[uk]=Компонування засобу перемикання вікон з мініатюрами вікон у вигляді колоди карт
Comment[vi]=Bố cục trình chuyển cửa sổ hiển thị các hình nhỏ thành một tập bài 3D
Comment[x-test]=xxA Window Switcher layout showing thumbnails as a 3D card deckxx
Comment[zh_CN]=一款将缩略图显示为 3D 卡片的窗口切换器。
Icon=preferences-system-windows-effect-flipswitch

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Ismael Asensio
X-KDE-PluginInfo-Email=isma.af@gmail.com
X-KDE-PluginInfo-Name=flipswitch
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
