[Desktop Entry]
Type=Service
Name=Weather
Name[ca]=Meteorologia
Name[de]=Wetter
Name[el]=Καιρός
Name[es]=Meteorología
Name[et]=Ilm
Name[ga]=Aimsir
Name[nds]=Weder
Name[pt]=Meteorologia
Name[pt_BR]=Previsão do tempo
Name[sv]=Väder
Name[tr]=Hava Durumu
Name[uk]=Погода
Name[x-test]=xxWeatherxx
Name[zh_CN]=天气
Name[zh_TW]=天氣
Icon=weather-clear
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_weather
X-KDE-PluginInfo-Author=Jonathan Thomas
X-KDE-PluginInfo-Email=echidnaman@kubuntu.org
X-KDE-PluginInfo-Name=weather
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
