[Desktop Entry]
Type=Service
Name=Weather
Name[ar]=الطقس
Name[ca]=Meteorologia
Name[cs]=Počasí
Name[da]=Vejr
Name[de]=Wetter
Name[el]=Καιρός
Name[en_GB]=Weather
Name[es]=Meteorología
Name[et]=Ilm
Name[fr]=Météo
Name[ga]=Aimsir
Name[gl]=O tempo
Name[hu]=Időjárás
Name[is]=Veður
Name[it]=Meteo
Name[ja]=天気
Name[km]=អាកាសធាតុ
Name[lv]=Laikapstākļi
Name[mai]=मौसम
Name[nb]=Været
Name[nds]=Weder
Name[nl]=Weer
Name[nn]=Vêr
Name[pa]=ਮੌਸਮ
Name[pl]=Pogoda
Name[pt]=Meteorologia
Name[pt_BR]=Previsão do tempo
Name[ro]=Vreme
Name[sk]=Počasie
Name[sl]=Vreme
Name[sr]=време
Name[sr@latin]=vreme
Name[sv]=Väder
Name[tr]=Hava Durumu
Name[uk]=Погода
Name[wa]=Meteyo
Name[x-test]=xxWeatherxx
Name[zh_CN]=天气
Name[zh_TW]=天氣
Icon=weather-clear
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_weather
X-KDE-PluginInfo-Author=Jonathan Thomas
X-KDE-PluginInfo-Email=echidnaman@kubuntu.org
X-KDE-PluginInfo-Name=weather
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
