[Desktop Entry]
Type=Service
Name=Weather
Name[ar]=الطقس
Name[ast]=Meteoroloxía
Name[bs]=Vrijeme
Name[ca]=Meteorologia
Name[ca@valencia]=Meteorologia
Name[cs]=Počasí
Name[da]=Vejr
Name[de]=Wetter
Name[el]=Καιρός
Name[en_GB]=Weather
Name[eo]=Vetero
Name[es]=Meteorología
Name[et]=Ilm
Name[fi]=Sää
Name[fr]=Météo
Name[ga]=Aimsir
Name[gl]=Tempo meteorolóxico
Name[hr]=Vrijeme
Name[hu]=Időjárás
Name[is]=Veður
Name[it]=Meteo
Name[ja]=天気
Name[kk]=Ауа райы
Name[km]=អាកាសធាតុ
Name[ko]=날씨
Name[lt]=Orai
Name[lv]=Laikapstākļi
Name[mr]=हवामान
Name[nb]=Været
Name[nds]=Weder
Name[nl]=Weer
Name[nn]=Vêr
Name[pa]=ਮੌਸਮ
Name[pl]=Pogoda
Name[pt]=Meteorologia
Name[pt_BR]=Meteorologia
Name[ro]=Vreme
Name[ru]=Погода
Name[sk]=Počasie
Name[sl]=Vreme
Name[sq]=Moti
Name[sr]=време
Name[sr@ijekavian]=вријеме
Name[sr@ijekavianlatin]=vrijeme
Name[sr@latin]=vreme
Name[sv]=Väder
Name[th]=พยากรณ์อากาศ
Name[tr]=Hava Durumu
Name[ug]=ھاۋا رايى
Name[uk]=Погода
Name[wa]=Meteyo
Name[x-test]=xxWeatherxx
Name[zh_CN]=天气
Name[zh_TW]=天氣
Comment=Images that reflect the weather outside
Comment[fi]=Säänmukaiset kuvat
Comment[gl]=Imaxes que reflicten o tempo que vai fóra.
Comment[it]=Immagini che riflettono le condizioni meteo esterne
Comment[nl]=Afbeeldingen die het weer buiten laten zien
Comment[pt]=Imagens que reflectem o tempo exterior
Comment[pt_BR]=Imagens que refletem o tempo exterior
Comment[ru]=Изображения, показывающие погоду за окном
Comment[sk]=Obrázky, ktoré odrážajú počasie vonku
Comment[sr]=Слике које одражавају време напољу
Comment[sr@ijekavian]=Слике које одражавају време напољу
Comment[sr@ijekavianlatin]=Slike koje odražavaju vreme napolju
Comment[sr@latin]=Slike koje odražavaju vreme napolju
Comment[sv]=Bilder som återger vädret utomhus
Comment[uk]=Зображення, що відповідають погоді надворі
Comment[x-test]=xxImages that reflect the weather outsidexx
Icon=weather-clear
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_weather
X-KDE-PluginInfo-Author=Jonathan Thomas
X-KDE-PluginInfo-Email=echidnaman@kubuntu.org
X-KDE-PluginInfo-Name=weather
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
