[Desktop Entry]
Encoding=UTF-8
Name=LCD Weather Station
Name[ar]=محطة الطقس المسطحة
Name[ca]=Estació meteorològica LCD
Name[cs]=LCD meteostanice
Name[da]=LCD-vejrstation
Name[de]=LCD-Wetterstation
Name[el]=Μετεωρολογικός σταθμός LCD
Name[en_GB]=LCD Weather Station
Name[es]=Estación meteorológica LCD
Name[et]=LCD ilmateade
Name[eu]=LCD eguraldi gunea
Name[fi]=LCD-sääasema
Name[fr]=Station météo LCD
Name[ga]=Stáisiún Aimsire LCD
Name[gl]=Estación meteorolóxica LCD
Name[he]=דיווחי מזג האוויר LCD
Name[hu]=Időjárás-jelentés (LCD)
Name[is]=LCD veðurstöð
Name[it]=Stazione meteorologica a cristalli liquidi
Name[ja]=LCD 気象レポート
Name[km]=ស្ថានីយ​អាកាសធាតុ​ LCD
Name[ko]=LCD 날씨 스테이션
Name[ku]=LCD Îstasyona Hewayê
Name[lt]=LCD orų stotis
Name[lv]=LCD laikapstākļu stacija
Name[nb]=LCD værstasjon
Name[nds]=LCD-Wederstatschoon
Name[nl]=LCD weerstation
Name[nn]=LCD-vêrstasjon
Name[pa]=LCD ਮੌਸਮ ਸਟੇਸ਼ਨ
Name[pl]=Stacja pogodowa LCD
Name[pt]=Estação Meteorológica LCD
Name[pt_BR]=Estação meteorológica LCD
Name[ro]=Stație meteo ECL
Name[ru]=ЖКД-метеосводка
Name[sk]=LCD meteorologická stanica
Name[sl]=LCD vremenska postaja
Name[sr]=ЛЦД метеостаница
Name[sr@latin]=LCD meteostanica
Name[sv]=Väderstation
Name[th]=สถานีรายงานสภาพอากาศแบบ LCD
Name[tr]=LCD Hava Durumu İstasyonu
Name[uk]=Метеорологічна станція на дисплеї
Name[wa]=Sitåcion meteyo LCD
Name[x-test]=xxLCD Weather Stationxx
Name[zh_CN]=液晶气象站
Name[zh_TW]=LCD 氣象站
Comment=Weather reports with an LCD display style
Comment[ar]=تقارير الطقس  بنمط عرض شاشة مسطحة
Comment[ca]=Informes meteorològics en una pantalla d'estil LCD
Comment[cs]=Zprávy o počasí se stylem zobrazení LCD
Comment[da]=Vejrudsigt med stil som en LCD-skærm.
Comment[de]=Wetterberichte im LCD-Stil
Comment[el]=Αναφορά καιρού με στυλ εμφάνισης LCD
Comment[en_GB]=Weather reports with an LCD display style
Comment[es]=Informes meteorológicos con un estilo de pantalla LCD
Comment[et]=Ilmateade LCD stiilis
Comment[eu]=Eguraldi txostenak LCD bistaraketa tankerarekin
Comment[fi]=Säätiedotukset LCD-tyylisesti
Comment[fr]=Affiche des bulletins météo avec un style LCD
Comment[ga]=Réamhaisnéis aimsire i stíl taispeána LCD
Comment[gl]=Boletíns meteorolóxicos cun estilo de pantalla LCD
Comment[he]=דיווחי מזג האוויר עם סגנון הצגה LCD
Comment[hu]=Időjárás-előrejelző LCD-stílusban
Comment[is]=Veðurupplýsingar með LCD-skjá
Comment[it]=Informazioni meteorologiche con uno schermo a cristalli liquidi
Comment[ja]=LCD 表示による気象レポート
Comment[km]=របាយការណ៍​អាកាស​ធាតុ​ជា​មួយ​នឹង​រចនាប័ទ្ម​បង្ហាញ LCD
Comment[ko]=LCD 형태로 날씨를 보여 줍니다
Comment[ku]=Raporên hewayê bi teşeya nîşandana LCD re
Comment[lt]=Orų pranešimams LCD stiliumi
Comment[lv]=Rāda laika ziņas LCD stilā
Comment[nb]=Værmeldinger med visning i LCD-stil
Comment[nds]=Wederberichten mit en LCD-Dorstellstil
Comment[nl]=Weerberichten met een LCD-achtig display
Comment[nn]=Vêret nett no – i LCD-stil
Comment[pa]=ਇੱਕ LCD ਡਿਸਪਲੇਅ ਸਟਾਇਲ ਨਾਲ ਮੌਸਮ ਰਿਪੋਰਟ
Comment[pl]=Raporty o pogodzie pokazywane w stylu LCD
Comment[pt]=Boletins meteorológicos com um estilo de visualização LCD
Comment[pt_BR]=Informações meteorológicas com um estilo de visualização LCD
Comment[ro]=Rapoarte meteo cu un stil de Ecran cu Cristale Lichide
Comment[ru]=Сообщение о погоде на LCD-экране
Comment[sk]=Správy o počasí v štýle LCD displeja
Comment[sl]=Vremenska poročila, prikazna v slogu LCD
Comment[sr]=Извештаји о времену преко ЛЦД екрана
Comment[sr@latin]=Izveštaji o vremenu preko LCD ekrana
Comment[sv]=Väderrapport visad med LCD-stil
Comment[th]=รายงานสภาพอากาศโดยใช้รูปแบบการแสดงผลแบบ LCD
Comment[tr]=LCD biçiminde hava durumu raporları
Comment[uk]=Прогнози погоди на маленькому дисплеї
Comment[wa]=Rapoirts del meteyo avou on stîle di håynaedje LCD
Comment[x-test]=xxWeather reports with an LCD display stylexx
Comment[zh_CN]=液晶样式显示的天气报告
Comment[zh_TW]=以 LCD 風格顯示氣象報告
Type=Service
Icon=weather-clouds
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_weatherstation
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=weatherstation
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true

