[Desktop Entry]
Name=Icon-Only Task Manager
Name[ca]=Gestor de tasques de només icones
Name[da]=Opgavelinje kun med ikoner
Name[de]=Symbol-Fensterleiste
Name[es]=Gestor de tareas de sólo iconos
Name[et]=Ainult ikoonidega tegumihaldur
Name[hu]=Ikonos feladatkezelő
Name[it]=Gestore attività con sole icone
Name[kk]=Тек таңбашалы тапсырмалар менеджері
Name[km]=តែ​រូបតំណាង​កម្មវិធី​គ្រប់គ្រង​ភារកិច្ច
Name[nb]=Oppgavebehandler med bare ikoner
Name[nds]="Bloots-Lüttbild"-Opgavenpleger
Name[nl]=Takenbeheer met alleen pictogrammen
Name[pa]=ਕੇਵਲ ਆਈਕਾਨ ਟਾਸਕ ਮੈਨੇਜਰ
Name[pt]=Gestor de Tarefas com Ícones
Name[pt_BR]=Gerenciador de tarefas com ícones
Name[sv]=Aktivitetshanterare med bara ikoner
Name[uk]=Керування задачами за допомогою піктограм
Name[x-test]=xxIcon-Only Task Managerxx
Name[zh_CN]=图标任务管理器
Name[zh_TW]=只有圖示的工作管理員
Comment=Switch between running applications
Comment[ca]=Commuta entre aplicacions en execució
Comment[da]=Skift mellem kørende programmer
Comment[de]=Zwischen laufenden Programmen wechseln
Comment[es]=Cambiar entre las aplicaciones en ejecución
Comment[et]=Lülitumine töötavate rakenduste vahel
Comment[hu]=Váltás a futó alkalmazások között
Comment[it]=Passa da un'applicazione in esecuzione all'altra
Comment[kk]=Жегілген қолданбаларды ақтару
Comment[km]=ប្ដូរ​រវាង​កម្មវិធី​ដែល​កំពុង​រត់
Comment[nb]=Bytt mellom kjørende programmer
Comment[nds]=Twischen lopen Programmen wesseln
Comment[nl]=Schakel tussen draaiende programma's
Comment[nn]=Byt mellom program som køyrer
Comment[pa]=ਚੱਲਦੀਆਂ ਐਪਲੀਕੇਸ਼ਨਾਂ ਬਦਲੋ
Comment[pt]=Mudar de aplicações em execução
Comment[pt_BR]=Alterna entre os aplicativos em execução
Comment[sv]=Byt mellan program som kör
Comment[uk]=Перемкніть запущені програми
Comment[x-test]=xxSwitch between running applicationsxx
Comment[zh_CN]=在运行中的应用程序间切换
Comment[zh_TW]=在執行中的應用程式間切換
Icon=preferences-desktop-icons
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_icontasks
X-KDE-PluginInfo-Author=Craig Drummond
X-KDE-PluginInfo-Email=craig@kde.org
X-KDE-PluginInfo-Name=icontasks
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=false
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

