[Desktop Entry]
Name=Icon-Only Task Manager
Name[bs]=Icon-Only upravljač zadacima
Name[ca]=Gestor de tasques de només icones
Name[ca@valencia]=Gestor de tasques de només icones
Name[cs]=Ikonový správce úloh
Name[da]=Opgavelinje kun med ikoner
Name[de]=Symbol-Fensterleiste
Name[el]=Διαχειριστής εργασιών με εικονίδια μόνο
Name[es]=Gestor de tareas de solo iconos
Name[et]=Ainult ikoonidega tegumihaldur
Name[fi]=Kuvaketehtävienhallinta
Name[fr]=Gestionnaire de tâches à icônes uniquement
Name[gl]=Xestor de tarefas baseado en iconas
Name[hu]=Ikonos feladatkezelő
Name[it]=Gestore attività con sole icone
Name[kk]=Тек таңбашалы тапсырмалар менеджері
Name[km]=តែ​រូបតំណាង​កម្មវិធី​គ្រប់គ្រង​ភារកិច្ច
Name[ko]=아이콘만 있는 작업 관리자
Name[lt]=Tik ženkliukų užduočių tvarkytuvė
Name[lv]=Tikai ikonu uzdevumu pārvaldnieks
Name[mr]=फक्त-चिन्ह कार्य व्यवस्थापक
Name[nb]=Oppgavebehandler med bare ikoner
Name[nds]="Bloots-Lüttbild"-Opgavenpleger
Name[nl]=Takenbeheer met alleen pictogrammen
Name[pa]=ਕੇਵਲ ਆਈਕਾਨ ਟਾਸਕ ਮੈਨੇਜਰ
Name[pl]=Menadżer zadań tylko z ikonami
Name[pt]=Gestor de Tarefas com Ícones
Name[pt_BR]=Gerenciador de tarefas com ícones
Name[ro]=Gestionar de sarcini bazat pe pictograme
Name[ru]=Панель задач (только значки)
Name[sk]=Správca úloh len s ikonami
Name[sl]=Upravljalnik opravil s samimi ikonami
Name[sr]=менаџер задатака само са иконама
Name[sr@ijekavian]=менаџер задатака само са иконама
Name[sr@ijekavianlatin]=menadžer zadataka samo sa ikonama
Name[sr@latin]=menadžer zadataka samo sa ikonama
Name[sv]=Aktivitetshanterare med bara ikoner
Name[tr]=Sadece-Simge Görev Yöneticisi
Name[uk]=Керування задачами за допомогою піктограм
Name[x-test]=xxIcon-Only Task Managerxx
Name[zh_CN]=图标任务管理器
Name[zh_TW]=只有圖示的工作管理員
Comment=Switch between running applications
Comment[bs]=Prebacujte između programa u radu
Comment[ca]=Commuta entre aplicacions en execució
Comment[ca@valencia]=Commuta entre aplicacions en execució
Comment[cs]=Přepnout mezi běžícími aplikacemi
Comment[da]=Skift mellem kørende programmer
Comment[de]=Zwischen laufenden Programmen wechseln
Comment[el]=Εναλλαγή μεταξύ των εκτελούμενων εφαρμογών
Comment[es]=Cambiar entre las aplicaciones en ejecución
Comment[et]=Lülitumine töötavate rakenduste vahel
Comment[fi]=Vaihda avoinna olevien ohjelmien välillä
Comment[fr]=Basculer entre les applications démarrées
Comment[ga]=Athraigh idir feidhmchláir atá ag rith
Comment[gl]=Manexe os aplicativos que teña abertos.
Comment[hu]=Váltás a futó alkalmazások között
Comment[it]=Passa da un'applicazione in esecuzione all'altra
Comment[kk]=Жегілген қолданбаларды ақтару
Comment[km]=ប្ដូរ​រវាង​កម្មវិធី​ដែល​កំពុង​រត់
Comment[ko]=실행 중인 프로그램 전환
Comment[lt]=Persijungti tarp veikiančių programų
Comment[lv]=Pārslēgties starp darbojošām programmām
Comment[mr]=चालू असलेले अनुप्रयोग बदला
Comment[nb]=Bytt mellom kjørende programmer
Comment[nds]=Twischen lopen Programmen wesseln
Comment[nl]=Schakel tussen draaiende programma's
Comment[nn]=Byt mellom program som køyrer
Comment[pa]=ਚੱਲਦੀਆਂ ਐਪਲੀਕੇਸ਼ਨਾਂ ਬਦਲੋ
Comment[pl]=Przełącz pomiędzy działającymi programami
Comment[pt]=Mudar de aplicações em execução
Comment[pt_BR]=Alterna entre os aplicativos em execução
Comment[ro]=Comută printre aplicațiile ce rulează
Comment[ru]=Переключение между запущенными приложениями
Comment[sk]=Prepínať medzi bežiacimi aplikáciami
Comment[sl]=Preklapljajte med zagnanimi programi
Comment[sr]=Пребацивање између покренутих програма
Comment[sr@ijekavian]=Пребацивање између покренутих програма
Comment[sr@ijekavianlatin]=Prebacivanje između pokrenutih programa
Comment[sr@latin]=Prebacivanje između pokrenutih programa
Comment[sv]=Byt mellan program som kör
Comment[tr]=Çalışan uygulamalar arasında geçiş yap
Comment[ug]=ئىجرا بولۇۋاتقان پروگراممىلارنى ئالماشتۇر
Comment[uk]=Перемкніть запущені програми
Comment[x-test]=xxSwitch between running applicationsxx
Comment[zh_CN]=在运行中的应用程序间切换
Comment[zh_TW]=在執行中的應用程式間切換
Icon=preferences-desktop-icons
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_icontasks
X-KDE-PluginInfo-Author=Craig Drummond
X-KDE-PluginInfo-Email=craig@kde.org
X-KDE-PluginInfo-Name=icontasks
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=false
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

