[Desktop Entry]
Name=Fifteen Puzzle
Name[ca]=Trencaclosques quinze
Name[cs]=Hra Patnáct
Name[csb]=Piãtnôsce pùzzlów
Name[da]=Puslespillet 15
Name[de]=Fünfzehn Steine
Name[el]=Παζλ 15 κομματιών
Name[es]=Rompecabezas Quince
Name[et]=Viieteistkümnemäng
Name[fi]=Puzzle 15
Name[fr]=Taquin
Name[ga]=Puzal Cúig Déag
Name[gl]=Quebracabezas de Quince Pezas
Name[it]=Il gioco del quindici
Name[ja]=15 ピースパズル
Name[km]=ផ្ដុំ​រូបភាព​ ១៥
Name[ko]=열다섯 조각 퍼즐
Name[lv]=Piecpadsmit gabali
Name[nds]=Föffteihn Stücken
Name[nl]=Vijftien-puzzel
Name[nn]=Spelet femten
Name[pa]=ਪੰਦਰਾਂ ਬੁਝਾਰਤ
Name[pt]=Puzzle dos Quinze
Name[pt_BR]=Quebra-cabeça Quinze
Name[sl]=Petnajst kosov
Name[sr]=петнаестица
Name[sr@latin]=petnaestica
Name[sv]=Femtonspel
Name[th]=เรียงสิบห้าชิ้น
Name[tr]=YapBoz15
Name[uk]=Гра у п’ятнашки
Name[x-test]=xxFifteen Puzzlexx
Name[zh_CN]=十五子拼图
Name[zh_TW]=Fifteen 解謎遊戲
Comment=Try to put the pieces in order
Comment[ca]=Intenta col·locar les peces en ordre
Comment[cs]=Zkuste dílky správně poskládat
Comment[csb]=Ùłożë pòprówno elementë
Comment[da]=Forsøg at sætte brikkerne sammen
Comment[de]=Bringen Sie die Teile in die richtige Reihenfolge
Comment[el]=Προσπαθήστε να τοποθετήσετε τα κομμάτια στη θέση τους
Comment[es]=Intente ordenar las piezas
Comment[et]=Tükikeste seadmine õigesse järjekorda
Comment[fi]=Järjestä palat järjestykseen
Comment[fr]=Essayer d'ordonner les pièces
Comment[ga]=Cuir na píosaí in ord
Comment[gl]=Tente pór as pezas en orden
Comment[it]=Cerca di rimettere i pezzi in ordine
Comment[ja]=ピースを正しい順序に並べ替えてください
Comment[km]=ព្យាយាម​ដាក់​ចម្រៀក​ក្នុង​លំដាប់
Comment[ko]=조각을 순서대로 맞춰 보세요
Comment[lv]=Jāsaliek gabali pareizā kārtībā
Comment[nds]=Föffteihn Stücken in de Reeg bringen
Comment[nl]=Probeer de stukken in elkaar te passen
Comment[nn]=Flytt brikkene i rett rekkjefølgje
Comment[pa]=ਟੁਕੜਿਆਂ ਨੂੰ ਲੜੀਬੱਧ ਕਰੋ
Comment[pt]=Tente colocar as peças por ordem
Comment[pt_BR]=Tente colocar as peças em ordem
Comment[ro]=Încercați să potriviți piesele
Comment[sl]=Poskusite postaviti kose v pravilno zapovrstje
Comment[sr]=Поређајте делиће исправним редоследом
Comment[sr@latin]=Poređajte deliće ispravnim redosledom
Comment[sv]=Försök att ordna delarna
Comment[th]=จัดเรียงชิ้นส่วนสิบห้าชิ้นให้ถูกลำดับ
Comment[tr]=Parçaları sıraya sokmayı deneyin
Comment[uk]=Спробуйте впорядкувати плитки
Comment[x-test]=xxTry to put the pieces in orderxx
Comment[zh_CN]=尽力去按顺序摆放拼图块
Comment[zh_TW]=將數字依順序排好
Icon=fifteenpuzzle
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_fifteenPuzzle
X-KDE-PluginInfo-Author=Jesper Thomschutz
X-KDE-PluginInfo-Email=jesperht@yahoo.com
X-KDE-PluginInfo-Name=fifteenPuzzle
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
