[Desktop Entry]
Name=Icy Tree
Name[pt]=Árvore Gelada
Name[pt_BR]=Árvore Gelada
Name[sv]=Nedisat träd
Name[uk]=Замерзле дерево
Name[x-test]=xxIcy Treexx

X-KDE-PluginInfo-Name=Icy_Tree
X-KDE-PluginInfo-Author=Stephan Stalcup
X-KDE-PluginInfo-Email=vorian@ubuntu.com
X-KDE-PluginInfo-License=GPL
