[Desktop Entry]
Name=Globe
Name[ar]=الكرة الأرضية
Name[ast]=Globu
Name[bs]=Globus
Name[ca]=Globus
Name[ca@valencia]=Globus
Name[cs]=Globus
Name[da]=Globus
Name[de]=Globus
Name[el]=Υδρόγειος
Name[en_GB]=Globe
Name[es]=Globo
Name[et]=Gloobus
Name[fi]=Maapallo
Name[fr]=Globe
Name[ga]=Cruinneog
Name[gl]=Globo terráqueo
Name[hr]=Globus
Name[hu]=Földgömb
Name[is]=Hnöttur
Name[it]=Globo
Name[ja]=地球
Name[kk]=Глобус
Name[km]=សកល
Name[ko]=지구본
Name[lt]=Gaublys
Name[lv]=Zemeslode
Name[mr]=पृथ्वी
Name[nb]=Globus
Name[nds]=Eer
Name[nl]=Globe
Name[nn]=Globus
Name[pa]=ਗਲੋਬ
Name[pl]=Glob
Name[pt]=Globo
Name[pt_BR]=Globo
Name[ro]=Glob
Name[ru]=Глобус
Name[sk]=Glóbus
Name[sl]=Globus
Name[sq]=Globi
Name[sr]=глобус
Name[sr@ijekavian]=глобус
Name[sr@ijekavianlatin]=globus
Name[sr@latin]=globus
Name[sv]=Glob
Name[th]=ลูกโลก
Name[tr]=Küre
Name[ug]=گلوبۇس
Name[uk]=Глобус
Name[wa]=Bole
Name[x-test]=xxGlobexx
Name[zh_CN]=地球仪
Name[zh_TW]=地球
Comment=An interactive map of the world
Comment[cs]=Interaktivní mapa světa
Comment[es]=Un mapa interactivo del mundo
Comment[fi]=Interaktiivinen maailmankartta
Comment[gl]=Un mapa do mundo interactivo.
Comment[it]=Una mappa interattiva del mondo
Comment[kk]=Интерактивті әлем картасы
Comment[nl]=Een interactieve kaart van de wereld
Comment[pt]=Um mapa interactivo do mundo
Comment[pt_BR]=Mapa-múndi interativo
Comment[ru]=Интерактивная карта мира
Comment[sk]=Interaktívna mapa sveta
Comment[sr]=Интерактивна карта света
Comment[sr@ijekavian]=Интерактивна карта света
Comment[sr@ijekavianlatin]=Interaktivna karta sveta
Comment[sr@latin]=Interaktivna karta sveta
Comment[sv]=En interaktiv världskarta
Comment[tr]=Dünyanın etkileşimli bir haritası
Comment[uk]=Інтерактивна карта світу
Comment[x-test]=xxAn interactive map of the worldxx
Comment[zh_TW]=互動世界地圖
Type=Service
Icon=marble
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_marble
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=marble
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
