[Desktop Entry]
Name=Globe
Name[ar]=الكرة الأرضية
Name[ca]=Globus
Name[cs]=Globus
Name[da]=Globus
Name[de]=Globus
Name[el]=Υδρόγειος
Name[en_GB]=Globe
Name[es]=Globo
Name[et]=Gloobus
Name[fr]=Globe
Name[ga]=Cruinneog
Name[gl]=Globo terráqueo
Name[hu]=Földgömb
Name[is]=Hnöttur
Name[it]=Globo
Name[ja]=地球
Name[km]=សកល
Name[lv]=Zemeslode
Name[nb]=Globus
Name[nds]=Eer
Name[nl]=Globe
Name[nn]=Globus
Name[pa]=ਗਲੋਬ
Name[pl]=Glob
Name[pt]=Globo
Name[pt_BR]=Globo
Name[ro]=Glob
Name[sk]=Glóbus
Name[sl]=Globus
Name[sr]=глобус
Name[sr@latin]=globus
Name[sv]=Glob
Name[tr]=Küre
Name[uk]=Глобус
Name[wa]=Bole
Name[x-test]=xxGlobexx
Name[zh_CN]=地球仪
Name[zh_TW]=球體
Type=Service
Icon=marble
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_marble
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=marble
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
