[Desktop Entry]
Encoding=UTF-8
Name=Web browser
Name[ca]=Navegador web
Name[cs]=Webový prohlížeč
Name[de]=Webbrowser
Name[en_GB]=Web browser
Name[es]=Navegador web
Name[fi]=Verkkoselain
Name[nl]=Webbrowser
Name[pl]=Przeglądarka sieciowa
Name[pt]=Navegador Web
Name[pt_BR]=Navegador Web
Name[sk]=Webový prehliadač
Name[sl]=Spletni brskalnik
Name[sr]=веб прегледач
Name[sr@ijekavian]=веб прегледач
Name[sr@ijekavianlatin]=veb pregledač
Name[sr@latin]=veb pregledač
Name[sv]=Webbläsare
Name[uk]=Перегляд інтернету
Name[x-test]=xxWeb browserxx
Name[zh_CN]=网页浏览器
Comment=Add a webpage on your desktop.
Comment[ca]=Afegeix una pàgina web a l'escriptori.
Comment[de]=Fügt eine Webseite zu Ihrer Arbeitsfläche hinzu.
Comment[en_GB]=Add a webpage on your desktop.
Comment[es]=Añadir una página web a su escritorio.
Comment[fi]=Lisää verkkosivu työpöydällesi.
Comment[nl]=Een webpagina toevoegen aan uw bureaublad.
Comment[pl]=Dodaj stronę sieciową na swój pulpit.
Comment[pt]=Adiciona uma página Web ao seu ecrã.
Comment[pt_BR]=Adiciona uma página da Web na sua área de trabalho.
Comment[sk]=Pridať webovú stránku na vašu plochu.
Comment[sl]=Dodajte spletno stran na vaše namizje.
Comment[sr]=Додајте веб страницу на површ
Comment[sr@ijekavian]=Додајте веб страницу на површ
Comment[sr@ijekavianlatin]=Dodajte veb stranicu na površ
Comment[sr@latin]=Dodajte veb stranicu na površ
Comment[sv]=Lägg till en webbsida på skrivbordet.
Comment[uk]=Додати сторінку інтернету на вашу стільницю.
Comment[x-test]=xxAdd a webpage on your desktop.xx
Comment[zh_CN]=添加网页到您的桌面
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Mikhail Ivchenko
X-KDE-PluginInfo-Email=ematirov@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.webbrowser
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Online Services
