[Desktop Entry]
Name=Dictionary
Name[bg]=Речник
Name[bs]=Rječnik
Name[cs]=Slovník
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[en_GB]=Dictionary
Name[es]=Diccionario
Name[et]=Sõnaraamat
Name[fr]=Dictionnaire
Name[ga]=Foclóir
Name[he]=מילון
Name[hu]=Szótár
Name[km]=វចនានុក្រម​
Name[lt]=Žodynas
Name[ms]=Kamus
Name[nb]=Ordbok
Name[nds]=Wöörbook
Name[nl]=Woordenboek
Name[pa]=ਡਿਕਸ਼ਨਰੀ
Name[pl]=Słownik
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[ro]=Dicționar
Name[ru]=Словарь
Name[sk]=Slovník
Name[sv]=Ordlista
Name[th]=พจนานุกรม
Name[tr]=Sözlük
Name[ug]=لۇغەت
Name[uk]=Словник
Name[x-test]=xxDictionaryxx
Name[zh_CN]=词典
Name[zh_TW]=字典
Comment=Define words
Comment[bg]=Определения на думи
Comment[bs]=Definiši riječi
Comment[cs]=Definujte slova
Comment[da]=Definér ord
Comment[de]=Wörter definieren
Comment[el]=Ορισμός λέξεων
Comment[en_GB]=Define words
Comment[es]=Definir palabras
Comment[et]=Sõnade definitsioonid
Comment[fr]=Définir des mots
Comment[ga]=Sainmhínigh focail
Comment[he]=הגדר מילים
Comment[hu]=Szavak meghatározása
Comment[km]=កំណត់​ពាក្យ​
Comment[ms]=Hurai perkataan
Comment[nb]=Definer ord
Comment[nds]=Wöör fastleggen
Comment[nl]=Woorden definiëren
Comment[pl]=Definiuj słowa
Comment[pt]=Definir as palavras
Comment[pt_BR]=Definição de palavras
Comment[ro]=Definește cuvinte
Comment[ru]=Определения слов
Comment[sk]=Definovať slová
Comment[sv]=Definiera ord
Comment[th]=ให้ความหมายของคำ
Comment[tr]=Sözcükleri tanımla
Comment[uk]=Визначення термінів
Comment[x-test]=xxDefine wordsxx
Comment[zh_CN]=定义单词
Comment[zh_TW]=定義單字
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=accessories-dictionary
X-KDE-Library=krunner_dictionary
X-KDE-PluginInfo-Author=Jason A. Donenfeld
X-KDE-PluginInfo-Email=Jason@zx2c4.com
X-KDE-PluginInfo-Name=Dictionary
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
