[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_krunner_dictionary
X-KDE-ParentComponents=Dictionary
X-KDE-PluginKeyword=kcm_krunner_dictionary

Name=Dictionary
Name[ar]=قاموس
Name[ast]=Diccionariu
Name[bs]=Rječnik
Name[ca]=Diccionari
Name[ca@valencia]=Diccionari
Name[cs]=Slovník
Name[csb]=Slowôrz
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[en_GB]=Dictionary
Name[eo]=Vortaro
Name[es]=Diccionario
Name[et]=Sõnaraamat
Name[eu]=Hiztegia
Name[fi]=Sanakirja
Name[fr]=Dictionnaire
Name[ga]=Foclóir
Name[gl]=Dicionario
Name[he]=מילון
Name[hr]=Rječnik
Name[hu]=Hunspell szótárfájl
Name[ia]=Dictionario
Name[is]=Orðabók
Name[it]=Dizionario
Name[ja]=辞書
Name[kk]=Сөздік
Name[km]=វចនានុក្រម
Name[ko]=사전
Name[ku]=Ferheng
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[mr]=शब्दकोश
Name[ms]=Kamus
Name[nb]=Ordbok
Name[nds]=Wöörbook
Name[nl]=Woordenboek
Name[nn]=Ordbok
Name[pa]=ਡਿਕਸ਼ਨਰੀ
Name[pl]=Słownik
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[ro]=Dicționar
Name[ru]=Словарь
Name[sk]=Slovník
Name[sl]=Slovar
Name[sq]=Fjalori
Name[sr]=речник
Name[sr@ijekavian]=рјечник
Name[sr@ijekavianlatin]=rječnik
Name[sr@latin]=rečnik
Name[sv]=Ordlista
Name[th]=พจนานุกรม
Name[tr]=Sözlük
Name[ug]=لۇغەت
Name[uk]=Словник
Name[wa]=Motî
Name[x-test]=xxDictionaryxx
Name[zh_CN]=词典
Name[zh_TW]=字典
Comment=Define words
Comment[ar]=تعريف الكلمات
Comment[bs]=Definipi riječi
Comment[ca]=Defineix mots
Comment[ca@valencia]=Defineix mots
Comment[cs]=Definujte slova
Comment[da]=Definér ord
Comment[de]=Wörter definieren
Comment[el]=Ορισμός λέξεων
Comment[en_GB]=Define words
Comment[es]=Definir palabras
Comment[et]=Sõnade definitsioonid
Comment[fi]=Määrittele sanoja
Comment[fr]=Définir des mots
Comment[ga]=Sainmhínigh focail
Comment[gl]=Definir palabras.
Comment[he]=הגדר מילים
Comment[hu]=Szavak meghatározása
Comment[it]=Definizione delle parole
Comment[kk]=Сөздерді анықтау
Comment[ko]=단어 정의
Comment[lt]=Apibrėžti žodžius
Comment[mr]=शब्दांची व्याख्या करा
Comment[nb]=Definer ord
Comment[nds]=Wöör fastleggen
Comment[nl]=Woorden definiëren
Comment[nn]=Definer ord
Comment[pl]=Słowa z definicją
Comment[pt]=Definir as palavras
Comment[pt_BR]=Definição de palavras
Comment[ro]=Definește cuvinte
Comment[ru]=Определение слов
Comment[sk]=Definovať slová
Comment[sl]=Definicije besed
Comment[sr]=Дефиниције речи
Comment[sr@ijekavian]=Дефиниције ријечи
Comment[sr@ijekavianlatin]=Definicije riječi
Comment[sr@latin]=Definicije reči
Comment[sv]=Definiera ord
Comment[tr]=Kelime tanımlayın
Comment[uk]=Визначення термінів
Comment[x-test]=xxDefine wordsxx
Comment[zh_CN]=定义单词
Comment[zh_TW]=定義單字
