[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_krunner_dictionary
X-KDE-ParentComponents=Dictionary
X-KDE-PluginKeyword=kcm_krunner_dictionary

Name=Dictionary
Comment=Define words
