[Desktop Entry]
Name=Twitter Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=im
X-KDE-Library=plasma_engine_twitter
X-Plasma-EngineName=twitter
