[Desktop Entry]
Name=Twitter Data Engine
Name[ca]=Motor de dades del Twitter
Name[csb]=Mòtór pòdôwków Twitter
Name[da]=Datamotor til Twitter
Name[de]=Twitter-Datentreiber
Name[el]=Μηχανή δεδομένων Twitter
Name[es]=Motor de datos de Twitter
Name[et]=Twitteri andmete mootor
Name[fi]=Twitter-tietomoottori
Name[fr]=Moteur de données Twitter
Name[ga]=Inneall Sonraí Twitter
Name[gl]=Motor de datos de Twitter
Name[hu]=Twitter adatmodul
Name[it]=Motore dati Twitter
Name[ja]=Twitter データエンジン
Name[km]=ម៉ាស៊ីន​​ទិន្នន័យ​សំឡេង​តិចៗ
Name[ko]=Twitter 데이터 엔진
Name[lv]=Twitter datu dzinējs
Name[nds]=Twitter-Datenkarn
Name[nl]=Twitter-gegevensengine
Name[nn]=Datamotor for Twitter
Name[pl]=Silnik danych Twitter
Name[pt]=Motor de Dados do Twitter
Name[pt_BR]=Mecanismo de Dados do Twitter
Name[ro]=Motor de date Twitter
Name[sl]=Twitter
Name[sr]=мотор Твитера
Name[sr@latin]=motor Twittera
Name[sv]=Datagränssnitt för Twitter
Name[th]=กลไกประมวลผลข้อมูล Twitter
Name[tr]=Twitter Veri Motoru
Name[uk]=Рушій даних Twitter
Name[wa]=Éndjin d' dinêyes Twitter
Name[x-test]=xxTwitter Data Enginexx
Name[zh_CN]=Twitter 数据引擎
Name[zh_TW]=Twitter 資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=im
X-KDE-Library=plasma_engine_twitter
X-Plasma-EngineName=twitter
