[General]
Author=Ivan Čukić
License=GPL 2 or later

[Group-Default]
foreground.color.normal=0,0,0
foreground.color.active=0,0,200
foreground.color.disabled=0,0,0,125

background.type=none
background.color.normal=125,255,255,125
background.color.active=255,255,125,125

[Group-SystemButtons]
background.type=svg
background.svg=lancelot/system-buttons

[Group-SystemButtons-Extender]
background.type=svg
background.svg=lancelot/system-buttons-extender

[Group-SectionButtons]
background.type=svg
background.svg=lancelot/section-buttons

[Group-SectionButtons-Extender]
background.type=none


