[Desktop Entry]
Name=Keyboard
Name[ast]=Tecláu
Name[bs]=Tastatura
Name[ca]=Teclat
Name[ca@valencia]=Teclat
Name[cs]=Klávesnice
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[en_GB]=Keyboard
Name[eo]=Klavaro
Name[es]=Teclado
Name[et]=Klaviatuur
Name[fi]=Näppäimistö
Name[fr]=Clavier
Name[ga]=Méarchlár
Name[gl]=Teclado
Name[hr]=Tipkovnica
Name[hu]=Billentyűzet
Name[it]=Tastiera
Name[ja]=キーボード
Name[kk]=Пернетақта
Name[km]=ក្តារចុច
Name[ko]=키보드
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[mr]=कळफलक
Name[nb]=Tastatur
Name[nds]=Tastatuur
Name[nl]=Toetsenbord
Name[nn]=Tastatur
Name[pa]=ਕੀਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[sr]=тастатура
Name[sr@ijekavian]=тастатура
Name[sr@ijekavianlatin]=tastatura
Name[sr@latin]=tastatura
Name[sv]=Tangentbord
Name[th]=แป้นพิมพ์
Name[tr]=Klavye
Name[ug]=ھەرپتاختا
Name[uk]=Клавіатура
Name[wa]=Taprece
Name[x-test]=xxKeyboardxx
Name[zh_CN]=键盘
Name[zh_TW]=鍵盤
Comment=A virtual, on-screen keyboard
Comment[bs]=Virtualna, ekranska tastatura
Comment[ca]=Un teclat virtual de pantalla
Comment[ca@valencia]=Un teclat virtual de pantalla
Comment[cs]=Virtuální klávesnice na obrazovce
Comment[da]=Et virtuelt tastatur på skærmen
Comment[de]=Eine virtuelle Tastatur auf dem Bildschirm
Comment[el]=Ένα εικονικό, πληκτρολόγιο οθόνης
Comment[en_GB]=A virtual, on-screen keyboard
Comment[es]=Un teclado virtual en pantalla
Comment[et]=Virtuaalne ekraaniklaviatuur
Comment[fi]=Virtuaalinen näyttönäppäimistö
Comment[fr]=Un clavier virtuel à l'écran
Comment[ga]=Méarchlár fíorúil ar an scáileán
Comment[gl]=Un teclado virtual na pantalla
Comment[hr]=Virtualna zaslonska tipkovnica
Comment[hu]=Virtuális képernyőbillentyűzet
Comment[it]=Una tastiera virtuale, su schermo
Comment[ja]=オンスクリーン仮想キーボード
Comment[kk]=Экрандағы виртуалды пернетақта
Comment[km]=និម្មិត ក្តារ​ចុច​លើ​អេ​ក្រអ់
Comment[ko]=가상 화면상 키보드
Comment[lt]=Virtuali, ant ekrano esanti klaviatūra
Comment[lv]=Virtuāla ekrāna tastatūra
Comment[mr]=स्क्रीनवरील आभासी कळफलक
Comment[nb]=Et virtuelt tastatur på skjermen
Comment[nds]=En virtuell Tastatuur op den Schirm
Comment[nl]=Een virtueel toetsenbord op het scherm
Comment[nn]=Skjermtastatur
Comment[pa]=ਫ਼ਰਜ਼ੀ, ਆਨਸਕਰੀਨ ਕੀਬੋਰਡ
Comment[pl]=Wirtualna klawiatura ekranowa
Comment[pt]=Um teclado virtual no ecrã
Comment[pt_BR]=Um teclado virtual na tela
Comment[ro]=Tastatură virtuală pe ecran
Comment[ru]=Виртуальная клавиатура на экране
Comment[sk]=Virtuálna klávesnica na obrazovke
Comment[sl]=Navidezna, zaslonska tipkovnica
Comment[sr]=Виртуелна, екранска тастатура
Comment[sr@ijekavian]=Виртуелна, екранска тастатура
Comment[sr@ijekavianlatin]=Virtuelna, ekranska tastatura
Comment[sr@latin]=Virtuelna, ekranska tastatura
Comment[sv]=Ett virtuellt tangentbord på skärmen
Comment[th]=แป้นพิมพ์เสมือน บนจอภาพ
Comment[tr]=Sanal bir masaüstü klavyesi
Comment[uk]=Віртуальна екранна клавіатура
Comment[wa]=Ene taprece forveyowe, sol waitroûle
Comment[x-test]=xxA virtual, on-screen keyboardxx
Comment[zh_CN]=虚拟屏幕键盘
Comment[zh_TW]=螢幕上的虛擬鍵盤
Type=Service
ServiceTypes=Plasma/Applet
Icon=input-keyboard

X-KDE-Library=plasma_applet_plasmaboard
X-KDE-PluginInfo-Author=Björn Ruberg
X-KDE-PluginInfo-Email=bjoern@ruberg-wegener.de
X-KDE-PluginInfo-Name=plasmaboard
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
