[Desktop Entry]
Name=Keyboard
Comment=A virtual, on-screen keyboard
Type=Service
ServiceTypes=Plasma/Applet
Icon=keyboard

X-KDE-Library=plasma_applet_plasmaboard
X-KDE-PluginInfo-Author=Björn Ruberg
X-KDE-PluginInfo-Email=bjoern@ruberg-wegener.de
X-KDE-PluginInfo-Name=plasmaboard
X-KDE-PluginInfo-Version=0.7
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
