[Desktop Entry]
Encoding=UTF-8
Name=Life
Name[ar]=الحياة
Name[ca]=Vida
Name[cs]=Život
Name[da]=Liv
Name[de]=Life
Name[el]=Ζωή
Name[en_GB]=Life
Name[es]=Vida
Name[et]=Life
Name[eu]=Bizitza
Name[fi]=Elämä
Name[fr]=Jeu de la vie
Name[ga]=Cluiche "Life"
Name[gl]=Life
Name[he]=חיים
Name[hu]=Életjáték
Name[is]=Líf
Name[it]=Vita
Name[ja]=Life
Name[km]=ជីវិត
Name[ko]=생명 게임
Name[ku]=Life
Name[lt]=Gyvybė
Name[lv]=Dzīve
Name[mai]=जीवन
Name[nb]=Life
Name[nds]=Life
Name[nl]=Life
Name[nn]=Livsimulator
Name[pa]=ਜ਼ਿੰਦਗੀ
Name[pl]=Życie
Name[pt]=Vida
Name[pt_BR]=Vida
Name[ro]=Viață
Name[ru]=Жизнь
Name[sk]=Život
Name[sl]=Življenje
Name[sr]=живот
Name[sr@latin]=život
Name[sv]=Life
Name[th]=ไลฟ์
Name[tr]=Life
Name[uk]=Життя
Name[wa]=Vicåreye
Name[x-test]=xxLifexx
Name[zh_CN]=生命
Name[zh_TW]=生命
Comment= Conway's Game of Life applet
Comment[ar]=بريمج لعبة الحياة Conway
Comment[ca]=Miniaplicació del joc de la vida de Conway
Comment[da]=Applet til Conways spil om liv.
Comment[de]=Conways Spiel des Lebens
Comment[el]=Μικροεφαρμογή του παιχνιδιού της Ζωής του Conway
Comment[en_GB]= Conway's Game of Life applet
Comment[es]= Miniaplicación del juego de la vida de Conway
Comment[et]=Conway Game of Life aplett
Comment[eu]=Conway-ren bizitza jokuaren appleta
Comment[fr]=Applet du jeu de la vie de Conway
Comment[ga]= Feidhmchláirín Conway's Game of Life
Comment[gl]= Applet do xogo da vida de Conway
Comment[he]=משחק החיים של Conway
Comment[hu]=Conway-féle életjáték
Comment[is]=Smáforrit fyrir 'Leik lífsins' eftir Conway
Comment[it]=Applet del gioco della vita di Conway
Comment[ja]=ライフゲーム (Conway's Game of Life) アプレット
Comment[km]= អាប់ភ្លេត​ជីវិត​ល្បែង​របស់ Conway
Comment[ko]=콘웨이의 생명 게임 애플릿
Comment[ku]=Sepanoka Lîstika Jiyanê ya Conway 
Comment[lv]=Dzīves spēles sīkrīks
Comment[nb]=Miniprogram for Conways Life-spill
Comment[nds]=Conway sien Speel "Life" as Lüttprogramm
Comment[nl]= Applet voor Conway's Game of Life
Comment[nn]=Livsimulatoren til Conway
Comment[pl]= Aplet "Gra w życie" Johna Conwaya
Comment[pt]='Applet' do Jogo da Vida da Conway
Comment[pt_BR]=Miniaplicativo do Jogo da Vida da Conway
Comment[ro]=Miniaplicație „Jocul vieții” al lui Conway
Comment[ru]=Игра «Жизнь», придуманная математиком Джоном Конвеем
Comment[sk]=Conwayova Hra život
Comment[sl]=Conwayeva igra življenja
Comment[sr]=Аплет Конвејеве игре живота
Comment[sr@latin]=Aplet Konvejeve igre života
Comment[sv]=Miniprogram med Conways Game of Life
Comment[th]= แอพเพล็ตเกมไลฟ์ของ Conway
Comment[tr]= Conway'in Hayatın Oyunu programcığı
Comment[uk]=Аплет гри "Life" (Життя), вигаданої Конвеєм
Comment[wa]=Aplikete di Conway's Game of Life
Comment[x-test]=xx Conway's Game of Life appletxx
Comment[zh_CN]= 生命小程序的 Conway 游戏
Comment[zh_TW]=Conway 的生命遊戲小程式
#Icon=chronometer //TODO: missing icon
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_life
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=life
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Fun and Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
