[Desktop Entry]
Encoding=UTF-8
Name=Life
Name[el]=Ζωή
Name[pt]=Vida
Name[pt_BR]=Vida
Name[uk]=Термін використання
Name[zh_TW]=生命
Comment= Conway's Game of Life applet
Comment[el]=Μικροεφαρμογή του παιχνιδιού της Ζωής του Conway
Comment[gl]=Applet do xogo da vida de Conway
Comment[pt]='Applet' do Jogo da Vida da Conway
Comment[pt_BR]='Applet' do Jogo da Vida da Conway
Comment[sv]=Miniprogram med Conways Game of Life
Comment[uk]=Аплет гри "Life" (Життя), вигаданої Конвеєм
Comment[zh_TW]=Conway 的生命遊戲小程式
Icon=chronometer
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_life
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=life
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Fun and Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
