[Desktop Entry]
Encoding=UTF-8
Name=Life
Name[el]=Ζωή
Name[fr]=Jeu de la vie
Name[pt]=Vida
Name[pt_BR]=Vida
Name[ru]=Жизнь
Name[uk]=Термін використання
Name[zh_CN]=生命
Name[zh_TW]=生命
Comment= Conway's Game of Life applet
Comment[de]=Conways Spiel des Lebens
Comment[el]=Μικροεφαρμογή του παιχνιδιού της Ζωής του Conway
Comment[fr]=Applet du jeu de la vie de Conway
Comment[gl]=Applet do xogo da vida de Conway
Comment[nds]=Conway sien Speel "Life" as Lüttprogramm
Comment[nl]= Applet voor Conway's Game of Life
Comment[pt]='Applet' do Jogo da Vida da Conway
Comment[pt_BR]=Miniaplicativo do Jogo da Vida da Conway
Comment[ru]=Игра «Жизнь», придуманная математиком Джоном Конвеем
Comment[sv]=Miniprogram med Conways Game of Life
Comment[tr]= Conway'in Hayatın Oyunu programcığı
Comment[uk]=Аплет гри "Life" (Життя), вигаданої Конвеєм
Comment[zh_CN]= 生命小程序的 Conway 游戏
Comment[zh_TW]=Conway 的生命遊戲小程式
Icon=chronometer
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_life
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-Name=life
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Fun and Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
