[Desktop Entry]
Encoding=UTF-8
Name=Show Dashboard
Comment=Lets you show the dashboard
Icon=user-dashboard
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_showdashboard
X-KDE-PluginInfo-Author=André Duffeck
X-KDE-PluginInfo-Email=duffeck@kde.org
X-KDE-PluginInfo-Name=showdashboard
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
