[Desktop Entry]
Name=Show Widget Dashboard
Name[ar]=أظهر لوحة الودجات
Name[ast]=Amosar el tableru de mandos
Name[bs]=Prikaz kontrole poput table sa instrumentima
Name[ca]=Mostra el tauler d'estris
Name[ca@valencia]=Mostra el tauler d'estris
Name[cs]=Zobrazit přístrojovou desku
Name[da]=Vis widget-instrumentbræt
Name[de]=Miniprogramm-Dashboard anzeigen
Name[el]=Εμφάνιση πίνακα συστατικών
Name[en_GB]=Show Widget Dashboard
Name[es]=Mostrar el tablero de mandos del control
Name[et]=Vidinavaate näitamine
Name[eu]=Erakutsi tramankuluen aginte taula
Name[fi]=Näytä kojelauta
Name[fr]=Afficher le tableau de bord des composants graphiques
Name[ga]=Taispeáin Painéal na nGiuirléidí
Name[gl]=Mostrar o widget do cadro de control
Name[he]=הצג את המכתבה של Plasma
Name[hr]=Prikaži Nadzornu ploču widgeta
Name[hu]=Widgetáttekintő nézet megjelenítése
Name[is]=Sýna mælaborðsgræju
Name[it]=Mostra il quadro degli strumenti
Name[ja]=ウィジェットのダッシュボードを表示
Name[kk]=Аспаптар панелін көрсету
Name[km]=បង្ហាញផ្ទាំង​គ្រប់គ្រង​ធាតុក្រាហ្វិក
Name[ko]=위젯 대시보드 보이기
Name[ku]=Kontrolkerê Alavan Nîşan Bide
Name[lv]=Parādīt sīkrīku dashboard
Name[mr]=विजेट डॅशबोर्ड दर्शवा
Name[nb]=Vis kontrollpult for plasmaelementer
Name[nds]=Lüttprogramm-Klockpaneel wiesen
Name[nl]=Toon widget-dashboard
Name[nn]=Vis kontrollpult
Name[pa]=ਵਿਦਜੈੱਟ ਡੈਸ਼ਬੋਰਡ ਵੇਖੋ
Name[pl]=Pokaż tablicę
Name[pt]=Mostrar o Quadro do Elemento
Name[pt_BR]=Mostrar o painel de widgets
Name[ro]=Arată tabloul de bord al controalelor
Name[ru]=Кнопка активации приборной доски
Name[sk]=Zobraziť nástenku
Name[sl]=Prikaži armaturno ploščo gradnikov
Name[sr]=приказ инструмент-табле виџета
Name[sr@ijekavian]=приказ инструмент-табле виџета
Name[sr@ijekavianlatin]=prikaz instrument-table vidžeta
Name[sr@latin]=prikaz instrument-table vidžeta
Name[sv]=Visa grafisk instrumentpanelkomponent
Name[th]=แสดงแดชบอร์ดบรรจุวิดเจ็ต
Name[tr]=Gereç Kontrol Panelini Göster
Name[uk]=Показати панель приладів віджета
Name[wa]=Mostrer ahesse tåvlea d' boird
Name[x-test]=xxShow Widget Dashboardxx
Name[zh_CN]=显示部件板
Name[zh_TW]=顯示元件資訊看板
Comment=Show the Plasma widget dashboard above other windows
Comment[ar]=اظهر لوحة ودجات البلازما فوق النوافذ
Comment[ast]=Amosar el tableru de mandos de Plasma sobre les demás ventanes
Comment[bs]=Prikaz plazma kontrole poput table sa instrumentima iznad ostalih prozora
Comment[ca]=Mostra el tauler d'estris del Plasma per sobre de les altres finestres
Comment[ca@valencia]=Mostra el tauler d'estris del Plasma per sobre de les altres finestres
Comment[cs]=Zobrazit přístrojovou desku Plasmy na ostatními okny
Comment[da]=Viser Plasmas widget-instrumentbræt over andre vinduer.
Comment[de]=Das Miniprogramm-Dashboard über anderen Fenstern anzeigen
Comment[el]=Εμφάνιση του πίνακα συστατικών plasma πάνω από τα άλλα παράθυρα
Comment[en_GB]=Show the Plasma widget dashboard above other windows
Comment[es]=Mostrar el tablero de mandos del control de Plasma sobre las demás ventanas
Comment[et]=Plasma vidinavaate näitamine teiste akende kohal
Comment[eu]=Erakutsi Plasmaren tramankulu aginte taula beste leihoen gainean
Comment[fi]=Näytä Plasma-kojelauta muiden ikkunoiden yllä
Comment[fr]=Affiche le tableau de bord des composants graphiques au dessus des autres fenêtres
Comment[ga]=Taispeáin painéal na ngiuirléidí Plasma os cionn na bhfuinneog eile
Comment[gl]=Mostra o widget do cadro de control sobre as outras xanelas
Comment[he]=מציג את המכתבה של Plasma מעל חלונות אחרים
Comment[hr]=Prkaži Plasminu nadzornu ploču widgeta iznad ostalih prozora
Comment[hu]=Megjeleníti a plazmawidget-áttekintő nézetet az ablakok előtt
Comment[is]=Sýna Plasmagræju fyrir smælaborð ofan á öðrum gluggum
Comment[it]=Mostra il quadro degli strumenti di Plasma sopra le altre finestre
Comment[ja]=他のウィンドウの上に Plasma ウィジェットのダッシュボードを表示します
Comment[kk]=Plasma аспаптар панелі виджетін алға шығару
Comment[km]=បង្ហាញ​ផ្ទាំងគ្រប់គ្រង​​​ធាតុក្រាហ្វិក​ខាង​លើ​បង្អួច​ផ្សេង
Comment[ko]=다른 창 위에 Plasma 위젯 대시보드 보이기
Comment[ku]=Kontrolkerê alavên Plasma li ser paceyên din nîşan bide
Comment[lv]=Parāda Plasma sīkrīku dashboard virs citiem logiem
Comment[mr]=इतर चौकटींवर प्लाज्मा विजेट डॅशबोर्ड दर्शवा
Comment[nb]=Vis kontrollpulten over andre vinduer
Comment[nds]=Dat Lüttprogramm-Klockpaneel vöran Dien anner Finstern wiesen
Comment[nl]=Toont het Plasma widgetdashboard boven alle andere vensters
Comment[nn]=Vis Plasma-kontrollpulten over andre vindauge
Comment[pa]=ਪਲਾਜ਼ਮਾ ਵਿਦਜੈੱਟ ਡੈਸ਼ਬੋਰਡ ਹੋਰ ਵਿੰਡੋਜ਼ ਤੋਂ ਉੱਤੇ ਵੇਖੋ
Comment[pl]=Pokazanie tablicy Plazmy ponad innymi oknami
Comment[pt]=Mostrar o quadro do elemento do Plasma acima das outras janelas
Comment[pt_BR]=Mostra o painel de widgets do Plasma acima das outras janelas
Comment[ro]=Arată tabloul de bord cu controale Plasma deasupra celorlalte ferestre
Comment[ru]=Показывает приборную доску Plasma поверх всех окон
Comment[sk]=Zobrazenie nástenky Plasmy nad ostatnými oknami
Comment[sl]=Prikaži armatruno ploščo gradnikov Plasme pred drugimi okni
Comment[sr]=Инструмент-табла плазма виџета изнад других прозора
Comment[sr@ijekavian]=Инструмент-табла плазма виџета изнад других прозора
Comment[sr@ijekavianlatin]=Instrument-tabla plasma vidžeta iznad drugih prozora
Comment[sr@latin]=Instrument-tabla plasma vidžeta iznad drugih prozora
Comment[sv]=Visa den grafiska instrumentpanelkomponenten i Plasma ovanför andra fönster
Comment[th]=แสดงแดชบอร์ดบรรจุวิดเจ็ตของพลาสมา ให้อยู่เหนือหน้าต่างอื่น ๆ
Comment[tr]=Plasma kontrol panelini diğer pencerelerin üzerinde göster
Comment[uk]=Показує панель приладів Плазми над іншими вікнами після клацання
Comment[wa]=Mostrer l' ahesse tåvlea d' boird di Plasma pa dzeu ls ôtès fniesses
Comment[x-test]=xxShow the Plasma widget dashboard above other windowsxx
Comment[zh_CN]=在其它窗口上方显示 Plasma 部件板
Comment[zh_TW]=在其它的視窗上方顯示元件資訊看板
Icon=dashboard-show
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_showdashboard
X-KDE-PluginInfo-Author=André Duffeck
X-KDE-PluginInfo-Email=duffeck@kde.org
X-KDE-PluginInfo-Name=showdashboard
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
