[Desktop Entry]
Encoding=UTF-8
Name=Hunyango
Name[ast]=Hunyango
Name[bs]=Hunjango
Name[ca]=Hunyango
Name[ca@valencia]=Hunyango
Name[cs]=Hunyango
Name[da]=Hunyango
Name[de]=Hunyango
Name[el]=Hunyango
Name[en_GB]=Hunyango
Name[es]=Hunyango
Name[et]=Hunyango
Name[fi]=Hunyango
Name[fr]=Hunyango
Name[gl]=Hunyango
Name[hu]=Hunyango
Name[it]=Hunyango
Name[kk]=Хаянго
Name[ko]=Hunyango
Name[lt]=Hunyango
Name[mr]=हुन्यान्गो
Name[nb]=Hunyango
Name[nds]=Hunyango
Name[nl]=Hunyango
Name[nn]=Hunyango
Name[pl]=Hunyango
Name[pt]=Hunyango
Name[pt_BR]=Hunyango
Name[ro]=Hunyango
Name[ru]=Hunyango
Name[sk]=Hunyango
Name[sl]=Hunyango
Name[sr]=Хунјанго
Name[sr@ijekavian]=Хунјанго
Name[sr@ijekavianlatin]=Hunjango
Name[sr@latin]=Hunjango
Name[sv]=Hunyango
Name[tr]=Hunyango
Name[uk]=Уньянго
Name[wa]=Hunyango
Name[x-test]=xxHunyangoxx
Name[zh_CN]=变色龙
Name[zh_TW]=Hunyango


Type=Service
ServiceTypes=Plasma/Wallpaper
Icon=preferences-desktop-wallpaper
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.hunyango
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
