[Desktop Entry]
Name=Binary Clock
Name[ar]=ساعة ثنائية
Name[bs]=Binarni sat
Name[ca]=Rellotge binari
Name[ca@valencia]=Rellotge binari
Name[cs]=Binární hodiny
Name[da]=Binært ur
Name[de]=Binäre Uhr
Name[el]=Δυαδικό ρολόι
Name[en_GB]=Binary Clock
Name[es]=Reloj binario
Name[et]=Binaarkell
Name[eu]=Ordulari bitarra
Name[fi]=Binaarikello
Name[fr]=Horloge binaire
Name[ga]=Clog Dénártha
Name[gl]=Reloxo binario
Name[he]=שעון בִּינָרִי
Name[hr]=Binarni sat
Name[hu]=Bináris óra
Name[id]=Jam Biner
Name[is]=Tvíundarklukka
Name[it]=Orologio binario
Name[ja]=バイナリ時計
Name[kk]=Бинарлы сағат
Name[km]=នាឡិកា​គោល​ពីរ
Name[ko]=바이너리 시계
Name[ku]=Demjimêra Cot
Name[lt]=Dvejetainis laikrodis
Name[lv]=Binārs pulkstenis
Name[mr]=बायनरी घड्याळ
Name[nb]=Binær klokke
Name[nds]=Bineerklock
Name[nl]=Binaire klok
Name[nn]=Binærklokke
Name[pa]=ਬਾਈਨਰੀ ਘੜੀ
Name[pl]=Zegar dwójkowy
Name[pt]=Relógio Binário
Name[pt_BR]=Relógio binário
Name[ro]=Ceas binar
Name[ru]=Двоичные часы
Name[sk]=Binárne hodiny
Name[sl]=Dvojiška ura
Name[sq]=Orë Bianre
Name[sr]=бинарни сат
Name[sr@ijekavian]=бинарни сат
Name[sr@ijekavianlatin]=binarni sat
Name[sr@latin]=binarni sat
Name[sv]=Binärklocka
Name[th]=นาฬิกาไบนารี
Name[tr]=İkili Saat
Name[uk]=Двійковий годинник
Name[wa]=Ôrlodje binaire
Name[x-test]=xxBinary Clockxx
Name[zh_CN]=二进制时钟
Name[zh_TW]=二進制時鐘
Comment=Time displayed in binary format
Comment[ar]=الوقت يظهر بالتنسيق الثنائي
Comment[bs]=Vrijeme prikazano u binarnom obliku
Comment[ca]=Mostra l'hora en format binari
Comment[ca@valencia]=Mostra l'hora en format binari
Comment[cs]=Zobrazení času v binárním formátu
Comment[da]=Tiden vist i binært format
Comment[de]=Zeitanzeige im Binärformat
Comment[el]=Εμφάνιση της ώρας σε δυαδική μορφή
Comment[en_GB]=Time displayed in binary format
Comment[es]=Hora mostrada en formato binario
Comment[et]=Aja näitamine binaarkujul
Comment[eu]=Ordua formatu bitarrean bistaratuta
Comment[fi]=Binaarimuotoinen ajanesitys
Comment[fr]=Heure affichée au format numérique
Comment[ga]=An t-am i bhformáid dhénártha
Comment[gl]=Mostra a hora no formato binario
Comment[he]=השעה מוצגת בפורמט בִּינָרִי
Comment[hr]=Vrijeme je prikazano u binarnom formatu
Comment[hu]=Bináris óra
Comment[id]=Waktu ditampilkan dalam format biner
Comment[is]=Sýnir tímann á tvíundarformi
Comment[it]=Ora mostrata in formato binario
Comment[ja]=時間をバイナリ形式で表示します
Comment[kk]=Бинарлы пішімдегі уақыт
Comment[km]=បាន​បង្ហាញ​ពេលវេលា​គិត​ជា​ទ្រង់ទ្រាយ​គោល​ពីរ
Comment[ko]=이진수로 시각 표시
Comment[ku]=Dem di teşeya cot-bûyî de dê bê nîşandan
Comment[lt]=Dvejetainiu formatu rodomas laikas
Comment[lv]=Rāda laiku binārā formātā
Comment[mr]=बायनरी पद्धतिने वेळ दर्शविली जाते
Comment[nb]=Tiden vist i binærformat
Comment[nds]=Tiet in Bineerformaat wiest
Comment[nl]=De tijd in binair formaat
Comment[nn]=Klokka vist i binærformat
Comment[pa]=ਬਾਈਨਰੀ ਫਾਰਮੈਟ ਵਿੱਚ ਸਮਾਂ ਵੇਖੋ
Comment[pl]=Wyświetla czas w formacie dwójkowym
Comment[pt]=Hora mostrada no formato binário
Comment[pt_BR]=Hora exibida em formato binário
Comment[ro]=Ora afișată în format binar
Comment[ru]=Время в двоичной записи
Comment[sk]=Čas zobrazený v binárnom formáte
Comment[sl]=Čas je prikazan v dvojiški obliki
Comment[sr]=Време приказано у бинарном облику
Comment[sr@ijekavian]=Вријеме приказано у бинарном облику
Comment[sr@ijekavianlatin]=Vrijeme prikazano u binarnom obliku
Comment[sr@latin]=Vreme prikazano u binarnom obliku
Comment[sv]=Tid visad med binärformat
Comment[th]=แสดงเวลาในรูปแบบไบนารี
Comment[tr]=Saati ikili biçimde görüntüle
Comment[uk]=Час, показаний у двійковому форматі
Comment[wa]=Eure håynêye e cogne binaire
Comment[x-test]=xxTime displayed in binary formatxx
Comment[zh_CN]=以二进制格式显示的时间
Comment[zh_TW]=以二進位格式顯示時間
Icon=clock

Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Joseph Wenninger,Davide Bettio,Piotr Kąkol
X-KDE-PluginInfo-Email=jowenn@kde.org, davide.bettio@kdemail.net, piotrkakol@protonmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.binaryclock
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
