[Desktop Entry]
Encoding=UTF-8
Name=Weather Forecast
Comment=Displays Weather information
Icon=weather-clear
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_weather
X-KDE-PluginInfo-Author=Shawn Starr
X-KDE-PluginInfo-Email=shawn.starr@rogers.com
X-KDE-PluginInfo-Name=weather
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
