[Desktop Entry]
Encoding=UTF-8
Name=Weather Forecast
Name[es]=Previsión metereológica
Name[eu]=Eguraldi iragarpena
Name[ga]=Réamhaisnéis Aimsire
Name[nds]=Wederbericht
Name[pt]=Previsão Meteorológica
Name[pt_BR]=Previsão Meteorológica
Name[sv]=Väderprognos
Name[tr]=Hava Tahmini
Name[uk]=Прогноз погоди
Name[x-test]=xxWeather Forecastxx
Name[zh_CN]=天气预报
Name[zh_TW]=氣象預報
Comment=Displays Weather information
Comment[es]=Muestra información meteorológica
Comment[eu]=Eguraldiaren gaineko informazioa bistaratu
Comment[ga]=Taispeáin faisnéis aimsire
Comment[nds]=Wiest Weder-Informatschonen
Comment[pt]=Mostra informações meteorológicas
Comment[pt_BR]=Mostra informações meteorológicas
Comment[sv]=Visar väderinformation
Comment[tr]=Hava durumu bilgisini görüntüler
Comment[uk]=Показує відомості про погоду
Comment[x-test]=xxDisplays Weather informationxx
Comment[zh_CN]=显示天气信息
Comment[zh_TW]=顯示氣象資訊
Icon=weather-clear
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_weather
X-KDE-PluginInfo-Author=Shawn Starr
X-KDE-PluginInfo-Email=shawn.starr@rogers.com
X-KDE-PluginInfo-Name=weather
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
