[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_krunner_spellcheck
X-KDE-ParentComponents=krunner_spellcheck
X-KDE-PluginKeyword=kcm_krunner_spellcheck

Name=Spell Checker Runner
Name[cs]=Kontrola pravopisu
Name[de]=Rechtschreibprüfung
Name[el]=Εκτελεστής ορθογραφικού ελέγχου
Name[es]=Ejecutar revisión ortográfica
Name[et]=Õigekirja kontrollimise käivitaja
Name[fr]=Correcteur d'orthographe
Name[gl]=Executor de comprobación da ortografía
Name[it]=Lanciatore del controllo ortografico
Name[ja]=スペルチェッカー
Name[km]=កម្មវិធី​រត់​កម្មវិធីពិនិត្យអក្ខរាវិរុទ្ធ
Name[nds]=Schriefwiesprööv-Dreger
Name[nl]=Runner voor spellingscontrole
Name[nn]=Stavekontroll
Name[pt]=Execução de Ortografia
Name[pt_BR]=Execução da verificação ortográfica
Name[ru]=Проверка орфографии
Name[sv]=Utför stavningskontroll
Name[tr]=Yazım Denetleyici Çalıştırıcı
Name[uk]=Виконання перевірки правопису
Name[x-test]=xxSpell Checker Runnerxx
Name[zh_CN]=拼写检查运行器
Name[zh_TW]=拼字檢查執行器
