[Desktop Entry]
Name=Spell Checker
Name[ar]=المدقق الإملائي
Name[bs]=Provjera pravopisa
Name[ca]=Corrector ortogràfic
Name[ca@valencia]=Corrector ortogràfic
Name[cs]=Kontrola pravopisu
Name[da]=Stavekontrol
Name[de]=Rechtschreibprüfung
Name[el]=Ορθογραφικός έλεγχος
Name[en_GB]=Spell Checker
Name[es]=Revisor ortográfico
Name[et]=Õigekirja kontroll
Name[eu]=Ortografia zuzentzailea
Name[fi]=Oikoluku
Name[fr]=Correcteur orthographique
Name[ga]=Litreoir
Name[gl]=Corrector ortográfico
Name[he]=בודק האיות
Name[hu]=Helyesírás-ellenőrző indító
Name[ia]=Controlator Orthographic
Name[it]=Controllo ortografico
Name[kk]=Емле тексергіші
Name[km]=ពិនិត្យ​អក្ខរាវិរុទ្ធ
Name[ko]=맞춤법 검사
Name[lt]=Rašybos tikrinimas
Name[lv]=Pareizrakstības pārbaudītājs
Name[mr]=स्पेलिंग तपासणी
Name[nb]=Stavekontroll
Name[nds]=Klookschriever
Name[nl]=Spellingcontrole
Name[nn]=Stavekontroll
Name[pa]=ਸਪੈਲ ਚੈਕਰ
Name[pl]=Sprawdzanie pisowni 
Name[pt]=Verificador Ortográfico
Name[pt_BR]=Verificador ortográfico
Name[ro]=Verificator ortografic
Name[ru]=Проверка орфографии
Name[sk]=Kontrola pravopisu
Name[sl]=Preverjanje črkovanja
Name[sr]=правописар
Name[sr@ijekavian]=правописар
Name[sr@ijekavianlatin]=pravopisar
Name[sr@latin]=pravopisar
Name[sv]=Stavningskontroll
Name[tr]=Yazım Denetleyici
Name[ug]=ئىملا تەكشۈرگۈچ
Name[uk]=Перевірка правопису
Name[wa]=Coridjrece ortografike
Name[x-test]=xxSpell Checkerxx
Name[zh_CN]=拼写检查
Name[zh_TW]=拼字檢查
Comment=Check the spelling of a word
Comment[ar]=تحقق من هجاء الكلمات
Comment[bs]=Provjeri pravopis riječi
Comment[ca]=Comprova l'ortografia d'una paraula
Comment[ca@valencia]=Comprova l'ortografia d'una paraula
Comment[cs]=Kontrola pravopisu
Comment[da]=Tjekker et ords stavning.
Comment[de]=Rechtschreibung eines Wortes überprüfen
Comment[el]=Ορθογραφικός έλεγχος μιας λέξης
Comment[en_GB]=Check the spelling of a word
Comment[es]=Comprobar la ortografía de una palabra
Comment[et]=Sõnade õigekirja kontroll
Comment[eu]=Hitz baten ortografia aztertzen du
Comment[fi]=Tarkastaa sanan oikeinkirjotuksen
Comment[fr]=Vérifie l'orthographe d'un mot
Comment[ga]=Seiceáil litriú focail
Comment[gl]=Comproba a ortografía dunha palabra.
Comment[he]=בודק איות של מילה
Comment[hr]=Provjerite pravopis riječi
Comment[hu]=Egy szó helyesírás-ellenőrzése
Comment[is]=Athuga stafsetningu orðs
Comment[it]=Controlla l'ortografia di una parola
Comment[ja]=単語のスペルをチェックします
Comment[kk]=Бір сөздің емлесін тексеру
Comment[km]=ពិនិត្យ​មើល​កា​រប្រកប​ពាក្យ
Comment[ko]=단어의 맞춤법 검사
Comment[ku]=Rastnivîsa peyvekê kontrol dike
Comment[lt]=Rašybos tikrinimas
Comment[lv]=Pārbauda vārda pareizrakstību
Comment[mr]=शब्दाचे स्पेलिंग तपासा
Comment[nb]=Sjekk skrivemåten for et ord
Comment[nds]=De Schriefwies vun en Woort pröven
Comment[nl]=Controleer de spelling van een woord
Comment[nn]=Sjekk om ord er stava rett
Comment[pa]=ਸ਼ਬਦਾਂ ਦੇ ਸਪੈਲਿੰਗ ਚੈੱਕ ਕਰੋ
Comment[pl]=Sprawdza pisownie słów
Comment[pt]=Verificar a ortografia de uma palavra
Comment[pt_BR]=Verifica a ortografia de uma palavra
Comment[ro]=Verifică ortografia unui cuvânt
Comment[ru]=Проверка правописания слова
Comment[sk]=Kontrolovanie pravopisu
Comment[sl]=Preverite črkovanje besede
Comment[sr]=Проверите да ли је реч исправно написана
Comment[sr@ijekavian]=Провјерите да ли је ријеч исправно написана
Comment[sr@ijekavianlatin]=Provjerite da li je riječ ispravno napisana
Comment[sr@latin]=Proverite da li je reč ispravno napisana
Comment[sv]=Kontrollera stavning av ett ord
Comment[th]=ตรวจสอบการสะกดคำ
Comment[tr]=Bir sözcüğün yazımını denetle
Comment[uk]=Перевірте правопис слова
Comment[wa]=Coridjî l' ortografeye d' on mot
Comment[x-test]=xxCheck the spelling of a wordxx
Comment[zh_CN]=检查单词拼写
Comment[zh_TW]=檢查拼字
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=tools-check-spelling
X-KDE-Library=krunner_spellcheck
X-KDE-PluginInfo-Author=Ryan P. Bitanga
X-KDE-PluginInfo-Email=ryan.bitanga@gmail.com
X-KDE-PluginInfo-Name=Spell Checker
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
