[Desktop Entry]
Name=Spell Checker Runner
Name[ar]=مشغل المدقق الإملائي
Name[ca]=Executador de la verificació ortogràfica
Name[cs]=Kontrola pravopisu
Name[da]=Runner til stavekontrol
Name[de]=Rechtschreibprüfung
Name[el]=Εκτελεστής ορθογραφικού ελέγχου
Name[en_GB]=Spell Checker Runner
Name[es]=Ejecutar la revisión ortográfica
Name[et]=Õigekirja kontrollimise käivitaja
Name[eu]=Ortografia egiaztapen exekutatzailea
Name[fi]=Oikolukija
Name[fr]=Correcteur d'orthographe
Name[ga]=Feidhmitheoir an Litreora
Name[gl]=Executor de comprobación da ortografía
Name[he]=בודק האיות
Name[hu]=Helyesírás-ellenőrző
Name[is]=Keyra stafsetningarleiðréttingu
Name[it]=Esegue il controllo ortografico
Name[ja]=スペルチェッカー
Name[km]=កម្មវិធី​រត់​កម្មវិធីពិនិត្យអក្ខរាវិរុទ្ធ
Name[ko]=맞춤법 검사 실행기
Name[ku]=Xebatkarê Kontrola Rastnivîsê
Name[lv]=Pareizrakstības pārbaudītājs
Name[nb]=Kjører stavekontroll
Name[nds]=Schriefwiesprööv-Dreger
Name[nl]=Runner voor spellingscontrole
Name[nn]=Stavekontroll
Name[pa]=ਸਪੈਲ ਚੈਕਰ ਰਨਰ
Name[pl]=Sprawdzanie pisowni
Name[pt]=Execução de Ortografia
Name[pt_BR]=Execução de verificação ortográfica
Name[ro]=Lansator verificare ortografică
Name[ru]=Проверка орфографии
Name[sk]=Kontrola pravopisu
Name[sl]=Preverjanje črkovanja
Name[sr]=извођач провере правописа
Name[sr@latin]=izvođač provere pravopisa
Name[sv]=Utför stavningskontroll
Name[th]=ผู้ตัวตรวจคำสะกด
Name[tr]=Yazım Denetleyici Çalıştırıcı
Name[uk]=Виконання перевірки правопису
Name[wa]=Enondeu del coridjrece ortografike
Name[x-test]=xxSpell Checker Runnerxx
Name[zh_CN]=拼写检查运行器
Name[zh_TW]=拼字檢查執行器
Comment=Check the spelling of a word
Comment[ar]=تحقق من هجاء الكلمات
Comment[ca]=Comprova l'ortografia d'una paraula
Comment[cs]=Kontrola pravopisu
Comment[da]=Tjekker et ords stavning.
Comment[de]=Rechtschreibung eines Wortes überprüfen
Comment[el]=Ορθογραφικός έλεγχος μιας λέξης
Comment[en_GB]=Check the spelling of a word
Comment[es]=Comprobar la ortografía de una palabra
Comment[et]=Sõnade õigekirja kontroll
Comment[eu]=Hitz baten ortografia egiaztatzen du
Comment[fi]=Tarkastaa sanan oikeinkirjotuksen
Comment[fr]=Trouve l'orthographe d'un mot
Comment[ga]=Seiceáil litriú focail
Comment[gl]=Comproba a ortografía dunha palabra
Comment[he]=בודק איות של מילה
Comment[hu]=Szavak ellenőrzése helyesírás-ellenőrzővel
Comment[is]=Athuga stafsetningu orðs
Comment[it]=Controlla l'ortografia di una parola
Comment[ja]=単語のスペルをチェックします
Comment[km]=ពិនិត្យ​មើល​កា​រប្រកប​ពាក្យ
Comment[ko]=단어의 맞춤법 검사
Comment[ku]=Rastnivîsa peyvekê kontrol dike
Comment[lv]=Pārbauda vārda pareizrakstību
Comment[nb]=Sjekk skrivemåten for et ord
Comment[nds]=De Schriefwies vun en Woort pröven
Comment[nl]=Controleer de spelling van een woord
Comment[nn]=Sjekk om ord er stava rett
Comment[pa]=ਸ਼ਬਦਾਂ ਦੇ ਸਪੈਲਿੰਗ ਚੈੱਕ ਕਰੋ
Comment[pl]=Szukanie pisowni słów
Comment[pt]=Verificar a ortografia de uma palavra
Comment[pt_BR]=Verifica a ortografia de uma palavra
Comment[ro]=Verifică ortografia unui cuvînt
Comment[ru]=Проверка правописания слова
Comment[sk]=Kontrolovanie pravopisu
Comment[sl]=Preverite črkovanje besede
Comment[sr]=Проверите да ли је реч исправно написана
Comment[sr@latin]=Proverite da li je reč ispravno napisana
Comment[sv]=Kontrollera stavning av ett ord
Comment[th]=ตรวจสอบการสะกดคำ
Comment[tr]=Bir sözcüğün yazımını denetle
Comment[uk]=Перевірте правопис слова
Comment[wa]=Coridjî l' ortografeye d' on mot
Comment[x-test]=xxCheck the spelling of a wordxx
Comment[zh_CN]=检查单词拼写
Comment[zh_TW]=檢查拼字
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=tools-check-spelling
X-KDE-Library=krunner_spellcheckrunner
X-KDE-PluginInfo-Author=Ryan P. Bitanga
X-KDE-PluginInfo-Email=ryan.bitanga@gmail.com
X-KDE-PluginInfo-Name=krunner_spellcheck
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
