[Desktop Entry]
Name=Lightning
Name[pt]=Relâmpago
Name[pt_BR]=Relâmpago
Name[sv]=Åska
Name[uk]=Блискавка
Name[x-test]=xxLightningxx

X-KDE-PluginInfo-Name=Lightning
X-KDE-PluginInfo-Author=Wojciech Mis
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
