[Desktop Entry]
Encoding=UTF-8
Name=English Breakfast Network
Name[bg]=Мрежа English Breakfast
Name[es]=Red de desayuno inglés
Name[sv]=English breakfast-nätverket
Comment=Get information from the KDE automated quality checker
Comment[bg]=Информация от центъра на KDE
Comment[es]=Obtiene información del sistema de calidad automatizado de KDE
Comment[nl]=Verkrijg informatie van KDE's geautomatiseerde kwaliteitscontrole
Comment[pt]=Obter informações do sistema de verificação de qualidade automatizado do KDE
Comment[pt_BR]=Obter informações do sistema de verificação de qualidade automatizado do KDE
Comment[sv]=Hämta information från KDE:s automatiska kvalitetskontroll
Type=Service
Icon=kteatime
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_ebn
X-KDE-PluginInfo-Author=Alex Merry
X-KDE-PluginInfo-Email=alex.merry@kdemail.net
X-KDE-PluginInfo-Name=ebn
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
