[Desktop Entry]
Name=Media frame
Name[ca]=Marc multimèdia
Name[de]=Medien-Rahmen
Name[nl]=Mediaframe
Name[pl]=Ramka multimedialna
Name[pt]=Moldura multimédia
Name[pt_BR]=Quadro multimídia
Name[sk]=Snímka médií
Name[sv]=Media frame
Name[uk]=Медіарамка
Name[x-test]=xxMedia framexx
Name[zh_CN]=媒体相框
Comment=(Picture) Frame
Comment[ca]=Marc (fotografies)
Comment[de]=(Bilder)-Rahmen
Comment[nl]=(Afbeelding) frame
Comment[pl]=(Zdjęcie) Ramka
Comment[pt]=Moldura (de Imagens)
Comment[pt_BR]=Quadro (Imagens)
Comment[sk]=Snímka obrázku
Comment[sv]=Bildram
Comment[uk]=(Картинна) рамка
Comment[x-test]=xx(Picture) Framexx
Comment[zh_CN]=(图片) 像框
Icon=image-x-generic
Type=Service
ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-PluginInfo-Author=Lars Pontoppidan
X-KDE-PluginInfo-Email=dev.larpon@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.mediaframe
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=True
X-Plasma-Requires-LaunchApp=Unused
