[KDE Desktop Pattern]
Comment=Digital Bees
Comment[bs]=Digitalne Pčele
Comment[ca]=Abelles digitals
Comment[ca@valencia]=Abelles digitals
Comment[cs]=Digitální včelky
Comment[da]=Digitale bier
Comment[de]=Digitale Bienen
Comment[el]=Ψηφιακές μέλισσες
Comment[en_GB]=Digital Bees
Comment[es]=Abejas digitales
Comment[et]=Digitaalmesilased
Comment[fi]=Digimehiläiset
Comment[fr]=Abeilles numériques
Comment[gl]=Abellas dixitais
Comment[hr]=Digitalne pčele
Comment[hu]=Digitális méhecskék
Comment[it]=Api digitali
Comment[kk]=Цифрлы аралар
Comment[km]= Bees ឌីជីថល
Comment[ko]=디지털 벌
Comment[lt]=Skaitmeninės bitės
Comment[lv]=Digitālās bites
Comment[mr]=डिजिटल माश्या
Comment[nb]=Digitale bier
Comment[nds]=Digitaal Immen
Comment[nl]=Digitale bijen
Comment[nn]=Digitale bier
Comment[pa]=ਡਿਜ਼ਿਟਲ ਬੀਜ਼
Comment[pl]=Cyfrowe pszczoły
Comment[pt]=Abelhas Digitais
Comment[pt_BR]=Abelhas digitais
Comment[ro]=Albine numerice
Comment[ru]=Дискретные пчёлы
Comment[sk]=Digitálne včely
Comment[sl]=Digitalne čebele
Comment[sr]=дигиталне пчеле
Comment[sr@ijekavian]=дигиталне пчеле
Comment[sr@ijekavianlatin]=digitalne pčele
Comment[sr@latin]=digitalne pčele
Comment[sv]=Digitala bin
Comment[tr]=Dijital Arılar
Comment[uk]=Цифрові бджоли
Comment[wa]=Moxhes al låme limerikes
Comment[x-test]=xxDigital Beesxx
Comment[zh_CN]=数码蜜蜂
Comment[zh_TW]=數位蜜蜂
File=bees.png

