[KDE Desktop Pattern]
Comment=Digital Bees
Comment[ca]=Abelles digitals
Comment[ca@valencia]=Abelles digitals
Comment[da]=Digitale bier
Comment[de]=Digitale Bienen
Comment[el]=Ψηφιακές Μέλισσες
Comment[en_GB]=Digital Bees
Comment[es]=Abejas digitales
Comment[et]=Digitaalmesilased
Comment[fi]=Digimehiläiset
Comment[fr]=Abeilles numériques
Comment[gl]=Abellas dixitais
Comment[it]=Api digitali
Comment[nb]=Digitale bier
Comment[nds]=Digitaal Immen
Comment[nl]=Digitale bijen
Comment[pa]=ਡਿਜ਼ਿਟਲ ਬੀਜ਼
Comment[pl]=Cyfrowe pszczoły
Comment[pt]=Abelhas Digitais
Comment[pt_BR]=Abelhas digitais
Comment[ro]=Albine numerice
Comment[ru]=Дискретные пчёлы
Comment[sk]=Digitálne včely
Comment[sr]=дигиталне пчеле
Comment[sr@ijekavian]=дигиталне пчеле
Comment[sr@ijekavianlatin]=digitalne pčele
Comment[sr@latin]=digitalne pčele
Comment[sv]=Digitala bin
Comment[tr]=Dijital Arılar
Comment[uk]=Цифрові бджоли
Comment[x-test]=xxDigital Beesxx
Comment[zh_CN]=数码蜜蜂
Comment[zh_TW]=數位蜜蜂
File=bees.png

