[KDE Desktop Pattern]
Comment=Digital Bees
Comment[ca]=Abelles digitals
Comment[da]=Digitale bier
Comment[de]=Digitale Bienen
Comment[en_GB]=Digital Bees
Comment[es]=Abejas digitales
Comment[et]=Digitaalmesilased
Comment[fr]=Abeilles numériques
Comment[gl]=Abellas dixitais
Comment[it]=Api digitali
Comment[nb]=Digitale bier
Comment[nds]=Digitaal Immen
Comment[pt]=Abelhas Digitais
Comment[pt_BR]=Abelhas digitais
Comment[ro]=Albine numerice
Comment[sv]=Digitala bin
Comment[tr]=Dijital Arılar
Comment[uk]=Цифрові бджоли
Comment[x-test]=xxDigital Beesxx
Comment[zh_TW]=數位蜜蜂
File=bees.png

