[KDE Desktop Pattern]
Comment=Celtic Knot
Comment[ast]=Celtic Knot
Comment[bs]=Keltisku čvor
Comment[ca]=Escut cèltic
Comment[ca@valencia]=Escut cèltic
Comment[cs]=Keltský uzel
Comment[da]=Keltisk knude
Comment[de]=Keltischer Knoten
Comment[el]=Κέλτικος κόμπος
Comment[en_GB]=Celtic Knot
Comment[es]=Nudo celta
Comment[et]=Keldi sõlm
Comment[fi]=Kelttiläinen solmu
Comment[fr]=Nœud celtique
Comment[gl]=Nó celta
Comment[hr]=Keltski čvor
Comment[hu]=Kelta csomó
Comment[it]=Nodo celtico
Comment[kk]=Кельт түйіні
Comment[km]=Celtic Knot
Comment[ko]=켈트 매듭
Comment[lv]=Ķeltu mezgls
Comment[mr]=सेल्टिक नोट
Comment[nb]=Keltisk knute
Comment[nds]=Keltsch Knütt
Comment[nl]=Keltische knoop
Comment[nn]=Keltisk knute
Comment[pl]=Celtycki węzeł
Comment[pt]=Nó Celta
Comment[pt_BR]=Nó celta
Comment[ru]=Кельтские узлы
Comment[sk]=Keltský uzol
Comment[sl]=Keltski vozel
Comment[sr]=келтски чвор
Comment[sr@ijekavian]=келтски чвор
Comment[sr@ijekavianlatin]=keltski čvor
Comment[sr@latin]=keltski čvor
Comment[sv]=Keltisk knut
Comment[tr]=Kelt Düğümü
Comment[uk]=Кельтський вузол
Comment[wa]=Nuk celtike
Comment[x-test]=xxCeltic Knotxx
Comment[zh_CN]=居尔特结
Comment[zh_TW]=Celtic Knot
File=celtic.png

