[KDE Desktop Pattern]
Comment=Celtic Knot
Comment[ca]=Escut cèltic
Comment[ca@valencia]=Escut cèltic
Comment[da]=Keltisk knude
Comment[de]=Keltischer Knoten
Comment[en_GB]=Celtic Knot
Comment[es]=Nudo celta
Comment[et]=Keldi sõlm
Comment[fr]=Nœud celtique
Comment[gl]=Nó celta
Comment[it]=Nodo celtico
Comment[nb]=Keltisk knute
Comment[nds]=Keltsch Knütt
Comment[pt]=Nó Celta
Comment[pt_BR]=Nó celta
Comment[sr]=келтски чвор
Comment[sr@ijekavian]=келтски чвор
Comment[sr@ijekavianlatin]=keltski čvor
Comment[sr@latin]=keltski čvor
Comment[sv]=Keltisk knut
Comment[tr]=Kelt Düğümü
Comment[uk]=Кельтський вузол
Comment[x-test]=xxCeltic Knotxx
Comment[zh_TW]=Celtic Knot
File=celtic.png

