[KDE Desktop Pattern]
Comment=Celtic Knot
Comment[es]=Nudo celta
Comment[nb]=Keltisk knute
Comment[nds]=Keltsch Knütt
Comment[pt]=Nó Celta
Comment[pt_BR]=Nó celta
Comment[sv]=Keltisk knut
Comment[tr]=Kelt Düğümü
Comment[uk]=Кельтський вузол
Comment[x-test]=xxCeltic Knotxx
File=celtic.png

