[KDE Desktop Pattern]
Comment=Eastern Blues
Comment[bs]=Istočni bluz
Comment[ca]=Blaus orientals
Comment[ca@valencia]=Blaus orientals
Comment[cs]=Východní blues
Comment[da]=Østlige blues
Comment[de]=Melancholischer Orient
Comment[el]=Ανατολικά Blues
Comment[en_GB]=Eastern Blues
Comment[es]=Blues oriental
Comment[et]=Idabluus
Comment[fi]=Itäinen blues
Comment[fr]=Blues de l'est
Comment[gl]=Blues do este
Comment[hr]=Istočnjački blues
Comment[hu]=Keleti blues
Comment[it]=Blu dell'est
Comment[kk]=Шығыс блюзі
Comment[km]=Eastern Blues
Comment[ko]=동방의 파랑
Comment[lv]=Austrumu skumjas
Comment[mr]=पूर्वीय निळे
Comment[nb]=Eastern Blues
Comment[nds]=Oosten Sachtmood
Comment[nl]=Eastern Blues
Comment[nn]=Blått frå Austen
Comment[pa]=ਈਸਟਰ ਬਲਿਊ
Comment[pl]=Wschodni blues
Comment[pt]=Blues de Leste
Comment[pt_BR]=Blues do Leste
Comment[ro]=Albastru estic
Comment[ru]=Восточный узор
Comment[sk]=Východný blues
Comment[sl]=Vzhodni blues
Comment[sr]=источњачки блуз
Comment[sr@ijekavian]=источњачки блуз
Comment[sr@ijekavianlatin]=istočnjački bluz
Comment[sr@latin]=istočnjački bluz
Comment[sv]=Östlig blues
Comment[th]=สีฟ้าแห่งตะวันออก
Comment[tr]=Doğu Hüznü
Comment[uk]=Східний блюз
Comment[wa]=Bloûsse levantrece
Comment[x-test]=xxEastern Bluesxx
Comment[zh_CN]=东方布鲁斯
Comment[zh_TW]=Eastern Blues
File=eastern_blues.png

