[KDE Desktop Pattern]
Comment=Eastern Blues
Comment[de]=Melancholischer Orient
Comment[en_GB]=Eastern Blues
Comment[es]=Blues oriental
Comment[et]=Idabluus
Comment[fr]=Blues de l'est
Comment[nb]=Eastern Blues
Comment[nds]=Oosten Sachtmood
Comment[pt]=Blues de Leste
Comment[pt_BR]=Blues do Leste
Comment[ro]=Albastru estic
Comment[sv]=Östlig blues
Comment[tr]=Doğu Hüznü
Comment[uk]=Східний блюз
Comment[x-test]=xxEastern Bluesxx
Comment[zh_TW]=Eastern Blues
File=eastern_blues.png

