[KDE Desktop Pattern]
Comment=Eastern Blues
Comment[es]=Blues oriental
Comment[nds]=Oosten Sachtmood
Comment[pt]=Blues de Leste
Comment[pt_BR]=Blues do Leste
Comment[ro]=Albastru estic
Comment[sv]=Östlig blues
Comment[uk]=Східний блюз
Comment[x-test]=xxEastern Bluesxx
File=eastern_blues.png

