[KDE Desktop Pattern]
Comment=Fish Net
Comment[ar]=شبكة صيد
Comment[ast]=Rede de pesca
Comment[bs]=Ribarska mreža
Comment[ca]=Xarxa de peix
Comment[ca@valencia]=Xarxa de peix
Comment[cs]=Rybářská síť
Comment[da]=Fiskenet
Comment[de]=Fischernetz
Comment[el]=Δίχτυα ψαρέματος
Comment[en_GB]=Fish Net
Comment[eo]=Ŝajnigita reto
Comment[es]=Red de pesca
Comment[et]=Kalavõrk
Comment[fi]=Kalaverkko
Comment[fr]=Filet de pêche
Comment[ga]=Eangach
Comment[gl]=Rede de pesca
Comment[hr]=Ribarska mreža
Comment[hu]=Halászháló
Comment[is]=Fiskinet
Comment[it]=Rete da pesca
Comment[kk]=Балықшы торы
Comment[km]=សំណាញ់​ត្រី​
Comment[ko]=그물
Comment[lt]=Žuvų tinklas
Comment[lv]=Zivju tīkls
Comment[mr]=मासेमारीचे जाळे
Comment[nb]=Fiskegarn
Comment[nds]=Fischnett
Comment[nl]=Visnet
Comment[nn]=Fiskegarn
Comment[pa]=ਫਿਸ਼ ਨੈੱਟ
Comment[pl]=Sieć na ryby
Comment[pt]=Rede de Pesca
Comment[pt_BR]=Rede de pesca
Comment[ro]=Plasă pescărească
Comment[ru]=Рыбацкая сеть
Comment[sk]=Rybárska sieť
Comment[sl]=Ribiška mreža
Comment[sq]=Fish Net
Comment[sr]=рибарска мрежа
Comment[sr@ijekavian]=рибарска мрежа
Comment[sr@ijekavianlatin]=ribarska mreža
Comment[sr@latin]=ribarska mreža
Comment[sv]=Fisknät
Comment[th]=ลายแหจับปลา
Comment[tr]=Sahte Ağ
Comment[ug]=بېلىق تورى
Comment[uk]=Риб’яча сітка
Comment[wa]=Filet d' pexhe
Comment[x-test]=xxFish Netxx
Comment[zh_CN]=渔网
Comment[zh_TW]=魚網
File=fish.png
