[KDE Desktop Pattern]
Comment=Fish Net
Comment[ar]=شبكة صيد
Comment[ca]=Xarxa de peix
Comment[cs]=Rybářská síť
Comment[da]=Fiskenet
Comment[de]=Fishernetz
Comment[el]=Δίχτυα ψαρέματος
Comment[en_GB]=Fish Net
Comment[es]=Red de pesca
Comment[et]=Kalavõrk
Comment[fr]=Filet de pêche
Comment[ga]=Eangach
Comment[gl]=Rede de pesca
Comment[hu]=Háló
Comment[is]=Fiskinet
Comment[it]=Rete da pesca
Comment[km]=សំណាញ់​ត្រី​
Comment[lv]=Zivju tīlks
Comment[nb]=Fiskegarn
Comment[nds]=Fischnett
Comment[nl]=Visnet
Comment[nn]=Fiskegarn
Comment[pa]=ਫਿਸ਼ ਨੈੱਟ
Comment[pl]=Sieć na ryby
Comment[pt]=Rede de Pesca
Comment[pt_BR]=Rede de pesca
Comment[ro]=Plasă pescărească
Comment[sk]=Rybárska sieť
Comment[sl]=Ribiška mreža
Comment[sr]=рибарска мрежа
Comment[sr@latin]=ribarska mreža
Comment[sv]=Fisknät
Comment[tr]=Sahte Ağ
Comment[uk]=Риб’яча сітка
Comment[wa]=Filet d' pexhe
Comment[x-test]=xxFish Netxx
Comment[zh_TW]=魚網
File=fish.png
