[KDE Desktop Pattern]
Comment=Fish Net
Comment[be]=Рыбалоўная сетка
Comment[cs]=Síť na ryby
Comment[de]=Fischernetz
Comment[el]=Δίχτυα ψαρέματος
Comment[et]=Kalavõrk
Comment[fr]=Filet de pèche
Comment[ga]=Eangach
Comment[gl]=Rede de pescar
Comment[ja]=漁網
Comment[km]=បណ្ដាញ​ត្រី
Comment[lt]=Žuvų tinklas
Comment[nds]=Fischnett
Comment[nl]=Visnet
Comment[nn]=Fiskegarn
Comment[pa]=ਮੱਛੀ ਜਾਲ
Comment[pl]=Sieć
Comment[pt]=Rede de Pesca
Comment[pt_BR]=Rede de Pesca
Comment[sv]=Fisknät
Comment[tr]=Balık Ağı
Comment[uk]=Риб’яча сітка
Comment[x-test]=xxFish Netxx
File=fish.png
