[KDE Desktop Pattern]
Comment=Flowers
Comment[ar]=الزهور
Comment[ca]=Flors
Comment[ca@valencia]=Flors
Comment[cs]=Květiny
Comment[da]=Blomster
Comment[de]=Blumen
Comment[el]=Λουλούδια
Comment[en_GB]=Flowers
Comment[eo]=Floroj
Comment[es]=Flores
Comment[et]=Lilled
Comment[fi]=Kukat
Comment[fr]=Fleurs
Comment[ga]=Bláthanna
Comment[gl]=Flores
Comment[hu]=Virágok
Comment[is]=Blóm
Comment[it]=Fiori
Comment[km]=ផ្កា
Comment[lt]=Gėlės
Comment[lv]=Ziedi
Comment[nb]=Blomster
Comment[nds]=Blomen
Comment[nl]=Bloemen
Comment[nn]=Blomar
Comment[pa]=ਫੁੱਲ
Comment[pl]=Kwiaty
Comment[pt]=Flores
Comment[pt_BR]=Flores
Comment[ro]=Flori
Comment[ru]=Цветы
Comment[sk]=Kvety
Comment[sl]=Rože
Comment[sr]=цвеће
Comment[sr@ijekavian]=цвијеће
Comment[sr@ijekavianlatin]=cvijeće
Comment[sr@latin]=cveće
Comment[sv]=Blommor
Comment[tr]=Çiçekler
Comment[uk]=Квіти
Comment[x-test]=xxFlowersxx
Comment[zh_CN]=鲜花
Comment[zh_TW]=花兒
File=flowers.png
