[KDE Desktop Pattern]
Comment=Clearly French
Comment[nds]=Kloor franzöösch
Comment[pt]=Claramente Francês
Comment[pt_BR]=Claramente Francês
Comment[sv]=Definitivt fransk
Comment[uk]=Суто французький
Comment[x-test]=xxClearly Frenchxx
File=french.png

