[KDE Desktop Pattern]
Comment=Clearly French
Comment[ca]=Evidentment francès
Comment[ca@valencia]=Evidentment francés
Comment[da]=Tydeligt fransk
Comment[de]=Eindeutig französisch
Comment[en_GB]=Clearly French
Comment[es]=Claramente francés
Comment[et]=Ehtprantsuse
Comment[fi]=Selvä ranskis
Comment[fr]=Bien français
Comment[gl]=Claramente francés
Comment[it]=Chiaramente francese
Comment[nb]=Tydeligvis fransk
Comment[nds]=Kloor franzöösch
Comment[nl]=Clearly French
Comment[pt]=Claramente Francês
Comment[pt_BR]=Claramente Francês
Comment[ro]=Curat franțuzesc
Comment[sr]=очито француско
Comment[sr@ijekavian]=очито француско
Comment[sr@ijekavianlatin]=očito francusko
Comment[sr@latin]=očito francusko
Comment[sv]=Definitivt fransk
Comment[tr]=Fransız
Comment[uk]=Суто французький
Comment[x-test]=xxClearly Frenchxx
Comment[zh_TW]=Clearly French
File=french.png

