[KDE Desktop Pattern]
Comment=Clearly French
Comment[bs]=Čisto francuski
Comment[ca]=Evidentment francès
Comment[ca@valencia]=Evidentment francés
Comment[cs]=Čistě francouzské
Comment[da]=Tydeligt fransk
Comment[de]=Eindeutig französisch
Comment[el]=Καθαρά Γαλλικό
Comment[en_GB]=Clearly French
Comment[es]=Claramente francés
Comment[et]=Ehtprantsuse
Comment[fi]=Selvä ranskis
Comment[fr]=Bien français
Comment[gl]=Claramente francés
Comment[hr]=Očito Francuz
Comment[hu]=Anjou liliom
Comment[it]=Chiaramente francese
Comment[kk]=Шын француздық
Comment[km]=Clearly French
Comment[ko]=깨끗한 프랑스
Comment[lv]=Pavisam noteikti franču
Comment[mr]=क्लियरली फ्रेंच
Comment[nb]=Tydeligvis fransk
Comment[nds]=Kloor franzöösch
Comment[nl]=Clearly French
Comment[nn]=Klart fransk
Comment[pl]=Po prostu Francja
Comment[pt]=Claramente Francês
Comment[pt_BR]=Claramente Francês
Comment[ro]=Curat franțuzesc
Comment[ru]=Французский узор
Comment[sk]=Čisto francúzske
Comment[sl]=Očitno francosko
Comment[sr]=очито француско
Comment[sr@ijekavian]=очито француско
Comment[sr@ijekavianlatin]=očito francusko
Comment[sr@latin]=očito francusko
Comment[sv]=Definitivt fransk
Comment[tr]=Fransız
Comment[uk]=Суто французький
Comment[wa]=Clairmint francès
Comment[x-test]=xxClearly Frenchxx
Comment[zh_CN]=清纯法兰西
Comment[zh_TW]=Clearly French
File=french.png

