[KDE Desktop Pattern]
Comment=Ivory Coast
Comment[bs]=Obala Slonovače
Comment[ca]=Costa d'Ivori
Comment[ca@valencia]=Costa d'Ivori
Comment[cs]=Pobřeží slonoviny
Comment[da]=Elfenbenskysten
Comment[de]=Elfenbeinküste
Comment[el]=Ακτή Ελεφαντοστού
Comment[en_GB]=Ivory Coast
Comment[es]=Costa de marfil
Comment[et]=Elevandiluurannik
Comment[fi]=Norsunluurannikko
Comment[fr]=Côte d'ivoire
Comment[gl]=Costa de Marfil
Comment[hr]=Obala Bjelokosti
Comment[hu]=Elefántcsontpart
Comment[it]=Costa d'Avorio
Comment[kk]=Піл сүйек жағалауы
Comment[km]=Ivory Coast
Comment[ko]=상아 해안
Comment[lt]=Drablio kaulo krantas
Comment[lv]=Ziloņkaula krasts
Comment[mr]=आरव्हरी कोस्ट
Comment[nb]=Elfenbeinskysten
Comment[nds]=Elfenbeenküst
Comment[nl]=Ivoorkust
Comment[nn]=Elfenbeinskysten
Comment[pl]=Wybrzeże Kości Słoniowej
Comment[pt]=Costa do Marfim
Comment[pt_BR]=Costa do Marfim
Comment[ro]=Coasta de Fildeș
Comment[ru]=Берег Слоновой Кости
Comment[sk]=Pobrežie Slonoviny
Comment[sl]=Slonokoščena obala
Comment[sr]=обала слоноваче
Comment[sr@ijekavian]=обала слоноваче
Comment[sr@ijekavianlatin]=obala slonovače
Comment[sr@latin]=obala slonovače
Comment[sv]=Elfenbenskusten
Comment[th]=ชายฝั่งไอวอรี่
Comment[tr]=Fildişi Sahil
Comment[ug]=پىل چىشى قىرغىقى
Comment[uk]=Берег Слонової Кістки
Comment[wa]=Côte d' Ivwere
Comment[x-test]=xxIvory Coastxx
Comment[zh_CN]=象牙海岸
Comment[zh_TW]=象牙海岸
File=ivory_coast.png

