[KDE Desktop Pattern]
Comment=Lineage
Comment[es]=Linaje
Comment[nb]=Avstamning
Comment[nds]=Afkomst
Comment[pt]=Linhagem
Comment[pt_BR]=Linhagem
Comment[ro]=Descendență
Comment[sv]=Anor
Comment[tr]=Köken
Comment[uk]=Родовід
Comment[x-test]=xxLineagexx
File=lineage.png

