[KDE Desktop Pattern]
Comment=Lineage
Comment[bs]=Porijeklo
Comment[ca]=Llinatge
Comment[ca@valencia]=Llinatge
Comment[cs]=Rodokmen
Comment[da]=Linjeværk
Comment[de]=Verzweigung
Comment[el]=Γενεαλογία
Comment[en_GB]=Lineage
Comment[es]=Linaje
Comment[et]=Jooneline
Comment[fi]=Sukuperä
Comment[fr]=Lignée
Comment[gl]=Liñaxe
Comment[hr]=Porijeklo
Comment[hu]=Eredet
Comment[it]=Lignaggio
Comment[kk]=Ру шежіресі
Comment[km]=Lineage
Comment[ko]=선
Comment[lt]=Linija
Comment[lv]=Ciltsraksti
Comment[mr]=लाइनेज
Comment[nb]=Avstamning
Comment[nds]=Afkomst
Comment[nl]=Lineage
Comment[nn]=Arvefølgd
Comment[pl]=Ród
Comment[pt]=Linhagem
Comment[pt_BR]=Linhagem
Comment[ro]=Descendență
Comment[ru]=Родословная
Comment[sk]=Rodokmeň
Comment[sl]=Linije
Comment[sr]=порекло
Comment[sr@ijekavian]=поријекло
Comment[sr@ijekavianlatin]=porijeklo
Comment[sr@latin]=poreklo
Comment[sv]=Anor
Comment[tr]=Köken
Comment[uk]=Родовід
Comment[wa]=Linêye
Comment[x-test]=xxLineagexx
Comment[zh_CN]=脉理条纹
Comment[zh_TW]=Lineage
File=lineage.png

