[KDE Desktop Pattern]
Comment=Night Rock by Tigert
Comment[ar]=ليلة روك بواسطة Tigert
Comment[ca]=Night Rock per Tigert
Comment[cs]=Noční skála (od Tigerta)
Comment[da]=Night Rock af Tigert
Comment[de]=Nachtgestein von Tigert
Comment[el]=Βραδινός βράχος από Tigert
Comment[en_GB]=Night Rock by Tigert
Comment[es]=Night Rock de Tigert
Comment[et]=Night Rock (autor Tigert)
Comment[fr]=Rocher de nuit par Tigert
Comment[ga]=Night Rock le Tigert
Comment[gl]=Night Rock por Tigert
Comment[hu]=Szikla éjjel (Tigert)
Comment[is]=Næturrokk eftir Tigert
Comment[it]=Night Rock di Tigert
Comment[km]=ថ្ម​រាត្រី​ដោយ Tigert
Comment[lv]=Nakts akmeņi, no Tigerta
Comment[nb]=Night Rock av Tigert
Comment[nds]=Nachtrock vun Tigert
Comment[nl]=Night Rock, door Tigert
Comment[nn]=Nattfjell av Tigert
Comment[pl]=Night Rock, autor:Tigert
Comment[pt]=Night Rock de Tigert
Comment[pt_BR]=Rocha noturna por Tigert
Comment[ro]=Stîncă nocturnă de Tigert
Comment[sk]=Nočná skala od Tigerta
Comment[sl]=Nočni kamen, avtor: Tigert
Comment[sr]=ноћна стена од Тигерта
Comment[sr@latin]=noćna stena od Tigerta
Comment[sv]=Nattsten av Tigert
Comment[tr]=Tigert tarafından oluşturulan Night Rock
Comment[uk]=Нічний політ Тайгерта
Comment[wa]=Rotche al nut pal Tigert
Comment[x-test]=xxNight Rock by Tigertxx
Comment[zh_TW]=黑暗巨石（by Tigert）
File=night-rock.jpg
