[KDE Desktop Pattern]
Comment=Night Rock by Tigert
Comment[et]=Night Rock (autor Tigert)
Comment[ga]=Night Rock le Tigert
Comment[pt]=Night Rock de Tigert
Comment[pt_BR]=Night Rock de Tigert
Comment[sv]=Nattsten av Tigert
Comment[uk]=Нічний політ Тайгерта
Comment[x-test]=xxNight Rock by Tigertxx
Comment[zh_TW]=黑暗巨石（by Tigert）
File=night-rock.jpg
