[KDE Desktop Pattern]
Comment=Night Rock by Tigert
Comment[be]=Начная Гара ад Tigert
Comment[de]=Night Rock von Tigert
Comment[el]=Βραδινός βράχος από Tigert
Comment[et]=Night Rock (autor Tigert)
Comment[fr]=Night Rock par Tigert
Comment[ga]=Night Rock le Tigert
Comment[gl]=Night Rock por Tigert
Comment[ja]=Tigert による Night Rock
Comment[km]=Night Rock ដោយ Tigert
Comment[nds]=Nachtrock vun Tigert
Comment[nl]=Rots bij Nacht, door Tigert
Comment[nn]=Nattfjell av Tigert
Comment[pt]=Night Rock de Tigert
Comment[pt_BR]=Rocha Noturna por Tigert
Comment[sv]=Nattklippa av Tigert
Comment[tr]=Tigert tarafından oluşturulan Night Rock
Comment[uk]=Нічний політ Тайгерта
Comment[x-test]=xxNight Rock by Tigertxx
File=night-rock.jpg
