[KDE Desktop Pattern]
Comment=Pavement
Comment[et]=Sillutis
Comment[ga]=Pábháil
Comment[pt]=Calçada
Comment[pt_BR]=Calçada
Comment[sv]=Trottoar
Comment[uk]=Бруківка
Comment[x-test]=xxPavementxx
Comment[zh_TW]=人行道
File=pavement.png
