[KDE Desktop Pattern]
Comment=Pavement
Comment[ar]=الرصيف
Comment[ca]=Paviment
Comment[cs]=Dlažba
Comment[da]=Brosten
Comment[de]=Pflaster
Comment[el]=Πεζοδρόμιο
Comment[en_GB]=Pavement
Comment[es]=Pavimento
Comment[et]=Sillutis
Comment[fr]=Chaussée
Comment[ga]=Pábháil
Comment[gl]=Pavimento
Comment[hu]=Járda
Comment[is]=Gangstétt
Comment[it]=Lastricato
Comment[km]=កម្រាល​ថ្ម
Comment[lv]=Bruģis
Comment[nb]=Fortau
Comment[nds]=Stieg
Comment[nl]=Bestrating
Comment[nn]=Fortau
Comment[pl]=Ścieżka
Comment[pt]=Calçada
Comment[pt_BR]=Pavimento
Comment[ro]=Pavaj
Comment[sk]=Dlažba
Comment[sl]=Tlakovec
Comment[sr]=плочник
Comment[sr@latin]=pločnik
Comment[sv]=Trottoar
Comment[tr]=Döşeme
Comment[uk]=Бруківка
Comment[wa]=Trotwer
Comment[x-test]=xxPavementxx
Comment[zh_TW]=人行道
File=pavement.png
