[KDE Desktop Pattern]
Comment=Pavement
Comment[be]=Брушчатка
Comment[de]=Gehsteig
Comment[el]=Πεζοδρόμιο
Comment[et]=Sillutis
Comment[fr]=Pavés
Comment[ga]=Pábháil
Comment[gl]=Pavimento
Comment[ja]=歩道
Comment[km]=ចិញ្ចើម​ថ្នល់
Comment[lt]=Grindinys
Comment[nds]=Plaster
Comment[nl]=Stoep
Comment[nn]=Fortau
Comment[pl]=Ścieżka
Comment[pt]=Calçada
Comment[pt_BR]=Pavimento
Comment[ro]=Pavaj
Comment[sv]=Trottoar
Comment[tr]=Döşeme
Comment[uk]=Бруківка
Comment[x-test]=xxPavementxx
File=pavement.png
