[KDE Desktop Pattern]
Comment=Damascus Flower
Comment[nds]=Damaskus-Bloom
Comment[pt]=Flor de Damasco
Comment[pt_BR]=Flor de damasco
Comment[sv]=Damaskusblomma
Comment[uk]=Квітка Дамаска
Comment[x-test]=xxDamascus Flowerxx
File=persism.png

