[KDE Desktop Pattern]
Comment=Damascus Flower
Comment[es]=Flor de Damasco
Comment[nb]=Damaskusblomst
Comment[nds]=Damaskus-Bloom
Comment[pt]=Flor de Damasco
Comment[pt_BR]=Flor de damasco
Comment[ro]=Floare de damasc
Comment[sv]=Damaskusblomma
Comment[uk]=Квітка Дамаска
Comment[x-test]=xxDamascus Flowerxx
Comment[zh_TW]=大馬士革花
File=persism.png

