[KDE Desktop Pattern]
Comment=Damascus Flower
Comment[bs]=Damački cvijet
Comment[ca]=Flor de Damasc
Comment[ca@valencia]=Flor de Damasc
Comment[cs]=Damašská květina
Comment[da]=Damascus-blomst
Comment[de]=Blume aus Damaskus
Comment[el]=Το λουλούδι της Δαμασκού
Comment[en_GB]=Damascus Flower
Comment[es]=Flor de Damasco
Comment[et]=Damaskuse õis
Comment[fi]=Damaskoksen kukka
Comment[fr]=Fleurs de Damas
Comment[gl]=Flor de Damasco
Comment[hr]=Cvijet Damaska
Comment[hu]=Damaszkuszvirág
Comment[it]=Fiore di Damasco
Comment[kk]=Дамаск гүлі
Comment[km]=Damascus Flower
Comment[ko]=다마스커스 꽃
Comment[lt]=Damasko gėlė
Comment[lv]=Damaskas zieds
Comment[mr]=दमास्कस फूल
Comment[nb]=Damaskusblomst
Comment[nds]=Damaskus-Bloom
Comment[nl]=Damascus Flower
Comment[nn]=Damaskus-blome
Comment[pl]=Kwiat Damaszku
Comment[pt]=Flor de Damasco
Comment[pt_BR]=Flor de damasco
Comment[ro]=Floare de damasc
Comment[ru]=Дамасский цветок
Comment[sk]=Kvet Damašku
Comment[sl]=Roža Damaska
Comment[sr]=дамаски цвет
Comment[sr@ijekavian]=дамаски цвијет
Comment[sr@ijekavianlatin]=damaski cvijet
Comment[sr@latin]=damaski cvet
Comment[sv]=Damaskusblomma
Comment[th]=ดอกไม้แห่งดามาสกัส
Comment[tr]=Şam Çiçeği
Comment[uk]=Квітка Дамаска
Comment[wa]=Fleur di Damascus
Comment[x-test]=xxDamascus Flowerxx
Comment[zh_CN]=大马士革鲜花
Comment[zh_TW]=大馬士革花
File=persism.png

