[KDE Desktop Pattern]
Comment=Rattan
Comment[el]=Βακτηρία
Comment[ga]=Ratán
Comment[pt]=Rota
Comment[pt_BR]=Rota
Comment[sv]=Rotting
Comment[tr]=Duvar Yosunu
Comment[uk]=Ротанг
Comment[x-test]=xxRattanxx
Comment[zh_TW]=藤蔓
File=rattan.png
