[KDE Desktop Pattern]
Comment=Rattan
Comment[ca]=Rotang
Comment[da]=Peddigrør
Comment[el]=Βακτηρία
Comment[es]=Junco de indias
Comment[fr]=Rotin
Comment[ga]=Ratán
Comment[km]=ផ្ដៅ
Comment[nb]=Rotting
Comment[pt]=Rota
Comment[pt_BR]=Rota
Comment[sv]=Rotting
Comment[tr]=Duvar Yosunu
Comment[uk]=Ротанг
Comment[x-test]=xxRattanxx
Comment[zh_TW]=藤蔓
File=rattan.png
