[KDE Desktop Pattern]
Comment=Rattan
Comment[ga]=Ratán
Comment[ja]=籐 (とう)
Comment[nl]=Rotan
Comment[nn]=Rotting
Comment[pt]=Rota
Comment[pt_BR]=Rota
Comment[sv]=Rotting
Comment[tr]=Duvar Yosunu
Comment[uk]=Ротанг
Comment[x-test]=xxRattanxx
File=rattan.png
