[KDE Desktop Pattern]
Comment=Starry Sky
Comment[bs]=Zvijezdano nebo
Comment[ca]=Cel estrellat
Comment[ca@valencia]=Cel estrellat
Comment[cs]=Hvězdná obloha
Comment[da]=Stjernehimmel
Comment[de]=Sternenhimmel
Comment[el]=Έναστρος ουρανός
Comment[en_GB]=Starry Sky
Comment[es]=Cielo estrellado
Comment[et]=Tähistaevas
Comment[fi]=Tähtitaivas
Comment[fr]=Ciel étoilé
Comment[gl]=Ceo estrelado
Comment[hr]=Zvjezdano nebo
Comment[hu]=Csillagos ég
Comment[it]=Cielo stellato
Comment[kk]=Жұлдызды аспан
Comment[km]=Starry Sky
Comment[ko]=별이 빛나는 하늘
Comment[lv]=Zvaigžņotā debess
Comment[mr]=चांदणे आकाश
Comment[nb]=Stjernehimmel
Comment[nds]=Steernheven
Comment[nl]=Hemel vol sterren
Comment[nn]=Stjernehimmel
Comment[pl]=Gwiezdne niebo
Comment[pt]=Céu Estrelado
Comment[pt_BR]=Céu estrelado
Comment[ro]=Cer înstelat
Comment[ru]=Звёздное небо
Comment[sk]=Hviezdna obloha
Comment[sl]=Zvezdnato nebo
Comment[sr]=звездано небо
Comment[sr@ijekavian]=звјездано небо
Comment[sr@ijekavianlatin]=zvjezdano nebo
Comment[sr@latin]=zvezdano nebo
Comment[sv]=Stjärnbeströdd himmel
Comment[th]=แสงท้องฟ้ายามเมฆมาก
Comment[tr]=Yıldızlı Gökyüzü
Comment[uk]=Зоряне небо
Comment[wa]=Sitoelé cîr
Comment[x-test]=xxStarry Skyxx
Comment[zh_CN]=繁星之夜
Comment[zh_TW]=星空
File=stars.png

