[KDE Desktop Pattern]
Comment=Starry Sky
Comment[ca]=Cel estrellat
Comment[da]=Stjernehimmel
Comment[de]=Sternenhimmel
Comment[en_GB]=Starry Sky
Comment[es]=Cielo estrellado
Comment[et]=Tähistaevas
Comment[fr]=Ciel étoilé
Comment[gl]=Ceo estrelado
Comment[it]=Cielo stellato
Comment[nb]=Stjernehimmel
Comment[nds]=Steernheven
Comment[pt]=Céu Estrelado
Comment[pt_BR]=Céu estrelado
Comment[ro]=Cer înstelat
Comment[sr]=звездано небо
Comment[sr@ijekavian]=звјездано небо
Comment[sr@ijekavianlatin]=zvjezdano nebo
Comment[sr@latin]=zvezdano nebo
Comment[sv]=Stjärnbeströdd himmel
Comment[tr]=Yıldızlı Gökyüzü
Comment[uk]=Зоряне небо
Comment[x-test]=xxStarry Skyxx
Comment[zh_TW]=星空
File=stars.png

