[KDE Desktop Pattern]
Comment=Stonewall 2 by Tigert
Comment[ar]=حجر الحائط 2 بواسطة Tigert
Comment[ca]=Mur 2 per Tigert
Comment[cs]=Kamenná stěna (od Tigerta)
Comment[da]=Stonewall 2 af Tigert
Comment[de]=Steinwand 2 von Tigert
Comment[el]=Πέτρινος τοίχος 2 από Tigert
Comment[en_GB]=Stonewall 2 by Tigert
Comment[es]=Stonewall 2 de Tigert
Comment[et]=Stonewall 2 (autor Tigert)
Comment[fr]=Mur de pierres par Tigert
Comment[ga]=Stonewall 2 le Tigert
Comment[gl]=Stonewall 2 por Tigert
Comment[hu]=Kőfal 2. (Tigert)
Comment[is]=Steinveggur 2 e. Tigert
Comment[it]=Stonewall 2 di Tigert
Comment[km]=Stonewall 2 by Tigert
Comment[nb]=Stonewall 2 av Tigert
Comment[nds]=Steenmuur 2 vun Tigert
Comment[nl]=Stenen muur 2, door Tigert
Comment[nn]=Steinmur 2 av Tigert
Comment[pl]=Stonewall 2, autor: Tigert
Comment[pt]=Stonewall 2 de Tigert
Comment[pt_BR]=Parede de pedras 2 por Tigert
Comment[ro]=Stonewall 2 de Tigert
Comment[sk]=Kamenná stena 2 od Tigerta
Comment[sl]=Kamnit zid 2, avtor: Tigert
Comment[sr]=камени зид 2 од Тигерта
Comment[sr@latin]=kameni zid 2 od Tigerta
Comment[sv]=Stenmur 2 av Tigert
Comment[tr]=Tigert tarafından oluşturulan Stonewall 2
Comment[uk]=Кам’яна стіна 2 від Тайгерта
Comment[wa]=Meur di pîre 2 pal Tigert
Comment[x-test]=xxStonewall 2 by Tigertxx
Comment[zh_TW]=石牆 II（by Tigert）
File=stonewall2.png
