[KDE Desktop Pattern]
Comment=Stonewall 2 by Tigert
Comment[de]=Steinwand 2 von Tigert
Comment[et]=Stonewall 2 (autor Tigert)
Comment[ga]=Stonewall 2 le Tigert
Comment[pt]=Stonewall 2 de Tigert
Comment[pt_BR]=Stonewall 2 de Tigert
Comment[sv]=Stenmur 2 av Tigert
Comment[tr]=Tigert tarafından oluşturulan Stonewall 2
Comment[uk]=Кам’яна стіна 2 від Тайгерта
Comment[x-test]=xxStonewall 2 by Tigertxx
Comment[zh_TW]=石牆 II（by Tigert）
File=stonewall2.png
