[KDE Desktop Pattern]
Comment=Triangles
Comment[ar]=المثلثات
Comment[ca]=Triangles
Comment[cs]=Trojúhelníky
Comment[da]=Trekanter
Comment[de]=Dreiecke
Comment[el]=Τρίγωνα
Comment[en_GB]=Triangles
Comment[es]=Triángulos
Comment[et]=Kolmnurgad
Comment[fr]=Triangles
Comment[ga]=Triantáin
Comment[gl]=Triángulos
Comment[hu]=Háromszögek
Comment[is]=Þríhyrningar
Comment[it]=Triangoli
Comment[km]=ត្រីកោណ
Comment[lv]=Trīsstūri
Comment[nb]=Trekanter
Comment[nds]=Dre'ecks
Comment[nl]=Driehoeken
Comment[nn]=Trekantar
Comment[pa]=ਤਿਕੋਣਾਂ
Comment[pl]=Trójkąty
Comment[pt]=Triângulos
Comment[pt_BR]=Triângulos
Comment[ro]=Triunghiuri
Comment[sk]=Trojuholníky
Comment[sl]=Trikotniki
Comment[sr]=троуглови
Comment[sr@latin]=trouglovi
Comment[sv]=Trianglar
Comment[tr]=Üçgenler
Comment[uk]=Трикутники
Comment[wa]=Triyangues
Comment[x-test]=xxTrianglesxx
Comment[zh_CN]=三角形
Comment[zh_TW]=三角形
File=triangles.png
