[KDE Desktop Pattern]
Comment=Triangles
Comment[ar]=المثلثات
Comment[ast]=Triángulos
Comment[bs]=Trouglovi
Comment[ca]=Triangles
Comment[ca@valencia]=Triangles
Comment[cs]=Trojúhelníky
Comment[da]=Trekanter
Comment[de]=Dreiecke
Comment[el]=Τρίγωνα
Comment[en_GB]=Triangles
Comment[eo]=Trianguloj
Comment[es]=Triángulos
Comment[et]=Kolmnurgad
Comment[fi]=Kolmiot
Comment[fr]=Triangles
Comment[ga]=Triantáin
Comment[gl]=Triángulos
Comment[hr]=Trokuti
Comment[hu]=Háromszögek
Comment[is]=Þríhyrningar
Comment[it]=Triangoli
Comment[kk]=Үшбұрыштар
Comment[km]=ត្រីកោណ
Comment[ko]=삼각형
Comment[lt]=Trikampiai
Comment[lv]=Trīsstūri
Comment[mr]=त्रिकोण
Comment[nb]=Trekanter
Comment[nds]=Dre'ecks
Comment[nl]=Driehoeken
Comment[nn]=Trekantar
Comment[pa]=ਤਿਕੋਣਾਂ
Comment[pl]=Trójkąty
Comment[pt]=Triângulos
Comment[pt_BR]=Triângulos
Comment[ro]=Triunghiuri
Comment[ru]=Треугольники
Comment[sk]=Trojuholníky
Comment[sl]=Trikotniki
Comment[sr]=троуглови
Comment[sr@ijekavian]=троуглови
Comment[sr@ijekavianlatin]=trouglovi
Comment[sr@latin]=trouglovi
Comment[sv]=Trianglar
Comment[th]=ลายสามเหลี่ยม
Comment[tr]=Üçgenler
Comment[ug]=ئۈچبۇلۇڭلار
Comment[uk]=Трикутники
Comment[wa]=Triyangues
Comment[x-test]=xxTrianglesxx
Comment[zh_CN]=三角形
Comment[zh_TW]=三角形
File=triangles.png
