[KDE Desktop Pattern]
Comment=Xerox Star
Comment[sv]=Xerox star
Comment[uk]=Зірка Xerox
Comment[x-test]=xxXerox Starxx
Comment[zh_TW]=全錄星
File=xeroxstar.png

