[KDE Desktop Pattern]
Comment=Xerox Star
Comment[es]=Estrella de Xerox
Comment[et]=Xeroxi täht
Comment[ga]=Réalta Xéireacs
Comment[nds]=Xerox-Steern
Comment[sv]=Xerox star
Comment[tr]=Xerox Yıldızı
Comment[uk]=Зірка Xerox
Comment[x-test]=xxXerox Starxx
Comment[zh_TW]=全錄星
File=xeroxstar.png

