[KDE Desktop Pattern]
Comment=Xerox Star
Comment[ca]=Estrella Xerox
Comment[es]=Estrella de Xerox
Comment[et]=Xeroxi täht
Comment[ga]=Réalta Xéireacs
Comment[gl]=Estrela de Xerox
Comment[is]=Xerox stjarna
Comment[lv]=Xerox zvaigzne
Comment[nds]=Xerox-Steern
Comment[nl]=Xerox Ster
Comment[nn]=Xerox-stjerne
Comment[ro]=Steaua Xerox
Comment[sr]=зирокс стар
Comment[sv]=Xerox star
Comment[tr]=Xerox Yıldızı
Comment[uk]=Зірка Xerox
Comment[x-test]=xxXerox Starxx
Comment[zh_TW]=全錄星
File=xeroxstar.png

