[Desktop Entry]
Name=KDE Observatory
Name[ast]=KDE Observatory
Name[bs]=opservatorija KDE‑a
Name[ca]=Observatori KDE
Name[ca@valencia]=Observatori KDE
Name[cs]=KDE Observatory
Name[da]=KDE-observatorium
Name[de]=KDE-Observatorium
Name[el]=Παρατηρητήριο του KDE 
Name[en_GB]=KDE Observatory
Name[es]=Observatorio de KDE
Name[et]=KDE ülevaataja
Name[eu]=KDE-ren behatokia
Name[fi]=KDE-observatorio
Name[fr]=Observatoire de KDE
Name[ga]=Réadlann KDE
Name[gl]=Observatorio de KDE
Name[hr]=KDE-ov opservatorij
Name[hu]=KDE obszervatórium
Name[it]=Osservatorio di KDE
Name[ja]=KDE 展望台
Name[kk]=KDE бақылау бекеті
Name[km]=កន្លែង​សង្កេត​មើល KDE
Name[ko]=KDE 천문대
Name[lt]=KDE observatorija
Name[lv]=KDE observatorija
Name[mr]=केडीई वेधशाळा
Name[nb]=KDE-observatorium
Name[nds]=KDE-Projektkieker
Name[nl]=KDE Sterrenwacht
Name[nn]=KDE-observatorium
Name[pa]=KDE ਖਾਗੋਲਸ਼ਾਲਾ
Name[pl]=Obserwatorium KDE
Name[pt]=Observatório do KDE
Name[pt_BR]=Observatório do KDE
Name[ro]=Observator KDE
Name[ru]=Статистика разработки KDE
Name[sk]=Observatórium KDE
Name[sl]=Opazovanje KDE-ja
Name[sr]=опсерваторија КДЕ‑а
Name[sr@ijekavian]=опсерваторија КДЕ‑а
Name[sr@ijekavianlatin]=opservatorija KDE‑a
Name[sr@latin]=opservatorija KDE‑a
Name[sv]=KDE-observatorium
Name[tr]=KDE Gözlem Evi
Name[uk]=Спостережний пункт KDE
Name[wa]=Observatwere KDE
Name[x-test]=xxKDE Observatoryxx
Name[zh_CN]=KDE 观测台
Name[zh_TW]=KDE 觀測所
Comment=Visualize the KDE ecosystem
Comment[bs]=Vizuelizacija ekosistema KDE‑a
Comment[ca]=Visualitzeu l'ecosistema KDE
Comment[ca@valencia]=Visualitzeu l'ecosistema KDE
Comment[cs]=Vizualizace ekosystému KDE
Comment[da]=Visualisering af KDE's økosystem
Comment[de]=Anzeige des KDE-Ökosystems
Comment[el]=Οπτικοποίηση του οικοσυστήματος του KDE
Comment[en_GB]=Visualise the KDE ecosystem
Comment[es]=Visualizar el ecosistema de KDE
Comment[et]=KDE ökosüsteemi näitamine
Comment[eu]=KDE ekosistema erakutsi
Comment[fi]=Visualisoi KDE:n ekosysteemi
Comment[fr]=Visualisez l'écosystème de KDE
Comment[gl]=Visualice o ecosistema de KDE.
Comment[hr]=Vizualiziraj ekosustav KDE-a
Comment[hu]=Megjeleníti a KDE ökoszisztémáját
Comment[it]=Visualizza l'ecosistema di KDE
Comment[ja]=KDE の生態系を可視化
Comment[kk]=KDE экосистемасының жағдайы
Comment[km]=មើល KDE ecosystem
Comment[ko]=KDE 생태계를 표시합니다
Comment[lt]=Vizualizuoti KDE ekosistemą
Comment[lv]=Vizualizē KDE ekosistēmu
Comment[mr]=केडीई पर्यावरण प्रणालीची कल्पना करा
Comment[nb]=Visualiser KDE-økosystemet
Comment[nds]=De Projekten op KDE ankieken
Comment[nl]=Het KDE-ecosysteem visualiseren
Comment[nn]=Visualiser KDE-økosystemet
Comment[pl]=Wyobraź sobie ekosystem KDE
Comment[pt]=Visualizar o ecossistema do KDE
Comment[pt_BR]=Visualiza o ecossistema do KDE
Comment[ro]=Vizualizează ecosistemul KDE
Comment[ru]=Визуализация работы сообщества KDE
Comment[sk]=Vizualizácia ekosystému KDE
Comment[sl]=Vizualizira KDE-jev ekosistem
Comment[sr]=Визуелизација екосистема КДЕ‑а
Comment[sr@ijekavian]=Визуелизација екосистема КДЕ‑а
Comment[sr@ijekavianlatin]=Vizuelizacija ekosistema KDE‑a
Comment[sr@latin]=Vizuelizacija ekosistema KDE‑a
Comment[sv]=Åskådliggör KDE:s ekosystem
Comment[tr]=KDE ekosistemini canlandır
Comment[uk]=Візуалізація екосистеми KDE
Comment[wa]=Vey l' ecosistinme da KDE
Comment[x-test]=xxVisualize the KDE ecosystemxx
Comment[zh_CN]=观测 KDE 开发状况
Comment[zh_TW]=將 KDE 生態系統視覺化
Type=Service
Icon=kdeobservatory.png

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kdeobservatory
X-KDE-PluginInfo-Author=<a href='mailto:sandroandrade@kde.org'>Sandro S. Andrade</a> (developer)<br/><a href='mailto:leetolson@gmail.com'>Lee Olson</a> (artwork)
X-KDE-PluginInfo-Name=kdeobservatory
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
