[Desktop Entry]
Name=KDE Observatory
Name[pt]=Observatório do KDE
Name[sv]=KDE-observatorium
Name[tr]=KDE Gözlem Evi
Name[uk]=Спостережний пункт KDE
Name[x-test]=xxKDE Observatoryxx
Comment=Visualize the KDE ecosystem
Comment[pt]=Visualizar o ecossistema do KDE
Comment[sv]=Åskådliggör KDE:s ekosystem
Comment[uk]=Візуалізація екосистеми KDE
Comment[x-test]=xxVisualize the KDE ecosystemxx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kdeobservatory
X-KDE-PluginInfo-Author=Sandro S. Andrade
X-KDE-PluginInfo-Email=sandroandrade@kde.org
X-KDE-PluginInfo-Name=kdeobservatory
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

