[Desktop Entry]
Name=KDE Observatory
Name[de]=KDE-Observatorium
Name[en_GB]=KDE Observatory
Name[et]=KDE ülevaataja
Name[fr]=Observatoire de KDE
Name[nb]=KDE-observatorium
Name[pt]=Observatório do KDE
Name[sv]=KDE-observatorium
Name[uk]=Спостережний пункт KDE
Name[x-test]=xxKDE Observatoryxx
Name[zh_TW]=KDE 觀測所
Comment=Visualize the KDE ecosystem
Comment[de]=Anzeige des KDE-Ökosystems
Comment[en_GB]=Visualise the KDE ecosystem
Comment[et]=KDE ökosüsteemi näitamine
Comment[fr]=Visualisez l'écosystème de KDE
Comment[nb]=Visualiser KDE-økosystemet
Comment[pt]=Visualizar o ecossistema do KDE
Comment[sv]=Åskådliggör KDE:s ekosystem
Comment[uk]=Візуалізація екосистеми KDE
Comment[x-test]=xxVisualize the KDE ecosystemxx
Comment[zh_TW]=將 KDE 生態系統視覺化
Type=Service
Icon=kdeobservatory.png

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kdeobservatory
X-KDE-PluginInfo-Author=Sandro S. Andrade
X-KDE-PluginInfo-Email=sandroandrade@kde.org
X-KDE-PluginInfo-Name=kdeobservatory
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

