[Desktop Entry]
Name=Magnifique
Name[ar]=المكبر
Name[el]=Μεγεθυντής
Name[it]=Lente d'ingrandimento
Name[nn]=Forstørring
Name[pa]=ਵੱਡਦਰਸ਼ੀ
Name[sk]=Lupa
Name[sr]=магнифик
Name[sr@latin]=magnifik
Name[sv]=Magnifik
Name[wa]=Magnifike
Name[x-test]=xxMagnifiquexx
Name[zh_CN]=魅影
Comment=A magnification glass for the Plasma desktop
Comment[da]=Et forstørrelsesglas til Plasma-skrivebordet
Comment[el]=Ένας μεγεθυντικός φακός για την επιφάνεια εργασίας plasma
Comment[es]=Una lente de aumento para el escritorio Plasma
Comment[et]=Plasma töölaua suurendusklaas
Comment[is]=Stækkunargler fyrir Plasma skjáborðið
Comment[it]=Una lente d'ingrandimento per il desktop Plasma
Comment[nds]=En Kiekglas för den Plasma-Schriefdisch
Comment[nl]=Een vergrootglas voor het Plasma bureaublad
Comment[nn]=Eit forstørringsglas til Plasma-skrivebordet
Comment[pt]=Uma lupa de ampliação para o ambiente de trabalho Plasma
Comment[pt_BR]=Uma lente de aumento para a área de trabalho Plasma
Comment[sv]=Ett förstoringsglas för Plasmaskrivbordet
Comment[uk]=Збільшувальне скло для стільниці Плазми
Comment[x-test]=xxA magnification glass for the Plasma desktopxx
Comment[zh_TW]=Plasma 桌面上的放大鏡
Type=Service
Icon=zoom-in

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_magnifique
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=magnifique
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

