[Desktop Entry]
Name=Magnifique
Name[ar]=المكبر
Name[ast]=Magnifique
Name[bs]=Magnifique
Name[ca]=Magnifique
Name[ca@valencia]=Magnifique
Name[cs]=Magnifique
Name[da]=Magnifique
Name[de]=Vergrößerung
Name[el]=Μεγεθυντής
Name[en_GB]=Magnifique
Name[es]=Magnifique
Name[et]=Magnifique
Name[fi]=Suurennuslasi
Name[fr]=Loupe
Name[ga]=Magnifique
Name[gl]=Magnifique
Name[hr]=Magnifique
Name[hu]=Nagyító
Name[is]=Magnifique
Name[it]=Lente d'ingrandimento
Name[ja]=Magnifique
Name[kk]=Үлкейткіш
Name[km]=Magnifique
Name[ko]=확대경
Name[lt]=Magnifique
Name[lv]=Magnifique
Name[mr]=भिंग
Name[nb]=Magnifique
Name[nds]=Magnifique
Name[nl]=Magnifique
Name[nn]=Forstørring
Name[pa]=ਵੱਡਦਰਸ਼ੀ
Name[pl]=Magnifique
Name[pt]=Magnifique
Name[pt_BR]=Magnifique
Name[ro]=Magnifique
Name[ru]=Magnifique
Name[sk]=Lupa
Name[sl]=Magnifique
Name[sq]=Magnifique
Name[sr]=магнифик
Name[sr@ijekavian]=магнифик
Name[sr@ijekavianlatin]=magnifik
Name[sr@latin]=magnifik
Name[sv]=Magnifik
Name[tr]=Büyütücü
Name[uk]=Magnifique
Name[wa]=Magnifike
Name[x-test]=xxMagnifiquexx
Name[zh_CN]=放大镜
Name[zh_TW]=Magnifique
Comment=A magnification glass for the Plasma desktop
Comment[bs]=Lupa za plazma površ
Comment[ca]=Una lent d'augment per l'escriptori Plasma
Comment[ca@valencia]=Una lent d'augment per l'escriptori Plasma
Comment[cs]=Zvětšovací sklo pro Plasma desktop
Comment[da]=Et forstørrelsesglas til Plasma-skrivebordet
Comment[de]=Ein Vergrößerungsglas für die Plasma-Arbeitsfläche
Comment[el]=Ένας μεγεθυντικός φακός για την επιφάνεια εργασίας Plasma
Comment[en_GB]=A magnification glass for the Plasma desktop
Comment[es]=Una lente de ampliación para el escritorio Plasma
Comment[et]=Plasma töölaua suurendusklaas
Comment[fi]=Plasma-työpöydän suurennuslasi
Comment[fr]=Une loupe pour le bureau Plasma
Comment[gl]=Un cristal de aumento para o escritorio de plasma
Comment[hr]=Povećalo za radnu površinu Plasme
Comment[hu]=Nagyító a Plazma munkaasztalhoz
Comment[it]=Una lente d'ingrandimento per il desktop Plasma
Comment[ja]=Plasma デスクトップの拡大鏡
Comment[kk]=Plasma үстелінің үлкейткіш лупасы
Comment[km]=កែវ magnification សម្រាប់​​ផ្ទៃតុ​​ប្លាស្មា
Comment[ko]=Plasma 데스크톱을 위한 확대경
Comment[lt]=Padidinamasis stiklas Plasma darbastaliui
Comment[lv]=Palielināmais stikls Plasma darbvirsmai
Comment[mr]=प्लाज्मा डेस्कटॉप करिता भिंग
Comment[nb]=Et forstørrelsesglass for Plasma-skrivebordet
Comment[nds]=En Kiekglas för den Plasma-Schriefdisch
Comment[nl]=Een vergrootglas voor het Plasma bureaublad
Comment[nn]=Eit forstørringsglas til Plasma-skrivebordet
Comment[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਲਈ ਵੱਡਦਰਸ਼ੀ ਗਲਾਸ
Comment[pl]=Szkło powiększające dla pulpitu Plasma
Comment[pt]=Uma lupa de ampliação para o ambiente de trabalho Plasma
Comment[pt_BR]=Uma lente de aumento para a área de trabalho Plasma
Comment[ro]=Lupă pentru biroul Plasma
Comment[ru]=Лупа для рабочего стола Plasma
Comment[sk]=Zväčšovacie sklo pre plochu Plasmy
Comment[sl]=Povečevalno steklo za namizje Plasma
Comment[sr]=Лупа за плазма површ
Comment[sr@ijekavian]=Лупа за плазма површ
Comment[sr@ijekavianlatin]=Lupa za plasma površ
Comment[sr@latin]=Lupa za plasma površ
Comment[sv]=Ett förstoringsglas för Plasmaskrivbordet
Comment[tr]=Plasma masaüstü için bir büyüteç
Comment[uk]=Збільшувальне скло для стільниці Плазми
Comment[wa]=Ene loupe pol sicribanne Plasma
Comment[x-test]=xxA magnification glass for the Plasma desktopxx
Comment[zh_CN]=Plasma 桌面的放大镜
Comment[zh_TW]=Plasma 桌面上的放大鏡
Type=Service
Icon=zoom-in

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_magnifique
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=magnifique
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
