[Desktop Entry]
Name=Magnifique
Name[ar]=المكبر
Name[ca]=Magnifique
Name[cs]=Magnifique
Name[da]=Magnifique
Name[de]=Vergrößerung
Name[el]=Μεγεθυντής
Name[en_GB]=Magnifique
Name[es]=Magnifique
Name[et]=Magnifique
Name[fr]=Loupe
Name[gl]=Magnifique
Name[hu]=Magnifique
Name[is]=Magnifique
Name[it]=Lente d'ingrandimento
Name[ja]=Magnifique
Name[km]=Magnifique
Name[lt]=Didinamasis stiklas
Name[lv]=Magnifique
Name[nb]=Magnifique
Name[nds]=Magnifique
Name[nl]=Magnifique
Name[nn]=Forstørring
Name[pa]=ਵੱਡਦਰਸ਼ੀ
Name[pl]=Magnifique
Name[pt]=Magnifique
Name[pt_BR]=Magnifique
Name[ro]=Magnifique
Name[sk]=Lupa
Name[sl]=Magnifique
Name[sr]=магнифик
Name[sr@latin]=magnifik
Name[sv]=Magnifik
Name[tr]=Magnifique
Name[uk]=Magnifique
Name[wa]=Magnifike
Name[x-test]=xxMagnifiquexx
Name[zh_CN]=魅影
Name[zh_TW]=Magnifique
Comment=A magnification glass for the Plasma desktop
Comment[ca]=Una lent d'augment per l'escriptori Plasma
Comment[cs]=Zvětšovací sklo pro Plasma desktop
Comment[da]=Et forstørrelsesglas til Plasma-skrivebordet
Comment[de]=Ein Vergrößerungsglas für die Plasma-Arbeitsfläche
Comment[el]=Ένας μεγεθυντικός φακός για την επιφάνεια εργασίας plasma
Comment[en_GB]=A magnification glass for the Plasma desktop
Comment[es]=Una lente de aumento para el escritorio Plasma
Comment[et]=Plasma töölaua suurendusklaas
Comment[fr]=Une loupe pour le bureau Plasma
Comment[hu]=Nagyító a Plasma asztalhoz
Comment[is]=Stækkunargler fyrir Plasma skjáborðið
Comment[it]=Una lente d'ingrandimento per il desktop Plasma
Comment[lt]=Didinamasis stiklas Plasma darbastaliui
Comment[lv]=Palielināmais stilks Plasma darbvirsmai
Comment[nb]=Et forstørrelsesglass for Plasma-skrivebordet
Comment[nds]=En Kiekglas för den Plasma-Schriefdisch
Comment[nl]=Een vergrootglas voor het Plasma bureaublad
Comment[nn]=Eit forstørringsglas til Plasma-skrivebordet
Comment[pt]=Uma lupa de ampliação para o ambiente de trabalho Plasma
Comment[pt_BR]=Uma lente de aumento para a área de trabalho Plasma
Comment[sk]=Zväčšovacie sklo pre plochu Plasmy
Comment[sr]=Лупа за плазма површ
Comment[sr@latin]=Lupa za plasma površ
Comment[sv]=Ett förstoringsglas för Plasmaskrivbordet
Comment[tr]=Plasma masaüstü için bir büyüteç
Comment[uk]=Збільшувальне скло для стільниці Плазми
Comment[x-test]=xxA magnification glass for the Plasma desktopxx
Comment[zh_TW]=Plasma 桌面上的放大鏡
Type=Service
Icon=zoom-in

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_magnifique
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=magnifique
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

