[Desktop Entry]
Name=KnowledgeBase
Name[pt]=Base de Conhecimento
Name[pt_BR]=Base de conhecimento
Name[sv]=Kunskapsbas
Name[tr]=Bilgi Tabanı
Name[uk]=База знань
Name[x-test]=xxKnowledgeBasexx
Comment=Opendesktop Knowledgebase
Comment[pt]=Base de Conhecimento do OpenDesktop
Comment[pt_BR]=Base de conhecimento do Opendesktop
Comment[sv]=Opendesktop kunskapsbas
Comment[tr]=Açık Masaüstü Bilgi Tabanı
Comment[uk]=База знань Opendesktop
Comment[x-test]=xxOpendesktop Knowledgebasexx
Type=Service
Icon=help-contents

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_knowledgebase
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=knowledgebase
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

