[Desktop Entry]
Name=KnowledgeBase
Name[bs]=baza znanja
Name[ca]=KnowledgeBase
Name[ca@valencia]=KnowledgeBase
Name[cs]=Databáze vědomostí
Name[da]=KnowledgeBase
Name[de]=Wissensdatenbank
Name[el]=Βάση γνώσεων
Name[en_GB]=KnowledgeBase
Name[es]=Base de conocimiento
Name[et]=Teadmusbaas
Name[eu]=Jakintza basea
Name[fi]=Knowledgebase
Name[fr]=Base de connaissances
Name[ga]=Bunachar Eolais
Name[gl]=Base do coñecemento
Name[hr]=Baza znanja
Name[hu]=Tudásbázis
Name[it]=Base di conoscenza
Name[kk]=Білім Қоры
Name[km]=KnowledgeBase
Name[ko]=지식 센터
Name[lt]=Žinių bazė
Name[lv]=Zināšanu bāze
Name[mr]=नॉलेज बेस
Name[nb]=Kunnskapsbase
Name[nds]=KnowledgeBase
Name[nl]=KnowledgeBase
Name[nn]=Kunnskapsbase
Name[pa]=ਨਾਲੇਜਬੇਸ
Name[pl]=BazaWiedzy
Name[pt]=Base de Conhecimento
Name[pt_BR]=Base de conhecimento
Name[ro]=Bază de cunoștințe
Name[ru]=База знаний
Name[sk]=Vedomostná databáza
Name[sl]=Zbirka znanja
Name[sr]=база знања
Name[sr@ijekavian]=база знања
Name[sr@ijekavianlatin]=baza znanja
Name[sr@latin]=baza znanja
Name[sv]=Kunskapsbas
Name[tr]=Bilgi Tabanı
Name[uk]=База знань
Name[wa]=Båze d' aidance
Name[x-test]=xxKnowledgeBasexx
Name[zh_CN]=知识库
Name[zh_TW]=知識庫
Comment=Opendesktop Knowledgebase
Comment[bs]=Baza znanja za Opendesktop
Comment[ca]=Knowledgebase Opendesktop
Comment[ca@valencia]=Knowledgebase Opendesktop
Comment[cs]=Databáze vědomostí Opendesktop
Comment[da]=Opendesktop Knowledgebase
Comment[de]=OpenDesktop-Wissensdatenbank
Comment[el]=Βάση γνώσεων Opendesktop
Comment[en_GB]=Opendesktop Knowledgebase
Comment[es]=Base de conocimiento de OpenDesktop
Comment[et]=Opendesktopi teadmusbaas
Comment[eu]=Opendesktop-en jakintza basea
Comment[fi]=Opendesktopin tietämyskanta
Comment[fr]=Base de connaissances du projet « OpenDesktop »
Comment[ga]=Bunachar Eolais Opendesktop
Comment[gl]=Base de coñecemento de Opendesktop
Comment[hr]=Baza znanja pri Opendesktopu
Comment[hu]=Opendesktop tudásbázis
Comment[it]=Base di conoscenza di Opendesktop
Comment[kk]=Opendesktop Білім қоры жүйесі
Comment[km]=Opendesktop Knowledgebase
Comment[ko]=Opendesktop 지식 센터
Comment[lt]=Opendesktop žinių bazė
Comment[lv]=Opendesktop zināšanu bāze
Comment[mr]=ओपन डेस्कटॉप नॉलेज बेस
Comment[nb]=Opendesktop kunnskapsbase
Comment[nds]=Opendesktop-Wetendatenbank
Comment[nl]=Opendesktop Knowledgebase
Comment[nn]=openDesktop-basert kunnskapsbase
Comment[pa]=ਓਪਨਡੈਸਕਟਾਪ ਜਾਣਕਾਰੀਭੰਡਾਰ
Comment[pl]=Baza wiedzy Opendesktop
Comment[pt]=Base de Conhecimento do OpenDesktop
Comment[pt_BR]=Base de conhecimento do Opendesktop
Comment[ro]=Bază de cunoștințe Opendesktop
Comment[ru]=База знаний openDesktop
Comment[sk]=Vedomostná databáza Opendesktop
Comment[sl]=Zbirka znanja OpenDesktop
Comment[sr]=База знања Отворене површи
Comment[sr@ijekavian]=База знања Отворене површи
Comment[sr@ijekavianlatin]=Baza znanja Otvorene površi
Comment[sr@latin]=Baza znanja Otvorene površi
Comment[sv]=Opendesktop kunskapsbas
Comment[tr]=Açık Masaüstü Bilgi Tabanı
Comment[uk]=База знань Opendesktop
Comment[wa]=Båze d' aidance d' Opendesktop
Comment[x-test]=xxOpendesktop Knowledgebasexx
Comment[zh_CN]=Opendesktop 知识库
Comment[zh_TW]=Opendesktop 知識庫
Type=Service
Icon=help-contents

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_knowledgebase
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=knowledgebase
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
