[Desktop Entry]
Name=Kopete Contact Runner
Name[ca]=Visualitzador de contactes del Kopete
Name[ca@valencia]=Visualitzador de contactes del Kopete
Name[da]=Runner til Kopete-kontakter
Name[de]=Kopete-Kontakte für KRunner
Name[el]=Kopete επαφή δρομέα
Name[en_GB]=Kopete Contact Runner
Name[es]=Lanzador de contactos de Kopete
Name[et]=Kopete kontaktide käivitaja
Name[fr]=Kopete Contact Runner
Name[it]=Kopete Contact Runner
Name[kk]=Kopete контакт жеккіші
Name[km]=កម្មវិធី​ដំណើរការ​ទំនាក់ទំនង​របស់ Kopete
Name[lv]=Kopete kontaktu darbinātājs
Name[nb]=Kopete kontaktkjører
Name[nds]=Kontaktendreger för Kopete
Name[nl]=Kopete starter voor contactpersonen
Name[nn]=Køyrar for Kopete-kontakt
Name[pa]=ਕੋਪਟੀ ਸੰਪਰਕ ਰਨਰ
Name[pl]=Kontakty Kopete
Name[pt]=Execução de Contactos do Kopete
Name[pt_BR]=Execução de contatos do Kopete
Name[sk]=Kopete kontakty
Name[sl]=Zaganjalnik za stike v Kopete
Name[sr]=извођач Копетеових контаката
Name[sr@ijekavian]=извођач Копетеових контаката
Name[sr@ijekavianlatin]=izvođač Kopeteovih kontakata
Name[sr@latin]=izvođač Kopeteovih kontakata
Name[sv]=Kopete Kontakt-körning
Name[tr]=Kopete Kişi Çalıştırıcı
Name[uk]=Інструмент запуску контактів Kopete
Name[x-test]=xxKopete Contact Runnerxx
Name[zh_CN]=Kopete 联系人运行器
Name[zh_TW]=Kopete 聯絡人執行器
Comment=Kopete Contact runner
Comment[ca]=Visualitzador de contactes del Kopete
Comment[ca@valencia]=Visualitzador de contactes del Kopete
Comment[da]=Runner til Kopete-kontakter
Comment[de]=Kopete-Kontakte für KRunner
Comment[el]=Kopete επαφή δρομέα
Comment[en_GB]=Kopete Contact runner
Comment[es]=Lanzador de contactos de Kopete
Comment[et]=Kopete kontaktide käivitaja
Comment[fr]=Kopete Contact runner
Comment[it]=Kopete Contact runner
Comment[kk]=Kopete контакт жеккіші
Comment[km]=កម្មវិធី​ដំណើរការ​ទំនាក់ទំនង​របស់ Kopete
Comment[lv]=Kopete kontaktu darbinātājs
Comment[nb]=Kopete kontaktkjører
Comment[nds]=Kontaktendreger för Kopete
Comment[nl]=Kopete starter voor contactpersonen
Comment[nn]=Køyrar for Kopete-kontakt
Comment[pa]=ਕੋਪਟੀ ਸੰਪਰਕ ਰਨਰ
Comment[pl]=Moduł kontaktów Kopete
Comment[pt]=Execução de contactos do Kopete
Comment[pt_BR]=Execução de contatos do Kopete
Comment[sk]=Kopete kontakty
Comment[sl]=Zaganjalnik za stike v Kopete
Comment[sr]=извођач Копетеових контаката
Comment[sr@ijekavian]=извођач Копетеових контаката
Comment[sr@ijekavianlatin]=izvođač Kopeteovih kontakata
Comment[sr@latin]=izvođač Kopeteovih kontakata
Comment[sv]=Kopete Kontakt-körning
Comment[tr]=Kopete Kişi çalıştırıcı
Comment[uk]=Інструмент запуску контактів Kopete
Comment[x-test]=xxKopete Contact runnerxx
Comment[zh_CN]=Kopete 联系人运行器
Comment[zh_TW]=Kopete 聯絡人執行器
Icon=kopete

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_kopete
X-KDE-PluginInfo-Author=Ben Boeckel
X-KDE-PluginInfo-Email=MathStuf@gmail.com
X-KDE-PluginInfo-Name=kopete_runner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-EnabledByDefault=true
