[Desktop Entry]
Name=Kopete Contacts
Name[bs]=Kopete kontakti
Name[ca]=Contactes del Kopete
Name[ca@valencia]=Contactes del Kopete
Name[cs]=Kontakty Kopete
Name[da]=Kopete-kontakter
Name[de]=Kopete-Kontakte
Name[el]=Επαφές Kopete
Name[en_GB]=Kopete Contacts
Name[es]=Contactos de Kopete
Name[et]=Kopete kontaktid
Name[fi]=Kopeten yhteystiedot
Name[fr]=Contacts Kopete
Name[ga]=Teagmhálacha Kopete
Name[gl]=Contactos de Kopete
Name[hu]=Kopete névjegyek
Name[it]=Contatti di Kopete
Name[kk]=Kopete контакттары
Name[km]=ទំនាក់ទំនង​របស់ Kopete
Name[ko]=Kopete 대화 상대
Name[lt]=Kopete kontaktai
Name[lv]=Kopete kontakti
Name[mr]=कोपेट संपर्क
Name[nb]=Kopete kontakter
Name[nds]=Kopete-Kontakten
Name[nl]=Contactpersonen van Kopete
Name[pa]=ਕੋਪਟੀ ਸੰਪਰਕ
Name[pl]=Kontakty Kopete 
Name[pt]=Contactos do Kopete
Name[pt_BR]=Contatos do Kopete
Name[ro]=Contacte Kopete
Name[ru]=Контакты Kopete
Name[sk]=Kontakty Kopete
Name[sl]=Stiki v Kopete
Name[sr]=Копетеови контакти
Name[sr@ijekavian]=Копетеови контакти
Name[sr@ijekavianlatin]=Kopeteovi kontakti
Name[sr@latin]=Kopeteovi kontakti
Name[sv]=Kopete kontakter
Name[tr]=Kopete Kişileri
Name[uk]=Контакти Kopete
Name[x-test]=xxKopete Contactsxx
Name[zh_CN]=Kopete 联系人
Name[zh_TW]=Kopete 聯絡人
Comment=Search contacts from Kopete
Comment[bs]=Traži kontakte iz Kopete
Comment[ca]=Cerca contactes del Kopete
Comment[ca@valencia]=Cerca contactes del Kopete
Comment[cs]=Hledání kontaktů z Kopete
Comment[da]=Søg efter kontakter fra Kopete
Comment[de]=Sucht nach Kontakten in Kopete
Comment[el]=Αναζήτηση επαφών από το Kopete
Comment[en_GB]=Search contacts from Kopete
Comment[es]=Buscar contactos de Kopete
Comment[et]=Kopete kontaktide otsing
Comment[fi]=Etsi Kopeten yhteystietoja
Comment[fr]=Chercher des contacts depuis Kopete
Comment[gl]=Buscar contactos de Kopete.
Comment[hu]=Névjegyek keresése a Kopetében
Comment[it]=Cerca contatti da Kopete
Comment[kk]=Kopete-тен контактты іздеу
Comment[km]=ស្វែងរក​ទំនាក់ទំនង​ពី Kopete
Comment[ko]=Kopete 대화 상대 검색
Comment[lt]=Ieškoti tarp Kopete kontaktų
Comment[lv]=Meklēt Kopete kontaktos
Comment[mr]=कोपेट मधील संपर्क शोधा
Comment[nb]=Søk i kontakter fra Kopete
Comment[nds]=Na Kopete-Kontakten söken
Comment[nl]=In contactpersonen van Kopete zoeken
Comment[pl]=Szukaj kontaktów w Kopete
Comment[pt]=Procurar nos contactos do Kopete
Comment[pt_BR]=Procura nos contatos do Kopete
Comment[ro]=Caută contacte din Kopete
Comment[ru]=Поиск контактов из Kopete
Comment[sk]=Hľadanie kontaktov z Kopete
Comment[sl]=Poiščite stike iz Kopete
Comment[sr]=Тражи контакте у Копетеу
Comment[sr@ijekavian]=Тражи контакте у Копетеу
Comment[sr@ijekavianlatin]=Traži kontakte u Kopeteu
Comment[sr@latin]=Traži kontakte u Kopeteu
Comment[sv]=Sök bland kontakter från Kopete
Comment[tr]=Kopete uygulamasındaki kişileri ara
Comment[uk]=Пошук записів контактів у даних Kopete
Comment[x-test]=xxSearch contacts from Kopetexx
Comment[zh_CN]=搜索 Kopete 联系人
Comment[zh_TW]=搜尋 Kopete 裡的聯絡人
Icon=kopete

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_kopete
X-KDE-PluginInfo-Author=Ben Boeckel
X-KDE-PluginInfo-Email=MathStuf@gmail.com
X-KDE-PluginInfo-Name=kopete_runner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-EnabledByDefault=true
