[Desktop Entry]
Name=Kopete Contact Runner
Name[da]=Runner til Kopete-kontakter
Name[en_GB]=Kopete Contact Runner
Name[et]=Kopete kontaktide käivitaja
Name[fr]=Kopete Contact Runner
Name[nb]=Kopete kontaktkjører
Name[pt]=Execução de Contactos do Kopete
Name[pt_BR]=Execução de contatos do Kopete
Name[sv]=Kopete Kontakt-körning
Name[uk]=Інструмент запуску контактів Kopete
Name[x-test]=xxKopete Contact Runnerxx
Name[zh_TW]=Kopete 聯絡人執行器
Comment=Kopete Contact runner
Comment[da]=Runner til Kopete-kontakter
Comment[en_GB]=Kopete Contact runner
Comment[et]=Kopete kontaktide käivitaja
Comment[fr]=Kopete Contact runner
Comment[nb]=Kopete kontaktkjører
Comment[pt]=Execução de contactos do Kopete
Comment[pt_BR]=Execução de contatos do Kopete
Comment[sv]=Kopete Kontakt-körning
Comment[uk]=Інструмент запуску контактів Kopete
Comment[x-test]=xxKopete Contact runnerxx
Comment[zh_TW]=Kopete 聯絡人執行器
Icon=kopete

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_kopete
X-KDE-PluginInfo-Author=Ben Boeckel
X-KDE-PluginInfo-Email=MathStuf@gmail.com
X-KDE-PluginInfo-Name=kopete_runner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-EnabledByDefault=true
