[Desktop Entry]
Name=KDE Observatory Data Engine
Name[bs]=Pogon podataka za KDE opservatorij
Name[ca]=Motor de dades de l'observatori del KDE
Name[ca@valencia]=Motor de dades de l'observatori del KDE
Name[cs]=Datový nástroj KDE Observatory
Name[da]=Datamotor til KDE-observatorium
Name[de]=Datenmodul für das KDE-Observatorium
Name[el]=Μηχανή δεδομένων του παρατηρητηρίου KDE
Name[en_GB]=KDE Observatory Data Engine
Name[es]=Motor de datos del Observatorio de KDE
Name[et]=KDE ülevaataja andmemootor
Name[fi]=KDE-observatorion tietomoottori
Name[fr]=Moteur de données pour un observatoire de KDE
Name[ga]=Inneall Sonraí Réadlann KDE
Name[gl]=Motor de datos do observatorio de KDE
Name[hr]=Podatkovni mehanizam KDE-ovog opservatorija
Name[hu]=KDE obszervatórium-adatmotor
Name[it]=Motore dati Osservatorio di KDE
Name[ja]=KDE 展望台データエンジン
Name[kk]=KDE бақылау бекетінің деректер тетігі
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​អង្កេត​របស់ KDE
Name[ko]=KDE 전망대 데이터 엔진
Name[lv]=KDE observatorijas datu dzinējs
Name[mr]=केडीई वेधशाळा डेटा इंजिन
Name[nb]=Data-motor for KDE-observatorium
Name[nds]=Datenkarn för KDE-Projektkieker
Name[nl]=Gegevens-engine voor KDE Sterrenwacht
Name[pa]=KDE ਖਾਗੋਲਸ਼ਾਲਾ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Silnik danych Obserwatorium KDE
Name[pt]=Motor de Dados do Observatório do KDE
Name[pt_BR]=Mecanismo de dados do observatório do KDE
Name[ru]=Источник данных для виджета KDE Observatory (разнообразная информация по проекту KDE в целом)
Name[sk]=Dátový nástroj observatória KDE
Name[sl]=Podatkovni pogon Opazovanje KDE-ja
Name[sr]=Датомотор опсерваторије КДЕ‑а
Name[sr@ijekavian]=Датомотор опсерваторије КДЕ‑а
Name[sr@ijekavianlatin]=Datomotor opservatorije KDE‑a
Name[sr@latin]=Datomotor opservatorije KDE‑a
Name[sv]=Datagränssnitt för KDE-observatorium
Name[tr]=KDE Gözlem Evi Veri Motoru
Name[uk]=Рушій даних Спостережного пункту KDE
Name[x-test]=xxKDE Observatory Data Enginexx
Name[zh_CN]=KDE 观测台数据引擎
Name[zh_TW]=KDE 觀測資料引擎
Comment=A Data Engine for acquiring consolidated data about KDE projects
Comment[bs]=Pogon podataka za sticanje pročiščenih podataka o KDE projektima
Comment[ca]=Un motor de dades de captura de dades consolidades quant als projectes del KDE
Comment[ca@valencia]=Un motor de dades de captura de dades consolidades quant als projectes del KDE
Comment[cs]=Datový nástroj pro získávání sloučených údajů o projektech KDE
Comment[da]=En datamotor til at hente samlede data om KDE-projekter
Comment[de]=Ein Datenmodul zum Holen von zusammengefassten Daten über KDE-Projekte.
Comment[el]=Μία μηχανή δεδομένων για την απόκτηση συγκεντρωτικών στοιχείων για έργα του KDE
Comment[en_GB]=A Data Engine for acquiring consolidated data about KDE projects
Comment[es]=Un motor de datos para adquirir datos consolidados acerca de proyectos de KDE
Comment[et]=Andmemootor, mis hangib konsolideeritud andmeid KDE projektide kohta
Comment[fi]=Tietomoottori, jolla haetaan yhdistettyjä tietoja KDE-projekteista
Comment[fr]=Un moteur de données permettant l'obtention d'informations à propos des projets KDE
Comment[gl]=Un motor de datos para obter datos consolidados sobre os proxectos de KDE.
Comment[hr]=Podatkovni mehanizam za prikupljanje objedinjenih podataka o projektima KDE-a
Comment[hu]=Adatmotor összevont adatok beszerzéséhez a KDE projektekről
Comment[it]=Un motore di dati per l'acquisizione di dati consolidati sui progetti di KDE
Comment[kk]=KDE жобалар туралы біріктірген деректерді жинайтын тетігі
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ ដើម្បី​ការទាមទារ​ទិន្នន័យ​ដែល​បាន​បង្រួម​អំពី​គម្រោង​របស់ KDE
Comment[ko]=KDE 프로젝트의 데이터를 가져오는 데이터 엔진
Comment[lv]=Datu dzinējs KDE projektu datu konsolidētai saņemšanai
Comment[mr]=केडिई परियोजना बद्दलची एकत्रित माहिती घेण्याकरिता डेटा इंजिन
Comment[nb]=En datamotor som skaffer sammensluttede data om KDE-prosjekter
Comment[nds]=En Datenkarn för't Halen vun tohoopstellt Daten över KDE-Projekten
Comment[nl]=Een gegevens-engine voor het ophalen van geconsolideerde gegevens over KDE-projecten
Comment[pl]=Silnik danych do pobierania skonsolidowanych danych o projektach KDE
Comment[pt]=Um motor de dados para adquirir dados consolidados acerca dos projectos do KDE
Comment[pt_BR]=Um mecanismo de dados para obtenção de informações sobre os projetos do KDE
Comment[ru]=Источник сводных данных о проектах KDE
Comment[sk]=Dátový nástroj pre získavanie zlúčených údajov o projektoch KDE
Comment[sl]=Podatkovni pogon za pridobivanje podatkov o KDE-jevih projektih
Comment[sr]=Датомотор за добављање систематизованих података о пројектима КДЕ‑а
Comment[sr@ijekavian]=Датомотор за добављање систематизованих података о пројектима КДЕ‑а
Comment[sr@ijekavianlatin]=Datomotor za dobavljanje sistematizovanih podataka o projektima KDE‑a
Comment[sr@latin]=Datomotor za dobavljanje sistematizovanih podataka o projektima KDE‑a
Comment[sv]=Ett datagränssnitt för att inhämta samlad data om KDE-projekt
Comment[tr]=KDE projeleri hakkında veri çekmeye yarayan veri motoru
Comment[uk]=Рушій даних для отримання загальних даних щодо внесків до проектів KDE
Comment[x-test]=xxA Data Engine for acquiring consolidated data about KDE projectsxx
Comment[zh_CN]=获取有关 KDE 项目统筹数据的数据引擎
Comment[zh_TW]=用於取得 KDE 專案的聯合資料的資料引擎
Type=Service
Icon=kdeobservatory

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_kdeobservatory
X-Plasma-EngineName=kdeobservatory
X-KDE-PluginInfo-Author=Sandro Andrade
X-KDE-PluginInfo-Email=sandroandrade@kde.org
X-KDE-PluginInfo-Name=kdeobservatory
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
