[Desktop Entry]
Name=KDE Observatory Data Engine
Name[en_GB]=KDE Observatory Data Engine
Name[es]=Motor de datos del observatorio KDE
Name[pt]=Motor de Dados do Observatório do KDE
Name[pt_BR]=Mecanismo de dados do Observatório do KDE
Name[sv]=Datagränssnitt för KDE-observatorium
Name[uk]=Рушій даних Спостережного пункту KDE
Name[x-test]=xxKDE Observatory Data Enginexx
Comment=A Data Engine for acquiring consolidated data about KDE projects
Comment[en_GB]=A Data Engine for acquiring consolidated data about KDE projects
Comment[es]=Motor de datos para adquirir datos consolidados sobre los proyectos KDE
Comment[pt]=Um motor de dados para adquirir dados consolidados sobre os projectos do KDE
Comment[pt_BR]=Um mecanismo de dados para adquirir dados consolidados sobre os projetos do KDE
Comment[sv]=Ett datagränssnitt för att inhämta samlad data om KDE-projekt
Comment[uk]=Рушій даних для отримання загальних даних щодо внесків до проектів KDE
Comment[x-test]=xxA Data Engine for acquiring consolidated data about KDE projectsxx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_kdeobservatory
X-Plasma-EngineName=kdeobservatory
X-KDE-PluginInfo-Author=Sandro Andrade
X-KDE-PluginInfo-Email=sandroandrade@kde.org
X-KDE-PluginInfo-Name=kdeobservatory
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Development Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
