[Desktop Entry]
Name=Special Characters
Name[da]=Specialtegn
Name[de]=Sonderzeichen
Name[km]=តួអក្សរ​ពិសេស
Name[pt]=Caracteres Especiais
Name[pt_BR]=Caracteres especiais
Name[sv]=Specialtecken
Name[uk]=Спеціальні символи
Name[x-test]=xxSpecial Charactersxx
Icon=accessories-character-map
Comment=Creates special characters from their hexadecimal codes
Comment[da]=Opretter specialtegn via deres hexadecimal-koder
Comment[de]=Erstellt Sonderzeichen aus ihren Hexadezimalwerten
Comment[en_GB]=Creates special characters from their hexadecimal codes
Comment[km]=បង្កើត​តួអក្សរ​ពិសេស​ពី​កូដ​គោល​ដប់​ប្រាំមួយ​របស់​ពួកវា
Comment[pt]=Cria caracteres especiais a partir do seu código hexadecimal
Comment[pt_BR]=Cria caracteres especiais de seus códigos hexadecimais
Comment[sv]=Skapar specialtecken från deras hexadecimala koder
Comment[uk]=Створення спеціальних символів за їх шістнадцятковим кодом
Comment[x-test]=xxCreates special characters from their hexadecimal codesxx
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=krunner_charrunner
X-KDE-PluginInfo-Author=Anton Kreuzkamp
X-KDE-PluginInfo-Email=akreuzkamp@web.de
X-KDE-PluginInfo-Name=CharacterRunner
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
