[Desktop Entry]
Name=special characters
Name[en_GB]=special characters
Name[kk]=арнаулы таңбалар
Name[nb]=spesialtegn
Name[pt]=caracteres especiais
Name[pt_BR]=caracteres especiais
Name[sv]=specialtecken
Name[uk]=Спеціальні символи
Name[x-test]=xxspecial charactersxx
Icon=accessories-character-map
Comment=Creates special characters from their hexadecimal codes
Comment[x-test]=xxCreates special characters from their hexadecimal codesxx
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=krunner_charrunner
X-KDE-PluginInfo-Author=Anton Kreuzkamp
X-KDE-PluginInfo-Email=akreuzkamp@web.de
X-KDE-PluginInfo-Name=CharacterRunner
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
