[Desktop Entry]
Name=Special Characters
Name[ar]=محارف خاصة
Name[bs]=Posebni znakovi
Name[ca]=Caràcters especials
Name[ca@valencia]=Caràcters especials
Name[cs]=Zvláštní znaky
Name[da]=Specialtegn
Name[de]=Sonderzeichen
Name[el]=Ειδικοί χαρακτήρες
Name[en_GB]=Special Characters
Name[es]=Caracteres especiales
Name[et]=Erimärgid
Name[eu]=Karaktere bereziak
Name[fi]=Erikoismerkit
Name[fr]=Caractères spéciaux
Name[ga]=Carachtair Speisialta
Name[gl]=Caracteres especiais
Name[he]=תווים מיוחדים
Name[hr]=Posebni znakovi
Name[hu]=Speciális karakterek
Name[id]=Karakter Spesial
Name[it]=Caratteri speciali
Name[ja]=特殊文字
Name[kk]=Арнаулы таңбалар
Name[km]=តួអក្សរ​ពិសេស
Name[ko]=특수 문자
Name[lt]=Specialūs simboliai
Name[lv]=Speciālās rakstzīmes
Name[mr]=विशिष्ठ अक्षरे
Name[nb]=Spesialtegn
Name[nds]=Besünner Tekens
Name[nl]=Speciale tekens
Name[nn]=Spesialteikn
Name[pa]=ਖਾਸ ਅੱਖਰ
Name[pl]=Znaki specjalne
Name[pt]=Caracteres Especiais
Name[pt_BR]=Caracteres especiais
Name[ro]=Caractere speciale
Name[ru]=Специальные символы
Name[sk]=Špeciálne znaky
Name[sl]=Posebni znaki
Name[sr]=посебни знакови
Name[sr@ijekavian]=посебни знакови
Name[sr@ijekavianlatin]=posebni znakovi
Name[sr@latin]=posebni znakovi
Name[sv]=Specialtecken
Name[tr]=Özel Karakterler
Name[ug]=ئالاھىدە ھەرپلەر
Name[uk]=Спеціальні символи
Name[wa]=Caracteres sipeciås
Name[x-test]=xxSpecial Charactersxx
Name[zh_CN]=特殊字符
Name[zh_TW]=特殊字元
Icon=accessories-character-map
Comment=Creates special characters from their hexadecimal codes
Comment[ar]=يُنشئ محارف خاصة لأكوادهم الست-عشريّة
Comment[bs]=Stvara posebne znakove iz heksadecimalnih kodova
Comment[ca]=Crea caràcters especials a partir dels seus codis hexadecimals
Comment[ca@valencia]=Crea caràcters especials a partir dels seus codis hexadecimals
Comment[cs]=Vytváří speciální znaky z jejich hexadecimálních kódů
Comment[da]=Opretter specialtegn via deres hexadecimal-koder
Comment[de]=Erstellt Sonderzeichen aus ihren Hexadezimalwerten
Comment[el]=Δημιουργεί ειδικούς χαρακτήρες από τους δεκαεξαδικούς τους κώδικες
Comment[en_GB]=Creates special characters from their hexadecimal codes
Comment[es]=Crea caracteres especiales a partir de sus códigos hexadecimales
Comment[et]=Erimärkide loomine nende 16nd-süsteemis koodide põhjal
Comment[eu]=Karaktere bereziak sortzen ditu bere kode hamaseitarretik abiatuta
Comment[fi]=Luo erikoismerkkejä niiden heksadesimaalikoodeista
Comment[fr]=Crée des caractères spéciaux à partir de leurs codes hexadécimaux
Comment[gl]=Crea caracteres especiais a partir dos seus códigos hexadecimais.
Comment[he]=צור תווים מהקוד ההקסדצימלי שלהם
Comment[hr]=Stvara posebne znakove iz njihovih heksadecimalnih kôdova
Comment[hu]=Speciális karakterek létrehozása hexadecimális kód alapján
Comment[id]=Menciptakan karakter spesial dari kode hexadecimal-nya
Comment[it]=Crea caratteri speciali dal loro codice esadecimale
Comment[ja]=十六進コードから特殊文字を作る
Comment[kk]=Оналтылық кодымен арнаулы таңбаларды енгізу
Comment[km]=បង្កើត​តួអក្សរ​ពិសេស​ពី​កូដ​គោល​ដប់​ប្រាំមួយ​របស់​ពួកវា
Comment[ko]=16진 코드를 사용하여 특수 문자 삽입
Comment[lt]=Sukuria specialius simbolius pagal jų šešioliktainius kodus
Comment[lv]=Veido speciālās rakstzīmes no to heksadecimālajiem kodiem
Comment[mr]=त्यांच्या हेक्साडेसिमल कोड वरून विशिष्ठ अक्षरे तयार करतो
Comment[nb]=Lager spesialtegn ut fra deree heksadesimale koder
Comment[nds]=Stellt Besünner Tekens ut ehr Hexadezimaalkoden op
Comment[nl]=Maakt speciale tekens aan uit hun hexadecimale codes
Comment[nn]=Lagar spesialteikn ut frå heksadesimalekodar
Comment[pl]=Tworzy znaki specjalne z ich kodów szesnastkowych
Comment[pt]=Cria caracteres especiais a partir do seu código hexadecimal
Comment[pt_BR]=Cria caracteres especiais de seus códigos hexadecimais
Comment[ro]=Creează caractere speciale din codurile hexazecimale ale acestora
Comment[ru]=Создаёт специальные символы из их шестнадцатеричных кодов
Comment[sk]=Vytváranie špeciálnych znakov z hexadecimálnych kódov
Comment[sl]=Ustvari posebne znake iz njihove šestnajstiške kode
Comment[sr]=Испоставља знакове на основу њихових хексадекадних кодова
Comment[sr@ijekavian]=Испоставља знакове на основу њихових хексадекадних кодова
Comment[sr@ijekavianlatin]=Ispostavlja znakove na osnovu njihovih heksadekadnih kodova
Comment[sr@latin]=Ispostavlja znakove na osnovu njihovih heksadekadnih kodova
Comment[sv]=Skapar specialtecken från deras hexadecimala koder
Comment[tr]=Onaltılık kodlardan özel karakterler oluştur
Comment[uk]=Створення спеціальних символів за їхнім шістнадцятковим кодом
Comment[x-test]=xxCreates special characters from their hexadecimal codesxx
Comment[zh_CN]=从十六进制码创建特殊字符
Comment[zh_TW]=從它們的十六進位碼建立特殊字元
Type=Service
X-KDE-ServiceTypes=Plasma/Runner

X-KDE-Library=krunner_charrunner
X-KDE-PluginInfo-Author=Anton Kreuzkamp
X-KDE-PluginInfo-Email=akreuzkamp@web.de
X-KDE-PluginInfo-Name=CharacterRunner
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
