[Desktop Entry]
Name=Winter Track
Name[pt]=Trilho no Inverno
Name[pt_BR]=Trilho no Inverno
Name[sv]=Vinterspår
Name[uk]=Зимова дорога
Name[x-test]=xxWinter Trackxx

X-KDE-PluginInfo-Name=Winter_Track
X-KDE-PluginInfo-Author=Reneato Zanotti
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
