[Desktop Entry]
Name=Aya
Comment=Theme that matches current system colors (Optimized with Oxygen style)
X-KDE-PluginInfo-Author=Jamboarder
X-KDE-PluginInfo-Email=jamboarder@yahoo.com
X-KDE-PluginInfo-Name=Aya
X-KDE-PluginInfo-Version=1.0.4
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
