[Desktop Entry]
Name=Aya
Name[ko]=아야
Name[sr]=Аја
Name[th]=อายา
Name[uk]=Айя
Name[x-test]=xxAyaxx
Comment=Theme that matches current system colors (Optimized with Oxygen style)
Comment[ca]=Tema que coincideix amb els colors actuals del sistema (optimitzat per a l'estil Oxygen)
Comment[da]=Tema som matcher de aktuelle systemfarver (optimeret med Oxygen-stil)
Comment[de]=Design, welches sich nach den Systemfarben richtet (Optimiert mit Oxygen-Stil)
Comment[el]=Θέμα που αντιστοιχεί στα τρέχοντα χρώματα του συστήματος (βελτιστοποιημένο με στυλ Oxygen)
Comment[es]=Tema que coincide con los colores del sistema actual (optimizado para el estilo Oxígeno)
Comment[et]=Teema, mis sobib aktiivsete süsteemi värvidega (optimeeritud Oxygeni stiilile)
Comment[fr]=Thème correspondant aux couleurs actuelles du système (optimisé pour le style Oxygen)
Comment[gl]=Tema que emprega as cores actuais do sistema (Optimizado para o estilo Oxygen)
Comment[hu]=A rendszerszínekkel összeillő téma (az Oxygen stílussal optimalizált)
Comment[it]=Tema che riprende i colori di sistema (ottimizzato per lo stile Oxygen)
Comment[km]=ស្បែក​ដែល​ផ្គូផ្គង​នឹង​ពណ៌​ប្រព័ន្ធ​បច្ចុប្បន្ន (បាន​ធ្វើ​ឲ្យ​ប្រសើរ​ជា​មួយ​រចនាប័ទ្ម​អ៊ុកស៊ីហ្សែន)
Comment[ko]=현재 시스템 색상과 잘 어울리는 테마 (Oxygen 스타일에 최적화됨)
Comment[lv]=Tēma, kas lieto aktīvās sistēmas krāsas (Optimizēta ar Oxygen stilu)
Comment[nds]=Muster, dat to de aktuellen Systeemklören passt (Mit Oxygen-Stil topasst)
Comment[nl]=Thema dat bij de huidige systeemkleuren past (geoptimaliseerd met de Oxygen-stijl)
Comment[nn]=Tema som brukar systemfargane (optimert for stilen Oksygen)
Comment[pl]=Motyw pasujący do wybranego zestawu kolorów (zoptymalizowany do stylu Oxygen)
Comment[pt]=Um tema que corresponde às cores actuais do sistema (Optimizado com o estilo Oxygen)
Comment[pt_BR]=Um tema que corresponde às cores atuais do sistema (Otimizado com o estilo Oxygen)
Comment[sl]=Tema, ki se ujema s sistemskimi barvami (optimizirana za slog Oxygen)
Comment[sr]=Тема у складу са текућим бојама система (најбоље са стилом Кисеоника)
Comment[sr@latin]=Tema u skladu sa tekućim bojama sistema (najbolje sa stilom Kiseonika)
Comment[sv]=Tema som motsvarar nuvarande systemfärger (optimerad för stilen Oxygen)
Comment[th]=ชุดตกแต่งที่เข้าคู่กับชุดสีปัจจุบันของระบบ (ถูกปรับมาให้เหมาะกับรูปแบบออกซิเจน)
Comment[tr]=Geçerli sistem renkleri ile uyumlu bir tema (Oxygen biçimi için iyileştirilmiş)
Comment[uk]=Тема, що відповідає поточним системним кольорам (Оптимізовано зі стилем Oxygen)
Comment[wa]=Tinme ki va avou les coleurs do sistinme do moumint (li mî avou l' sitîle Ocsidjinne)
Comment[x-test]=xxTheme that matches current system colors (Optimized with Oxygen style)xx
Comment[zh_CN]=和当前系统颜色相配的主题(针对 Oxygen 风格优化)
Comment[zh_TW]=符合目前系統顏色的主題（依 Oxygen 樣式最佳化）
X-KDE-PluginInfo-Author=Jamboarder
X-KDE-PluginInfo-Email=jamboarder@yahoo.com
X-KDE-PluginInfo-Name=Aya
X-KDE-PluginInfo-Version=1.3
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
