[Desktop Entry]
Encoding=UTF-8
Name=LCD Weather Station
Name[gl]=Estación meteorolóxica LCD
Name[nds]=LCD-Wederstatschoon
Name[pt]=Estação Meteorológica LCD
Name[pt_BR]=Estação meteorológica LCD
Name[uk]=Метеорологічна станція на дисплеї
Name[zh_TW]=LCD 氣象站
Comment=Weather reports with an LCD display style
Comment[gl]=Boletíns meteorolóxicos cun estilo de pantalla LCD
Comment[nds]=Wederberichten mit en LCD-Dorstellstil
Comment[pt]=Boletins meteorológicos com um estilo de visualização LCD
Comment[pt_BR]=Informações meteorológicas com um estilo de visualização LCD
Comment[uk]=Прогнози погоди на маленькому диплеї
Comment[zh_TW]=以 LCD 風格顯示氣象報告
Type=Service
Icon=browser
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_weatherstation
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=weatherstation
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true

