[Desktop Entry]
Encoding=UTF-8
Name=LCD Weather Station
Name[el]=Μετεωρολογικός σταθμός LCD
Name[es]=Estación meteorológica LCD
Name[gl]=Estación meteorolóxica LCD
Name[ja]=LCD 気象レポート
Name[km]=ស្ថានីយ​អាកាសធាតុ​ LCD
Name[nds]=LCD-Wederstatschoon
Name[pt]=Estação Meteorológica LCD
Name[pt_BR]=Estação meteorológica LCD
Name[sv]=Väderstation
Name[tr]=LCD Hava Durumu İstasyonu
Name[uk]=Метеорологічна станція на дисплеї
Name[x-test]=xxLCD Weather Stationxx
Name[zh_TW]=LCD 氣象站
Comment=Weather reports with an LCD display style
Comment[el]=Αναφορά καιρού με στυλ εμφάνισης LCD
Comment[es]=Informe meteorológico con un estilo de pantalla LCD
Comment[gl]=Boletíns meteorolóxicos cun estilo de pantalla LCD
Comment[ja]=LCD 表示による気象レポート
Comment[km]=របាយការណ៍​អាកាស​ធាតុ​ជា​មួយ​នឹង​រចនាប័ទ្ម​បង្ហាញ LCD
Comment[nds]=Wederberichten mit en LCD-Dorstellstil
Comment[pt]=Boletins meteorológicos com um estilo de visualização LCD
Comment[pt_BR]=Informações meteorológicas com um estilo de visualização LCD
Comment[sv]=Väderrapport visad med LCD-stil
Comment[tr]=LCD biçiminde hava durumu raporları
Comment[uk]=Прогнози погоди на маленькому диплеї
Comment[x-test]=xxWeather reports with an LCD display stylexx
Comment[zh_TW]=以 LCD 風格顯示氣象報告
Type=Service
Icon=weather-clouds
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_weatherstation
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=weatherstation
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true

