[Desktop Entry]
Name=Web Slice
Name[bs]=Web Isječak
Name[ca]=Lliscador Web
Name[ca@valencia]=Lliscador Web
Name[cs]=Web Slice
Name[da]=Web Slice
Name[de]=Web-Scheibchen
Name[el]=Κομμάτι ιστού
Name[en_GB]=Web Slice
Name[es]=Web Slice
Name[et]=Veebilõik
Name[fi]=Web-siivu
Name[fr]=Tranche de Web
Name[ga]=Slis Ghréasáin
Name[gl]=Fragmento web
Name[hr]=Isječak weba
Name[hu]=Webszelet
Name[it]=Porzione di Web
Name[ja]=ウェブスライス
Name[kk]=Веб-үзіндісі
Name[km]=បន្ទះ​បណ្ដាញ
Name[ko]=웹 조각
Name[lv]=Tīmekļa izgriezums
Name[mr]=वेब स्लाइज
Name[nb]=Nettstykke
Name[nds]=Nettstremel
Name[nl]=Web Slice
Name[nn]=Vevstykke
Name[pa]=ਵੈੱਬ ਟੁਕੜਾ
Name[pl]=Wycinek sieci
Name[pt]=Fatia Web
Name[pt_BR]=Web Slice
Name[ru]=Фрагмент веб-страницы
Name[sk]=Webový výsek
Name[sl]=Košček spleta
Name[sr]=веб исечак
Name[sr@ijekavian]=веб исечак
Name[sr@ijekavianlatin]=veb isečak
Name[sr@latin]=veb isečak
Name[sv]=Webbutdrag
Name[tr]=Web Dilimi
Name[uk]=Вебзріз
Name[x-test]=xxWeb Slicexx
Name[zh_CN]=网页切片
Name[zh_TW]=網頁切片
Comment=Show a part of a webpage
Comment[bs]=Prikazi dio internet stranice
Comment[ca]=Mostra una part d'una pàgina web
Comment[ca@valencia]=Mostra una part d'una pàgina web
Comment[cs]=Zobrazit část webové stránky
Comment[da]=Vis en del af en webside
Comment[de]=Einen Teil einer Webseite anzeigen
Comment[el]=Εμφάνιση ενός τμήματος μίας ιστοσελίδας
Comment[en_GB]=Show a part of a webpage
Comment[es]=Mostrar una parte de una página web
Comment[et]=Veebilehe osa näitamine
Comment[fi]=Näyttää osan web-sivusta
Comment[fr]=Affiche une partie d'une page Web
Comment[ga]=Taispeáin cuid de leathanach Gréasáin
Comment[gl]=Mostrar unha parte dunha páxina web.
Comment[hr]=Prikaži dio web stranice
Comment[hu]=Weboldalrészlet megjelenítése
Comment[it]=Mostra una parte di una pagina web
Comment[ja]=ウェブページの一部を表示
Comment[kk]=Веб-парағының бір бөлігін көрсету
Comment[km]=បង្ហាញ​ផ្នែក​របស់​ទំព័រ​បណ្ដាញ
Comment[ko]=웹 페이지의 일부 표시
Comment[lv]=Rāda daļu no tīmekļa lapas
Comment[mr]=वेब पानाचा भाग दर्शवितो
Comment[nb]=Vis en del av et nettside
Comment[nds]=Wiest en Deelrebeet vun en Nettsiet
Comment[nl]=Een deel van een webpagina tonen
Comment[nn]=Vis ein del av ei nettside
Comment[pa]=ਵੈੱਬ ਭੇਜ ਦਾ ਭਾਗ ਵੇਖੋ
Comment[pl]=Pokaż fragment strony internetowej
Comment[pt]=Mostrar uma parte de uma página Web
Comment[pt_BR]=Mostra parte de uma página Web
Comment[ro]=Arată o porțiune de pagină web
Comment[ru]=Показывает часть веб-страницы
Comment[sk]=Zobrazenie časti webovej stránky
Comment[sl]=Prikaži del spletne strani
Comment[sr]=Приказ дела веб странице
Comment[sr@ijekavian]=Приказ дијела веб странице
Comment[sr@ijekavianlatin]=Prikaz dijela veb stranice
Comment[sr@latin]=Prikaz dela veb stranice
Comment[sv]=Visa en del av en webbsida
Comment[tr]=Bir web sayfasının belirli bir bölümünü göster
Comment[uk]=Показ частини вебсторінки
Comment[x-test]=xxShow a part of a webpagexx
Comment[zh_CN]=显示网页的一部分
Comment[zh_TW]=顯示一部份的網頁

Type=Service
Icon=internet-web-browser
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_webslice
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=webslice
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-DefaultSize=200,150
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
