[Desktop Entry]
Name=Web Slice
Name[da]=Web Slice
Name[de]=Web-Scheibchen
Name[en_GB]=Web Slice
Name[es]=Web Slice
Name[et]=Veebilõik
Name[fr]=Tranche de web
Name[it]=Porzione di Web
Name[nb]=Nettstykke
Name[pt]=Fatia Web
Name[pt_BR]=Fatia Web
Name[sv]=Webbutdrag
Name[uk]=Веб-зріз
Name[x-test]=xxWeb Slicexx
Name[zh_TW]=網頁切片
Comment=Show a part of a webpage
Comment[da]=Vis en del af en webside
Comment[de]=Einen Teil einer Webseite anzeigen
Comment[en_GB]=Show a part of a webpage
Comment[es]=Mostrar una parte de una página web
Comment[et]=Veebilehe osa näitamine
Comment[fr]=Affiche une partie d'une page web
Comment[it]=Mostra una parte di una pagina web
Comment[nb]=Vis en del av et nettside
Comment[pt]=Mostrar uma parte de uma página Web
Comment[pt_BR]=Mostra parte de uma página Web
Comment[sv]=Visa en del av en webbsida
Comment[uk]=Показ частини веб-сторінки
Comment[x-test]=xxShow a part of a webpagexx
Comment[zh_TW]=顯示一部份的網頁

Type=Service
Icon=internet-web-browser
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_webslice
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=webslice
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

