[Desktop Entry]
Icon=lancelot-part

Name=Lancelot Part
Name[ar]=جزء لانسلوت
Name[ca]=Part del Lancelot
Name[cs]=Lancelot part
Name[csb]=Dzélk Lancelota
Name[da]=Lancelot-part
Name[de]=Lancelot-Komponente
Name[el]=Τμήμα του Lancelot
Name[en_GB]=Lancelot Part
Name[es]=Parte Lancelot
Name[et]=Lanceloti komponent
Name[eu]=Lanceloten zatia
Name[fi]=Lancelot-osa
Name[fr]=Module Lancelot
Name[ga]=Comhpháirt Lancelot
Name[gl]=Compoñente Lancelot
Name[he]=Lancelot חלקי
Name[hu]=Lancelot objektum
Name[is]=Lancelot eining
Name[it]=Componente di Lancelot
Name[ja]=Lancelot コンポーネント
Name[km]=ផ្នែក​របស់ Lancelot
Name[ko]=Lancelot 부분
Name[ku]=Beşên Lancelot
Name[lt]=Lancelot dalis
Name[lv]=Lancelot daļa
Name[nb]=Lancelot-part
Name[nds]=Lancelot-Komponent
Name[nl]=Lancelot-component
Name[nn]=Lancelot-del
Name[pa]=ਲਾਂਸੀਕੋਟ ਭਾਗ
Name[pl]=Moduł programu Lancelot
Name[pt]=Componente do Lancelot
Name[pt_BR]=Componente do Lancelot
Name[ro]=Parte din Lancelot
Name[ru]=Отрывок  Lancelot
Name[sk]=Časť Lancelot
Name[sl]=Del Lancelot
Name[sr]=Ланселот део
Name[sr@latin]=Lancelot deo
Name[sv]=Lancelot-delprogram
Name[th]=ส่วนประกอบลานเซล็อต
Name[tr]=Gömülü Lancelot
Name[uk]=Компонент Lancelot
Name[wa]=Pårt di Lancelot
Name[x-test]=xxLancelot Partxx
Name[zh_CN]=Lancelot 部件
Name[zh_TW]=Lancelot 部件

Comment=Parts of Lancelot menu on the desktop
Comment[ar]=أجزاء لقائمة لانسلوت على سطح المكتب
Comment[ca]=Parts del menú del Lancelot a l'escriptori
Comment[cs]=Části Lancelot menu na ploše
Comment[csb]=Dzélczi menu Lancelota na pùlce
Comment[da]=Dele af Lancelot-menuen på skrivebordet.
Comment[de]=Teile des Lancelot-Menüs auf der Arbeitsfläche
Comment[el]=Τμήματα του μενού του Lancelot στην Επιφάνεια εργασίας
Comment[en_GB]=Parts of Lancelot menu on the desktop
Comment[es]=Partes del menú de Lancelot en el escritorio
Comment[et]=Lanceloti menüü komponendid töölaual
Comment[eu]=Lancelot menuaren zatiak mahaigainean
Comment[fi]=Osia Lancelot-valikosta työpöydällä
Comment[fr]=Module du menu Lancelot sur le bureau
Comment[ga]=Comhpháirteanna roghchlár Lancelot ar an deasc
Comment[gl]=Compoñentes do menú Lancelot no escritorio
Comment[he]=מאפשר להשתמש בחלקים שונים של תפריט Lancelot על שולחן העבודה
Comment[hu]=Lancelot-menü az asztalon
Comment[is]=Hlutar af Lancelot valmynd á skjáborði
Comment[it]=Componenti del menu Lancelot nel desktop
Comment[ja]=デスクトップ上の Lancelot メニューのコンポーネント
Comment[km]=ផ្នែក​របស់​ម៉ឺន្យ​នៅលើ​ផ្ទៃតុ
Comment[ko]=데스크톱에 Lancelot 메뉴의 일부분을 보여 줍니다
Comment[ku]=Pêşeka beşên Lancelot di sermasê de
Comment[lt]=Galimybė Lancelot meniu dalis rodyti darbastalyje
Comment[lv]=Daļas no Lancelot izvēlnes
Comment[nb]=Deler av Lancelot-menyen på skrivebordet
Comment[nds]=Delen vun't Lancelot-Menü o pden Schriefdisch
Comment[nl]=Delen van het Lancelot-menu op het bureaublad
Comment[nn]=Delar av Lancelot-menyen på skrivebordet
Comment[pa]=ਡੈਸਕਟਾਪ ਉੱਤੇ ਲਾਂਚਲੋਟ ਮੇਨੂ ਦਾ ਭਾਗ
Comment[pl]=Moduły menu programu Lancelot na pulpicie
Comment[pt]=Componentes do menu do Lancelot no ambiente de trabalho
Comment[pt_BR]=Componentes do menu do Lancelot na área de trabalho
Comment[ro]=Părți ale meniului Lancelot pe birou
Comment[ru]=Отрывки меню Lancelot на рабочем столе
Comment[sk]=Časti Lancelot menu na ploche
Comment[sl]=Deli menija Lancelot na namizju
Comment[sr]=Делови Ланселотовог менија на површи
Comment[sr@latin]=Delovi Lancelotovog menija na površi
Comment[sv]=Delar av Lancelot-meny på skrivbordet
Comment[th]=ส่วนประกอบเมนูลานเซล็อตบนพื้นที่ทำงาน
Comment[tr]=Lancelot bileşenleri masaüstünde
Comment[uk]=Частини меню Lancelot на вашій стільниці
Comment[wa]=Pårts del dressêye Lancelot sol sicribanne
Comment[x-test]=xxParts of Lancelot menu on the desktopxx
Comment[zh_CN]=桌面上 Lancelot 菜单的部件
Comment[zh_TW]=桌面上的 Lancelot 選單部件
Type=Service

X-Plasma-DropMimeTypes=text/x-lancelotpart,inode/directory

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_lancelot_part
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic+kde@gmail.com
X-KDE-PluginInfo-Name=lancelot_part
X-KDE-PluginInfo-Version=1.2
X-KDE-PluginInfo-Website=http://lancelot.fomentgroup.org/
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
