[Desktop Entry]
Name=Konsole Profiles
Name[cs]=Profily Konsole
Name[de]=Konsole-Profile
Name[el]=Προφίλ Konsole
Name[es]=Perfiles de Konsole
Name[et]=Konsooli profiilid
Name[fr]=Profils Konsole
Name[ga]=Próifílí Konsole
Name[gl]=Perfís de Konsole
Name[ja]=Konsole プロファイル
Name[km]=ទម្រង់​របស់ Konsole
Name[nds]=Konsole-Profilen
Name[nl]=Konsole-profielen
Name[pt]=Perfis do Konsole
Name[pt_BR]=Perfis do Konsole
Name[sv]=Terminalprofiler
Name[tr]=Konsole Profilleri
Name[uk]=Профілі Konsole
Name[x-test]=xxKonsole Profilesxx
Name[zh_CN]=Konsole 配置集
Name[zh_TW]=Konsole 設定檔
Comment=List and launch Konsole profiles
Comment[cs]=Seznam a spouštění profilů Konsole
Comment[de]=Konsole-Profile anzeigen und starten
Comment[el]=Εμφάνιση και εκτέλεση προφίλ της Konsole
Comment[es]=Muestra e inicia perfiles de Konsole
Comment[et]=Konsooli profiilide näitamine ja käivitamine
Comment[fr]=Permet d'afficher et de lancer des profils Konsole
Comment[gl]=Enumera e inicia perfís de Konsole
Comment[ja]=Konsole のプロファイルを起動します
Comment[km]=រាយ និង​ចាប់ផ្ដើម​ទម្រង់​របស់ Konsole
Comment[nds]=Konsole-Profilen oplisten un opropen
Comment[nl]=Toon en start Konsole-profielen
Comment[pt]=Listar e invocar os perfis do Konsole
Comment[pt_BR]=Listar e executar os perfis do Konsole
Comment[sv]=Lista och starta terminalprofiler
Comment[tr]=Konsole profillerini listeleyin ve çalıştırın
Comment[uk]=Перегляньте і запустіть профілі Konsole
Comment[x-test]=xxList and launch Konsole profilesxx
Comment[zh_CN]=罗列和启动 Konsole 配置集
Comment[zh_TW]=列出並啟動 Konsole 設定檔
Type=Service
Icon=utilities-terminal
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_konsoleprofiles
X-KDE-PluginInfo-Author=Montel Laurent
X-KDE-PluginInfo-Email=montel@kde.org
X-KDE-PluginInfo-Name=konsoleprofiles
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

