[Desktop Entry]
Name=Konsole Profiles Applet
Name[el]=Μικροεφαρμογή προφίλ Konsole
Name[es]=Aplicación de perfiles de Konsole
Name[fr]=Applet des profils Konsole
Name[ga]=Feidhmchláirín Próifílí Konsole
Name[gl]=Applet de perfís de Konsole
Name[ja]=Konsole プロファイルアプレット
Name[km]=អាប់ភ្លេត​ទម្រង់​របស់​កុងសូល
Name[lv]=Konsole profilu sīkrīks
Name[nds]=Konsole-Profilen
Name[pt]='Applet' de Perfis do Konsole
Name[pt_BR]='Applet' de Perfis do Konsole
Name[sl]=Profili za Konzolo
Name[sv]=Miniprogram för terminalprofiler
Name[tr]=Konsole Profilleri Programcığı
Name[uk]=Аплет профілів Konsole
Name[zh_CN]=Konsole 配置集小程序
Name[zh_TW]=Konsole 設定檔小程式
Comment=Konsole Profiles Launcher
Comment[el]=Εκτελεστής προφίλ Konsole
Comment[es]=Iniciador de perfiles de Konsole
Comment[fr]=Lanceur de profils Konsole
Comment[ga]=Tosaitheoir Próifílí Konsole
Comment[gl]=Lanzador de perfís de Konsole
Comment[km]=កម្មវិធី​ចាប់ផ្ដើម​ទម្រង់​របស់​កុងសូល
Comment[lv]=Konsole profilu palaidējs
Comment[nds]=Konsole-Profilen opropen
Comment[pt]=Lançamento dos Perfis do Konsole
Comment[pt_BR]=Lançamento dos Perfis do Konsole
Comment[sl]=Zaganjalnik profilov za Konzolo
Comment[sv]=Start av terminalprofiler
Comment[tr]=Konsole Profil Başlatıcı
Comment[uk]=Засіб запуску профілів Konsole
Comment[zh_CN]=Konsole 配置集启动器
Comment[zh_TW]=Konsole 設定檔啟動器
Type=Service
Icon=utilities-terminal
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_konsoleprofiles
X-KDE-PluginInfo-Author=Montel Laurent
X-KDE-PluginInfo-Email=montel@kde.org
X-KDE-PluginInfo-Name=konsoleprofiles
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Version=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

