[Desktop Entry]
Name=System Load Viewer
Name[ar]=عارض حمل النظام
Name[bs]=Preglednik opterećenja sistema
Name[ca]=Visor de la càrrega del sistema
Name[ca@valencia]=Visor de la càrrega del sistema
Name[cs]=Prohlížeč zátěže systému
Name[da]=Systembelastningsviser
Name[de]=Systemlast-Anzeige
Name[el]=Προβολέας φόρτου συστήματος
Name[en_GB]=System Load Viewer
Name[es]=Visor de la carga del sistema
Name[et]=Süsteemi koormuse näitaja
Name[eu]=Sistemaren zama erakuslea
Name[fi]=Järjestelmä­kuorman valvonta
Name[fr]=Afficheur de charges système
Name[ga]=Amharcán Lód an Chórais
Name[gl]=Visor da carga do sistema
Name[he]=מציג עומס מערכת
Name[hr]=Preglednik opterećenja sustava
Name[hu]=Rendszerterhelés-figyelő
Name[is]=Kerfisálagsbirtir
Name[it]=Visualizzatore del carico di sistema
Name[ja]=システム負荷ビューア
Name[kk]=Жүйені жүктеу деңгейі
Name[km]=កម្មវិធី​មើល​ការ​ផ្ទុក​របស់​ប្រព័ន្ធ
Name[ko]=시스템 부하 표시기
Name[lt]=Sistemos apkrovos žiūriklis
Name[lv]=Sistēmas slodzes rādītājs
Name[mr]=प्रणाली भार प्रदर्शक
Name[nb]=Systemlast-viser
Name[nds]=Systeemlastkieker
Name[nl]=Systeembelastingweergave
Name[nn]=Systemlast-oversikt
Name[pa]=ਸਿਸਟਮ ਲੋਡ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obciążenia systemu
Name[pt]=Visualizador da Carga do Sistema
Name[pt_BR]=Visualizador da carga do sistema
Name[ro]=Vizualizator încărcare sistem
Name[ru]=Загрузка системы
Name[sk]=Prehliadač záťaže systému
Name[sl]=Prikazovalnik obremenitve sistema
Name[sq]=Shfaqës i Ngarkesës së Sistemit
Name[sr]=приказивач оптерећења система
Name[sr@ijekavian]=приказивач оптерећења система
Name[sr@ijekavianlatin]=prikazivač opterećenja sistema
Name[sr@latin]=prikazivač opterećenja sistema
Name[sv]=Visning av systemlast
Name[th]=เครื่องมือแสดงภาระการใช้งานระบบ
Name[tr]=Sistem Yükü İzleyici
Name[ug]=سىستېما يۈكى كۆرگۈچ
Name[uk]=Перегляд навантаження на систему
Name[wa]=Håyneu del tchedje do sistinme
Name[x-test]=xxSystem Load Viewerxx
Name[zh_CN]=系统负荷查看器
Name[zh_TW]=系統負載檢視器
Comment=Tiny CPU/RAM/Swap monitor
Comment[ar]=مراقب المعالج/الذاكرة/التبديل
Comment[bs]=Sičušni CPU/RAM/zamjenski monitor
Comment[ca]=Petit monitor de la CPU/RAM/Memòria d'intercanvi
Comment[ca@valencia]=Petit monitor de la CPU/RAM/Memòria d'intercanvi
Comment[cs]=Malý monitor CPU/RAM/Swap
Comment[da]=Lillebitte CPU/RAM/swap-overvåger.
Comment[de]=Kleine CPU/RAM/Swap-Anzeige
Comment[el]=Μικροσκοπική εποπτεία ΚΜΕ/RAM/Swap
Comment[en_GB]=Tiny CPU/RAM/Swap monitor
Comment[es]=Diminuto monitor de CPU/RAM/memoria de intercambio
Comment[et]=Tilluke CPU/RAM-i/saaleala jälgija
Comment[eu]=PUZ/RAM/Swap begirale nimiñoa
Comment[fi]=Pieni suorittimen, muistin ja sivutuksen valvonta
Comment[fr]=Petit moniteur de mémoire, de processeur et d'espace d'échange
Comment[ga]=Monatóir Beag LAP/RAM/Babhtáil
Comment[gl]=Pequeno vixilante da CPU/RAM/Swap
Comment[he]=מוניטור קטן של מעבד, זיכרון־RAM ו/או קובץ החלפה
Comment[hr]=Mali nadzornik za CPU/RAM/Swap
Comment[hu]=Kicsi CPU/RAM/Swap-figyelő
Comment[is]=Örsmár CPU/RAM/Swap mælir
Comment[it]=Piccolo monitor per CPU/RAM/Swap
Comment[ja]=CPU/RAM/スワップの使用率を表示するミニシステムモニタ
Comment[kk]=Шағын CPU/RAM/Swap мониторы
Comment[km]=កម្មវិធី​ត្រួតពិនិត្យ CPU/RAM/Swap តូច
Comment[ko]=작은 CPU/RAM/스왑 모니터
Comment[lt]=Mažas CPU/RAM/SWAP stebėtojas
Comment[lv]=Maziņš CPU/RAM/Swap novērotājs
Comment[mr]=लहान CPU/RAM/Swap नियंत्रक
Comment[nb]=Liten overvåker for CPU/RAM/veksleminne
Comment[nds]=Lierlütt CPU-, RAM- un Utlagerspieker-Kieker
Comment[nl]=Kleine CPU/RAM/Swap-monitor
Comment[nn]=Overvak prosessor, minne og veksleminne
Comment[pa]=ਨਿੰਮਾ CPU/RAM/ਸਵੈਪ ਮਾਨੀਟਰ
Comment[pl]=Mały monitor procesora/pamięci
Comment[pt]=Monitor minúsculo de CPU/RAM/Memória Virtual
Comment[pt_BR]=Pequeno monitor de CPU/RAM/Swap
Comment[ro]=Monitor minuscul pentru procesor/memorie/swap
Comment[ru]=Монитор использования ресурсов системы
Comment[sk]=Malý monitor CPU/RAM/Swap
Comment[sl]=Majhen nadzornik procesorja in pomnilnika
Comment[sr]=Сићушни монитор ЦПУ‑а/РАМ‑а/размене
Comment[sr@ijekavian]=Сићушни монитор ЦПУ‑а/РАМ‑а/размене
Comment[sr@ijekavianlatin]=Sićušni monitor CPU‑a/RAM‑a/razmene
Comment[sr@latin]=Sićušni monitor CPU‑a/RAM‑a/razmene
Comment[sv]=Mycket liten övervakning av processor, minne och växlingsutrymme
Comment[th]=เครื่องมือติดตามสถานะ CPU/RAM/Swap ขนาดกะทัดรัด
Comment[tr]=İşlemci/Bellek/Takas Alanı izleyici
Comment[uk]=Маленький переглядач навантаження Процесора/RAM/Swap
Comment[wa]=Tot ptit corwaitoe des CPU/RAM/Swap
Comment[x-test]=xxTiny CPU/RAM/Swap monitorxx
Comment[zh_CN]=微型 CPU/RAM/Swap 监视器
Comment[zh_TW]=迷你 CPU/記憶體/置換空間監視器
Icon=view-statistics
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Martin Yrjölä, Matthew Dawson
X-KDE-PluginInfo-Email=martin.yrjola@gmail.com, matthew@mjdsystems.ca
X-KDE-PluginInfo-Name=org.kde.plasma.systemloadviewer
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Optional
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/SystemLoadViewer.qml
X-Plasma-StandAloneApp=true
X-KDE-FormFactors=desktop
