[Desktop Entry]
Name=Activity Pager
Comment=Switch between activities

Icon=org.kde.plasma.pager
Type=Service
X-Plasma-API=declarativeappletscript
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.virtualdesktops
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.activitypager
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://userbase.kde.org
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
