[Desktop Entry]
Name=Animated Wallpapers
Name[bs]=Animirane pozadinske slike
Name[ca]=Fons d'escriptori animats
Name[ca@valencia]=Fons d'escriptori animats
Name[cs]=Animované tapety
Name[da]=Animerede baggrundsbilleder
Name[de]=Animierte Hintergrundbilder
Name[el]=Ταπετσαρίες με εφέ κίνησης
Name[es]=Fondos de pantalla animados
Name[et]=Animeeritud taustapildid
Name[fi]=Animoidut taustat
Name[fr]=Fonds d'écran animés
Name[gl]=Fondos de escritorio animados
Name[hu]=Animált háttérképek
Name[it]=Sfondi animati
Name[kk]=Анимацияланған тұсқағаздар
Name[mr]=चलितवॉलपेपर्स
Name[nb]=Animerte tapeter
Name[nl]=Geanimeerde bureaubladachtergronden
Name[pl]=Animowane tapety
Name[pt]=Papéis de Parede Animados
Name[pt_BR]=Papéis de parede animados
Name[ro]=Fundaluri animate
Name[ru]=Анимированные фоновые изображения
Name[sk]=Animované tapety
Name[sl]=Animirana ozadja
Name[sr]=Анимирани тапети
Name[sr@ijekavian]=Анимирани тапети
Name[sr@ijekavianlatin]=Animirani tapeti
Name[sr@latin]=Animirani tapeti
Name[sv]=Levande skrivbordsunderlägg
Name[uk]=Анімовані шпалери
Name[wa]=Candjantès tapisreyes
Name[x-test]=xxAnimated Wallpapersxx
Name[zh_CN]=动画壁纸
Name[zh_TW]=動畫桌布
Type=Service
Icon=preferences-desktop-wallpaper
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_qml
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kde.wallpaper-qml
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

