[Desktop Entry]
Name=Animated Wallpapers
Name[fi]=Animoidut taustakuvat
Name[hu]=Animált háttérképek
Name[nl]=Geanimeerde bureaubladachtergronden
Name[pt]=Papéis de Parede Animados
Name[pt_BR]=Papéis de parede animados
Name[sk]=Animované tapety
Name[sv]=Levande skrivbordsunderlägg
Name[uk]=Анімовані шпалери
Name[x-test]=xxAnimated Wallpapersxx
Type=Service
Icon=preferences-desktop-wallpaper
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_qml
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kde.wallpaper-qml
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

