[Desktop Entry]
Name=Fifteen Puzzle
Name[ar]=أحجية الخمسة عشر
Name[ast]=Puzzle de quince
Name[az]=On beş tapmaca
Name[bs]=Petnaest kvadrata
Name[ca]=Trencaclosques quinze
Name[ca@valencia]=Trencaclosques quinze
Name[cs]=Hra Patnáct
Name[csb]=Piãtnôsce pùzzlów
Name[da]=Puslespillet 15
Name[de]=Fünfzehn Steine
Name[el]=Παζλ 15 κομματιών
Name[en_GB]=Fifteen Puzzle
Name[es]=Puzzle Quince
Name[et]=Viieteistkümnemäng
Name[eu]=Hamabosteko buruhaustekoa
Name[fi]=Puzzle 15
Name[fr]=Taquin
Name[ga]=Puzal Cúig Déag
Name[gl]=Quebracabezas de quince pezas
Name[he]=פאזל מספרים
Name[hr]=Fifteen Puzzle
Name[hu]=15-ös kirakó
Name[ia]=Dece-cinque puzzle
Name[id]=Fifteen Puzzle
Name[is]=Fimmtán púsl
Name[it]=Il gioco del quindici
Name[ja]=15 ピースパズル
Name[kk]='Он бес' ойны
Name[km]=ផ្ដុំ​រូបភាព​ ១៥
Name[ko]=열다섯 조각 퍼즐
Name[ku]=Peydanok 15
Name[lt]=Penkiolika dalių
Name[lv]=Piecpadsmit gabali
Name[mr]=पंधरा कोडे
Name[nb]=Femten brikker
Name[nds]=Föffteihn Stücken
Name[nl]=Vijftien-puzzel
Name[nn]=Spelet femten
Name[pa]=ਪੰਦਰਾਂ ਬੁਝਾਰਤ
Name[pl]=Piętnaście puzzli
Name[pt]=Puzzle dos Quinze
Name[pt_BR]=Quebra-cabeça quinze
Name[ro]=Fifteen Puzzle
Name[ru]=Пятнашки
Name[sk]=Hra pätnástka
Name[sl]=Uganka petnajst kosov
Name[sr]=петнаестица
Name[sr@ijekavian]=петнаестица
Name[sr@ijekavianlatin]=petnaestica
Name[sr@latin]=petnaestica
Name[sv]=Femtonspel
Name[th]=เกมเรียงสิบห้าชิ้น
Name[tr]=Onbeşli Yapboz
Name[uk]=Гра у п’ятнашки
Name[vi]=Trò chơi đảo ô
Name[wa]=Puzeul des céncwantes
Name[x-test]=xxFifteen Puzzlexx
Name[zh_CN]=十五子拼图
Name[zh_TW]=Fifteen 解謎遊戲
Comment=Put the pieces in order
Comment[ar]=ضع القطع في مكانها الصحيح
Comment[ast]=Ordena les pieces
Comment[az]=Hissələri cərgə ilə düzün
Comment[bs]=Poređajte djeliće ispravnim redoslijedom
Comment[ca]=Poseu les peces en ordre
Comment[ca@valencia]=Poseu les peces en ordre
Comment[cs]=Zkuste dílky správně poskládat
Comment[da]=Sæt brikkerne i orden.
Comment[de]=Bringen Sie die Teile in die richtige Reihenfolge
Comment[el]=Τοποθετήσετε τα κομμάτια στη θέση τους
Comment[en_GB]=Put the pieces in order
Comment[es]=Ponga las piezas en orden
Comment[et]=Tükikeste seadmine õigesse järjekorda
Comment[eu]=Piezak ordenean ipini
Comment[fi]=Pane palat järjestykseen
Comment[fr]=Remettez les pièces dans l'ordre
Comment[ga]=Cuir na píosaí in ord
Comment[gl]=Poña as pezas en orde
Comment[he]=סדר את החלקים לפי הסדר
Comment[hr]=Složite komadiće u niz
Comment[hu]=Rakja sorba a darabokat
Comment[id]=Menempatkan potongan dalam urutannya
Comment[is]=Raða hlutunum á sinn stað
Comment[it]=Rimetti i pezzi in ordine
Comment[ja]=15 個のピースを正しい順序に並べるパズル
Comment[kk]=Тастарды реттеу ойыны
Comment[km]=ដាក់​ចំណែក​ជា​លំដាប់
Comment[ko]=조각을 순서대로 맞춰 보세요
Comment[ku]=Perçe yan rêz bike
Comment[lt]=Surinkite dėlionę
Comment[lv]=Salieciet gabalus pareizā kārtībā
Comment[mr]=तुकडे क्रमाने लावा
Comment[nb]=Plasser brikkene i rekkefølge
Comment[nds]=Stücken in de Reeg bringen
Comment[nl]=Zet de stukken in de juiste volgorde
Comment[nn]=Flytt brikkene i rett rekkjefølgje
Comment[pa]=ਟੁਕੜਿਆਂ ਨੂੰ ਲੜੀਬੱਧ ਕਰੋ
Comment[pl]=Puzzle do układania
Comment[pt]=Colocar as peças por ordem
Comment[pt_BR]=Coloque as peças em ordem
Comment[ro]=Potriviți piesele
Comment[ru]=Головоломка: расположите клеточки по порядку
Comment[sk]=Skúste správne poskladať kúsky
Comment[sl]=Postavite kose v pravilni vrstni red
Comment[sr]=Поређајте делиће исправним редоследом
Comment[sr@ijekavian]=Поређајте дјелиће исправним редослиједом
Comment[sr@ijekavianlatin]=Poređajte djeliće ispravnim redoslijedom
Comment[sr@latin]=Poređajte deliće ispravnim redosledom
Comment[sv]=Placera brickorna i ordning
Comment[th]=เกมจัดเรียงชิ้นส่วนสิบห้าชิ้นให้ถูกลำดับ
Comment[tr]=Parçaları sıraya koyun
Comment[uk]=Спробуйте впорядкувати плитки
Comment[vi]=Đảo các ô về đúng thứ tự
Comment[wa]=Metoz les pices en ôre
Comment[x-test]=xxPut the pieces in orderxx
Comment[zh_CN]=按顺序摆放拼图块
Comment[zh_TW]=將數字依順序排好

Icon=fifteenpuzzle
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Jesper Thomschutz
X-KDE-PluginInfo-Email=jesperht@yahoo.com
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.fifteenpuzzle
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Fun and Games
X-Plasma-StandAloneApp=true

X-Plasma-MainScript=ui/main.qml
